Repository GMOD/jbrowse-components, pull requests merged in 2021-01, with the labels that each got.

#1473 Color, filter, and sort options for the alignments
  packages/core/pluggableElementTypes/models/BaseTrackModel.ts
  packages/core/pluggableElementTypes/renderers/ServerSideRendererType.ts
  plugins/alignments/src/AlignmentsFeatureDetail/AlignmentsFeatureDetail.tsx
  plugins/alignments/src/AlignmentsFeatureDetail/__snapshots__/index.test.js.snap
  plugins/alignments/src/AlignmentsFeatureDetail/index.test.js
  plugins/alignments/src/BamAdapter/BamSlightlyLazyFeature.ts
  plugins/alignments/src/CramAdapter/CramAdapter.ts
  plugins/alignments/src/CramAdapter/CramSlightlyLazyFeature.ts
  plugins/alignments/src/CramAdapter/__snapshots__/CramAdapter.test.ts.snap
  plugins/alignments/src/LinearAlignmentsDisplay/models/model.ts
  plugins/alignments/src/LinearPileupDisplay/components/ColorByTag.tsx
  plugins/alignments/src/LinearPileupDisplay/components/FilterByTag.tsx
  plugins/alignments/src/LinearPileupDisplay/components/SortByTag.tsx
  plugins/alignments/src/LinearPileupDisplay/configSchema.ts
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/LinearSNPCoverageDisplay/models/model.ts
  plugins/alignments/src/PileupRPC/rpcMethods.ts
  plugins/alignments/src/PileupRenderer/PileupRenderer.ts
  plugins/alignments/src/PileupRenderer/components/PileupRendering.tsx
  plugins/alignments/src/PileupRenderer/configSchema.ts
  plugins/alignments/src/PileupRenderer/sortUtil.ts
  plugins/alignments/src/SNPCoverageAdapter/SNPCoverageAdapter.ts
  plugins/alignments/src/index.ts
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.js.snap
  plugins/linear-genome-view/src/BaseLinearDisplay/components/ServerSideRenderedBlockContent.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/models/BaseLinearDisplayModel.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/models/serverSideRenderedBlock.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeView.tsx
  plugins/linear-genome-view/src/LinearGenomeView/index.ts
  plugins/wiggle/src/LinearWiggleDisplay/models/model.ts
  plugins/wiggle/src/WiggleRPC/rpcMethods.ts
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  products/jbrowse-web/src/tests/Alignments.test.js
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-js-alignments-track-colors-by-tag-updates-object-and-layout-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-js-alignments-track-opens-an-alignments-track-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-js-alignments-track-opens-the-track-menu-and-enables-soft-clipping-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-js-alignments-track-selects-a-color-updates-object-and-layout-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-js-alignments-track-selects-a-sort-updates-object-and-layout-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/reload-test-js-reload-tests-reloads-alignments-track-bam-404-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/reload-test-js-reload-tests-reloads-alignments-track-crai-404-1-snap.png
  test_data/config_demo.json
  test_data/volvox/config.json
  test_data/volvox/paired_rnaseq.bam
  test_data/volvox/paired_rnaseq.bam.bai
  test_data/volvox/volvox-rg.bam
  test_data/volvox/volvox-rg.bam.bai
  test_data/volvox/volvox-rg.cram
  test_data/volvox/volvox-rg.cram.crai
  test_data/volvox/volvox-rnasim.bam
  test_data/volvox/volvox-rnasim.bam.bai
  test_data/volvox/volvox-sorted.bam
  test_data/volvox/volvox-sorted.bam.bai
  test_data/volvox/volvox-sorted.cram
  test_data/volvox/volvox-sorted.cram.crai
Labels: enhancement

#1596 Update graphical config quickstart guide
  website/docs/img/add_hg38_assembly.png
  website/docs/img/configure_hg38_assembly.png
  website/docs/img/default_session_form.png
  website/docs/img/hg38_assembly_table.png
  website/docs/quickstart_gui.md
Labels: documentation

#1595 Admin server GUI enhancements
  plugins/data-management/src/AssemblyManager/AssemblyAddForm.tsx
  plugins/data-management/src/AssemblyManager/AssemblyManager.tsx
Labels: enhancement

#1531 Add track menu options for autoscale, log scale, histogram fill, setting min/max score, and zoom level/resolution for wiggle/snpcoverage tracks
  packages/core/data_adapters/BaseAdapter.ts
  packages/core/pluggableElementTypes/models/BaseDisplayModel.tsx
  packages/core/pluggableElementTypes/models/BaseTrackModel.ts
  packages/core/util/index.ts
  packages/core/util/types/index.ts
  plugins/alignments/package.json
  plugins/alignments/src/LinearPileupDisplay/components/ColorByTag.tsx
  plugins/alignments/src/LinearPileupDisplay/components/FilterByTag.tsx
  plugins/alignments/src/LinearPileupDisplay/components/SortByTag.tsx
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/LinearSNPCoverageDisplay/models/model.ts
  plugins/alignments/src/SNPCoverageRenderer/SNPCoverageRenderer.ts
  plugins/alignments/src/index.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeView.tsx
  plugins/linear-genome-view/src/LinearGenomeView/index.ts
  plugins/wiggle/package.json
  plugins/wiggle/src/BigWigAdapter/BigWigAdapter.ts
  plugins/wiggle/src/LinearWiggleDisplay/components/SetMinMaxDialog.tsx
  plugins/wiggle/src/LinearWiggleDisplay/components/WiggleDisplayComponent.tsx
  plugins/wiggle/src/LinearWiggleDisplay/models/model.ts
  plugins/wiggle/src/XYPlotRenderer/XYPlotRenderer.ts
  plugins/wiggle/src/index.ts
  plugins/wiggle/src/util.test.js
  plugins/wiggle/src/util.ts
  products/jbrowse-web/src/rootModel.ts
  yarn.lock
Labels: enhancement

#1597 Fix JBrowse Web Crash
  plugins/dotplot-view/src/DotplotDisplay/index.ts
  products/jbrowse-web/src/Loader.tsx
  products/jbrowse-web/src/rootModel.ts
  products/jbrowse-web/src/tests/Dotplot.test.js
  test_data/config_dotplot.json
Labels: bug

#1604 Add ability to filter for read name to the alignments filter dialog
  plugins/alignments/src/LinearPileupDisplay/components/FilterByTag.tsx
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/LinearSNPCoverageDisplay/models/model.ts
Labels: enhancement

#1560 Provide genomic context for linear vs. ref
  plugins/alignments/src/LinearPileupDisplay/components/ColorByTag.tsx
  plugins/alignments/src/LinearPileupDisplay/components/FilterByTag.tsx
  plugins/alignments/src/LinearPileupDisplay/components/SortByTag.tsx
  plugins/linear-comparative-view/package.json
  plugins/linear-comparative-view/src/index.ts
  plugins/linear-comparative-view/src/index.tsx
Labels: enhancement

#1606 Upgrade @testing-library/react and improve test reliability
  package.json
  plugins/data-management/src/AddConnectionWidget/components/AddConnectionWidget.test.js
  plugins/data-management/src/AddTrackWidget/components/AddTrackWidget.test.js
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/HierarchicalTrackSelector.test.js
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeView.test.js
  products/jbrowse-cli/src/commands/add-assembly.test.ts
  products/jbrowse-cli/src/commands/admin-server.ts
  products/jbrowse-cli/src/testUtil.ts
  products/jbrowse-desktop/src/JBrowse.test.tsx
  products/jbrowse-web/src/tests/Alignments.test.js
  products/jbrowse-web/src/tests/BasicLinearGenomeView.test.js
  products/jbrowse-web/src/tests/BigWig.test.js
  products/jbrowse-web/src/tests/CopyAndDelete.test.js
  products/jbrowse-web/src/tests/Dotplot.test.js
  products/jbrowse-web/src/tests/JBrowse.test.js
  products/jbrowse-web/src/tests/Reload.test.js
  yarn.lock
Labels: needs label triage

#1610 Display error message from dynamodb session sharing error
  products/jbrowse-web/src/ShareButton.tsx
  products/jbrowse-web/src/sessionSharing.ts
  products/jbrowse-web/src/tests/Loader.test.tsx
Labels: enhancement

#1619 Fix overview scale polygon not appearing properly in some cases
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewScaleBar.tsx
Labels: bug

#1609 Add extra checks for release script
  scripts/release.sh
Labels: internal

#1588 Add "Get sequence" action to LGV rubber-band
  packages/core/rpc/coreRpcMethods.ts
  packages/core/util/Base1DViewModel.ts
  packages/core/util/__snapshots__/formatFastaStrings.test.js.snap
  packages/core/util/formatFastaStrings.test.js
  packages/core/util/formatFastaStrings.ts
  plugins/linear-genome-view/package.json
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeView.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/RubberBand.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/SequenceDialog.tsx
  plugins/linear-genome-view/src/LinearGenomeView/index.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/index.ts
  products/jbrowse-web/src/tests/BasicLinearGenomeView.test.js
Labels: enhancement

#1620 Add error reporting on a worker failure
  packages/core/rpc/BaseRpcDriver.ts
  products/jbrowse-web/src/rpc.worker.ts
  test_data/config_demo.json
Labels: bug

#1618 Update user guide docs with bigwig and alignments examples
  website/blog/2021-01-11-v1.0.3-release.md
  website/blog/img
  website/docs/Makefile
  website/docs/disable_float.tex
  website/docs/faq.md
  website/docs/img/alignments/out-fs8.png
  website/docs/img/bigwig/out-fs8.png
  website/docs/img/color_by_tag.png
  website/docs/user_guide.md
  website/src/pages/features.md
  website/src/pages/gallery.md
Labels: documentation

#1626 Bug Fix: specify assembly in locstring
  plugins/linear-genome-view/src/LinearGenomeView/index.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/index.ts
  products/jbrowse-web/src/tests/BasicLinearGenomeView.test.js
Labels: bug

#1624 GCContent adapter
  plugins/sequence/package.json
  plugins/sequence/src/GCContentAdapter/GCContentAdapter.ts
  plugins/sequence/src/GCContentAdapter/configSchema.ts
  plugins/sequence/src/GCContentAdapter/index.ts
  plugins/sequence/src/index.ts
  plugins/wiggle/src/LinearWiggleDisplay/models/model.ts
  test_data/config_demo.json
Labels: enhancement

#1414 Typescriptify and MST'ify the add track workflow
  packages/core/pluggableElementTypes/WidgetType.ts
  plugins/data-management/src/AddTrackWidget/components/AddTrackWidget.tsx
  plugins/data-management/src/AddTrackWidget/components/ConfirmTrack.test.js
  plugins/data-management/src/AddTrackWidget/components/ConfirmTrack.tsx
  plugins/data-management/src/AddTrackWidget/components/TrackSourceSelect.tsx
  plugins/data-management/src/AddTrackWidget/components/__snapshots__/ConfirmTrack.test.js.snap
  plugins/data-management/src/AddTrackWidget/model.js
  plugins/data-management/src/AddTrackWidget/model.ts
Labels: internal

#1615 Increase pileup maxHeight
  plugins/alignments/src/PileupRenderer/configSchema.ts
Labels: discuss in meeting

#1625 Make renderArgs consistent and don't duplicate data
  packages/core/pluggableElementTypes/renderers/ComparativeServerSideRendererType.ts
  packages/core/pluggableElementTypes/renderers/ServerSideRendererType.ts
  packages/core/rpc/coreRpcMethods.ts
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/circular-view/src/BaseChordDisplay/models/renderReaction.js
  plugins/dotplot-view/src/DotplotDisplay/index.ts
  plugins/dotplot-view/src/DotplotRenderer/ComparativeRenderRpc.ts
  plugins/linear-comparative-view/src/LinearComparativeDisplay/index.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/serverSideRenderedBlock.ts
Labels: internal

#1641 Remove codecov pr annotations
  codecov.yml
Labels: internal

#1629 Add RegionsAdapter/SequenceAdapter, reorganize base adapters
  packages/core/data_adapters/BaseAdapter.ts
  packages/core/rpc/coreRpcMethods.ts
  plugins/breakpoint-split-view/src/components/BreakpointSplitView.test.js
  plugins/config/src/FromConfigAdapter/FromConfigAdapter.test.ts
  plugins/config/src/FromConfigAdapter/FromConfigAdapter.ts
  plugins/config/src/FromConfigAdapter/FromConfigRegionsAdapter.test.ts
  plugins/config/src/FromConfigAdapter/FromConfigRegionsAdapter.ts
  plugins/config/src/FromConfigAdapter/FromConfigSequenceAdapter.test.ts
  plugins/config/src/FromConfigAdapter/FromConfigSequenceAdapter.ts
  plugins/config/src/FromConfigAdapter/configSchema.ts
  plugins/config/src/FromConfigAdapter/index.ts
  plugins/config/src/RefNameAliasAdapter/RefNameAliasAdapter.ts
  plugins/config/src/index.ts
  plugins/data-management/src/AddConnectionWidget/components/AddConnectionWidget.test.js
  plugins/data-management/src/AddTrackWidget/components/AddTrackWidget.test.js
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/HierarchicalTrackSelector.test.js
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeView.test.js
  plugins/linear-genome-view/src/LinearGenomeView/components/ScaleBar.test.tsx
  plugins/sequence/src/ChromSizesAdapter/ChromSizesAdapter.test.ts
  plugins/sequence/src/ChromSizesAdapter/ChromSizesAdapter.ts
  plugins/sequence/src/IndexedFastaAdapter/IndexedFastaAdapter.ts
  plugins/sequence/src/TwoBitAdapter/TwoBitAdapter.ts
  products/jbrowse-cli/src/commands/add-assembly.test.ts
  products/jbrowse-cli/test/data/simple.json
  products/jbrowse-web/src/__snapshots__/rootModel.test.js.snap
  products/jbrowse-web/src/rootModel.test.js
  website/docs/developer_guide.md
Labels: internal

#1640 Move stats calculation to BaseFeatureAdapter
  packages/core/data_adapters/BaseAdapter.ts
  packages/core/util/stats.test.ts
  packages/core/util/stats.ts
  plugins/alignments/src/SNPCoverageAdapter/SNPCoverageAdapter.ts
  plugins/sequence/src/GCContentAdapter/GCContentAdapter.ts
  plugins/wiggle/src/BigWigAdapter/BigWigAdapter.test.ts
  plugins/wiggle/src/BigWigAdapter/BigWigAdapter.ts
  plugins/wiggle/src/LinearWiggleDisplay/models/model.ts
  plugins/wiggle/src/WiggleRPC/rpcMethods.ts
  plugins/wiggle/src/index.ts
Labels: enhancement

#1643 Add a offset that allows all scalebar labels to be visible
  plugins/linear-genome-view/src/BaseLinearDisplay/components/BaseLinearDisplay.tsx
  plugins/wiggle/src/LinearWiggleDisplay/components/Tooltip.tsx
  plugins/wiggle/src/LinearWiggleDisplay/components/WiggleDisplayComponent.tsx
  plugins/wiggle/src/LinearWiggleDisplay/models/model.ts
  products/jbrowse-web/src/tests/__image_snapshots__/big-wig-test-js-bigwig-open-a-bigwig-line-track-2-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/big-wig-test-js-bigwig-open-a-bigwig-track-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/reload-test-js-reload-tests-reloads-bigwig-bw-404-1-snap.png
Labels: enhancement

#1646 Fix "See code" link in CLI docs
  products/jbrowse-cli/README.md
  products/jbrowse-cli/package.json
Labels: documentation
