Repository GMOD/jbrowse-components, pull requests merged in 2021-04, with the labels that each got.

#1795 Make LinearAlignmentsDisplay fully configurable in the UI
  plugins/alignments/src/LinearAlignmentsDisplay/models/configSchema.test.js
  plugins/alignments/src/LinearAlignmentsDisplay/models/configSchema.ts
  plugins/alignments/src/LinearAlignmentsDisplay/models/model.ts
  plugins/alignments/src/LinearPileupDisplay/configSchema.ts
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  test_data/volvox/config.json
Labels: internal

#1863 Update @gmod/indexedfasta
  plugins/sequence/package.json
  plugins/sequence/src/IndexedFastaAdapter/IndexedFastaAdapter.ts
  products/jbrowse-react-linear-genome-view/.storybook/fsMock.js
  products/jbrowse-react-linear-genome-view/.storybook/main.js
  products/jbrowse-react-linear-genome-view/package.json
  yarn.lock
Labels: internal

#1861 Change "Fade mismatches by quality" setting to separate config param and make less strict
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/PileupRenderer/PileupRenderer.ts
  plugins/alignments/src/PileupRenderer/configSchema.ts
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.js.snap
Labels: enhancement

#1871 Fix some synteny workflow crashes
  plugins/dotplot-view/src/DotplotView/components/ImportForm.tsx
  plugins/linear-comparative-view/src/LinearSyntenyRenderer/components/LinearSyntenyRendering.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportForm.tsx
  website/src/pages/demos.mdx
Labels: bug

#1854 Move about dialog to core and make available from the track list
  packages/core/BaseFeatureWidget/BaseFeatureDetail.tsx
  packages/core/pluggableElementTypes/models/BaseTrackModel.ts
  packages/core/ui/AboutDialog.tsx
  packages/core/ui/ViewContainer.tsx
  packages/core/util/types/index.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/AboutDialog.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeView.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.js.snap
  products/jbrowse-desktop/src/sessionModelFactory.ts
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/ViewContainer.tsx
  products/jbrowse-react-linear-genome-view/src/createModel/createSessionModel.ts
  products/jbrowse-web/src/sessionModelFactory.ts
  products/jbrowse-web/src/tests/CopyAndDelete.test.js
  products/jbrowse-web/src/tests/JBrowse.test.js
Labels: enhancement

#1884 Fix rIC ponyfill for use on Safari
  packages/core/util/index.ts
Labels: bug

#1868 Export XYPlotRenderer and configSchema
  plugins/wiggle/src/index.ts
Labels: discuss in meeting, internal

#1877 Add ability to copy the text produced by the feature details sequence panel to MS Word/Google Docs and preserve styling
  packages/core/BaseFeatureWidget/SequenceFeatureDetails.tsx
Labels: enhancement

#1875 Position sticky for drawer widget appbar
  packages/core/ui/DrawerWidget.js
Labels: enhancement

#1864 Add Material UI's DataGrid to re-exports
  packages/core/ReExports/list.ts
  packages/core/ReExports/modules.ts
Labels: enhancement

#1878 Add --delete to set-default-session, fix --session
  products/jbrowse-cli/README.md
  products/jbrowse-cli/src/commands/set-default-session.test.ts
  products/jbrowse-cli/src/commands/set-default-session.ts
  products/jbrowse-cli/test/data/sampleDefaultSession.json
Labels: bug, enhancement

#1855 Add download page in website header and new super-quick-start guide
  scripts/release.sh
  test_data/yeast_synteny/config.json
  website/docs/faq.md
  website/docs/introduction.md
  website/docs/superquickstart_web.md
  website/docusaurus.config.json
  website/sidebars.json
  website/src/pages/download.mdx
Labels: documentation

#1893 Improve assembly manager styling and typography
  plugins/data-management/src/AssemblyManager/AssemblyTable.tsx
Labels: enhancement

#1660 Allow connections to have multiple assemblies
  packages/core/pluggableElementTypes/models/BaseConnectionModelFactory.js
  packages/core/pluggableElementTypes/models/baseConnectionConfig.ts
  plugins/config/src/ConfigurationEditorWidget/components/SlotEditor.js
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.js.snap
  plugins/data-management/package.json
  plugins/data-management/src/AddConnectionWidget/components/AddConnectionWidget.js
  plugins/data-management/src/AddConnectionWidget/components/AddConnectionWidget.test.js
  plugins/data-management/src/AddConnectionWidget/components/ConnectionTypeSelect.tsx
  plugins/data-management/src/AddConnectionWidget/components/__snapshots__/AddConnectionWidget.test.js.snap
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/Contents.js
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/HierarchicalTrackSelector.js
  plugins/data-management/src/HierarchicalTrackSelectorWidget/model.js
  plugins/data-management/src/ucsc-trackhub/configSchema.js
  plugins/data-management/src/ucsc-trackhub/model.js
  plugins/legacy-jbrowse/src/JBrowse1Connection/configSchema.ts
  plugins/legacy-jbrowse/src/JBrowse1Connection/model.js
  plugins/trackhub-registry/src/trackhub-registry/TrackHubRegistrySelect.js
  plugins/trackhub-registry/src/trackhub-registry/model.js
  products/jbrowse-desktop/src/sessionModelFactory.ts
  products/jbrowse-react-linear-genome-view/src/createModel/createSessionModel.ts
  products/jbrowse-web/src/__snapshots__/sessionModelFactory.test.js.snap
  products/jbrowse-web/src/sessionModelFactory.ts
  products/jbrowse-web/src/tests/CopyAndDelete.test.js
  test_data/breakpoint/config.json
  test_data/config.json
  test_data/config_wormbase.json
  test_data/volvox/connection_test.json
Labels: enhancement

#1850 Add true breakend ALT strings to the feature details panel
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.test.js
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.tsx
  plugins/variants/src/VcfTabixAdapter/VcfFeature.ts
Labels: enhancement

#1901 Make using --out for add-assembly create output directory if it does not exist
  products/jbrowse-cli/src/commands/add-assembly.test.ts
  products/jbrowse-cli/src/commands/add-assembly.ts
Labels: enhancement

#1900 Make clicking away from autocomplete popup on track container work
  plugins/linear-genome-view/src/LinearGenomeView/components/TracksContainer.tsx
Labels: bug

#1904 Fix issue with synteny polygons displaying slightly offset
  packages/core/util/Base1DViewModel.ts
  plugins/linear-genome-view/src/LinearGenomeView/index.ts
  products/jbrowse-web/src/tests/Alignments.test.js
  test_data/yeast_synteny/config.json
Labels: bug

#1867 Virtualized tree for tracklist to support having thousands of tracks
  package.json
  packages/core/ui/DrawerWidget.js
  packages/core/ui/Menu.tsx
  packages/core/util/types/index.ts
  plugins/data-management/package.json
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/Category.js
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/CloseConnectionDialog.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/Contents.js
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/DeleteConnectionDialog.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/HierarchicalTrackSelector.js
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/ManageConnectionsDialog.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/ToggleConnectionsDialog.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/TrackEntry.js
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/__snapshots__/HierarchicalTrackSelector.test.js.snap
  plugins/data-management/src/HierarchicalTrackSelectorWidget/model.js
  plugins/data-management/src/HierarchicalTrackSelectorWidget/model.test.js
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.tsx
  products/jbrowse-desktop/src/sessionModelFactory.ts
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/ModalWidget.tsx
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  products/jbrowse-web/src/tests/CopyAndDelete.test.js
  test_data/config_demo.json
  test_data/volvox/config.json
  yarn.lock
Labels: enhancement

#1912 Fix reloading of local sessions when using React.StrictMode
  products/jbrowse-web/src/Loader.tsx
Labels: bug

#1913 Add close button to assembly manager dialog box
  plugins/data-management/src/AssemblyManager/AssemblyManager.test.tsx
  plugins/data-management/src/AssemblyManager/AssemblyManager.tsx
  products/jbrowse-web/src/tests/BasicLinearGenomeView.test.js
Labels: needs label triage

#1911 Fix breakpoint split view visualizations for files that need ref renaming (e.g. chr1 vs 1)
  packages/core/util/types/index.ts
  plugins/breakpoint-split-view/src/components/AlignmentConnections.tsx
  plugins/breakpoint-split-view/src/components/Breakends.tsx
  plugins/breakpoint-split-view/src/components/BreakpointSplitView.tsx
  plugins/breakpoint-split-view/src/components/Translocations.tsx
Labels: bug

#1892 Create new JB2 plugin store
  website/docusaurus.config.json
  website/package.json
  website/plugins.json
  website/src/pages/plugin_store.js
  website/yarn.lock
Labels: enhancement

#1918 Fix issue with some falsy values being hidden in feature details
  packages/core/BaseFeatureWidget/BaseFeatureDetail.tsx
Labels: bug

#1924 Fix import of BED and navToLocString from spreadsheet views
  package.json
  packages/core/ui/FileSelector.tsx
  packages/core/util/jexl.ts
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.js.snap
  plugins/data-management/src/AddTrackWidget/components/__snapshots__/AddTrackWidget.test.js.snap
  plugins/spreadsheet-view/src/SpreadsheetView/components/ImportWizard.js
  plugins/spreadsheet-view/src/SpreadsheetView/importAdapters/BedImport.ts
  plugins/spreadsheet-view/src/SpreadsheetView/models/ColumnDataTypes/LocString.js
  products/jbrowse-web/src/tests/1.Spreadsheet.test.js
  yarn.lock
Labels: bug

#1926 Update website to link to demos on cloudfront for better compression
  scripts/release.sh
  website/docusaurus.config.json
  website/src/pages/demos.mdx
  website/src/pages/index.js
Labels: internal
