Repository GMOD/jbrowse-components, pull requests merged in 2021-05, with the labels that each got.

#1932 Update Analytics and Share Endpoints For Clarity
  packages/core/util/analytics.ts
  products/jbrowse-web/src/Loader.tsx
  products/jbrowse-web/src/jbrowseModel.js
Labels: internal

#1935 Create v1.2.0.md, draft of release announcements
  website/release_announcement_drafts/v1.2.0.md
Labels: needs label triage

#1940 Fix layout issues for website plugin store
  website/src/css/pluginStyles.module.css
  website/src/pages/plugin_store.js
Labels: needs label triage

#1862 Add example for using a build-time included plugin to storybook
  products/jbrowse-react-linear-genome-view/package.json
  products/jbrowse-react-linear-genome-view/stories/JBrowseLinearGenomeView.stories.tsx
Labels: documentation

#1931 Create in app graphical plugin store
  packages/core/ui/FileSelector.tsx
  packages/core/ui/RecentSessionCard.js
  packages/core/util/types/index.ts
  plugins/data-management/src/PluginStoreWidget/components/CustomPluginForm.tsx
  plugins/data-management/src/PluginStoreWidget/components/InstalledPlugin.tsx
  plugins/data-management/src/PluginStoreWidget/components/InstalledPluginsList.tsx
  plugins/data-management/src/PluginStoreWidget/components/PluginCard.tsx
  plugins/data-management/src/PluginStoreWidget/components/PluginStoreWidget.test.js
  plugins/data-management/src/PluginStoreWidget/components/PluginStoreWidget.tsx
  plugins/data-management/src/PluginStoreWidget/components/__snapshots__/PluginStoreWidget.test.js.snap
  plugins/data-management/src/PluginStoreWidget/index.js
  plugins/data-management/src/PluginStoreWidget/model.test.js
  plugins/data-management/src/PluginStoreWidget/model.ts
  plugins/data-management/src/index.ts
  products/jbrowse-desktop/public/electron.js
  products/jbrowse-desktop/src/JBrowse.js
  products/jbrowse-desktop/src/Loader.tsx
  products/jbrowse-desktop/src/StartScreen.tsx
  products/jbrowse-desktop/src/jbrowseModel.js
  products/jbrowse-desktop/src/rootModel.ts
  products/jbrowse-web/src/AdminComponent.tsx
  products/jbrowse-web/src/JBrowse.js
  products/jbrowse-web/src/Loader.tsx
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  products/jbrowse-web/src/__snapshots__/sessionModelFactory.test.js.snap
  products/jbrowse-web/src/jbrowseModel.js
  products/jbrowse-web/src/rootModel.ts
  products/jbrowse-web/src/sessionModelFactory.ts
  products/jbrowse-web/src/tests/AdminComponent.test.js
Labels: enhancement

#1952 Add demo for 1000 genomes extended trio dataset to website
  website/src/pages/demos.mdx
Labels: documentation

#1963 Fix ability to use DialogComponent (used for svg export, pileup sort, etc) on embedded components
  packages/core/ui/AboutDialog.tsx
  packages/core/ui/ViewContainer.tsx
  packages/core/util/types/index.ts
  products/jbrowse-desktop/src/sessionModelFactory.ts
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/ViewContainer.tsx
  products/jbrowse-react-linear-genome-view/src/createModel/createSessionModel.ts
  products/jbrowse-web/src/sessionModelFactory.ts
  website/src/pages/plugin_store.js
Labels: bug

#1970 Fix SV inspector circular view not displaying
  packages/core/data_adapters/BaseAdapter.ts
  products/jbrowse-web/src/tests/2.SVInspector.test.js
Labels: needs label triage

#1974 Fix loading configuration file defined plugins for RpcManager
  products/jbrowse-desktop/src/rootModel.ts
  products/jbrowse-web/src/rootModel.ts
  products/jbrowse-web/src/tests/2.SVInspector.test.js
  products/jbrowse-web/src/tests/CircularView.test.js
Labels: needs label triage

#1956 Fix connection behavior
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/ToggleConnectionsDialog.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/model.js
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/src/sessionModelFactory.ts
  products/jbrowse-web/package.json
  products/jbrowse-web/src/sessionModelFactory.ts
  yarn.lock
Labels: bug

#1954 Add more environments to configSchema create calls to fix ability to use custom jexl commands with main thread rendering
  packages/core/data_adapters/dataAdapterCache.ts
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/LinearSNPCoverageDisplay/models/model.ts
  plugins/data-management/src/AddConnectionWidget/components/AddConnectionWidget.js
  plugins/hic/src/LinearHicDisplay/model.ts
  plugins/linear-genome-view/src/LinearBasicDisplay/model.ts
  plugins/wiggle/src/LinearWiggleDisplay/models/model.tsx
Labels: bug

#1971 Fix warning on hic test
  plugins/linear-genome-view/src/BaseLinearDisplay/components/ServerSideRenderedBlockContent.tsx
  products/jbrowse-web/src/tests/Hic.test.js
Labels: needs label triage

#1985 Avoid error calculating UTR on features that have no exon subfeatures
  packages/core/BaseFeatureWidget/SequenceFeatureDetails.tsx
Labels: needs label triage

#1984 Better feature details when there are short arrays of json supplied as feature data
  packages/core/BaseFeatureWidget/BaseFeatureDetail.tsx
Labels: enhancement

#1865 Show modified bases using MM and MP/ML tags in BAM/CRAM
  .github/workflows/push.yml
  packages/core/BaseFeatureWidget/SequenceFeatureDetails.tsx
  packages/core/data_adapters/BaseAdapter.ts
  plugins/alignments/src/BamAdapter/MismatchParser.test.ts
  plugins/alignments/src/BamAdapter/MismatchParser.ts
  plugins/alignments/src/CramAdapter/CramAdapter.ts
  plugins/alignments/src/LinearAlignmentsDisplay/models/model.tsx
  plugins/alignments/src/LinearPileupDisplay/components/ColorByModifications.tsx
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/LinearSNPCoverageDisplay/components/Tooltip.tsx
  plugins/alignments/src/LinearSNPCoverageDisplay/models/model.ts
  plugins/alignments/src/PileupRPC/rpcMethods.ts
  plugins/alignments/src/PileupRenderer/PileupRenderer.tsx
  plugins/alignments/src/PileupRenderer/util.ts
  plugins/alignments/src/SNPCoverageAdapter/SNPCoverageAdapter.ts
  plugins/alignments/src/SNPCoverageAdapter/__snapshots__/SNPCoverageAdapter.test.ts.snap
  plugins/alignments/src/SNPCoverageRenderer/SNPCoverageRenderer.test.js
  plugins/alignments/src/SNPCoverageRenderer/SNPCoverageRenderer.ts
  plugins/alignments/src/SNPCoverageRenderer/__snapshots__/SNPCoverageRenderer.test.js.snap
  plugins/alignments/src/index.ts
  plugins/alignments/src/util.ts
  products/jbrowse-web/src/Loader.tsx
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-js-alignments-track-test-snpcoverage-doesnt-count-snpcoverage-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-js-alignments-track-test-snpcoverage-doesnt-count-snpcoverage-2-snap.png
  test_data/config_demo.json
  test_data/volvox/MM-chebi-volvox.bam
  test_data/volvox/MM-chebi-volvox.bam.bai
  test_data/volvox/MM-double-volvox.bam
  test_data/volvox/MM-double-volvox.bam.bai
  test_data/volvox/MM-multi-volvox.bam
  test_data/volvox/MM-multi-volvox.bam.bai
  test_data/volvox/MM-orient-volvox.bam
  test_data/volvox/MM-orient-volvox.bam.bai
  test_data/volvox/config.json
  test_data/wgbs/bwa-meth.sorted.subselect.downsample.bam
  test_data/wgbs/bwa-meth.sorted.subselect.downsample.bam.bai
  test_data/wgbs/config.json
  test_data/wgbs/ref.fa
  test_data/wgbs/ref.fa.fai
Labels: enhancement

#1989 Fix duplicate requests for BAM file and avoid internal behavior of the data adapters
  plugins/alignments/src/PileupRenderer/PileupRenderer.tsx
Labels: needs label triage

#1976 reorganize the demo page to emphasize the cancer sv demo more
  website/src/pages/demos.mdx
Labels: documentation

#1977 Upgrade @material-ui/data-grid
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
  plugins/variants/package.json
  products/jbrowse-desktop/package.json
  products/jbrowse-web/package.json
  products/jbrowse-web/src/__snapshots__/rootModel.test.js.snap
  yarn.lock
Labels: enhancement

#1980 Avoid warning dialog if plugin is in our plugins.json and popup confirmation dialog for unknown session plugins
  plugins/data-management/src/PluginStoreWidget/components/PluginStoreWidget.tsx
  products/jbrowse-web/src/ConfigWarningDialog.tsx
  products/jbrowse-web/src/Loader.tsx
  products/jbrowse-web/src/SessionWarningDialog.tsx
  products/jbrowse-web/src/tests/Loader.test.tsx
Labels: enhancement

#1975 Allow local file blobs jbweb
  packages/core/pluggableElementTypes/RpcMethodType.ts
  packages/core/rpc/BaseRpcDriver.ts
  packages/core/ui/FileSelector.tsx
  packages/core/util/io/index.ts
  packages/core/util/tracks.ts
  packages/core/util/types/index.ts
  packages/core/util/types/mst.ts
  plugins/config/src/ConfigurationEditorWidget/components/SlotEditor.js
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.js.snap
  plugins/data-management/src/AddTrackWidget/components/AddTrackWidget.tsx
  plugins/data-management/src/AddTrackWidget/components/ConfirmTrack.tsx
  plugins/data-management/src/AddTrackWidget/components/__snapshots__/AddTrackWidget.test.js.snap
  plugins/data-management/src/AddTrackWidget/index.test.jsx
  plugins/data-management/src/AddTrackWidget/model.ts
  plugins/dotplot-view/src/DotplotView/components/ImportForm.tsx
  plugins/legacy-jbrowse/src/JBrowse1Connection/jb1ToJb2.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportForm.tsx
Labels: enhancement

#1982 Allow manually specifying adapter type if filename does not match expected pattern
  packages/core/util/tracks.ts
  plugins/data-management/src/AddTrackWidget/components/ConfirmTrack.tsx
  plugins/data-management/src/AddTrackWidget/model.ts
Labels: enhancement

#1997 Fix issue with BAM index getting redownloaded after block scroll
  plugins/alignments/package.json
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/HierarchicalTrackSelector.js
  plugins/linear-comparative-view/src/BreakpointSplitRenderer/components/BreakpointSplitRendering.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/RefNameAutocomplete.tsx
  yarn.lock
Labels: needs label triage

#2001 Make tracks added using the add track widget a session track if not in adminMode
  plugins/data-management/src/AddTrackWidget/components/AddTrackWidget.tsx
Labels: enhancement

#2007 Some doc updates for methylation, plugin store, and the sequence panel in feature details
  website/docs/Makefile
  website/docs/title.md
  website/docs/user_guide.md
  website/package.json
  website/src/pages/demos.mdx
  website/static/img/alignment_modifications.png
  website/static/img/feature_detail_sequence.png
  website/static/img/plugin_store.png
Labels: documentation

#2002 Add @jbrowse/img to homepage
  website/src/pages/index.js
Labels: documentation

#2003 Make SNPCoverage independently generate the modifications tag-color mapping
  plugins/alignments/src/BamAdapter/MismatchParser.ts
  plugins/alignments/src/LinearAlignmentsDisplay/models/model.tsx
  plugins/alignments/src/LinearPileupDisplay/components/ColorByModifications.tsx
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/LinearSNPCoverageDisplay/models/model.ts
  plugins/alignments/src/shared.ts
Labels: internal

#2008 Proposal: Make FileSelector default to URL instead of File
  packages/core/ui/FileSelector.tsx
  plugins/data-management/src/AddTrackWidget/components/__snapshots__/AddTrackWidget.test.js.snap
  products/jbrowse-web/src/tests/1.Spreadsheet.test.js
  products/jbrowse-web/src/tests/2.SVInspector.test.js
Labels: needs label triage

#2004 Create v1.3.0.md, draft of release announcements
  website/release_announcement_drafts/v1.3.0.md
Labels: needs label triage

#2011 Post-v1.3.0 release updates
  .github/workflows/jbrowse-web.yml
  scripts/release.sh
Labels: needs label triage

#1995 Pass initialDisplay snapshot via separate param to showTrack
  plugins/linear-genome-view/src/LinearGenomeView/index.tsx
Labels: internal

#2016 Update peerDependencies for react-linear-genome-view to help npm install peer deps warnings
  products/jbrowse-react-linear-genome-view/package.json
Labels: needs label triage

#2015 Move ThemeProvider inside React JBrowseLinearGenomeView
  products/jbrowse-react-linear-genome-view/README.md
  products/jbrowse-react-linear-genome-view/docs/example.md
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/JBrowseLinearGenomeView.tsx
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
  products/jbrowse-react-linear-genome-view/src/createModel/createConfigModel.ts
  products/jbrowse-react-linear-genome-view/src/createModel/createModel.ts
  products/jbrowse-react-linear-genome-view/src/deprecations.tsx
  products/jbrowse-react-linear-genome-view/src/index.ts
  products/jbrowse-react-linear-genome-view/stories/JBrowseLinearGenomeView.stories.tsx
  products/jbrowse-react-linear-genome-view/stories/NextJsUsage.stories.mdx
  products/jbrowse-react-linear-genome-view/stories/NextstrainGenomeView.stories.tsx
Labels: needs label triage

#2019 Fix session import to use blob map for opening local files
  plugins/menus/src/ImportSessionWidget/components/ImportSessionWidget.js
Labels: bug

#2018 Fix off-by-one bug in displaying cDNA sequences
  packages/core/BaseFeatureWidget/SequenceFeatureDetails.test.js
  packages/core/BaseFeatureWidget/SequenceFeatureDetails.tsx
  packages/core/BaseFeatureWidget/test_data/volvox.fa
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  test_data/volvox/config.json
  test_data/volvox/single_exon_gene.sorted.gff.gz
  test_data/volvox/single_exon_gene.sorted.gff.gz.tbi
Labels: bug

#2023 Fix infinite loop in adding some plugins on desktop
  products/jbrowse-desktop/src/JBrowse.js
  products/jbrowse-desktop/src/rootModel.ts
  products/jbrowse-web/src/rootModel.ts
Labels: bug
