Repository GMOD/jbrowse-components, pull requests merged in 2021-11, with the labels that each got.

#2479 Allow gzipped Gff3Adapter input and use 512MB limit
  plugins/gff3/package.json
  plugins/gff3/src/Gff3Adapter/Gff3Adapter.test.ts
  plugins/gff3/src/Gff3Adapter/Gff3Adapter.ts
  plugins/gff3/src/declare.d.ts
Labels: enhancement

#2480 Fix refName renaming on VcfAdapter for files that don't have ##contig lines
  plugins/variants/src/VcfAdapter/VcfAdapter.ts
  plugins/variants/src/VcfAdapter/__snapshots__/VcfAdapter.test.ts.snap
Labels: bug

#2481 Don't fail if offline on starting jbrowse-desktop
  products/jbrowse-desktop/public/electron.ts
Labels: needs label triage

#2443 Support plaintext fasta on desktop by dynamically creating a FAI file on the fly
  .eslintignore
  package.json
  products/jbrowse-desktop/.gitignore
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/public/electron.ts
  products/jbrowse-desktop/public/generateFastaIndex.ts
  products/jbrowse-desktop/src/OpenSequenceDialog.tsx
  yarn.lock
Labels: enhancement

#2389 Creates gtf plugin
  plugins/data-management/src/PluginStoreWidget/components/__snapshots__/PluginStoreWidget.test.js.snap
  plugins/gtf/.babelrc
  plugins/gtf/package.json
  plugins/gtf/src/GtfAdapter/GtfAdapter.test.ts
  plugins/gtf/src/GtfAdapter/GtfAdapter.ts
  plugins/gtf/src/GtfAdapter/__snapshots__/GtfAdapter.test.ts.snap
  plugins/gtf/src/GtfAdapter/configSchema.ts
  plugins/gtf/src/GtfAdapter/index.ts
  plugins/gtf/src/declare.d.ts
  plugins/gtf/src/index.ts
  plugins/gtf/src/test_data/demo.gtf
  plugins/gtf/src/test_data/volvox.sorted.gtf
  plugins/gtf/src/util.ts
  plugins/gtf/tsconfig.json
  plugins/gtf/tsdx.config.js
  products/jbrowse-cli/src/base.ts
  products/jbrowse-cli/src/commands/text-index.ts
  products/jbrowse-cli/src/types/common.ts
  products/jbrowse-cli/src/types/gtfAdapter.ts
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/src/corePlugins.ts
  products/jbrowse-web/package.json
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  products/jbrowse-web/src/corePlugins.ts
  test_data/volvox/config.json
  test_data/volvox/trix/volvox_meta.json
  test_data/volvox/volvox.sorted.gtf
  yarn.lock
Labels: enhancement

#2484 "Add custom plugin" dialog improvements
  plugins/data-management/src/PluginStoreWidget/components/CustomPluginForm.tsx
  plugins/data-management/src/PluginStoreWidget/components/InstalledPlugin.tsx
  plugins/data-management/src/PluginStoreWidget/components/PluginCard.tsx
  plugins/data-management/src/PluginStoreWidget/components/PluginStoreWidget.test.js
  plugins/data-management/src/PluginStoreWidget/components/PluginStoreWidget.tsx
  plugins/data-management/src/PluginStoreWidget/components/__snapshots__/PluginStoreWidget.test.js.snap
Labels: enhancement

#2488 Improve usability of the search result autocomplete when typing in via keyboard
  packages/core/TextSearch/TextSearchManager.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/Header.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/ImportForm.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/RefNameAutocomplete.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/util.ts
  plugins/trix/src/TrixTextSearchAdapter/TrixTextSearchAdapter.ts
Labels: enhancement

#2492 Fix ability to open breakpoint split view from a BEDPE row in SV inspector
  plugins/breakpoint-split-view/src/BreakpointSplitView.ts
  products/jbrowse-web/src/tests/Loader.test.tsx
Labels: bug

#2494 Add polyfill for text-index compatibility with node 10
  products/jbrowse-cli/package.json
  products/jbrowse-cli/src/commands/text-index.ts
  yarn.lock
Labels: bug

#2501 Add a tooltip to desktop session path so you can see the full path if it's cut off
  products/jbrowse-desktop/src/StartScreen/RecentSessionsPanel.tsx
Labels: enhancement

#2499 Add missing dependency to CLI
  products/jbrowse-cli/package.json
  yarn.lock
Labels: bug

#2495 Improve organization on docs landing page
  products/jbrowse-cli/README.md
  website/docs/introduction.md
Labels: documentation

#2500 Add RenderProps to core/pluggableElementTypes export
  packages/core/pluggableElementTypes/renderers/index.ts
Labels: enhancement

#2498 Add a red background to the overview scale bar with cytobands
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeViewSvg.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewScaleBar.tsx
Labels: enhancement

#2485 Only use one button, "Go", in text search ambiguous results dialog
  plugins/linear-genome-view/src/LinearGenomeView/components/SearchResultsDialog.tsx
  products/jbrowse-web/src/tests/TextSearching.test.tsx
Labels: enhancement

#2512 Fix [object Window] issue in alignment read vs reference dialog
  plugins/linear-comparative-view/src/index.tsx
Labels: needs label triage

#2508 Update docs for embedded components
  website/docs/embedded_components.md
  website/docs/introduction.md
  website/sidebars.json
  website/src/pages/download.mdx
  website/src/pages/index.js
Labels: documentation

#2521 Fix ability to search for tracks with parentheses in tracklist
  plugins/data-management/src/HierarchicalTrackSelectorWidget/model.js
Labels: bug

#2533 Fix drawer widget minimized button when overlapping with a view
  packages/core/ui/App.tsx
Labels: bug

#2487 Add support for additional types of plugin bundles
  package.json
  packages/core/PluginLoader.ts
  packages/core/package.json
  packages/core/rpc/RpcManager.ts
  packages/core/rpc/WebWorkerRpcDriver.ts
  packages/core/util/types/index.ts
  packages/development-tools/package.json
  packages/development-tools/postinstall.js
  packages/development-tools/src/babelPluginJBrowse.ts
  packages/development-tools/src/createJBrowsePluginTsdxConfig.js
  packages/development-tools/src/createRollupConfig.ts
  packages/development-tools/src/declare.d.ts
  packages/development-tools/src/index.ts
  packages/development-tools/src/util.ts
  packages/development-tools/tsconfig.json
  plugins/data-management/package.json
  plugins/data-management/src/PluginStoreWidget/components/CustomPluginForm.tsx
  plugins/data-management/src/PluginStoreWidget/components/InstalledPlugin.tsx
  plugins/data-management/src/PluginStoreWidget/components/PluginStoreWidget.test.js
  plugins/data-management/src/PluginStoreWidget/components/PluginStoreWidget.tsx
  products/jbrowse-desktop/public/electron.ts
  products/jbrowse-desktop/src/StartScreen/util.tsx
  products/jbrowse-desktop/src/jbrowseModel.ts
  products/jbrowse-desktop/src/rootModel.ts
  products/jbrowse-web/src/Loader.tsx
  products/jbrowse-web/src/jbrowseModel.ts
  yarn.lock
Labels: enhancement

#2523 Performance optimizations for Alignments displays
  packages/core/pluggableElementTypes/renderers/BoxRendererType.ts
  packages/core/rpc/WebWorkerRpcDriver.ts
  packages/core/util/layouts/BaseLayout.ts
  packages/core/util/layouts/GranularRectLayout.test.js
  packages/core/util/layouts/GranularRectLayout.ts
  packages/core/util/layouts/PrecomputedLayout.ts
  packages/core/util/rxjs.ts
  plugins/alignments/src/BamAdapter/BamSlightlyLazyFeature.ts
  plugins/alignments/src/BamAdapter/MismatchParser.ts
  plugins/alignments/src/PileupRenderer/PileupRenderer.tsx
  plugins/alignments/src/PileupRenderer/configSchema.ts
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.js.snap
  plugins/gff3/src/Gff3TabixAdapter/Gff3TabixAdapter.ts
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-js-alignments-track-colors-by-tag-updates-object-and-layout-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-js-alignments-track-opens-an-alignments-track-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-js-alignments-track-opens-the-track-menu-and-enables-soft-clipping-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-js-alignments-track-selects-a-color-updates-object-and-layout-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-js-alignments-track-selects-a-sort-updates-object-and-layout-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/reload-test-js-reload-tests-reloads-alignments-track-bam-404-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/reload-test-js-reload-tests-reloads-alignments-track-crai-404-1-snap.png
  products/jbrowse-web/src/tests/__snapshots__/BreakpointSplitView.test.js.snap
  test_data/volvox/README.md
  test_data/volvox/config.json
  test_data/volvox/deep_sequencing.cram
  test_data/volvox/deep_sequencing.cram.crai
Labels: performance

#2509 Implement prop interface for providing arbitrary user-defined glyphs
  plugins/svg/src/SvgFeatureRenderer/components/SvgFeatureRendering.js
  plugins/svg/src/SvgFeatureRenderer/components/util.ts
Labels: enhancement

#2542 Use official Rollup TypeScript plugin in development-tools
  packages/development-tools/package.json
  packages/development-tools/src/createRollupConfig.ts
  yarn.lock
Labels: needs label triage

#2552 Change border on non-cytoband OverviewScaleBar visible region back to blue and cytoband OverviewScaleBar to a little lighter fill
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeViewSvg.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewScaleBar.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.js.snap
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
Labels: enhancement

#2497 Add stats estimation to JB2
  packages/core/data_adapters/BaseAdapter.ts
  packages/core/rpc/coreRpcMethods.ts
  packages/core/util/stats.ts
  plugins/alignments/src/BamAdapter/BamAdapter.ts
  plugins/alignments/src/LinearAlignmentsDisplay/models/model.tsx
  plugins/alignments/src/LinearPileupDisplay/configSchema.ts
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/LinearSNPCoverageDisplay/models/configSchema.ts
  plugins/alignments/src/SNPCoverageAdapter/SNPCoverageAdapter.ts
  plugins/bed/src/BedTabixAdapter/BedTabixAdapter.ts
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.js.snap
  plugins/gff3/src/Gff3TabixAdapter/Gff3TabixAdapter.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/BaseLinearDisplayModel.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/models/baseLinearDisplayConfigSchema.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/serverSideRenderedBlock.ts
  plugins/linear-genome-view/src/LinearBasicDisplay/configSchema.ts
  plugins/variants/src/VcfTabixAdapter/VcfTabixAdapter.ts
  plugins/wiggle/src/BigWigAdapter/BigWigAdapter.ts
  plugins/wiggle/src/LinearWiggleDisplay/models/model.tsx
  plugins/wiggle/src/WiggleRPC/rpcMethods.ts
  products/jbrowse-img/src/renderRegion.js
  products/jbrowse-web/src/tests/Alignments.test.js
  products/jbrowse-web/src/tests/JBrowse.test.js
  products/jbrowse-web/src/tests/Reload.test.js
Labels: enhancement
