Repository GMOD/jbrowse-components, pull requests merged in 2021-03, with the labels that each got.

#1750 Fix pileup sorting when using string tag
  plugins/alignments/src/PileupRenderer/sortUtil.ts
Labels: bug

#1762 Add requestidlecallback ponyfill in @jbrowse/core/util
  packages/core/util/index.ts
  plugins/circular-view/src/BaseChordDisplay/components/RpcRenderedSvgGroup.js
  plugins/dotplot-view/src/ServerSideRenderedContent.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/ServerSideRenderedContent.tsx
Labels: internal

#1756 Split alignments track menu items into "Pileup" and "SNPCoverage" submenus
  plugins/alignments/src/LinearAlignmentsDisplay/models/model.ts
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/LinearSNPCoverageDisplay/models/model.ts
  plugins/alignments/src/SNPCoverageRenderer/SNPCoverageRenderer.test.js
  plugins/alignments/src/SNPCoverageRenderer/SNPCoverageRenderer.ts
  plugins/wiggle/src/LinearWiggleDisplay/models/model.ts
Labels: enhancement

#1763 Add a "CSS reset" to the jbrowse-react-linear-genome-view, plus storybook example showing that things like parent text-align and font don't affect inside the LGV div
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/JBrowseLinearGenomeView.tsx
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
  products/jbrowse-react-linear-genome-view/stories/JBrowseLinearGenomeView.stories.tsx
Labels: enhancement

#1743 Add color picker and choice of summary score style for wiggle track
  plugins/wiggle/package.json
  plugins/wiggle/src/LinearWiggleDisplay/components/SetColorDialog.tsx
  plugins/wiggle/src/LinearWiggleDisplay/models/model.ts
Labels: discuss in meeting, enhancement

#1751 Make the variant display derive from the feature display
  plugins/linear-genome-view/src/index.ts
  plugins/variants/src/LinearVariantDisplay/configSchema.ts
  plugins/variants/src/LinearVariantDisplay/model.ts
  plugins/variants/src/__snapshots__/index.test.js.snap
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
Labels: internal

#1758 Add ability to get stitched together CDS, protein, and cDNA sequences in feature details
  packages/core/BaseFeatureWidget/BaseFeatureDetail.tsx
  packages/core/BaseFeatureWidget/__snapshots__/index.test.js.snap
  packages/core/BaseFeatureWidget/index.test.js
  packages/core/util/index.ts
  plugins/alignments/src/AlignmentsFeatureDetail/AlignmentsFeatureDetail.tsx
  plugins/alignments/src/AlignmentsFeatureDetail/__snapshots__/index.test.js.snap
  plugins/alignments/src/AlignmentsFeatureDetail/index.test.js
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/Category.js
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/__snapshots__/HierarchicalTrackSelector.test.js.snap
  plugins/linear-genome-view/src/LinearGenomeView/components/SequenceDialog.tsx
  plugins/sequence/src/DivSequenceRenderer/components/DivSequenceRendering.tsx
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.test.js
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.tsx
  plugins/variants/src/VariantFeatureWidget/__snapshots__/VariantFeatureWidget.test.js.snap
  products/jbrowse-web/src/jbrowseModel.js
  products/jbrowse-web/src/tests/CircularView.test.js
  products/jbrowse-web/src/tests/JBrowse.test.js
Labels: enhancement

#1666 Move "mouseover" config from BaseLinearDisplay to LinearBasicDisplay display
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.js.snap
  plugins/linear-genome-view/src/BaseLinearDisplay/models/baseLinearDisplayConfigSchema.ts
  plugins/linear-genome-view/src/LinearBasicDisplay/configSchema.ts
Labels: internal

#1777 Quick fix for block error
  plugins/linear-genome-view/src/BaseLinearDisplay/models/serverSideRenderedBlock.ts
Labels: bug

#1723 A few bugfixes
  packages/core/assemblyManager/assembly.ts
  packages/core/data_adapters/BaseAdapter.ts
  packages/core/pluggableElementTypes/models/BaseConnectionModelFactory.js
  packages/core/util/index.ts
Labels: bug

#1774 Add warning dialog in LGV before returning to import form to prevent accidentally losing the current view
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeView.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/ReturnToImportFormDialog.tsx
  plugins/linear-genome-view/src/LinearGenomeView/index.ts
Labels: enhancement

#1791 Add a couple more demos for our live version with MDX
  website/src/pages/demos.md
  website/src/pages/demos.mdx
Labels: documentation

#1796 Bump generic-filehandle for fixing CORS errors from Chrome cache pollution
  yarn.lock
Labels: bug

#1779 Collaborative release announcement editing
  CONTRIBUTING.md
  scripts/release.sh
  website/release_announcement_drafts/v1.0.4.md
Labels: documentation

#1783 Add hic aborting and fix remoteAbort signal propagation
  packages/core/rpc/BaseRpcDriver.test.ts
  packages/core/rpc/BaseRpcDriver.ts
  packages/core/rpc/remoteAbortSignals.ts
  packages/core/util/aborting.ts
  plugins/hic/src/HicRenderer/HicRenderer.ts
Labels: bug

#1793 Fix dotplot rendering outside it's allowed bounds
  packages/core/util/Base1DViewModel.test.ts
  packages/core/util/Base1DViewModel.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewScaleBar.tsx
Labels: bug

#1807 Update developer guide to cover displays, and highlight working external plugins
  CONTRIBUTING.md
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  test_data/volvox/config.json
  website/docs/developer_guide.md
Labels: documentation

#1808 Add another heuristic for returning gene features from BigBed
  plugins/bed/src/BigBedAdapter/BigBedAdapter.ts
Labels: enhancement

#1770 1469 storybook deploy
  .github/workflows/push.yml
  package.json
  products/jbrowse-react-linear-genome-view/.gitignore
  products/jbrowse-react-linear-genome-view/.storybook/main.js
  products/jbrowse-react-linear-genome-view/.storybook/preview.js
  products/jbrowse-react-linear-genome-view/package.json
  products/jbrowse-react-linear-genome-view/public/volvox-session.json
  products/jbrowse-react-linear-genome-view/scripts/postBuild.js
  products/jbrowse-react-linear-genome-view/scripts/preBuild.js
  products/jbrowse-react-linear-genome-view/stories/DefaultSessions.stories.mdx
  products/jbrowse-react-linear-genome-view/stories/GettingStarted.stories.mdx
  products/jbrowse-react-linear-genome-view/stories/JBrowseLinearGenomeView.stories.tsx
  website/src/pages/index.js
  yarn.lock
Labels: documentation

#1778 Adds navigation between stack of widgets in drawer
  packages/core/ui/App.js
  packages/core/ui/DrawerWidget.js
  products/jbrowse-web/src/__snapshots__/sessionModelFactory.test.js.snap
  products/jbrowse-web/src/sessionModelFactory.ts
  products/jbrowse-web/src/tests/JBrowse.test.js
Labels: enhancement

#1803 Transcript and gene glyphs can now display implied UTRs, active by default
  plugins/svg/src/SvgFeatureRenderer/components/ProcessedTranscript.js
  plugins/svg/src/SvgFeatureRenderer/components/Segments.js
  plugins/svg/src/SvgFeatureRenderer/components/SvgFeatureRendering.test.js
  plugins/svg/src/SvgFeatureRenderer/components/__snapshots__/SvgFeatureRendering.test.js.snap
  plugins/svg/src/SvgFeatureRenderer/components/util.ts
  plugins/svg/src/SvgFeatureRenderer/configSchema.ts
Labels: enhancement

#1819 Standardized sentence casing on drawer widget titles
  plugins/alignments/src/index.ts
  plugins/breakpoint-split-view/src/index.ts
  plugins/config/src/ConfigurationEditorWidget/index.js
  plugins/data-management/src/index.ts
  plugins/linear-genome-view/src/index.ts
  plugins/variants/src/index.ts
Labels: bug

#1816 Remove some animation effects
  packages/core/ui/Drawer.js
  packages/core/ui/Menu.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/TrackEntry.js
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/__snapshots__/HierarchicalTrackSelector.test.js.snap
Labels: enhancement

#1823 Add note about previewing changelog to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: internal

#1815 Clear tracks when using "Return to import form"
  plugins/linear-genome-view/src/LinearGenomeView/index.ts
Labels: bug

#1811 Change usage of window
  packages/core/rpc/BaseRpcDriver.ts
  packages/core/rpc/ElectronRpcDriver.ts
  packages/core/util/calculateStaticBlocks.ts
  packages/core/util/index.ts
  packages/core/util/io/ElectronLocalFile.ts
  packages/core/util/io/ElectronRemoteFile.ts
Labels: bug

#1831 Add dialog for launching breakpoint split view from variant feature details
  plugins/breakpoint-split-view/src/model.ts
  plugins/variants/package.json
  plugins/variants/src/VariantFeatureWidget/BreakendOptionDialog.tsx
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.tsx
Labels: enhancement

#1814 Add ability to get promoter sequence and intron sequence for genes from the feature details panel
  packages/core/BaseFeatureWidget/BaseFeatureDetail.tsx
  packages/core/BaseFeatureWidget/SequenceFeatureDetails.test.js
  packages/core/BaseFeatureWidget/SequenceFeatureDetails.tsx
  packages/core/BaseFeatureWidget/__snapshots__/index.test.js.snap
  packages/core/BaseFeatureWidget/test_data/DLGAP3.json
  packages/core/BaseFeatureWidget/test_data/DLGAP3_dna.fa
  packages/core/BaseFeatureWidget/test_data/DLGAP3_pep.fa
  packages/core/BaseFeatureWidget/test_data/NCDN.json
  packages/core/BaseFeatureWidget/test_data/NCDN_dna.fa
  packages/core/BaseFeatureWidget/test_data/NCDN_upstream_dna.fa
  packages/core/BaseFeatureWidget/types.tsx
  packages/core/package.json
  yarn.lock
Labels: enhancement

#1834 change jbrowse-components monorepo default branch from 'master' to 'main'
  .github/workflows/website.yml
  CONTRIBUTING.md
  README.md
  packages/core/README.md
  packages/core/package.json
  packages/core/util/jexlStrings.ts
  products/jbrowse-cli/README.md
  products/jbrowse-cli/src/commands/create.ts
  products/jbrowse-cli/src/commands/upgrade.ts
  scripts/release.sh
  website/docs/user_guide.md
  website/docusaurus.config.js
Labels: internal

#1824 Add storybook docs page for nextjs usage
  products/jbrowse-react-linear-genome-view/.storybook/preview.js
  products/jbrowse-react-linear-genome-view/README.md
  products/jbrowse-react-linear-genome-view/stories/NextJsUsage.stories.mdx
Labels: documentation

#1846 Improve copy+paste in the data grids for feature details
  packages/core/BaseFeatureWidget/BaseFeatureDetail.tsx
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.tsx
Labels: enhancement

#1842 Change jexl callback helpers for features to use more functions and less transforms
  packages/core/configuration/configurationSlot.test.ts
  packages/core/util/jexl.ts
  packages/core/util/jexlStrings.test.js
  packages/core/util/jexlStrings.ts
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/LinearSNPCoverageDisplay/models/model.ts
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.js.snap
  plugins/filtering/src/LinearFilteringDisplay/model.js
  plugins/linear-genome-view/src/LinearBasicDisplay/configSchema.ts
  plugins/lollipop/src/LollipopRenderer/configSchema.ts
  plugins/svg/src/SvgFeatureRenderer/configSchema.ts
  products/jbrowse-react-linear-genome-view/public/nextstrain_covid.json
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  test_data/config.json
  test_data/config_demo.json
  test_data/config_honeybee.json
  test_data/volvox/config.json
  website/docs/config_guide.md
  website/docs/developer_guide.md
Labels: discuss in meeting

#1856 Update v1.1.0.md
  website/release_announcement_drafts/v1.1.0.md
Labels: needs label triage

#1820 Create v1.1.0.md, draft of release announcements
  website/docs/img/upstream_downstream_details.png
  website/docusaurus.config.js
  website/release_announcement_drafts/v1.1.0.md
Labels: internal

#1860 Fix alignments read filter jexl syntax
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/LinearSNPCoverageDisplay/models/model.ts
Labels: bug
