Repository GMOD/jbrowse-components, pull requests merged in 2021-02, with the labels that each got.

#1652 Support plugins using material-ui/icons >= 4.11.2
  packages/core/ReExports/list.ts
  packages/core/ReExports/modules.ts
Labels: needs label triage

#1592 Website copy edits
  website/docs/config_guide.md
  website/docs/developer_guide.md
  website/docs/faq.md
  website/docs/user_guide.md
  website/src/pages/contact.md
  website/src/pages/features.md
  website/src/pages/gallery.md
  website/src/pages/index.js
Labels: documentation

#1655 Add GFF3Tabix and BEDTabix inference to JB1 connection
  plugins/legacy-jbrowse/src/JBrowse1Connection/jb1ToJb2.ts
Labels: enhancement

#1670 typo in developer guide docs
  website/docs/developer_guide.md
Labels: documentation

#1642 Enable locstring navigation from LGV import form
  plugins/linear-genome-view/src/LinearGenomeView/components/Header.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/ImportForm.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeView.test.js
  plugins/linear-genome-view/src/LinearGenomeView/components/RefNameAutocomplete.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.js.snap
  plugins/linear-genome-view/src/LinearGenomeView/index.ts
Labels: bug, enhancement

#1657 Fix for track using assembly alias not displaying
  packages/core/assemblyManager/assembly.ts
  packages/core/assemblyManager/assemblyManager.ts
  plugins/data-management/package.json
  plugins/data-management/src/HierarchicalTrackSelectorWidget/model.js
  plugins/linear-genome-view/src/BaseLinearDisplay/models/serverSideRenderedBlock.ts
  products/jbrowse-web/src/tests/JBrowse.test.js
Labels: bug

#1679 1674 open track bug alt
  plugins/data-management/src/AddTrackWidget/model.ts
  products/jbrowse-web/src/tests/CircularView.test.js
Labels: bug

#1672 Fix import forms crashing if there are no assemblies
  plugins/circular-view/src/CircularView/components/CircularView.js
  plugins/dotplot-view/src/DotplotView/components/ImportForm.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportForm.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/ImportForm.tsx
  products/jbrowse-web/src/tests/Empty.test.js
  test_data/empty.json
Labels: internal

#1682 Fix parsing of BED and BEDPE files with comment header for spreadsheet view
  plugins/spreadsheet-view/src/SpreadsheetView/importAdapters/BedImport.ts
Labels: bug

#1669 Allow plain json encoding of the session in the URL
  products/jbrowse-web/src/Loader.tsx
Labels: enhancement

#1665 Add Nextstrain COVID storybook
  products/jbrowse-react-linear-genome-view/public/nextstrain_covid.json
  products/jbrowse-react-linear-genome-view/stories/NextstrainGenomeView.stories.tsx
Labels: documentation

#1677 Config guide updates
  website/docs/config_guide.md
Labels: documentation

#1688 Bold insertion indicator for large insertions on pileup track
  plugins/alignments/src/PileupRenderer/PileupRenderer.ts
  test_data/config_demo.json
Labels: enhancement

#1663 Make LGV "initialized" not depend on displayedRegions
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeView.test.js
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeView.tsx
  plugins/linear-genome-view/src/LinearGenomeView/index.ts
  products/jbrowse-react-linear-genome-view/src/createViewState.ts
Labels: internal

#1689 disable menu items for reference sequence track
  products/jbrowse-web/src/sessionModelFactory.ts
  products/jbrowse-web/src/tests/CopyAndDelete.test.js
Labels: bug

#1697 Fix softclipping configuration setting causing bases to be missed
  plugins/alignments/src/PileupRenderer/configSchema.ts
  products/jbrowse-web/src/tests/Alignments.test.js
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-js-alignments-track-opens-the-track-menu-and-enables-soft-clipping-1-snap.png
Labels: needs label triage

#1698 Fix rendering cigar with = sign matches
  plugins/dotplot-view/src/DotplotRenderer/DotplotRenderer.ts
  plugins/linear-comparative-view/src/LinearSyntenyRenderer/components/LinearSyntenyRendering.tsx
Labels: bug

#1694 Add solid border on hierarchical panels to emphasize nested
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/Category.js
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/__snapshots__/HierarchicalTrackSelector.test.js.snap
Labels: enhancement

#1703 Fix LGV navigation after a display region change
  plugins/linear-genome-view/src/LinearGenomeView/components/Header.tsx
Labels: needs label triage

#1710 Fix some bad items sent via analytics
  packages/core/util/analytics.ts
Labels: internal

#1709 Improve sorting and filtering in variant detail widget
  plugins/variants/package.json
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.tsx
  products/jbrowse-desktop/package.json
  products/jbrowse-web/package.json
  yarn.lock
Labels: enhancement

#1714 Fix ability to add a PAF on initial dotplot view creation
  packages/core/ui/FileSelector.tsx
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.js.snap
  plugins/data-management/src/AddTrackWidget/components/AddTrackWidget.tsx
  plugins/data-management/src/AddTrackWidget/components/__snapshots__/AddTrackWidget.test.js.snap
  plugins/dotplot-view/src/DotplotView/components/ImportForm.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportForm.tsx
  products/jbrowse-web/src/tests/Dotplot.test.js
  products/jbrowse-web/src/tests/__image_snapshots__/dotplot-test-js-dotplot-view-open-a-dotplot-view-with-import-form-1-snap.png
Labels: bug

#1713 Add console.error log in block setError
  plugins/linear-genome-view/src/BaseLinearDisplay/models/serverSideRenderedBlock.ts
Labels: internal

#1601 Add ability to color by per-base quality in alignment tracks
  packages/core/util/offscreenCanvasPonyfill.js
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/PileupRenderer/PileupLayoutSession.ts
  plugins/alignments/src/PileupRenderer/PileupRenderer.ts
  plugins/alignments/src/PileupRenderer/util.ts
Labels: enhancement

#1630 Get column names from BED tabix files and other utils for external jbrowse-plugin-gwas support
  plugins/bed/src/BedTabixAdapter/BedTabixAdapter.test.ts
  plugins/bed/src/BedTabixAdapter/BedTabixAdapter.ts
  plugins/bed/src/BedTabixAdapter/__snapshots__/BedTabixAdapter.test.ts.snap
  plugins/bed/src/BedTabixAdapter/configSchema.ts
  plugins/bed/src/BedTabixAdapter/test_data/gwas.bed.gz
  plugins/bed/src/BedTabixAdapter/test_data/gwas.bed.gz.tbi
  plugins/wiggle/src/LinearWiggleDisplay/components/Tooltip.tsx
  plugins/wiggle/src/index.ts
  test_data/config_demo.json
Labels: enhancement

#1680 Add on click functionality to quantitative track features
  plugins/wiggle/src/LinearWiggleDisplay/models/model.ts
  plugins/wiggle/src/WiggleRendering.test.js
  plugins/wiggle/src/WiggleRendering.tsx
  plugins/wiggle/src/__snapshots__/WiggleRendering.test.js.snap
Labels: enhancement

#1695 Improve zoomed-out display of quantitative displays tracks when bicolor pivot is active
  plugins/wiggle/src/LinePlotRenderer/LinePlotRenderer.js
  plugins/wiggle/src/XYPlotRenderer/XYPlotRenderer.ts
  test_data/config_demo.json
Labels: enhancement

#1687 Threshold for indicators on SNPCoverage + inverted bargraph of interbase counts for sub-threshold events
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/LinearSNPCoverageDisplay/models/configSchema.ts
  plugins/alignments/src/LinearSNPCoverageDisplay/models/model.ts
  plugins/alignments/src/SNPCoverageRenderer/SNPCoverageRenderer.test.js
  plugins/alignments/src/SNPCoverageRenderer/SNPCoverageRenderer.ts
  plugins/alignments/src/SNPCoverageRenderer/configSchema.js
  plugins/linear-genome-view/src/BaseLinearDisplay/models/BaseLinearDisplayModel.tsx
  plugins/wiggle/src/LinearWiggleDisplay/models/model.ts
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-js-alignments-track-opens-an-alignments-track-2-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-js-alignments-track-test-snpcoverage-doesnt-count-snpcoverage-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-js-alignments-track-test-snpcoverage-doesnt-count-snpcoverage-2-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/reload-test-js-reload-tests-reloads-alignments-track-bai-404-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/reload-test-js-reload-tests-reloads-alignments-track-cram-404-1-snap.png
  test_data/config_demo.json
Labels: enhancement

#1704 Add "Show all regions in assembly" to import form and make import form show entire region when refName selected
  plugins/linear-genome-view/src/LinearGenomeView/components/ImportForm.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.js.snap
  plugins/linear-genome-view/src/LinearGenomeView/index.ts
Labels: enhancement

#1701 Add clickable navigation links to supplementary alignments/paired ends locations and BND/TRA endpoints in detail widgets
  packages/core/BaseFeatureWidget/BaseFeatureDetail.tsx
  packages/core/BaseFeatureWidget/index.test.js
  packages/core/BaseFeatureWidget/index.ts
  plugins/alignments/src/AlignmentsFeatureDetail/AlignmentsFeatureDetail.tsx
  plugins/alignments/src/AlignmentsFeatureDetail/index.js
  plugins/alignments/src/AlignmentsFeatureDetail/index.test.js
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/index.test.ts
  plugins/alignments/src/index.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView.ts
  plugins/config/src/ConfigurationEditorWidget/components/ConfigurationEditor.test.js
  plugins/gff3/src/Gff3TabixAdapter/Gff3TabixAdapter.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/index.test.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/BaseLinearDisplayModel.tsx
  plugins/linear-genome-view/src/index.ts
  plugins/sv-inspector/src/SvInspectorView/models/SvInspectorView.js
  plugins/variants/src/LinearVariantDisplay/model.ts
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.tsx
  plugins/variants/src/VariantFeatureWidget/index.js
  plugins/variants/src/index.test.js
  plugins/variants/src/index.ts
Labels: enhancement

#1699 Add sequence track for both read and reference genome in the "Linear read vs ref" comparison
  packages/core/assemblyManager/assemblyManager.ts
  packages/core/rpc/coreRpcMethods.ts
  packages/core/util/index.ts
  packages/core/util/tracks.ts
  packages/core/util/types/index.ts
  plugins/config/src/FromConfigAdapter/FromConfigSequenceAdapter.test.ts
  plugins/config/src/FromConfigAdapter/FromConfigSequenceAdapter.ts
  plugins/dotplot-view/src/index.ts
  plugins/linear-comparative-view/src/LinearComparativeView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/model.test.ts
  plugins/linear-comparative-view/src/index.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/ServerSideRenderedBlockContent.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/models/serverSideRenderedBlock.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/SequenceDialog.tsx
  plugins/linear-genome-view/src/LinearGenomeView/index.ts
  plugins/sequence/src/DivSequenceRenderer/components/DivSequenceRendering.tsx
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  products/jbrowse-web/src/__snapshots__/sessionModelFactory.test.js.snap
  products/jbrowse-web/src/jbrowseModel.test.ts
  products/jbrowse-web/src/rootModel.ts
  products/jbrowse-web/src/sessionModelFactory.ts
  test_data/volvox/config.json
Labels: enhancement

#1720 Adjust quality score in mismatch rendering and standardize phred scaling between BAM and CRAM
  plugins/alignments/package.json
  plugins/alignments/src/BamAdapter/BamSlightlyLazyFeature.ts
  plugins/alignments/src/BamAdapter/MismatchParser.ts
  plugins/alignments/src/BamAdapter/__snapshots__/BamAdapter.test.ts.snap
  plugins/alignments/src/CramAdapter/CramSlightlyLazyFeature.ts
  plugins/alignments/src/CramAdapter/__snapshots__/CramAdapter.test.ts.snap
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/PileupRenderer/PileupRenderer.ts
  yarn.lock
Labels: enhancement

#1716 Stringify labels before adding to rendering to avoid undefineds on label.length
  plugins/svg/src/SvgFeatureRenderer/components/SvgFeatureRendering.js
Labels: internal

#1728 Add list of loaded plugins to the "About widget"
  packages/core/PluginManager.ts
  plugins/menus/src/AboutWidget/components/AboutWidget.tsx
  plugins/menus/src/AboutWidget/components/__snapshots__/AboutWidget.test.js.snap
  products/jbrowse-web/src/Loader.tsx
Labels: enhancement

#1719 Fix for navigation past end of chromosome
  plugins/linear-genome-view/src/LinearGenomeView/components/Header.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewScaleBar.tsx
  plugins/linear-genome-view/src/LinearGenomeView/index.ts
Labels: bug

#1721 Manually adjust feature height and spacing on alignments track
  packages/core/pluggableElementTypes/renderers/BoxRendererType.ts
  plugins/alignments/src/LinearPileupDisplay/components/FilterByTag.tsx
  plugins/alignments/src/LinearPileupDisplay/components/SetFeatureHeight.tsx
  plugins/alignments/src/LinearPileupDisplay/components/SortByTag.tsx
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/PileupRenderer/PileupRenderer.ts
  plugins/alignments/src/PileupRenderer/configSchema.ts
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.js.snap
Labels: enhancement

#1738 Fix some long read tracks failing to load blocks (bump @gmod/cram version)
  plugins/alignments/package.json
  yarn.lock
Labels: needs label triage

#1394 Add new menu items for show/hide feature labels, set max height, and set compact display mode
  plugins/alignments/src/LinearPileupDisplay/components/SetMaxHeight.tsx
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/filtering/src/index.ts
  plugins/linear-genome-view/src/LinearFeatureDisplay/components/SetMaxHeight.tsx
  plugins/linear-genome-view/src/LinearFeatureDisplay/configSchema.ts
  plugins/linear-genome-view/src/LinearFeatureDisplay/index.ts
  plugins/linear-genome-view/src/LinearFeatureDisplay/model.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeView.test.js
  plugins/linear-genome-view/src/LinearGenomeView/index.test.ts
  plugins/linear-genome-view/src/index.ts
  plugins/lollipop/src/index.ts
  plugins/svg/package.json
  plugins/svg/src/SvgFeatureRenderer/components/Subfeatures.js
  plugins/svg/src/SvgFeatureRenderer/components/SvgFeatureRendering.js
  plugins/svg/src/SvgFeatureRenderer/components/__snapshots__/SvgFeatureRendering.test.js.snap
  plugins/svg/src/SvgFeatureRenderer/components/util.ts
  plugins/svg/src/SvgFeatureRenderer/configSchema.ts
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  products/jbrowse-web/src/__snapshots__/rootModel.test.js.snap
  test_data/config_demo.json
Labels: enhancement

#1731 Fix alignment track ability to remember the height of the SNPCoverage subtrack on refresh
  plugins/alignments/src/CramAdapter/CramAdapter.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/AlignmentsDisplay.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/models/model.ts
Labels: bug

#1736 Fix CLI add-track --load inPlace to put exact contents into the config, add better CLI example docs
  products/jbrowse-cli/src/commands/add-track.test.ts
  products/jbrowse-cli/src/commands/add-track.ts
Labels: bug, enhancement

#1725 JBrowseR release
  website/blog/2021-02-22-JBrowseR-release.md
  website/src/pages/index.js
Labels: documentation

#1742 Add ability to display crosshatches on the wiggle line/xyplot renderer
  plugins/alignments/src/SNPCoverageRenderer/SNPCoverageRenderer.ts
  plugins/wiggle/src/LinePlotRenderer/LinePlotRenderer.js
  plugins/wiggle/src/LinearWiggleDisplay/components/WiggleDisplayComponent.tsx
  plugins/wiggle/src/LinearWiggleDisplay/models/model.ts
  plugins/wiggle/src/WiggleBaseRenderer.ts
  plugins/wiggle/src/XYPlotRenderer/XYPlotRenderer.test.js
  plugins/wiggle/src/XYPlotRenderer/XYPlotRenderer.ts
  plugins/wiggle/src/configSchema.ts
Labels: enhancement

#1747 Fix the position of the popup menu after rubberband select when there is a margin on the component e.g. in embedded
  plugins/linear-genome-view/src/LinearGenomeView/components/RubberBand.tsx
Labels: bug
