Repository GMOD/jbrowse-components, pull requests merged in 2021-07, with the labels that each got.

#2096 Fix issue with page reload after editing session title
  products/jbrowse-web/src/rootModel.ts
Labels: needs label triage

#2097 Revert to regular map layout
  packages/core/package.json
  packages/core/util/layouts/GranularRectLayout.ts
  packages/core/util/layouts/PrecomputedLayout.ts
  plugins/alignments/src/LinearAlignmentsDisplay/models/model.tsx
  plugins/alignments/src/PileupRenderer/components/PileupRendering.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView.test.tsx
  plugins/breakpoint-split-view/src/model.test.tsx
  plugins/breakpoint-split-view/src/model.ts
  plugins/linear-comparative-view/src/BreakpointSplitRenderer/BreakpointSplitRenderer.ts
  plugins/linear-comparative-view/src/BreakpointSplitRenderer/__image_snapshots__/linear-synteny-renderer-test-ts-test-rendering-a-simple-synteny-from-fake-data-1-snap.png
  plugins/linear-comparative-view/src/BreakpointSplitRenderer/components/BreakpointSplitRendering.tsx
  plugins/linear-comparative-view/src/BreakpointSplitRenderer/configSchema.js
  plugins/linear-comparative-view/src/BreakpointSplitRenderer/index.js
  plugins/linear-comparative-view/src/BreakpointSplitView/index.ts
  plugins/linear-comparative-view/src/BreakpointSplitView/model.ts
  plugins/linear-comparative-view/src/util.ts
  plugins/linear-genome-view/package.json
  plugins/linear-genome-view/src/BaseLinearDisplay/models/BaseLinearDisplayModel.tsx
  plugins/svg/src/SvgFeatureRenderer/components/SvgFeatureRendering.js
  products/jbrowse-web/src/tests/__snapshots__/BreakpointSplitView.test.js.snap
  test_data/volvox/config_main_thread.json
Labels: needs label triage

#1967 Omit configurationSchema snapshot when it matches the default
  packages/core/configuration/configurationSchema.ts
  plugins/alignments/src/__snapshots__/index.test.ts.snap
  plugins/bed/src/__snapshots__/index.test.js.snap
  plugins/config/src/FromConfigAdapter/configSchema.ts
  plugins/config/src/__snapshots__/index.test.js.snap
  plugins/config/src/index.test.js
  plugins/dotplot-view/src/DotplotDisplay/index.ts
  plugins/filtering/src/__snapshots__/index.test.js.snap
  plugins/legacy-jbrowse/src/__snapshots__/index.test.js.snap
  plugins/linear-comparative-view/src/LinearComparativeDisplay/index.ts
  plugins/rdf/src/__snapshots__/index.test.js.snap
  plugins/sequence/src/__snapshots__/index.test.js.snap
  plugins/variants/src/__snapshots__/index.test.js.snap
  plugins/wiggle/src/__snapshots__/index.test.js.snap
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  products/jbrowse-web/src/__snapshots__/rootModel.test.js.snap
  products/jbrowse-web/src/rootModel.test.js
  test_data/config_synteny_grape_peach.json
  test_data/volvox/config.json
Labels: enhancement

#2104 Use ScopedCssBaseline to help style the embedded component
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/JBrowseLinearGenomeView.tsx
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/ModalWidget.tsx
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
Labels: enhancement

#2094 More usage of typography
  packages/core/BaseFeatureWidget/BaseFeatureDetail.tsx
  packages/core/BaseFeatureWidget/__snapshots__/index.test.js.snap
  plugins/alignments/src/AlignmentsFeatureDetail/AlignmentsFeatureDetail.tsx
  plugins/alignments/src/AlignmentsFeatureDetail/__snapshots__/index.test.js.snap
  plugins/dotplot-view/src/ServerSideRenderedBlockContent.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/ServerSideRenderedBlockContent.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewScaleBar.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/ReturnToImportFormDialog.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.js.snap
  plugins/variants/src/VariantFeatureWidget/__snapshots__/VariantFeatureWidget.test.js.snap
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
Labels: enhancement

#2105 Add draft release notes for v1.3.1
  website/release_announcement_drafts/v1.3.1.md
Labels: needs label triage

#2111 Fix "Can't resolve '@jbrowse/plugin-legacy-jbrowse'" in `@jbrowse/react-linear-genome-view`
  products/jbrowse-react-linear-genome-view/src/corePlugins.ts
Labels: bug

#2106 Use more accurate estimator for feature label widths
  packages/core/util/index.ts
  plugins/svg/src/SvgFeatureRenderer/components/FeatureLabel.tsx
  plugins/svg/src/SvgFeatureRenderer/components/SvgFeatureRendering.js
Labels: enhancement

#2100 Improve descriptions on VCF SVs
  plugins/spreadsheet-view/src/SpreadsheetView/importAdapters/__snapshots__/VcfImport.test.ts.snap
  plugins/variants/src/VcfTabixAdapter/VcfFeature.test.ts
  plugins/variants/src/VcfTabixAdapter/VcfFeature.ts
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  test_data/volvox/config.json
  test_data/volvox/volvox.inv.vcf.gz
  test_data/volvox/volvox.inv.vcf.gz.tbi
Labels: enhancement

#2121 Ensure CLI's README is formatted whenever it's updated
  package.json
  products/jbrowse-cli/README.md
  products/jbrowse-cli/package.json
  yarn.lock
Labels: needs label triage

#2119 Fix loading indicator on refnameautocomplete being stuck
  plugins/linear-genome-view/src/LinearGenomeView/components/RefNameAutocomplete.tsx
Labels: bug

#2101 Fixes indicator in refNameautocomplete dropdown disappearing and disables it
  packages/core/TextSearch/TextSearchManager.ts
  plugins/legacy-jbrowse/src/JBrowse1TextSeachAdapter/JBrowse1TextSearchAdapter.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/ImportForm.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/RefNameAutocomplete.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.js.snap
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
Labels: bug

#2115 Use URL instead of name to remove plugins
  plugins/data-management/src/PluginStoreWidget/components/InstalledPlugin.tsx
  plugins/data-management/src/PluginStoreWidget/components/InstalledPluginsList.tsx
  plugins/data-management/src/PluginStoreWidget/components/PluginCard.tsx
  products/jbrowse-desktop/src/Loader.tsx
  products/jbrowse-desktop/src/jbrowseModel.js
  products/jbrowse-web/src/Loader.tsx
  products/jbrowse-web/src/jbrowseModel.js
  products/jbrowse-web/src/sessionModelFactory.ts
Labels: bug

#2133 Upgrade storybook to 6.3.4
  package.json
  yarn.lock
Labels: needs label triage

#2128 Fix using Color by modifications on BAM/CRAM that need ref renaming
  plugins/alignments/src/shared.ts
  test_data/config_demo.json
Labels: bug

#2126 Add plain VCF adapter recognition to guessAdapter
  packages/core/util/tracks.ts
  plugins/variants/src/VcfAdapter/VcfAdapter.ts
  products/jbrowse-cli/src/commands/add-track.ts
Labels: enhancement

#2129 Make renameRegionsIfNeeded use assemblyName defined on regions themselves
  packages/core/util/index.ts
  plugins/alignments/src/shared.ts
  plugins/wiggle/src/LinearWiggleDisplay/models/model.tsx
Labels: housekeeping

#2134 Remove flushLog in rpc.worker for easier debugging
  products/jbrowse-web/src/rpc.worker.ts
Labels: housekeeping

#2131 Fix missing mouseovers in some cases in pileup/svg tracks
  plugins/alignments/src/PileupRenderer/components/PileupRendering.test.js
  plugins/alignments/src/PileupRenderer/components/PileupRendering.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/models/BaseLinearDisplayModel.tsx
  plugins/svg/src/SvgFeatureRenderer/components/SvgFeatureRendering.test.js
  plugins/svg/src/SvgFeatureRenderer/components/SvgOverlay.tsx
Labels: bug

#2141 Update to @material-ui/core@4.12.2
  .gitignore
  packages/core/BaseFeatureWidget/BaseFeatureDetail.tsx
  packages/core/BaseFeatureWidget/__snapshots__/index.test.js.snap
  packages/core/pluggableElementTypes/renderers/ServerSideRendererType.tsx
  packages/core/ui/DrawerWidget.js
  packages/core/ui/DropDownMenu.tsx
  packages/core/ui/ViewContainer.tsx
  packages/core/ui/theme.ts
  packages/core/util/io/ElectronLocalFile.ts
  plugins/alignments/src/AlignmentsFeatureDetail/__snapshots__/index.test.js.snap
  plugins/circular-view/src/CircularView/components/CircularView.js
  plugins/config/src/ConfigurationEditorWidget/components/SlotEditor.js
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.js.snap
  plugins/data-management/src/AddConnectionWidget/components/__snapshots__/AddConnectionWidget.test.js.snap
  plugins/data-management/src/AddTrackWidget/components/__snapshots__/AddTrackWidget.test.js.snap
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/HierarchicalTrackSelector.test.js
  plugins/data-management/src/PluginStoreWidget/components/__snapshots__/PluginStoreWidget.test.js.snap
  plugins/dotplot-view/src/DotplotView/components/ImportForm.tsx
  plugins/linear-comparative-view/src/LinearComparativeView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportForm.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/BaseLinearDisplay.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/Header.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/ImportForm.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewRubberBand.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewScaleBar.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/RubberBand.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackLabel.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.js.snap
  plugins/menus/src/ImportSessionWidget/components/ImportSessionWidget.js
  plugins/variants/src/LinearVariantDisplay/configSchema.ts
  plugins/variants/src/VariantFeatureWidget/__snapshots__/VariantFeatureWidget.test.js.snap
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/ViewContainer.tsx
  products/jbrowse-web/src/ShareButton.tsx
  yarn.lock
Labels: enhancement

#2099 Use rbush data structure for layout to fix mouseovers
  packages/core/pluggableElementTypes/renderers/BoxRendererType.ts
  packages/core/util/layouts/BaseLayout.ts
  packages/core/util/layouts/GranularRectLayout.test.js
  packages/core/util/layouts/GranularRectLayout.ts
  packages/core/util/layouts/PrecomputedLayout.ts
  plugins/alignments/src/PileupRenderer/components/PileupRendering.tsx
  plugins/alignments/src/PileupRenderer/components/__snapshots__/PileupRendering.test.js.snap
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.js.snap
  plugins/svg/src/SvgFeatureRenderer/components/SvgFeatureRendering.js
  plugins/svg/src/SvgFeatureRenderer/components/__snapshots__/SvgFeatureRendering.test.js.snap
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-js-alignments-track-colors-by-tag-updates-object-and-layout-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-js-alignments-track-opens-an-alignments-track-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-js-alignments-track-opens-the-track-menu-and-enables-soft-clipping-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-js-alignments-track-selects-a-color-updates-object-and-layout-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-js-alignments-track-selects-a-sort-updates-object-and-layout-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/reload-test-js-reload-tests-reloads-alignments-track-bam-404-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/reload-test-js-reload-tests-reloads-alignments-track-crai-404-1-snap.png
  products/jbrowse-web/src/tests/__snapshots__/BreakpointSplitView.test.js.snap
Labels: bug

#2152 Remove storybook symlink workaround
  .github/workflows/push.yml
  products/jbrowse-react-linear-genome-view/package.json
  products/jbrowse-react-linear-genome-view/scripts/postBuild.js
  products/jbrowse-react-linear-genome-view/scripts/preBuild.js
Labels: internal

#2157 Fix rendering of negative strand alignment modifications/methylation
  plugins/alignments/src/BamAdapter/MismatchParser.test.ts
  plugins/alignments/src/BamAdapter/MismatchParser.ts
  plugins/alignments/src/PileupRenderer/PileupRenderer.tsx
  plugins/alignments/src/SNPCoverageAdapter/SNPCoverageAdapter.ts
Labels: bug

#2161 Remove outline from clicking on SVG chord tracks
  plugins/circular-view/src/BaseChordDisplay/components/RpcRenderedSvgGroup.js
Labels: bug

#2155 Remove duplicate options from LGV search dropdown and dialog
  plugins/linear-genome-view/src/LinearGenomeView/components/Header.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/ImportForm.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/RefNameAutocomplete.tsx
  plugins/trix/src/TrixTextSearchAdapter/TrixTextSearchAdapter.ts
Labels: bug

#2046 Adding node integration to electron renderer process
  package.json
  packages/__mocks__/electron.ts
  packages/core/rpc/ElectronRpcDriver.ts
  packages/core/rpc/RpcManager.ts
  packages/core/ui/FileSelector.tsx
  packages/core/util/analytics.ts
  packages/core/util/index.ts
  packages/core/util/io/ElectronLocalFile.ts
  packages/core/util/io/ElectronRemoteFile.ts
  packages/core/util/io/LocalFile.ts
  packages/core/util/io/index.ts
  packages/core/util/io/localFile.ts
  packages/core/util/offscreenCanvasPonyfill.js
  products/jbrowse-desktop/.rescriptsrc.js
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/public/electron.js
  products/jbrowse-desktop/public/preload.js
  products/jbrowse-desktop/rescripts/webpackRescript.js
  products/jbrowse-desktop/rescripts/workerLoaderRescript.js
  products/jbrowse-desktop/src/JBrowse.js
  products/jbrowse-desktop/src/JBrowse.test.tsx
  products/jbrowse-desktop/src/Loader.tsx
  products/jbrowse-desktop/src/StartScreen.tsx
  products/jbrowse-desktop/src/declare.d.ts
  products/jbrowse-desktop/src/factoryReset.ts
  products/jbrowse-desktop/src/index.js
  products/jbrowse-desktop/src/rootModel.ts
  products/jbrowse-desktop/src/rpc.worker.ts
  products/jbrowse-desktop/src/worker.ts
  products/jbrowse-desktop/src/workerPolyfill.js
  yarn.lock
Labels: needs label triage

#2127 Add example dataset for COLO829
  test_data/config_demo.json
Labels: enhancement

#2168 Fix mouseover after force load
  plugins/linear-genome-view/src/BaseLinearDisplay/models/BaseLinearDisplayModel.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/models/serverSideRenderedBlock.ts
Labels: needs label triage

#2175 Updates to bookmark widget
  plugins/grid-bookmark/src/GridBookmarkWidget/components/ClearBookmarks.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/DeleteBookmark.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/DownloadBookmarks.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/GridBookmarkWidget.tsx
Labels: needs label triage
