Repository GMOD/jbrowse-components, pull requests merged in 2021-09, with the labels that each got.

#2253 Add note about legacy-peer-deps to readme
  products/jbrowse-react-circular-genome-view/README.md
  products/jbrowse-react-linear-genome-view/README.md
Labels: documentation

#2254 Better error reporting for chrom sizes sequence fetching
  packages/core/package.json
  packages/core/rpc/WebWorkerRpcDriver.ts
  packages/core/rpc/coreRpcMethods.ts
  packages/core/rpc/declaration.d.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/SequenceDialog.tsx
  plugins/sequence/src/ChromSizesAdapter/ChromSizesAdapter.ts
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/src/declare.d.ts
  products/jbrowse-desktop/src/rpc.worker.ts
  products/jbrowse-web/package.json
  products/jbrowse-web/src/declare.d.ts
  products/jbrowse-web/src/rpc.worker.ts
  yarn.lock
Labels: enhancement

#2283 Fix ability for the variant detail panel to create breakpoint split view for <TRA> elements
  plugins/variants/src/VcfTabixAdapter/VcfFeature.ts
Labels: bug

#2247 Proposal for @jbrowse/desktop start screen redesign
  .eslintignore
  packages/core/assemblyManager/assemblyManager.ts
  packages/core/ui/App.js
  packages/core/ui/NewSessionCards.tsx
  packages/core/ui/RecentSessionCard.js
  plugins/data-management/src/AssemblyManager/AssemblyAddForm.tsx
  plugins/data-management/src/AssemblyManager/AssemblyManager.test.tsx
  plugins/data-management/src/AssemblyManager/AssemblyManager.tsx
  plugins/data-management/src/AssemblyManager/AssemblyTable.tsx
  products/jbrowse-desktop/.gitignore
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/public/electron.js
  products/jbrowse-desktop/public/electron.ts
  products/jbrowse-desktop/public/index.html
  products/jbrowse-desktop/src/JBrowse.js
  products/jbrowse-desktop/src/JBrowse.test.tsx
  products/jbrowse-desktop/src/JBrowse.tsx
  products/jbrowse-desktop/src/Loader.tsx
  products/jbrowse-desktop/src/StartScreen.tsx
  products/jbrowse-desktop/src/StartScreen/LauncherPanel.tsx
  products/jbrowse-desktop/src/StartScreen/PreloadedDatasetSelector.tsx
  products/jbrowse-desktop/src/StartScreen/RecentSessionsPanel.tsx
  products/jbrowse-desktop/src/StartScreen/SessionCard.tsx
  products/jbrowse-desktop/src/StartScreen/data/preloadedConfigs.js
  products/jbrowse-desktop/src/StartScreen/dialogs/DeleteSessionDialog.tsx
  products/jbrowse-desktop/src/StartScreen/dialogs/FactoryResetDialog.tsx
  products/jbrowse-desktop/src/StartScreen/dialogs/OpenSequenceDialog.tsx
  products/jbrowse-desktop/src/StartScreen/dialogs/RenameSessionDialog.tsx
  products/jbrowse-desktop/src/StartScreen/index.tsx
  products/jbrowse-desktop/src/StartScreen/util.tsx
  products/jbrowse-desktop/src/rootModel.ts
  products/jbrowse-web/src/AdminComponent.tsx
  products/jbrowse-web/src/JBrowse.js
  products/jbrowse-web/src/Loader.tsx
  products/jbrowse-web/src/StartScreen.tsx
  products/jbrowse-web/src/tests/StartScreen.test.js
Labels: enhancement

#2295 Use encodeURIComponent for trix encoding instead of base64
  plugins/trix/package.json
  plugins/trix/src/TrixTextSearchAdapter/TrixTextSearchAdapter.ts
  products/jbrowse-cli/package.json
  products/jbrowse-cli/src/commands/__snapshots__/text-index.test.ts.snap
  products/jbrowse-cli/src/types/gff3Adapter.ts
  products/jbrowse-cli/src/types/gtfAdapter.ts
  products/jbrowse-cli/src/types/vcfAdapter.ts
  test_data/volvox/trix/volvox.ix
  test_data/volvox/trix/volvox_meta.json
  yarn.lock
Labels: needs label triage

#2294 Improve breakend parsing and don't rely on SVTYPE=BND for displaying breakend split view options
  plugins/breakpoint-split-view/package.json
  plugins/breakpoint-split-view/src/BreakpointSplitView.ts
  plugins/breakpoint-split-view/src/components/AlignmentConnections.tsx
  plugins/breakpoint-split-view/src/components/Breakends.tsx
  plugins/breakpoint-split-view/src/declare.d.ts
  plugins/breakpoint-split-view/src/model.ts
  plugins/config/src/FromConfigAdapter/FromConfigAdapter.ts
  plugins/dotplot-view/src/DotplotRenderer/ComparativeRenderRpc.ts
  plugins/dotplot-view/src/DotplotRenderer/DotplotRenderer.ts
  plugins/dotplot-view/src/DotplotView/model.ts
  plugins/dotplot-view/src/index.ts
  plugins/linear-comparative-view/src/LinearComparativeView/model.ts
  plugins/linear-comparative-view/src/index.tsx
  plugins/spreadsheet-view/package.json
  plugins/spreadsheet-view/src/SpreadsheetView/importAdapters/__snapshots__/VcfImport.test.ts.snap
  plugins/variants/package.json
  plugins/variants/src/StructuralVariantChordRenderer/ReactComponent.js
  plugins/variants/src/StructuralVariantChordRenderer/index.js
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.tsx
  plugins/variants/src/VariantFeatureWidget/__snapshots__/VariantFeatureWidget.test.js.snap
  plugins/variants/src/VcfTabixAdapter/VcfFeature.ts
  yarn.lock
Labels: enhancement

#2287 Faster tooltip method for feature tracks and wiggle tracks with react-popper
  plugins/alignments/src/LinearSNPCoverageDisplay/components/Tooltip.tsx
  plugins/linear-genome-view/package.json
  plugins/linear-genome-view/src/BaseLinearDisplay/components/BaseLinearDisplay.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/models/BaseLinearDisplayModel.tsx
  plugins/wiggle/package.json
  plugins/wiggle/src/LinearWiggleDisplay/components/Tooltip.tsx
  plugins/wiggle/src/index.ts
  yarn.lock
Labels: enhancement

#2290 Updates user guide docs to show searching example
  website/docs/user_guide.md
  website/static/img/searching_lgv.png
Labels: documentation

#2302 make metadata's "dateCreated" more easily parseable and update demos
  products/jbrowse-cli/src/types/common.ts
  products/jbrowse-cli/test/data/config.json
  products/jbrowse-cli/test/data/trix/volvox.ix
  products/jbrowse-cli/test/data/trix/volvox.ixx
  products/jbrowse-cli/test/data/trix/volvox_meta.json
  test_data/volvox/storybook_data/gff3tabix_genes.ix
  test_data/volvox/storybook_data/gff3tabix_genes_meta.json
  test_data/volvox/storybook_data/volvox.ix
  test_data/volvox/storybook_data/volvox_meta.json
  test_data/volvox/trix/volvox_meta.json
  test_data/yeast_synteny/config.json
  test_data/yeast_synteny/trix/R64.ix
  test_data/yeast_synteny/trix/R64.ixx
  test_data/yeast_synteny/trix/R64_meta.json
  test_data/yeast_synteny/trix/YJM1447.ix
  test_data/yeast_synteny/trix/YJM1447.ixx
  test_data/yeast_synteny/trix/YJM1447_meta.json
Labels: enhancement

#2298 Rename assemblies-> assemblyNames
  packages/core/TextSearch/TextSearchManager.ts
  plugins/trix/src/TrixTextSearchAdapter/configSchema.ts
  products/jbrowse-cli/src/base.ts
  products/jbrowse-cli/src/commands/text-index.ts
  products/jbrowse-cli/src/types/common.ts
  products/jbrowse-react-linear-genome-view/stories/GettingStarted.stories.mdx
  products/jbrowse-react-linear-genome-view/stories/JBrowseLinearGenomeView.stories.tsx
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  test_data/config_demo.json
  test_data/volvox/config.json
  test_data/volvox/storybook_data/gff3tabix_genes_meta.json
  test_data/volvox/storybook_data/volvox_meta.json
  test_data/volvox/trix/volvox_meta.json
  test_data/yeast_synteny/config.json
  test_data/yeast_synteny/trix/R64_meta.json
  test_data/yeast_synteny/trix/YJM1447_meta.json
  website/docs/config_guide.md
Labels: needs label triage

#2307 Add context to trix results
  packages/core/TextSearch/BaseResults.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/Header.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/ImportForm.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/RefNameAutocomplete.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.js.snap
  plugins/trix/package.json
  plugins/trix/src/TrixTextSearchAdapter/TrixTextSearchAdapter.ts
  products/jbrowse-cli/src/commands/__snapshots__/text-index.test.ts.snap
  products/jbrowse-cli/src/commands/text-index.test.ts
  products/jbrowse-cli/src/commands/text-index.ts
  products/jbrowse-cli/src/types/gff3Adapter.ts
  products/jbrowse-cli/src/types/gtfAdapter.ts
  products/jbrowse-cli/src/types/vcfAdapter.ts
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
  test_data/volvox/trix/volvox.ix
  test_data/volvox/trix/volvox.ixx
  test_data/volvox/trix/volvox_meta.json
  test_data/volvox/volvox.inv.vcf.gz
  test_data/volvox/volvox.inv.vcf.gz.tbi
  yarn.lock
Labels: enhancement, text searching

#2309 Fix mouseover selection appearing across unrelated blocks
  plugins/alignments/src/LinearAlignmentsDisplay/models/model.tsx
  plugins/alignments/src/PileupRenderer/components/PileupRendering.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView.test.tsx
  plugins/breakpoint-split-view/src/model.test.tsx
  plugins/breakpoint-split-view/src/model.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/BaseLinearDisplayModel.tsx
  plugins/svg/src/SvgFeatureRenderer/components/SvgOverlay.tsx
Labels: bug

#2320 Fix issue where add track widget doesn't infer adapters the second time around
  packages/core/ui/FileSelector.tsx
  plugins/data-management/src/AddTrackWidget/model.ts
Labels: bug

#2300 Release announcement draft v1.4.0
  website/release_announcement_drafts/v1.4.0.md
Labels: documentation

#2325 Fix blogpost url formats
  scripts/release.sh
Labels: needs label triage

#2326 Publish @jbrowse/plugin-trix and add as dependency to @jbrowse/react-linear-genome-view
  plugins/trix/package.json
  products/jbrowse-react-linear-genome-view/package.json
Labels: bug

#2312 draft pr for conceptualizing extension points
  packages/core/PluginManager.ts
  packages/core/pluggableElementTypes/AdapterGuessType.ts
  packages/core/pluggableElementTypes/AdapterType.ts
  packages/core/pluggableElementTypes/index.ts
  packages/core/pluggableElementTypes/models/baseTrackConfig.ts
  packages/core/util/tracks.ts
  plugins/alignments/src/index.ts
  plugins/bed/src/index.ts
  plugins/data-management/src/AddTrackWidget/components/ConfirmTrack.tsx
  plugins/data-management/src/AddTrackWidget/model.ts
  plugins/dotplot-view/src/index.ts
  plugins/gff3/src/index.ts
  plugins/hic/src/index.ts
  plugins/legacy-jbrowse/src/index.ts
  plugins/rdf/src/index.ts
  plugins/sequence/src/index.ts
  plugins/variants/src/index.ts
  plugins/wiggle/src/index.ts
  products/jbrowse-web/src/jbrowseModel.js
Labels: needs label triage

#2321 Add show descriptions toggle box to most feature tracks
  plugins/linear-genome-view/src/LinearBasicDisplay/model.ts
  plugins/svg/src/SvgFeatureRenderer/components/SvgFeatureRendering.js
  plugins/svg/src/SvgFeatureRenderer/configSchema.ts
Labels: enhancement

#2329 Fix bugs preventing embedded circular genome view from rendering in some circumstances
  plugins/variants/src/StructuralVariantChordRenderer/ReactComponent.js
  products/jbrowse-react-circular-genome-view/src/createModel/createSessionModel.ts
Labels: bug

#2328 Use ../ for all doc links and use trailing slash to fix links
  website/docs/bcc2020_plugin_development.md
  website/docs/developer_guide.md
  website/docs/faq.md
  website/docs/quickstart_cli.md
  website/docs/quickstart_gui.md
  website/docs/quickstart_web.md
  website/docs/superquickstart_web.md
  website/docs/user_guide.md
  website/docusaurus.config.json
  website/package.json
  website/yarn.lock
Labels: bug, discuss in meeting, documentation

#2330 Don't sort sequences in FromConfigSequenceAdapter
  plugins/config/src/FromConfigAdapter/FromConfigSequenceAdapter.ts
Labels: needs label triage

#2332 Fix ability to use LocalFile on nodejs-based apps e.g. @jbrowse/img
  package.json
  packages/core/util/io/index.ts
  yarn.lock
Labels: bug

#2324 Remove unused wrapForRpc functionality
  products/jbrowse-web/src/rpc.worker.ts
Labels: internal

#2322 Fix install plugin workflow on desktop
  package.json
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/public/electron.ts
  products/jbrowse-desktop/src/Loader.tsx
  products/jbrowse-desktop/src/StartScreen/data/preloadedConfigs.js
  products/jbrowse-desktop/src/StartScreen/index.tsx
  products/jbrowse-desktop/src/corePlugins.ts
  products/jbrowse-desktop/src/index.js
  products/jbrowse-desktop/src/jbrowseModel.js
  products/jbrowse-desktop/src/rootModel.ts
  yarn.lock
Labels: bug

#2323 Remove session related menu items from jbrowse-desktop
  packages/core/util/types/index.ts
  plugins/menus/src/index.ts
  products/jbrowse-web/package.json
  products/jbrowse-web/src/__snapshots__/rootModel.test.js.snap
  products/jbrowse-web/src/rootModel.ts
Labels: internal

#2258 Update admin-server to accept a configPath
  products/jbrowse-cli/README.md
  products/jbrowse-cli/src/commands/admin-server.test.ts
  products/jbrowse-cli/src/commands/admin-server.ts
  products/jbrowse-web/src/JBrowse.js
Labels: enhancement

#2336 Add jbrowse-img to monorepo
  package.json
  products/jbrowse-img/.babelrc.json
  products/jbrowse-img/.gitignore
  products/jbrowse-img/CHANGELOG.md
  products/jbrowse-img/EXAMPLES.md
  products/jbrowse-img/README.md
  products/jbrowse-img/data/assembly.json
  products/jbrowse-img/data/config.json
  products/jbrowse-img/data/session.json
  products/jbrowse-img/data/skbr3/session.json
  products/jbrowse-img/data/tracks.json
  products/jbrowse-img/data/volvox/config.json
  products/jbrowse-img/data/volvox/volvox-bed12.bed.gz
  products/jbrowse-img/data/volvox/volvox-bed12.bed.gz.tbi
  products/jbrowse-img/data/volvox/volvox-rg.bam
  products/jbrowse-img/data/volvox/volvox-rg.bam.bai
  products/jbrowse-img/data/volvox/volvox-sorted.bam
  products/jbrowse-img/data/volvox/volvox-sorted.bam.bai
  products/jbrowse-img/data/volvox/volvox-sorted.bam.coverage.bw
  products/jbrowse-img/data/volvox/volvox-sorted.cram
  products/jbrowse-img/data/volvox/volvox-sorted.cram.crai
  products/jbrowse-img/data/volvox/volvox.2bit
  products/jbrowse-img/data/volvox/volvox.bb
  products/jbrowse-img/data/volvox/volvox.dup.vcf.gz
  products/jbrowse-img/data/volvox/volvox.dup.vcf.gz.tbi
  products/jbrowse-img/data/volvox/volvox.fa
  products/jbrowse-img/data/volvox/volvox.fa.fai
  products/jbrowse-img/data/volvox/volvox.filtered.vcf.gz
  products/jbrowse-img/data/volvox/volvox.filtered.vcf.gz.tbi
  products/jbrowse-img/data/volvox/volvox.sort.gff3.gz
  products/jbrowse-img/data/volvox/volvox.sort.gff3.gz.tbi
  products/jbrowse-img/img/1.png
  products/jbrowse-img/img/sequence.png
  products/jbrowse-img/img/skbr3_cov.png
  products/jbrowse-img/package.json
  products/jbrowse-img/setup_node_modules.sh
  products/jbrowse-img/src/bin.js
  products/jbrowse-img/src/index.js
  products/jbrowse-img/src/index.testmod.js
  products/jbrowse-img/src/parseArgv.js
  products/jbrowse-img/src/parseArgv.testmod.js
  products/jbrowse-img/src/renderRegion.js
  products/jbrowse-img/src/util.js
  products/jbrowse-img/test/clingen_session.json
  products/jbrowse-img/test/svg_configtracks_local.svg
  products/jbrowse-img/test/svg_configtracks_simple.svg
  products/jbrowse-img/test/svg_from_config_and_session_param.svg
  products/jbrowse-img/test/svg_from_separate_session_and_tracks.svg
  products/jbrowse-img/test/svg_from_volvox_fasta_and_bam.svg
  yarn.lock
Labels: internal

#2348 update assemblies to assemblyNames in JB1 text search adapter
  plugins/legacy-jbrowse/src/JBrowse1TextSeachAdapter/configSchema.ts
  products/jbrowse-web/src/tests/TextSearching.test.js
  test_data/volvox/volvox_jb1_text_config.json
Labels: bug, text searching

#2351 Use main module field instead of browser for electron builds
  packages/core/package.json
  packages/core/util/io/LocalFile.ts
  packages/core/util/io/index.ts
  plugins/alignments/package.json
  plugins/config/package.json
  plugins/dotplot-view/package.json
  plugins/gff3/package.json
  plugins/linear-comparative-view/package.json
  plugins/sequence/package.json
  plugins/variants/package.json
  products/jbrowse-desktop/rescripts/webpackRescript.js
  yarn.lock
Labels: internal

#2352 Better keyboard navigations on text search autocomplete component
  packages/core/TextSearch/BaseResults.test.ts
  packages/core/TextSearch/BaseResults.ts
  plugins/legacy-jbrowse/src/JBrowse1TextSeachAdapter/JBrowse1TextSearchAdapter.test.ts
  plugins/legacy-jbrowse/src/JBrowse1TextSeachAdapter/JBrowse1TextSearchAdapter.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/Header.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/ImportForm.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeView.test.js
  plugins/linear-genome-view/src/LinearGenomeView/components/RefNameAutocomplete.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.js.snap
  plugins/linear-genome-view/src/LinearGenomeView/components/util.ts
  plugins/trix/src/TrixTextSearchAdapter/TrixTextSearchAdapter.test.ts
  plugins/trix/src/TrixTextSearchAdapter/TrixTextSearchAdapter.ts
  products/jbrowse-web/src/tests/BasicLinearGenomeView.test.js
  products/jbrowse-web/src/tests/TextSearching.test.tsx
Labels: bug

#2355 Allow prefix and exact matches jb1 text search
  package.json
  plugins/legacy-jbrowse/package.json
  plugins/legacy-jbrowse/src/JBrowse1TextSeachAdapter/Crc32.test.ts
  plugins/legacy-jbrowse/src/JBrowse1TextSeachAdapter/Crc32.ts
  plugins/legacy-jbrowse/src/JBrowse1TextSeachAdapter/HttpMap.test.ts
  plugins/legacy-jbrowse/src/JBrowse1TextSeachAdapter/HttpMap.ts
  plugins/legacy-jbrowse/src/JBrowse1TextSeachAdapter/JBrowse1TextSearchAdapter.ts
  products/jbrowse-web/src/tests/TextSearching.test.tsx
  yarn.lock
Labels: needs label triage

#2342 Make HTTPBasic dialog use a form
  plugins/authentication/src/HTTPBasicModel/model.tsx
Labels: needs label triage

#2347 Add `http-range-fetcher` back
  packages/core/declare.d.ts
  packages/core/package.json
  packages/core/pluggableElementTypes/models/InternetAccountModel.ts
  packages/core/util/io/RemoteFileWithRangeCache.ts
  packages/core/util/io/index.ts
  plugins/authentication/src/DropboxOAuthModel/model.tsx
  plugins/authentication/src/ExternalTokenModel/model.tsx
  plugins/authentication/src/GoogleDriveOAuthModel/model.tsx
  plugins/authentication/src/HTTPBasicModel/model.tsx
  plugins/authentication/src/OAuthModel/model.tsx
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  products/jbrowse-web/src/tests/Reload.test.js
  test_data/volvox/config.json
  yarn.lock
Labels: needs label triage

#2357 Make file chooser more configurable by internet accounts
  packages/core/pluggableElementTypes/models/InternetAccountModel.ts
  packages/core/ui/FileSelector.tsx
  packages/core/ui/FileSelector/FileSelector.tsx
  packages/core/ui/FileSelector/LocalFileChooser.tsx
  packages/core/ui/FileSelector/UrlChooser.tsx
  packages/core/ui/FileSelector/index.ts
  packages/core/util/types/index.ts
  plugins/authentication/src/DropboxOAuthModel/model.tsx
  plugins/authentication/src/GoogleDriveOAuthModel/model.tsx
  plugins/data-management/src/AddTrackWidget/components/TrackSourceSelect.tsx
  test_data/volvox/config.json
Labels: needs label triage

#2363 Add some typescripting of some jbrowse classes
  packages/core/util/types/index.ts
  products/jbrowse-react-circular-genome-view/src/createModel/createModel.ts
  products/jbrowse-react-linear-genome-view/src/createModel/createModel.ts
  products/jbrowse-web/package.json
  products/jbrowse-web/src/JBrowse.js
  products/jbrowse-web/src/JBrowse.tsx
  products/jbrowse-web/src/ShareButton.tsx
  products/jbrowse-web/src/jbrowseModel.test.ts
  products/jbrowse-web/src/jbrowseModel.ts
  products/jbrowse-web/src/rootModel.ts
Labels: internal

#2368 authenticate files through spreadsheet view ;; skips stat() if it fails
  plugins/spreadsheet-view/src/SpreadsheetView/components/ImportWizard.js
  plugins/spreadsheet-view/src/SpreadsheetView/models/ImportWizard.ts
Labels: needs label triage
