Repository GMOD/jbrowse-components, pull requests merged in 2021-08, with the labels that each got.

#2179 show track only if track is not yet displayed
  plugins/linear-genome-view/src/LinearGenomeView/components/SearchResultsDialog.tsx
  plugins/linear-genome-view/src/LinearGenomeView/index.tsx
Labels: needs label triage

#2159 Catch localStorage setItem fail
  products/jbrowse-web/src/Loader.tsx
Labels: needs label triage

#2151 Hide local file option if the adminKey url param is in place
  packages/core/ui/FileSelector.tsx
Labels: needs label triage

#2162 Create draft for v1.3.3
  website/release_announcement_drafts/v1.3.3.md
Labels: needs label triage

#2140 New core plugin that adds a "bookmarked regions" list widget, new extension points system
  packages/core/PluginManager.ts
  packages/core/pluggableElementTypes/models/BaseViewModel.ts
  packages/core/ui/ViewContainer.tsx
  packages/core/util/types/index.ts
  plugins/breakpoint-split-view/src/model.ts
  plugins/data-management/src/PluginStoreWidget/components/__snapshots__/PluginStoreWidget.test.js.snap
  plugins/dotplot-view/src/DotplotView/model.ts
  plugins/grid-bookmark/.babelrc
  plugins/grid-bookmark/package.json
  plugins/grid-bookmark/src/GridBookmarkWidget/components/AssemblySelector.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/ClearBookmarks.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/DeleteBookmark.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/DownloadBookmarks.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/GridBookmarkWidget.test.js
  plugins/grid-bookmark/src/GridBookmarkWidget/components/GridBookmarkWidget.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/index.js
  plugins/grid-bookmark/src/GridBookmarkWidget/model.ts
  plugins/grid-bookmark/src/GridBookmarkWidget/types.ts
  plugins/grid-bookmark/src/GridBookmarkWidget/utils.ts
  plugins/grid-bookmark/src/__snapshots__/index.test.js.snap
  plugins/grid-bookmark/src/index.test.js
  plugins/grid-bookmark/src/index.ts
  plugins/grid-bookmark/tsconfig.json
  plugins/grid-bookmark/tsdx.config.js
  plugins/linear-comparative-view/src/LinearComparativeView/model.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeView.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/MiniControls.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/RubberBand.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/SequenceDialog.tsx
  plugins/linear-genome-view/src/LinearGenomeView/index.tsx
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/src/corePlugins.ts
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/ViewContainer.tsx
  products/jbrowse-web/package.json
  products/jbrowse-web/src/corePlugins.ts
  products/jbrowse-web/src/tests/BasicLinearGenomeView.test.js
Labels: enhancement

#2154 Add UMD build of react-linear-genome-view for plain-js use
  products/jbrowse-react-linear-genome-view/package.json
  products/jbrowse-react-linear-genome-view/umd_example/GRCh38.aliases.txt
  products/jbrowse-react-linear-genome-view/umd_example/assembly.js
  products/jbrowse-react-linear-genome-view/umd_example/genomeView.js
  products/jbrowse-react-linear-genome-view/umd_example/index.html
  products/jbrowse-react-linear-genome-view/umd_example/tracks.js
  products/jbrowse-react-linear-genome-view/webpack.config.js
Labels: enhancement

#2029 Polish desktop builds
  .github/workflows/desktop_beta.yml
  .github/workflows/desktop_build_linux.yml
  .github/workflows/desktop_build_mac.yml
  .github/workflows/desktop_build_win.yml
  CONTRIBUTING.md
  package.json
  packages/core/package.json
  products/jbrowse-desktop/README.md
  products/jbrowse-desktop/assets/installerIcon.ico
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/scripts/notarize.js
  yarn.lock
Labels: enhancement

#2197 Fix handle leak for killed worker checker
  packages/core/rpc/BaseRpcDriver.ts
Labels: bug

#2198 Add better inversion visualization to read vs reference visualizations
  plugins/alignments/src/AlignmentsFeatureDetail/AlignmentsFeatureDetail.tsx
  plugins/dotplot-view/src/DotplotRenderer/DotplotRenderer.ts
  plugins/dotplot-view/src/index.ts
  plugins/linear-comparative-view/src/index.tsx
  products/jbrowse-web/src/sessionModelFactory.ts
  test_data/config_demo.json
Labels: enhancement

#2204 Hide reads with unmapped flag by default in alignments tracks
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/LinearSNPCoverageDisplay/models/model.ts
Labels: enhancement

#2200 Create custom filter for autocomplete filtering options
  plugins/linear-genome-view/src/LinearGenomeView/components/RefNameAutocomplete.tsx
Labels: needs label triage

#2208 Fix issue where collapsed categories were not remembered after toggling a track
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/HierarchicalTrackSelector.js
  plugins/data-management/src/HierarchicalTrackSelectorWidget/model.js
Labels: bug

#2201 Text Searching Remaining Changes
  packages/core/pluggableElementTypes/models/baseTrackConfig.ts
  products/jbrowse-cli/README.md
  products/jbrowse-cli/src/base.ts
  products/jbrowse-cli/src/commands/__snapshots__/text-index.test.ts.snap
  products/jbrowse-cli/src/commands/text-index.ts
  products/jbrowse-cli/test/data/config.json
  products/jbrowse-cli/test/data/indexing_config.json
  products/jbrowse-cli/test/data/trix/volvox.ix
  products/jbrowse-cli/test/data/trix/volvox.ixx
  products/jbrowse-cli/test/data/trix/volvox.json
  products/jbrowse-cli/test/data/trix/volvox2.json
Labels: needs label triage, text searching

#2213 Adds loading indicator and stops clearing search results when clicking out from import form
  plugins/linear-genome-view/src/LinearGenomeView/components/Header.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/ImportForm.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/RefNameAutocomplete.tsx
Labels: enhancement

#1874 Add aborting to CoreGetFeatures rpcManager call
  packages/core/rpc/coreRpcMethods.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/SequenceDialog.tsx
  plugins/sequence/package.json
  plugins/sequence/src/BgzipFastaAdapter/BgzipFastaAdapter.ts
  plugins/sequence/src/IndexedFastaAdapter/IndexedFastaAdapter.ts
  yarn.lock
Labels: internal

#2203 Add a helpful message if there is a 404 on config.json error
  products/jbrowse-web/src/Loader.tsx
Labels: enhancement

#2202 Fixed a crash when an incompatible adapter is selected for provided data in 'open track'
  packages/core/util/tracks.ts
  plugins/data-management/src/AddTrackWidget/components/AddTrackWidget.test.js
  plugins/data-management/src/AddTrackWidget/components/AddTrackWidget.tsx
  plugins/data-management/src/AddTrackWidget/components/ConfirmTrack.tsx
Labels: bug

#2225 Text indexing check against volvox instance
  products/jbrowse-cli/src/commands/text-index.test.ts
Labels: text searching

#2182 Streamline Gtf
  products/jbrowse-cli/src/commands/text-index.test.ts
  products/jbrowse-cli/src/commands/text-index.ts
  products/jbrowse-cli/src/types/common.ts
  products/jbrowse-cli/src/types/gff3Adapter.ts
  products/jbrowse-cli/src/types/gtfAdapter.ts
  products/jbrowse-cli/test/data/config.json
  products/jbrowse-cli/test/data/demo.gff3
  products/jbrowse-cli/test/data/demo.gtf
  products/jbrowse-cli/test/data/trix/gff3 demo.ix
  products/jbrowse-cli/test/data/trix/gff3 demo.ixx
Labels: needs label triage, text searching

#2224 Update meta data file names and update demo configs
  plugins/trix/src/TrixTextSearchAdapter/TrixTextSearchAdapter.test.ts
  plugins/trix/test_data/meta.json
  plugins/trix/test_data/out.ix
  plugins/trix/test_data/out.ixx
  products/jbrowse-cli/src/commands/text-index.ts
  products/jbrowse-cli/test/data/trix/volvox.ix
  products/jbrowse-cli/test/data/trix/volvox.ixx
  products/jbrowse-cli/test/data/trix/volvox_meta.json
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  test_data/volvox/config.json
  test_data/volvox/trix/volvox2_meta.json
Labels: needs label triage

#2226 Use superRenderProps and superTrackMenuItems for better simulated inheritance model
  packages/core/pluggableElementTypes/models/BaseDisplayModel.tsx
  packages/core/pluggableElementTypes/models/BaseTrackModel.ts
  packages/core/util/tracks.ts
  plugins/alignments/src/LinearAlignmentsDisplay/models/model.tsx
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/LinearSNPCoverageDisplay/models/model.ts
  plugins/circular-view/src/BaseChordDisplay/components/RpcRenderedSvgGroup.js
  plugins/circular-view/src/BaseChordDisplay/models/BaseChordDisplayModel.ts
  plugins/circular-view/src/BaseChordDisplay/models/renderReaction.js
  plugins/dotplot-view/src/DotplotDisplay/index.ts
  plugins/dotplot-view/src/DotplotView/model.ts
  plugins/filtering/src/LinearFilteringDisplay/model.js
  plugins/hic/src/LinearHicDisplay/model.ts
  plugins/linear-comparative-view/src/LinearComparativeDisplay/index.ts
  plugins/linear-comparative-view/src/LinearComparativeView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/index.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/BaseLinearDisplayModel.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/models/serverSideRenderedBlock.ts
  plugins/linear-genome-view/src/LinearBareDisplay/model.ts
  plugins/linear-genome-view/src/LinearBasicDisplay/model.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackLabel.tsx
  plugins/linear-genome-view/src/LinearGenomeView/index.tsx
  plugins/lollipop/src/LinearLollipopDisplay/model.ts
  plugins/sequence/src/LinearReferenceSequenceDisplay/model.ts
  plugins/variants/src/ChordVariantDisplay/models/ChordVariantDisplay.js
  plugins/wiggle/src/LinearWiggleDisplay/models/model.tsx
  products/jbrowse-desktop/src/sessionModelFactory.ts
  products/jbrowse-react-linear-genome-view/src/createModel/createSessionModel.ts
  products/jbrowse-web/src/sessionModelFactory.ts
  website/docs/developer_guide.md
Labels: internal

#2230 Resolves prefix matches found in search results dialog
  plugins/trix/src/TrixTextSearchAdapter/TrixTextSearchAdapter.ts
  products/jbrowse-web/src/tests/BasicLinearGenomeView.test.js
Labels: bug, enhancement

#2231 Export offscreenCanvasUtils
  packages/core/util/index.ts
Labels: internal

#2234 Add rootModel setError on jbrowse-desktop
  products/jbrowse-desktop/src/rootModel.ts
Labels: internal

#2241 Restore previous desktop window location when re-opening
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/public/electron.js
  yarn.lock
Labels: enhancement

#2199 Make the BED parser not interpret general tab delimited data as BED12
  plugins/bed/package.json
  yarn.lock
Labels: enhancement

#2233 Add optional chromSizes config slot to TwoBitAdapter to speed up loading of TwoBit files with many refseqs
  plugins/data-management/src/AssemblyManager/AssemblyAddForm.tsx
  plugins/sequence/src/TwoBitAdapter/TwoBitAdapter.test.ts
  plugins/sequence/src/TwoBitAdapter/TwoBitAdapter.ts
  plugins/sequence/src/TwoBitAdapter/__snapshots__/TwoBitAdapter.test.ts.snap
  plugins/sequence/src/TwoBitAdapter/configSchema.ts
  plugins/sequence/test_data/volvox.chrom.sizes
Labels: enhancement

#2242 Fix bookmark widget crashing on clicking away from cell
  packages/core/package.json
  plugins/grid-bookmark/package.json
  plugins/grid-bookmark/src/GridBookmarkWidget/components/GridBookmarkWidget.tsx
  plugins/variants/package.json
  products/jbrowse-desktop/package.json
  products/jbrowse-web/package.json
  yarn.lock
Labels: needs label triage

#2188 Add assembly.displayName and create AssemblySelector core ui component
  packages/core/assemblyManager/assemblyConfigSchemas.ts
  packages/core/ui/AssemblySelector.tsx
  plugins/data-management/src/AssemblyManager/AssemblyAddForm.tsx
  plugins/data-management/src/AssemblyManager/AssemblyTable.tsx
  plugins/dotplot-view/src/DotplotView/components/ImportForm.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportForm.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/ImportForm.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.js.snap
  plugins/spreadsheet-view/src/SpreadsheetView/components/ImportWizard.js
  plugins/spreadsheet-view/src/SpreadsheetView/models/FilterControls.ts
  plugins/spreadsheet-view/src/SpreadsheetView/models/ImportWizard.ts
  plugins/spreadsheet-view/src/SpreadsheetView/models/Spreadsheet.ts
  plugins/spreadsheet-view/src/SpreadsheetView/models/SpreadsheetView.ts
  plugins/spreadsheet-view/src/SpreadsheetView/models/StaticRowSet.ts
  products/jbrowse-cli/README.md
  products/jbrowse-cli/src/base.ts
  products/jbrowse-cli/src/commands/add-assembly.ts
  products/jbrowse-web/src/tests/Dotplot.test.js
  products/jbrowse-web/src/tests/__image_snapshots__/dotplot-test-js-dotplot-view-open-a-dotplot-view-with-import-form-1-snap.png
  test_data/config.json
Labels: enhancement

#2245 Fix missing regenerator runtime dependency in core
  packages/core/babel.config.js
  packages/core/package.json
  yarn.lock
Labels: bug

#2236 Detect assembly loading error and encapsulate error instead of failing at app level
  config/jest/console.js
  packages/core/assemblyManager/assembly.ts
  packages/core/assemblyManager/assemblyManager.ts
  plugins/circular-view/src/CircularView/components/CircularView.js
  plugins/circular-view/src/CircularView/components/ImportForm.tsx
  plugins/dotplot-view/src/DotplotView/components/Axes.tsx
  plugins/dotplot-view/src/DotplotView/components/DotplotView.tsx
  plugins/dotplot-view/src/DotplotView/components/ImportForm.tsx
  plugins/dotplot-view/src/DotplotView/components/util.ts
  plugins/dotplot-view/src/DotplotView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportForm.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/ImportForm.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeView.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/RefNameAutocomplete.tsx
  plugins/linear-genome-view/src/LinearGenomeView/index.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/index.tsx
  plugins/sequence/src/IndexedFastaAdapter/IndexedFastaAdapter.ts
  plugins/sequence/src/TwoBitAdapter/TwoBitAdapter.ts
  plugins/spreadsheet-view/src/SpreadsheetView/components/ImportWizard.js
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  products/jbrowse-web/src/tests/Empty.test.js
  products/jbrowse-web/src/tests/JBrowse.test.js
  products/jbrowse-web/src/tests/__image_snapshots__/dotplot-test-js-dotplot-view-open-a-dotplot-view-1-snap.png
  test_data/volvox/config.json
Labels: enhancement

#2232 Remove filtering display type from core
  plugins/data-management/src/PluginStoreWidget/components/__snapshots__/PluginStoreWidget.test.js.snap
  plugins/filtering/.babelrc
  plugins/filtering/package.json
  plugins/filtering/src/LinearFilteringDisplay/components/FilterControls.js
  plugins/filtering/src/LinearFilteringDisplay/components/LinearFilteringDisplay.js
  plugins/filtering/src/LinearFilteringDisplay/index.js
  plugins/filtering/src/LinearFilteringDisplay/model.js
  plugins/filtering/src/__snapshots__/index.test.js.snap
  plugins/filtering/src/index.test.js
  plugins/filtering/src/index.ts
  plugins/filtering/tsconfig.json
  plugins/filtering/tsdx.config.js
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/src/corePlugins.ts
  products/jbrowse-web/package.json
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  products/jbrowse-web/src/corePlugins.ts
  test_data/volvox/config.json
Labels: internal

#2229 Use extendPluggableElement for context menu items
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/LinearSNPCoverageDisplay/models/model.ts
  plugins/alignments/src/index.ts
  plugins/dotplot-view/src/index.ts
  plugins/linear-comparative-view/src/index.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/BaseLinearDisplay.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/models/BaseLinearDisplayModel.tsx
  website/docs/developer_guide.md
Labels: enhancement

#2163 Add new embeddable React Circular Genome View
  plugins/circular-view/src/CircularView/models/CircularView.ts
  products/jbrowse-react-circular-genome-view/.gitignore
  products/jbrowse-react-circular-genome-view/.storybook/fsMock.js
  products/jbrowse-react-circular-genome-view/.storybook/main.js
  products/jbrowse-react-circular-genome-view/README.md
  products/jbrowse-react-circular-genome-view/docs/example.md
  products/jbrowse-react-circular-genome-view/docs/img/exampleView.png
  products/jbrowse-react-circular-genome-view/package.json
  products/jbrowse-react-circular-genome-view/public/test_data
  products/jbrowse-react-circular-genome-view/src/JBrowseCircularGenomeView/JBrowseCircularGenomeView.test.tsx
  products/jbrowse-react-circular-genome-view/src/JBrowseCircularGenomeView/JBrowseCircularGenomeView.tsx
  products/jbrowse-react-circular-genome-view/src/JBrowseCircularGenomeView/ModalWidget.tsx
  products/jbrowse-react-circular-genome-view/src/JBrowseCircularGenomeView/ViewContainer.tsx
  products/jbrowse-react-circular-genome-view/src/JBrowseCircularGenomeView/__snapshots__/JBrowseCircularGenomeView.test.tsx.snap
  products/jbrowse-react-circular-genome-view/src/JBrowseCircularGenomeView/index.ts
  products/jbrowse-react-circular-genome-view/src/corePlugins.ts
  products/jbrowse-react-circular-genome-view/src/createModel/createConfigModel.ts
  products/jbrowse-react-circular-genome-view/src/createModel/createModel.ts
  products/jbrowse-react-circular-genome-view/src/createModel/createSessionModel.ts
  products/jbrowse-react-circular-genome-view/src/createModel/index.ts
  products/jbrowse-react-circular-genome-view/src/createViewState.ts
  products/jbrowse-react-circular-genome-view/src/declare.d.ts
  products/jbrowse-react-circular-genome-view/src/index.ts
  products/jbrowse-react-circular-genome-view/src/loadPlugins.ts
  products/jbrowse-react-circular-genome-view/src/types.ts
  products/jbrowse-react-circular-genome-view/stories/JBrowseCircularGenomeView.stories.tsx
  products/jbrowse-react-circular-genome-view/tsconfig.json
  products/jbrowse-react-circular-genome-view/umd_example/assembly.js
  products/jbrowse-react-circular-genome-view/umd_example/genomeView.js
  products/jbrowse-react-circular-genome-view/umd_example/index.html
  products/jbrowse-react-circular-genome-view/umd_example/tracks.js
  products/jbrowse-react-circular-genome-view/webpack.config.js
Labels: enhancement

#2057 Use idMaker for dataAdapterCache key for faster FromConfigAdapter performance
  packages/core/data_adapters/BaseAdapter.ts
  packages/core/data_adapters/dataAdapterCache.ts
  packages/core/util/idMaker.ts
Labels: internal

#2239 Add v1.3.4 release announcement draft
  website/release_announcement_drafts/v1.3.4.md
Labels: needs label triage

#2250 Prevent the ToggleButton for the FileSelector toggling to local file when only URL should be available
  packages/core/ui/FileSelector.tsx
Labels: bug

#2228 creates text searching subconfig and adds per track indexing
  packages/core/TextSearch/TextSearchManager.ts
  packages/core/pluggableElementTypes/models/baseTrackConfig.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/Header.tsx
  plugins/linear-genome-view/src/LinearGenomeView/index.tsx
  products/jbrowse-cli/README.md
  products/jbrowse-cli/src/base.ts
  products/jbrowse-cli/src/commands/text-index.test.ts
  products/jbrowse-cli/src/commands/text-index.ts
  products/jbrowse-cli/src/types/common.ts
  products/jbrowse-cli/test/data/config.json
  products/jbrowse-cli/test/data/demo.gff3
  products/jbrowse-cli/test/data/indexing_config.json
  products/jbrowse-cli/test/data/trix/gff3 demo.ix
  products/jbrowse-cli/test/data/trix/gff3 demo.ixx
  products/jbrowse-cli/test/data/trix/volvox.ix
  products/jbrowse-cli/test/data/trix/volvox.ixx
  products/jbrowse-cli/test/data/trix/volvox_meta.json
  products/jbrowse-react-linear-genome-view/src/corePlugins.ts
  products/jbrowse-react-linear-genome-view/stories/JBrowseLinearGenomeView.stories.tsx
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  test_data/volvox/config.json
  test_data/volvox/meta.json
  test_data/volvox/trix/volvox_meta.json
  test_data/yeast_synteny/trix/R64.ix
  test_data/yeast_synteny/trix/R64.ixx
  test_data/yeast_synteny/trix/R64_meta.json
  test_data/yeast_synteny/trix/YJM1447_meta.json
  website/docs/quickstart_cli.md
  website/docs/superquickstart_web.md
Labels: enhancement, needs label triage

#2243 Import bookmarks functionality for grid bookmark widget
  plugins/grid-bookmark/src/GridBookmarkWidget/components/AssemblySelector.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/ClearBookmarks.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/DeleteBookmark.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/DownloadBookmarks.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/GridBookmarkWidget.test.js
  plugins/grid-bookmark/src/GridBookmarkWidget/components/GridBookmarkWidget.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/ImportBookmarks.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/model.ts
  plugins/grid-bookmark/src/GridBookmarkWidget/utils.ts
Labels: enhancement

#2268 Fix autocomplete height on small displays
  plugins/linear-genome-view/src/LinearGenomeView/components/RefNameAutocomplete.tsx
Labels: bug

#2272 Auto adjust box RefNameAutocomplete width based on refName length
  plugins/linear-genome-view/src/LinearGenomeView/components/ImportForm.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewScaleBar.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/RefNameAutocomplete.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.js.snap
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
  test_data/large.chrom.sizes
Labels: enhancement

#2263 Force publish all packages on release
  scripts/release.sh
Labels: internal
