Repository GMOD/jbrowse-components, pull requests merged in 2021-06, with the labels that each got.

#2050 Configurable app logo for web
  packages/core/ui/App.js
  products/jbrowse-web/src/jbrowseModel.js
  test_data/test_custom_logo.svg
  website/docs/config_guide.md
Labels: enhancement

#2051 Add missing named exports to shared core modules
  packages/core/ReExports/list.ts
  packages/core/ReExports/modules.ts
  packages/core/pluggableElementTypes/renderers/BoxRendererType.ts
Labels: internal

#2056 Fix infinite recursion in FromConfigAdaptor by avoiding mutating the passed in data when using SimpleFeature
  packages/core/util/simpleFeature.ts
  plugins/config/src/FromConfigAdapter/FromConfigAdapter.test.ts
  test_data/volvox/fromconfig_integration_test.json
Labels: bug

#2059 [auth-for-plugin-adjustments] slight adjustments to openLocation changes for plugins
  packages/core/ui/FileSelector.tsx
  packages/core/util/io/index.ts
  packages/core/util/types/mst.ts
Labels: needs label triage

#2053 Add logoPath on jbrowse-desktop to fix crash
  packages/core/ui/App.js
  packages/core/ui/NewSessionCards.tsx
  products/jbrowse-desktop/src/JBrowse.test.tsx
  products/jbrowse-desktop/src/StartScreen.tsx
  products/jbrowse-desktop/src/jbrowseModel.js
  products/jbrowse-web/src/StartScreen.tsx
  products/jbrowse-web/src/tests/StartScreen.test.js
Labels: needs label triage

#2061 Fix issue with using --force error when no track was previously loaded
  products/jbrowse-cli/src/commands/add-track.ts
Labels: needs label triage

#2062 Remove node-sass to avoid some issues installing dev setup with newer node versions
  package.json
  yarn.lock
Labels: needs label triage

#2060 Improve performance with large numbers of reference sequences by using MST volatiles
  packages/core/assemblyManager/assembly.ts
  plugins/circular-view/src/CircularView/components/CircularView.js
  plugins/dotplot-view/src/DotplotView/model.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/Header.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/ImportForm.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/SearchResultsDialog.tsx
  plugins/linear-genome-view/src/LinearGenomeView/index.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/index.tsx
  plugins/sv-inspector/src/SvInspectorView/models/SvInspectorView.js
Labels: enhancement

#2064 Export offscreenCanvasPonyfil from core/util
  packages/core/package.json
  packages/core/util/index.ts
  packages/core/util/offscreenCanvasPonyfill.js
  yarn.lock
Labels: needs label triage

#2067 Better error message if a file location has an empty string
  packages/core/util/io/index.ts
Labels: enhancement

#2070 Remove service worker from jbrowse-web
  products/jbrowse-web/src/index.tsx
  products/jbrowse-web/src/serviceWorker.ts
Labels: internal

#2074 Fix support for opening local files in spreadsheet/SV inspector
  plugins/spreadsheet-view/src/SpreadsheetView/components/ImportWizard.js
  plugins/spreadsheet-view/src/SpreadsheetView/models/ImportWizard.ts
Labels: bug

#2071 Dropdown warnings 2058
  packages/core/TextSearch/TextSearchManager.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/Header.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/ImportForm.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/RefNameAutocomplete.tsx
  products/jbrowse-react-linear-genome-view/package.json
  products/jbrowse-react-linear-genome-view/stories/JBrowseLinearGenomeView.stories.tsx
Labels: bug

#2068 Add non-indexed and plaintext VCF Adapter to variants plugin
  CONTRIBUTING.md
  packages/core/util/tracks.ts
  plugins/variants/package.json
  plugins/variants/src/VcfAdapter/VcfAdapter.test.ts
  plugins/variants/src/VcfAdapter/VcfAdapter.ts
  plugins/variants/src/VcfAdapter/__snapshots__/VcfAdapter.test.ts.snap
  plugins/variants/src/VcfAdapter/configSchema.ts
  plugins/variants/src/VcfAdapter/index.ts
  plugins/variants/src/VcfAdapter/test_data/volvox.filtered.vcf
  plugins/variants/src/declare.d.ts
  plugins/variants/src/index.ts
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  test_data/volvox/config.json
  test_data/volvox/volvox.filtered.vcf
Labels: enhancement

#2078 Restore eslint rule for no-unused-vars
  .eslintrc.base.json
  packages/core/TextSearch/BaseResults.test.ts
  packages/core/TextSearch/TextSearchManager.ts
  packages/core/assemblyManager/assembly.ts
  packages/core/rpc/RpcManager.ts
  packages/core/ui/FileSelector.tsx
  packages/core/util/types/index.ts
  plugins/alignments/src/LinearSNPCoverageDisplay/models/model.ts
  plugins/data-management/src/PluginStoreWidget/components/InstalledPluginsList.tsx
  plugins/dotplot-view/src/PAFAdapter/PAFAdapter.ts
  plugins/legacy-jbrowse/src/JBrowse1Connection/jb1ToJb2.ts
  plugins/linear-comparative-view/src/index.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/ImportForm.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeView.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/RefNameAutocomplete.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/SearchResultsDialog.tsx
  plugins/linear-genome-view/src/LinearGenomeView/index.test.ts
  products/jbrowse-aws-lambda-functions/saved-sessions/jbrowse_analytics.js
  products/jbrowse-desktop/.env
  products/jbrowse-react-linear-genome-view/src/createModel/createSessionModel.ts
  products/jbrowse-react-linear-genome-view/src/deprecations.tsx
  products/jbrowse-web/.env
  products/jbrowse-web/src/Loader.tsx
  products/jbrowse-web/src/rootModel.ts
  products/jbrowse-web/src/sessionModelFactory.test.js
  products/jbrowse-web/src/sessionModelFactory.ts
Labels: internal
