Repository GMOD/jbrowse-components, pull requests merged in 2021-12, with the labels that each got.

#2564 Start looking for parents with parent, not self in findParentThat
  packages/core/util/index.ts
  plugins/menus/src/AboutWidget/components/AboutWidget.test.js
Labels: bug

#2517 Remove aborting on adapter loading process to fix some tracks getting stuck in infinite loading state
  packages/core/assemblyManager/assembly.ts
Labels: bug

#2578 Add layouts code to core re-exports
  packages/core/ReExports/list.ts
  packages/core/ReExports/modules.ts
  packages/core/util/layouts/index.ts
Labels: enhancement

#2577 Fix ability to use --indexFile on VCF/GFF tabix and CRAM files and add plaintext VCF, GFF, GTF support to add-track CLI
  products/jbrowse-cli/src/commands/add-track.test.ts
  products/jbrowse-cli/src/commands/add-track.ts
  products/jbrowse-cli/test/data/simple.bam.csi
  products/jbrowse-cli/test/data/volvox.filtered.vcf
  products/jbrowse-cli/test/data/volvox.sort.gff3.gz.csi
  products/jbrowse-cli/test/data/volvox.sort.gff3.gz.tbi
  products/jbrowse-cli/test/data/volvox.sorted.gtf
  test_data/volvox/volvox.sort.gff3.gz.csi
Labels: bug

#2556 Fix ability to access BigWig tracks on http basic auth for some cases
  plugins/authentication/src/HTTPBasicModel/model.tsx
Labels: bug

#2583 Add fix regarding hts-specs update to Mm tag regarding status skipped bases
  plugins/alignments/src/BamAdapter/MismatchParser.test.ts
  plugins/alignments/src/BamAdapter/MismatchParser.ts
Labels: bug

#2585 Fix ability to use "Color by methylation" on files that require refname renaming
  packages/core/data_adapters/BaseAdapter.ts
  packages/core/pluggableElementTypes/renderers/FeatureRendererType.ts
  packages/core/util/types/index.ts
  plugins/alignments/src/PileupRenderer/PileupRenderer.tsx
  plugins/alignments/src/SNPCoverageAdapter/SNPCoverageAdapter.ts
  plugins/wiggle/src/BigWigAdapter/BigWigAdapter.test.ts
  plugins/wiggle/src/BigWigAdapter/BigWigAdapter.ts
Labels: bug

#2589 Fix occasional failures observed from running text-index command
  products/jbrowse-cli/package.json
  products/jbrowse-cli/src/commands/__snapshots__/text-index.test.ts.snap
  products/jbrowse-cli/src/commands/add-assembly.test.ts
  products/jbrowse-cli/src/commands/add-assembly.ts
  products/jbrowse-cli/src/commands/add-connection.test.ts
  products/jbrowse-cli/src/commands/admin-server.test.ts
  products/jbrowse-cli/src/commands/create.test.ts
  products/jbrowse-cli/src/commands/set-default-session.test.ts
  products/jbrowse-cli/src/commands/text-index.test.ts
  products/jbrowse-cli/src/commands/upgrade.test.ts
  yarn.lock
Labels: bug

#2591 Bump @gmod modules for new esm updates
  packages/core/package.json
  plugins/alignments/package.json
  plugins/alignments/src/HtsgetBamAdapter/HtsgetBamAdapter.ts
  plugins/bed/package.json
  plugins/breakpoint-split-view/package.json
  plugins/config/package.json
  plugins/dotplot-view/package.json
  plugins/gff3/package.json
  plugins/gtf/package.json
  plugins/legacy-jbrowse/package.json
  plugins/linear-comparative-view/package.json
  plugins/sequence/package.json
  plugins/spreadsheet-view/package.json
  plugins/variants/package.json
  plugins/wiggle/package.json
  products/jbrowse-desktop/package.json
  products/jbrowse-web/package.json
  yarn.lock
Labels: needs label triage

#2590 Add more exports that can be used by plugins
  packages/core/pluggableElementTypes/index.ts
  packages/core/util/index.ts
Labels: needs label triage

#2594 Update @gmod/trix to fix infinite loop bug while searching certain strings
  plugins/trix/package.json
  plugins/trix/src/TrixTextSearchAdapter/TrixTextSearchAdapter.ts
  yarn.lock
Labels: bug

#2534 New display type for drawing arcs
  packages/core/util/jexl.ts
  plugins/arc/package.json
  plugins/arc/src/ArcRenderer/ArcRenderer.tsx
  plugins/arc/src/ArcRenderer/ArcRendering.test.tsx
  plugins/arc/src/ArcRenderer/ArcRendering.tsx
  plugins/arc/src/ArcRenderer/__snapshots__/ArcRendering.test.tsx.snap
  plugins/arc/src/ArcRenderer/configSchema.tsx
  plugins/arc/src/ArcRenderer/index.tsx
  plugins/arc/src/LinearArcDisplay/configSchema.tsx
  plugins/arc/src/LinearArcDisplay/index.tsx
  plugins/arc/src/LinearArcDisplay/model.tsx
  plugins/arc/src/declare.d.ts
  plugins/arc/src/index.ts
  plugins/arc/tsconfig.json
  plugins/arc/tsdx.config.js
  plugins/data-management/src/PluginStoreWidget/components/__snapshots__/PluginStoreWidget.test.js.snap
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/src/corePlugins.ts
  products/jbrowse-web/package.json
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  products/jbrowse-web/src/__snapshots__/rootModel.test.js.snap
  products/jbrowse-web/src/corePlugins.ts
  test_data/config_demo.json
  test_data/volvox/config.json
  yarn.lock
Labels: enhancement

#2580 Make core snackbar notifications module with auto-dismissing info/success level notifications
  packages/core/ui/SnackbarModel.ts
  products/jbrowse-desktop/src/sessionModelFactory.ts
  products/jbrowse-react-circular-genome-view/src/createModel/createSessionModel.ts
  products/jbrowse-react-linear-genome-view/src/createModel/createSessionModel.ts
  products/jbrowse-web/src/sessionModelFactory.ts
Labels: enhancement

#2553 Sashimi-style arcs in SNPCoverage display
  plugins/alignments/src/AlignmentsFeatureDetail/index.ts
  plugins/alignments/src/AlignmentsTrack/index.ts
  plugins/alignments/src/BamAdapter/index.ts
  plugins/alignments/src/CramAdapter/index.ts
  plugins/alignments/src/HtsgetBamAdapter/index.ts
  plugins/alignments/src/LinearAlignmentsDisplay/index.ts
  plugins/alignments/src/LinearAlignmentsDisplay/models/configSchema.test.js
  plugins/alignments/src/LinearPileupDisplay/configSchema.test.js
  plugins/alignments/src/LinearPileupDisplay/index.ts
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/LinearSNPCoverageDisplay/components/Tooltip.tsx
  plugins/alignments/src/LinearSNPCoverageDisplay/index.ts
  plugins/alignments/src/LinearSNPCoverageDisplay/models/configSchema.test.js
  plugins/alignments/src/LinearSNPCoverageDisplay/models/model.ts
  plugins/alignments/src/PileupRenderer/index.ts
  plugins/alignments/src/SNPCoverageAdapter/SNPCoverageAdapter.test.ts
  plugins/alignments/src/SNPCoverageAdapter/SNPCoverageAdapter.ts
  plugins/alignments/src/SNPCoverageAdapter/__snapshots__/SNPCoverageAdapter.test.ts.snap
  plugins/alignments/src/SNPCoverageAdapter/index.ts
  plugins/alignments/src/SNPCoverageRenderer/SNPCoverageRenderer.ts
  plugins/alignments/src/SNPCoverageRenderer/configSchema.js
  plugins/alignments/src/SNPCoverageRenderer/index.js
  plugins/alignments/src/SNPCoverageRenderer/index.ts
  plugins/alignments/src/index.ts
  plugins/variants/src/LinearVariantDisplay/configSchema.test.js
  plugins/wiggle/src/BigWigAdapter/BigWigAdapter.ts
  plugins/wiggle/src/LinearWiggleDisplay/components/Tooltip.tsx
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  test_data/volvox/config.json
  test_data/volvox/spliced.bam
  test_data/volvox/spliced.bam.bai
Labels: enhancement

#2579 Add help text and help dialog for the RefNameAutocomplete
  plugins/linear-genome-view/src/LinearGenomeView/components/HelpDialog.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/ImportForm.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/RefNameAutocomplete.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.js.snap
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
Labels: enhancement

#2597 Fix flaky tests related to auth and canvas image snapshots
  packages/core/pluggableElementTypes/models/InternetAccountModel.ts
  packages/core/ui/PrerenderedCanvas.tsx
  plugins/hic/src/HicRenderer/components/HicRendering.test.js
  plugins/hic/src/HicRenderer/components/__snapshots__/HicRendering.test.js.snap
  plugins/wiggle/src/WiggleRendering.tsx
  products/jbrowse-web/src/tests/Alignments.test.js
  products/jbrowse-web/src/tests/Authentication.test.js
  products/jbrowse-web/src/tests/BigWig.test.js
  products/jbrowse-web/src/tests/BreakpointSplitView.test.js
  products/jbrowse-web/src/tests/Dotplot.test.js
  products/jbrowse-web/src/tests/Hic.test.js
  products/jbrowse-web/src/tests/Reload.test.js
  products/jbrowse-web/src/tests/util.js
Labels: internal

#2559 Release announcement draft v1.5.2
  website/release_announcement_drafts/v1.5.2.md
Labels: needs label triage

#2600 Fix broken published build of jbrowse/development-tools
  packages/development-tools/package.json
Labels: bug

#2575 Update some dependencies
  babel.config.js
  package.json
  packages/core/BaseFeatureWidget/SequenceFeatureDetails.tsx
  packages/core/package.json
  packages/development-tools/package.json
  plugins/alignments/src/PileupRenderer/components/PileupRendering.tsx
  plugins/breakpoint-split-view/package.json
  plugins/dotplot-view/package.json
  plugins/gff3/package.json
  plugins/grid-bookmark/src/GridBookmarkWidget/components/GridBookmarkWidget.test.js
  plugins/gtf/package.json
  plugins/linear-comparative-view/package.json
  plugins/linear-genome-view/package.json
  plugins/linear-genome-view/src/BaseLinearDisplay/components/BaseLinearDisplay.tsx
  plugins/svg/src/SvgFeatureRenderer/components/Segments.js
  plugins/variants/package.json
  plugins/wiggle/package.json
  plugins/wiggle/src/LinearWiggleDisplay/components/Tooltip.tsx
  products/jbrowse-cli/README.md
  products/jbrowse-cli/package.json
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/src/index.js
  products/jbrowse-img/package.json
  products/jbrowse-react-circular-genome-view/README.md
  products/jbrowse-react-circular-genome-view/docs/example.md
  products/jbrowse-react-linear-genome-view/README.md
  products/jbrowse-react-linear-genome-view/docs/example.md
  products/jbrowse-web/package.json
  products/jbrowse-web/src/Loader.tsx
  products/jbrowse-web/src/tests/1.Spreadsheet.test.js
  products/jbrowse-web/src/tests/2.SVInspector.test.js
  products/jbrowse-web/src/tests/AdminComponent.test.js
  products/jbrowse-web/src/tests/Alignments.test.js
  products/jbrowse-web/src/tests/Authentication.test.js
  products/jbrowse-web/src/tests/BasicLinearGenomeView.test.js
  products/jbrowse-web/src/tests/BigWig.test.js
  products/jbrowse-web/src/tests/BreakpointSplitView.test.js
  products/jbrowse-web/src/tests/CircularView.test.js
  products/jbrowse-web/src/tests/CopyAndDelete.test.js
  products/jbrowse-web/src/tests/Dotplot.test.js
  products/jbrowse-web/src/tests/Empty.test.js
  products/jbrowse-web/src/tests/Hic.test.js
  products/jbrowse-web/src/tests/JBrowse.test.js
  products/jbrowse-web/src/tests/Reload.test.js
  products/jbrowse-web/src/tests/StartScreen.test.js
  products/jbrowse-web/src/tests/TextSearching.test.tsx
  products/jbrowse-web/src/tests/util.js
  yarn.lock
Labels: dependencies

#2607 Fix wiggle tooltip crash on non-numerical inputs
  plugins/bed/src/BedTabixAdapter/BedTabixAdapter.ts
  plugins/wiggle/src/LinearWiggleDisplay/components/Tooltip.tsx
Labels: bug
