Repository GMOD/jbrowse-components, pull requests merged in 2022-03, with the labels that each got.

#2678 Avoid drawing a errant border line when using trackLabel offset
  plugins/alignments/src/LinearAlignmentsDisplay/components/AlignmentsDisplay.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/models/model.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackContainer.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.js.snap
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
Labels: bug

#2787 Display the total bp viewed in the header of the dotplot view
  packages/core/data_adapters/BaseAdapter.ts
  packages/core/ui/ErrorMessage.tsx
  packages/core/ui/ReturnToImportFormDialog.tsx
  packages/core/ui/index.ts
  packages/core/util/Base1DViewModel.ts
  plugins/dotplot-view/src/DotplotView/components/DotplotView.tsx
  plugins/dotplot-view/src/DotplotView/components/Header.tsx
  plugins/dotplot-view/src/DotplotView/model.ts
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/src/corePlugins.ts
Labels: enhancement

#2784 Improve MCScan adapter compatibility with GFF and update grape vs peach demo MCScan data
  packages/core/data_adapters/BaseAdapter.ts
  plugins/circular-view/src/CircularView/models/CircularView.ts
  plugins/comparative-adapters/package.json
  plugins/comparative-adapters/src/MCScanAnchorsAdapter/MCScanAnchorsAdapter.test.ts
  plugins/comparative-adapters/src/MCScanAnchorsAdapter/MCScanAnchorsAdapter.ts
  plugins/comparative-adapters/src/MCScanAnchorsAdapter/configSchema.ts
  plugins/comparative-adapters/src/MCScanAnchorsAdapter/index.ts
  plugins/comparative-adapters/src/MCScanAnchorsAdapter/test_data/grape.peach.anchors
  plugins/comparative-adapters/src/index.ts
  plugins/linear-comparative-view/src/LinearComparativeDisplay/index.ts
  plugins/linear-comparative-view/src/LinearComparativeView/components/Header.tsx
  plugins/linear-comparative-view/src/LinearComparativeView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/index.ts
  plugins/linear-comparative-view/src/LinearSyntenyRenderer/configSchema.ts
  plugins/linear-comparative-view/src/LinearSyntenyRenderer/index.js
  plugins/linear-comparative-view/src/LinearSyntenyRenderer/index.ts
  plugins/linear-comparative-view/src/MCScanAnchorsAdapter/MCScanAnchorsAdapter.ts
  plugins/linear-comparative-view/src/MCScanAnchorsAdapter/index.js
  plugins/linear-comparative-view/src/MCScanAnchorsAdapter/test_data/grape.peach.anchors
  plugins/linear-comparative-view/src/ReadVsRef.tsx
  plugins/linear-comparative-view/src/SyntenyTrack/index.tsx
  plugins/linear-comparative-view/src/index.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/ReturnToImportFormDialog.tsx
  plugins/linear-genome-view/src/LinearGenomeView/index.tsx
  plugins/sequence/src/ChromSizesAdapter/ChromSizesAdapter.ts
  plugins/spreadsheet-view/src/SpreadsheetView/models/ImportWizard.ts
  plugins/spreadsheet-view/src/SpreadsheetView/models/SpreadsheetView.ts
  products/jbrowse-web/src/tests/__image_snapshots__/dotplot-test-js-open-a-dotplot-view-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/dotplot-test-js-open-a-dotplot-view-with-import-form-1-snap.png
  test_data/config_dotplot.json
  test_data/config_synteny_grape_peach.json
  test_data/grape.peach.anchors.simple
Labels: enhancement

#2782 Fix display of cytobands when horizontally flipped
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewScaleBar.tsx
Labels: bug

#2725 Refactor InternetAccounts, add standard getFetcher
  packages/core/pluggableElementTypes/RpcMethodType.ts
  packages/core/pluggableElementTypes/models/InternetAccountModel.ts
  packages/core/pluggableElementTypes/models/baseInternetAccountConfig.ts
  packages/core/ui/FileSelector/FileSelector.tsx
  packages/core/util/io/index.ts
  packages/core/util/types/index.ts
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/authentication/src/DropboxOAuthModel/configSchema.ts
  plugins/authentication/src/DropboxOAuthModel/model.tsx
  plugins/authentication/src/ExternalTokenModel/ExternalTokenEntryForm.tsx
  plugins/authentication/src/ExternalTokenModel/configSchema.ts
  plugins/authentication/src/ExternalTokenModel/model.tsx
  plugins/authentication/src/GoogleDriveOAuthModel/configSchema.ts
  plugins/authentication/src/GoogleDriveOAuthModel/model.tsx
  plugins/authentication/src/HTTPBasicModel/HTTPBasicLoginForm.tsx
  plugins/authentication/src/HTTPBasicModel/configSchema.ts
  plugins/authentication/src/HTTPBasicModel/model.tsx
  plugins/authentication/src/OAuthModel/configSchema.ts
  plugins/authentication/src/OAuthModel/model.tsx
  plugins/linear-genome-view/src/LinearBasicDisplay/model.ts
  plugins/wiggle/src/LinearWiggleDisplay/models/model.tsx
  products/jbrowse-desktop/src/StartScreen/util.tsx
  products/jbrowse-desktop/src/rootModel.ts
  products/jbrowse-desktop/src/sessionModelFactory.ts
  products/jbrowse-react-circular-genome-view/src/createModel/createSessionModel.ts
  products/jbrowse-react-linear-genome-view/src/createModel/createSessionModel.ts
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  products/jbrowse-web/src/rootModel.ts
  products/jbrowse-web/src/sessionModelFactory.ts
  products/jbrowse-web/src/tests/Authentication.test.js
  test_data/config.json
  test_data/volvox/config.json
Labels: enhancement

#2741 Allow ability to enter a space-separated locstring to open a list of regions
  packages/core/util/__snapshots__/calculateDynamicBlocks.test.ts.snap
  packages/core/util/__snapshots__/calculateStaticBlocks.test.ts.snap
  packages/core/util/index.test.ts
  packages/core/util/index.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.js.snap
  plugins/linear-genome-view/src/LinearGenomeView/index.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/index.tsx
  plugins/linear-genome-view/src/LinearGenomeView/volvoxDisplayedRegions.json
Labels: enhancement

#2793 Add abortcontroller polyfill to jbrowse-img to allow it to run under node 14
  products/jbrowse-img/package.json
  products/jbrowse-img/src/index.js
  yarn.lock
Labels: enhancement

#2797 Fix crash plotting methylation in sparse regions
  plugins/alignments/src/SNPCoverageAdapter/SNPCoverageAdapter.ts
  plugins/alignments/src/SNPCoverageRenderer/SNPCoverageRenderer.ts
  products/jbrowse-web/src/tests/__image_snapshots__/snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/ExportSvg.test.js.snap
Labels: bug

#2798 Fix bug where web worker would sometimes be called before it was ready
  packages/core/rpc/BaseRpcDriver.test.ts
  packages/core/rpc/BaseRpcDriver.ts
  packages/core/rpc/MainThreadRpcDriver.ts
  packages/core/rpc/WebWorkerRpcDriver.ts
  products/jbrowse-desktop/src/rpc.worker.ts
  products/jbrowse-web/src/rpc.worker.ts
Labels: bug

#2799 Exit process after rendering to speed up jb2export
  products/jbrowse-img/src/index.js
  yarn.lock
Labels: enhancement

#2808 Polyfill window.crypto.getRandomValues in tests
  config/jest/crypto.js
  jest.config.js
Labels: internal

#2796 Collapsible accordion sections in configuration editor
  packages/core/BaseFeatureWidget/BaseFeatureDetail.tsx
  packages/core/ui/theme.test.ts
  packages/core/ui/theme.ts
  plugins/config/src/ConfigurationEditorWidget/components/CallbackEditor.js
  plugins/config/src/ConfigurationEditorWidget/components/ConfigurationEditor.js
  plugins/config/src/ConfigurationEditorWidget/components/SlotEditor.js
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.js.snap
Labels: enhancement

#2813 Create codeVerifierPKCE only when needed
  plugins/authentication/src/OAuthModel/model.tsx
Labels: internal

#2804 Add note about additional pre-requisites to README
  README.md
Labels: documentation

#2790 v1.6.6 release announcement
  website/docs/config_guide.md
  website/release_announcement_drafts/v1.6.6.md
Labels: needs label triage

#2819 Fix bug in desktop where first track gets stuck loading
  products/jbrowse-desktop/src/rpc.worker.ts
Labels: bug

#2820 Add optimization for BAM and unzip operations
  plugins/alignments/src/LinearAlignmentsDisplay/models/model.tsx
  plugins/comparative-adapters/package.json
  plugins/dotplot-view/package.json
  plugins/gff3/package.json
  plugins/gtf/package.json
  plugins/spreadsheet-view/package.json
  plugins/variants/package.json
  yarn.lock
Labels: enhancement, performance

#2825 Fix tracklabels positioning not updating in UI after user selection
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackContainer.tsx
Labels: bug

#2775 New SVG gene glyph with directional arrows
  packages/core/configuration/util.ts
  packages/core/util/index.ts
  packages/core/util/simpleFeature.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/components/BaseLinearDisplay.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.js.snap
  plugins/svg/src/SvgFeatureRenderer/components/Arrow.tsx
  plugins/svg/src/SvgFeatureRenderer/components/Box.js
  plugins/svg/src/SvgFeatureRenderer/components/Box.tsx
  plugins/svg/src/SvgFeatureRenderer/components/Chevron.js
  plugins/svg/src/SvgFeatureRenderer/components/FeatureGlyph.js
  plugins/svg/src/SvgFeatureRenderer/components/FeatureGlyph.tsx
  plugins/svg/src/SvgFeatureRenderer/components/ProcessedTranscript.tsx
  plugins/svg/src/SvgFeatureRenderer/components/Segments.js
  plugins/svg/src/SvgFeatureRenderer/components/Segments.tsx
  plugins/svg/src/SvgFeatureRenderer/components/Subfeatures.tsx
  plugins/svg/src/SvgFeatureRenderer/components/SvgFeatureRendering.js
  plugins/svg/src/SvgFeatureRenderer/components/SvgFeatureRendering.tsx
  plugins/svg/src/SvgFeatureRenderer/components/SvgOverlay.tsx
  plugins/svg/src/SvgFeatureRenderer/components/__snapshots__/SvgFeatureRendering.test.js.snap
  plugins/svg/src/SvgFeatureRenderer/components/util.ts
  plugins/svg/src/SvgFeatureRenderer/configSchema.ts
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
Labels: enhancement

#2829 Allow user to specify number of workers
  packages/core/rpc/BaseRpcDriver.test.ts
  packages/core/rpc/BaseRpcDriver.ts
  packages/core/rpc/RpcManager.ts
  packages/core/rpc/configSchema.ts
  products/jbrowse-web/src/Loader.tsx
Labels: bug, enhancement

#2828 Change calculation for number of webworkers for web/desktop
  packages/core/rpc/BaseRpcDriver.ts
Labels: enhancement

#2836 Display low-quality modifications in SNPCoverage renderer for MM tag
  plugins/alignments/src/PileupRenderer/PileupRenderer.tsx
  plugins/alignments/src/SNPCoverageAdapter/SNPCoverageAdapter.ts
  test_data/volvox/MM-chebi-volvox.bam
  test_data/volvox/MM-chebi-volvox.bam.bai
  test_data/volvox/MM-double-volvox.bam
  test_data/volvox/MM-double-volvox.bam.bai
  test_data/volvox/MM-multi-volvox.bam
  test_data/volvox/MM-multi-volvox.bam.bai
  test_data/volvox/MM-orient-volvox.bam
  test_data/volvox/MM-orient-volvox.bam.bai
Labels: enhancement

#2839 Fix the drawing of SNP height when the SNPCoverage track is using log scale
  plugins/alignments/src/SNPCoverageRenderer/SNPCoverageRenderer.ts
  plugins/wiggle/src/LinearWiggleDisplay/components/Tooltip.tsx
Labels: bug

#2835 Hide add track and connection menu items when using embedded component
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/HierarchicalTrackSelector.js
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/__snapshots__/HierarchicalTrackSelector.test.js.snap
Labels: enhancement

#2841 Fix alignments tracks loading excessive data on chromosomes where no features exist
  packages/core/util/index.ts
  plugins/alignments/src/PileupRenderer/PileupRenderer.tsx
  plugins/alignments/src/SNPCoverageAdapter/SNPCoverageAdapter.ts
  plugins/alignments/src/util.ts
Labels: bug

#2843 Update electron 16->17
  package.json
  products/jbrowse-desktop/package.json
  yarn.lock
Labels: dependencies

#2844 Fix layout of small features without labels for SvgFeatureRenderer
  plugins/svg/src/SvgFeatureRenderer/components/FeatureGlyph.tsx
  plugins/svg/src/SvgFeatureRenderer/components/util.ts
Labels: bug

#2849 Avoid drawing intron subfeatures for gene glyphs
  plugins/svg/src/SvgFeatureRenderer/components/Box.tsx
Labels: enhancement

#2847 Add option to color all the letters on all the reads to the pileup renderer
  plugins/alignments/src/LinearPileupDisplay/components/ColorByModifications.tsx
  plugins/alignments/src/LinearPileupDisplay/components/ColorByTag.tsx
  plugins/alignments/src/LinearPileupDisplay/components/FilterByTag.tsx
  plugins/alignments/src/LinearPileupDisplay/components/SetFeatureHeight.tsx
  plugins/alignments/src/LinearPileupDisplay/components/SetMaxHeight.tsx
  plugins/alignments/src/LinearPileupDisplay/components/SortByTag.tsx
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/PileupRenderer/PileupRenderer.tsx
  plugins/linear-genome-view/src/LinearBasicDisplay/components/SetMaxHeight.tsx
Labels: enhancement

#2852 Fix misaligned features under breakpoint split view
  plugins/breakpoint-split-view/src/util.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackContainer.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.js.snap
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/BreakpointSplitView.test.js.snap
Labels: bug

#2830 [update docs] updating information regarding embedded components
  .eslintignore
  CONTRIBUTING.md
  babel.config.js
  demos/jbrowse-react-circular-genome-view/.gitignore
  demos/jbrowse-react-circular-genome-view/README.md
  demos/jbrowse-react-circular-genome-view/package.json
  demos/jbrowse-react-circular-genome-view/public/favicon.ico
  demos/jbrowse-react-circular-genome-view/public/index.html
  demos/jbrowse-react-circular-genome-view/public/logo192.png
  demos/jbrowse-react-circular-genome-view/public/logo512.png
  demos/jbrowse-react-circular-genome-view/public/manifest.json
  demos/jbrowse-react-circular-genome-view/public/robots.txt
  demos/jbrowse-react-circular-genome-view/src/App.test.tsx
  demos/jbrowse-react-circular-genome-view/src/App.tsx
  demos/jbrowse-react-circular-genome-view/src/assembly.ts
  demos/jbrowse-react-circular-genome-view/src/declare.d.ts
  demos/jbrowse-react-circular-genome-view/src/index.css
  demos/jbrowse-react-circular-genome-view/src/index.tsx
  demos/jbrowse-react-circular-genome-view/src/react-app-env.d.ts
  demos/jbrowse-react-circular-genome-view/src/reportWebVitals.ts
  demos/jbrowse-react-circular-genome-view/src/setupTests.ts
  demos/jbrowse-react-circular-genome-view/src/tracks.ts
  demos/jbrowse-react-circular-genome-view/tsconfig.json
  demos/jbrowse-react-circular-genome-view/yarn.lock
  demos/jbrowse-react-linear-genome-view/.gitignore
  demos/jbrowse-react-linear-genome-view/README.md
  demos/jbrowse-react-linear-genome-view/package.json
  demos/jbrowse-react-linear-genome-view/public/favicon.ico
  demos/jbrowse-react-linear-genome-view/public/index.html
  demos/jbrowse-react-linear-genome-view/public/logo192.png
  demos/jbrowse-react-linear-genome-view/public/logo512.png
  demos/jbrowse-react-linear-genome-view/public/manifest.json
  demos/jbrowse-react-linear-genome-view/public/robots.txt
  demos/jbrowse-react-linear-genome-view/src/App.test.tsx
  demos/jbrowse-react-linear-genome-view/src/App.tsx
  demos/jbrowse-react-linear-genome-view/src/assembly.ts
  demos/jbrowse-react-linear-genome-view/src/declare.d.ts
  demos/jbrowse-react-linear-genome-view/src/index.css
  demos/jbrowse-react-linear-genome-view/src/index.tsx
  demos/jbrowse-react-linear-genome-view/src/react-app-env.d.ts
  demos/jbrowse-react-linear-genome-view/src/reportWebVitals.ts
  demos/jbrowse-react-linear-genome-view/src/setupTests.ts
  demos/jbrowse-react-linear-genome-view/src/tracks.ts
  demos/jbrowse-react-linear-genome-view/tsconfig.json
  demos/jbrowse-react-linear-genome-view/yarn.lock
  demos/update_demos.sh
  jest.config.js
  products/jbrowse-react-circular-genome-view/README.md
  products/jbrowse-react-linear-genome-view/README.md
  website/docs/embedded_components.md
  website/src/pages/features.md
Labels: documentation

#2857 refactor and improve types of OffscreenCanvas shim and ponyfill
  package.json
  packages/core/declare.d.ts
  packages/core/ui/PrerenderedCanvas.tsx
  packages/core/util/index.ts
  packages/core/util/offscreenCanvas/Canvas2DContextShim/Canvas2DContextShim.test.ts
  packages/core/util/offscreenCanvas/Canvas2DContextShim/context.ts
  packages/core/util/offscreenCanvas/Canvas2DContextShim/index.tsx
  packages/core/util/offscreenCanvas/Canvas2DContextShim/svg.tsx
  packages/core/util/offscreenCanvas/Canvas2DContextShim/types.ts
  packages/core/util/offscreenCanvas/Canvas2DContextShim/util.ts
  packages/core/util/offscreenCanvas/CanvasShim.ts
  packages/core/util/offscreenCanvas/index.tsx
  packages/core/util/offscreenCanvas/ponyfill.ts
  packages/core/util/offscreenCanvas/types.ts
  packages/core/util/offscreenCanvasPonyfill.js
  packages/core/util/offscreenCanvasPonyfill.jsx
  packages/core/util/offscreenCanvasUtils.tsx
  plugins/alignments/src/SNPCoverageAdapter/SNPCoverageAdapter.ts
  plugins/dotplot-view/src/ServerSideSyntenyRendering.js
  yarn.lock
Labels: internal

#2860 Limit peekTransferables
  packages/core/package.json
  packages/core/util/layouts/BaseLayout.ts
  packages/core/util/layouts/GranularRectLayout.ts
  packages/core/util/layouts/PrecomputedLayout.ts
  packages/core/util/offscreenCanvas/ponyfill.ts
  packages/core/util/offscreenCanvas/types.ts
  plugins/wiggle/src/WiggleBaseRenderer.tsx
  products/jbrowse-desktop/package.json
  products/jbrowse-web/package.json
  yarn.lock
Labels: enhancement
