Repository GMOD/jbrowse-components, pull requests merged in 2022-09, with the labels that each got.

#3165 Use more defaults in rollup plugins
  plugin-development-tools/src/createRollupConfig.ts
Labels: internal

#3162 Add about dialog with version number for embedded components
  products/jbrowse-react-circular-genome-view/output-version.js
  products/jbrowse-react-circular-genome-view/package.json
  products/jbrowse-react-circular-genome-view/src/JBrowseCircularGenomeView/AboutDialog.tsx
  products/jbrowse-react-circular-genome-view/src/JBrowseCircularGenomeView/ViewContainer.tsx
  products/jbrowse-react-circular-genome-view/src/JBrowseCircularGenomeView/__snapshots__/JBrowseCircularGenomeView.test.tsx.snap
  products/jbrowse-react-circular-genome-view/src/createModel/createSessionModel.ts
  products/jbrowse-react-circular-genome-view/src/version.js
  products/jbrowse-react-linear-genome-view/output-version.js
  products/jbrowse-react-linear-genome-view/package.json
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/AboutDialog.tsx
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/ViewContainer.tsx
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
  products/jbrowse-react-linear-genome-view/src/createModel/createSessionModel.ts
  products/jbrowse-react-linear-genome-view/src/version.js
Labels: enhancement

#3170 Fix drawing inverted CIGAR segments on dotplot
  plugins/breakpoint-split-view/src/BreakpointSplitView.ts
  plugins/breakpoint-split-view/src/components/Breakends.tsx
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.tsx.snap
  plugins/data-management/src/AddConnectionWidget/components/__snapshots__/AddConnectionWidget.test.js.snap
  plugins/dotplot-view/src/DotplotRenderer/DotplotRenderer.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.js.snap
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
  products/jbrowse-web/src/tests/1.Spreadsheet.test.tsx
  products/jbrowse-web/src/tests/2.SVInspector.test.tsx
  products/jbrowse-web/src/tests/Alignments.test.tsx
  products/jbrowse-web/src/tests/AlignmentsFeatures.test.tsx
  products/jbrowse-web/src/tests/Authentication.test.tsx
  products/jbrowse-web/src/tests/BigWig.test.tsx
  products/jbrowse-web/src/tests/BookmarkWidget.test.tsx
  products/jbrowse-web/src/tests/BreakpointSplitView.test.tsx
  products/jbrowse-web/src/tests/CircularView.test.tsx
  products/jbrowse-web/src/tests/ConfigurationEditor.test.tsx
  products/jbrowse-web/src/tests/CopyAndDelete.test.tsx
  products/jbrowse-web/src/tests/Dotplot.test.tsx
  products/jbrowse-web/src/tests/Empty.test.tsx
  products/jbrowse-web/src/tests/ErrorConditions.test.tsx
  products/jbrowse-web/src/tests/ExportSvg.test.tsx
  products/jbrowse-web/src/tests/Hic.test.tsx
  products/jbrowse-web/src/tests/ReadVsRef.test.tsx
  products/jbrowse-web/src/tests/Reload.test.tsx
  products/jbrowse-web/src/tests/StartScreen.test.tsx
  products/jbrowse-web/src/tests/StatsEstimation.test.tsx
  products/jbrowse-web/src/tests/TextSearching.test.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/authentication-test-tsx-open-a-bigwig-track-that-needs-oauth-authentication-and-has-existing-token-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/authentication-test-tsx-opens-a-bigwig-track-that-needs-external-token-authentication-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/authentication-test-tsx-opens-a-bigwig-track-that-needs-httpbasic-authentication-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/dotplot-test-tsx-inverted-dotplot-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/read-vs-ref-test-tsx-launch-read-vs-ref-dotplot-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/read-vs-ref-test-tsx-launch-read-vs-ref-panel-1-snap.png
  products/jbrowse-web/src/tests/__snapshots__/BreakpointSplitView.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ExportSvg.test.tsx.snap
  products/jbrowse-web/src/tests/dotplot_inverted_test.json
  products/jbrowse-web/src/tests/util.tsx
  test_data/config_dotplot.json
  test_data/peach_grape_small.paf
  test_data/peach_grape_small.paf.gz
  test_data/peach_grape_small_cigar.paf.gz
  yarn.lock
Labels: bug

#3173 Adds ability for CLI to recognize plaintext BED files
  products/jbrowse-cli/src/commands/add-track.ts
  products/jbrowse-cli/src/types/common.ts
Labels: enhancement

#3176 Revert doc changes
  website/README.md
  website/SCREENSHOTS.md
Labels: needs label triage

#3178 Allow X/Y assemblies of dotplot or top/bottom selection of synteny views to be either query or target
  plugins/comparative-adapters/src/PAFAdapter/PAFAdapter.ts
  plugins/dotplot-view/src/DotplotRenderer/DotplotRenderer.ts
  plugins/dotplot-view/src/DotplotView/components/Grid.tsx
  plugins/linear-comparative-view/src/LinearSyntenyRenderer/LinearSyntenyRenderer.ts
  plugins/linear-comparative-view/src/LinearSyntenyRenderer/components/LinearSyntenyRendering.tsx
  products/jbrowse-web/src/tests/Dotplot.test.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/dotplot-test-tsx-inverted-dotplot-flip-axes-1-snap.png
  products/jbrowse-web/src/tests/dotplot_inverted_flipaxes.json
  products/jbrowse-web/src/tests/util.tsx
Labels: enhancement

#3183 Make pluginManager param to getFetcher optional
  packages/core/util/io/index.ts
Labels: enhancement

#3182 Fix "dead state tree node" error by creating snapshots of parent region for block calculations
  packages/core/util/calculateDynamicBlocks.ts
  packages/core/util/calculateStaticBlocks.ts
Labels: bug

#3179 Add extendSession extension point to web and desktop
  products/jbrowse-desktop/src/sessionModelFactory.ts
  products/jbrowse-web/src/sessionModelFactory.ts
Labels: needs label triage

#3180 Allow selecting session assemblies, improve session adding
  packages/core/assemblyManager/assembly.ts
  packages/core/assemblyManager/assemblyManager.ts
  packages/core/ui/AboutDialog.tsx
  packages/core/util/when.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/model.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeViewSvg.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackLabel.tsx
  products/jbrowse-web/src/sessionModelFactory.ts
Labels: needs label triage

#3187 Add mouseover tooltip descriptions to the header of the VariantFeatureDetails sample/genotype table
  plugins/authentication/src/OAuthModel/model.tsx
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.tsx
  plugins/variants/src/VariantFeatureWidget/VariantSampleGrid.tsx
Labels: enhancement

#3168 Fix search behavior when there are multiple matches in LGV header and when feature description matched in import form
  packages/core/TextSearch/BaseResults.test.ts
  packages/core/TextSearch/BaseResults.ts
  packages/core/assemblyManager/assembly.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/ImportForm.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/RefNameAutocomplete.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/SearchBox.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/SearchResultsDialog.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/util.ts
  products/jbrowse-web/src/tests/1.Spreadsheet.test.tsx
  products/jbrowse-web/src/tests/2.SVInspector.test.tsx
  products/jbrowse-web/src/tests/AdminComponent.test.tsx
  products/jbrowse-web/src/tests/Alignments.test.tsx
  products/jbrowse-web/src/tests/AlignmentsFeatures.test.tsx
  products/jbrowse-web/src/tests/Authentication.test.tsx
  products/jbrowse-web/src/tests/BasicLinearGenomeView.test.tsx
  products/jbrowse-web/src/tests/BigWig.test.tsx
  products/jbrowse-web/src/tests/BookmarkWidget.test.tsx
  products/jbrowse-web/src/tests/BreakpointSplitView.test.tsx
  products/jbrowse-web/src/tests/CircularView.test.tsx
  products/jbrowse-web/src/tests/ConfigurationEditor.test.tsx
  products/jbrowse-web/src/tests/CopyAndDelete.test.tsx
  products/jbrowse-web/src/tests/Dotplot.test.tsx
  products/jbrowse-web/src/tests/DrawerWidget.test.tsx
  products/jbrowse-web/src/tests/ErrorConditions.test.tsx
  products/jbrowse-web/src/tests/ExportSvg.test.tsx
  products/jbrowse-web/src/tests/Hic.test.tsx
  products/jbrowse-web/src/tests/JBrowse.test.tsx
  products/jbrowse-web/src/tests/ReadVsRef.test.tsx
  products/jbrowse-web/src/tests/Reload.test.tsx
  products/jbrowse-web/src/tests/StatsEstimation.test.tsx
  products/jbrowse-web/src/tests/TextSearching.test.tsx
  products/jbrowse-web/src/tests/TextSearchingImportForm.test.tsx
  products/jbrowse-web/src/tests/util.tsx
Labels: bug

#3188 Add 'Open saved session' button to start screen on desktop
  products/jbrowse-desktop/craco.config.js
  products/jbrowse-desktop/src/StartScreen/RecentSessionsPanel.tsx
Labels: enhancement

#3184 v2.1.3 release announcement
  website/release_announcement_drafts/v2.1.3.md
Labels: needs label triage

#3191 Fix the version number reported by embedded components
  products/jbrowse-react-circular-genome-view/package.json
  products/jbrowse-react-circular-genome-view/src/version.js
  products/jbrowse-react-linear-genome-view/package.json
  products/jbrowse-react-linear-genome-view/src/version.js
Labels: bug

#3193 [update docs] add desktop specific plugin tutorial
  website/docs/tutorials/desktop_spec_plugin_tutorial.md
  website/docs/tutorials/develop_web_and_desktop_tutorial.md
  website/sidebars.json
  website/static/img/desktop-spec-final-ex.png
Labels: documentation

#3198 Better error reporting on jbrowse-web start screen when user attempts to open a broken recent session
  products/jbrowse-web/src/RecentSessionCard.tsx
  products/jbrowse-web/src/StartScreen.tsx
Labels: bug

#3204 Fix configuration initialization on the internet accounts models
  products/jbrowse-desktop/src/rootModel.ts
Labels: bug

#3197 Use "temporaryAssemblies" to store read vs ref assemblies, and allow selecting "sessionAssemblies" in dropdown
  packages/core/assemblyManager/assemblyManager.ts
  plugins/dotplot-view/src/DotplotReadVsRef.ts
  plugins/dotplot-view/src/DotplotView/model.ts
  plugins/linear-comparative-view/src/LinearComparativeView/model.ts
  plugins/linear-comparative-view/src/LinearReadVsRef.tsx
  plugins/linear-comparative-view/src/index.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackLabel.tsx
  products/jbrowse-desktop/src/sessionModelFactory.ts
  products/jbrowse-web/src/__snapshots__/sessionModelFactory.test.js.snap
  products/jbrowse-web/src/sessionModelFactory.ts
  products/jbrowse-web/src/tests/dotplot_inverted_flipaxes.json
  products/jbrowse-web/src/tests/dotplot_inverted_test.json
  test_data/yeast_synteny/config.json
Labels: internal

#3216 Configure number of bases to display up/down stream of feature and inside intron for feature details
  packages/core/BaseFeatureWidget/BaseFeatureDetail.tsx
  packages/core/BaseFeatureWidget/SequenceFeatureDetails.test.tsx
  packages/core/BaseFeatureWidget/SequenceFeatureDetails.tsx
  packages/core/BaseFeatureWidget/SequenceFeatureSettingsDialog.tsx
  packages/core/BaseFeatureWidget/test_data/DLGAP3.js
  packages/core/BaseFeatureWidget/test_data/DLGAP3.json
  packages/core/BaseFeatureWidget/test_data/NCDN.js
  packages/core/BaseFeatureWidget/test_data/NCDN.json
  packages/core/BaseFeatureWidget/types.tsx
  packages/core/BaseFeatureWidget/util.tsx
  packages/core/util/index.ts
  packages/core/util/simpleFeature.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/SetColorDialog.tsx
Labels: enhancement

#3214 Fix trackhub registry failing to load in 2.x.y versions of jbrowse
  plugins/trackhub-registry/package.json
  plugins/trackhub-registry/src/trackhub-registry/SelectBox.js
  plugins/trackhub-registry/src/trackhub-registry/TrackHubRegistrySelect.js
Labels: bug

#3207 Hardcoded block width of 800px on static blocks
  component_test/cypress/integration/basic.spec.ts
  packages/core/util/__snapshots__/calculateStaticBlocks.test.ts.snap
  packages/core/util/calculateStaticBlocks.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.js.snap
  plugins/linear-genome-view/src/LinearGenomeView/index.test.ts
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
  products/jbrowse-react-linear-genome-view/stories/JBrowseLinearGenomeView.stories.tsx
Labels: internal

#3215 Add error boundary on view, track, and drawer widget
  packages/core/ui/App.tsx
  packages/core/ui/DrawerWidget.tsx
  plugins/linear-genome-view/package.json
  plugins/linear-genome-view/src/BaseLinearDisplay/models/serverSideRenderedBlock.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeView.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/TracksContainer.tsx
Labels: enhancement

#3217 Fix loading connections from assembly alias and add refactoring/typescripting
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/Header.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/ManageConnectionsDialog.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/ToggleConnectionsDialog.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/model.ts
  plugins/trackhub-registry/src/trackhub-registry/HubDetails.tsx
  plugins/trackhub-registry/src/trackhub-registry/TrackHubRegistrySelect.js
  plugins/trackhub-registry/src/trackhub-registry/TrackHubRegistrySelect.tsx
  plugins/trackhub-registry/src/trackhub-registry/configSchema.ts
  plugins/trackhub-registry/src/trackhub-registry/declare.d.ts
  plugins/trackhub-registry/src/trackhub-registry/index.ts
  plugins/trackhub-registry/src/trackhub-registry/model.js
  plugins/trackhub-registry/src/trackhub-registry/model.ts
  plugins/trackhub-registry/src/trackhub-registry/util.tsx
Labels: bug

#3220 Better error display on SV inspector/spreadsheet view on import form
  plugins/spreadsheet-view/package.json
  plugins/spreadsheet-view/src/SpreadsheetView/components/ColumnFilterControls.tsx
  plugins/spreadsheet-view/src/SpreadsheetView/components/ColumnMenu.tsx
  plugins/spreadsheet-view/src/SpreadsheetView/components/GlobalFilterControls.js
  plugins/spreadsheet-view/src/SpreadsheetView/components/GlobalFilterControls.tsx
  plugins/spreadsheet-view/src/SpreadsheetView/components/ImportWizard.tsx
  plugins/spreadsheet-view/src/SpreadsheetView/components/Spreadsheet.tsx
  plugins/spreadsheet-view/src/SpreadsheetView/components/SpreadsheetView.tsx
  plugins/spreadsheet-view/src/SpreadsheetView/models/ColumnDataTypes/LocEnd.ts
  plugins/spreadsheet-view/src/SpreadsheetView/models/ColumnDataTypes/LocRef.ts
  plugins/spreadsheet-view/src/SpreadsheetView/models/ColumnDataTypes/LocStart.ts
  plugins/spreadsheet-view/src/SpreadsheetView/models/ColumnDataTypes/LocString.tsx
  plugins/spreadsheet-view/src/SpreadsheetView/models/ColumnDataTypes/MakeSpreadsheetColumnType.tsx
  plugins/spreadsheet-view/src/SpreadsheetView/models/ColumnDataTypes/Number.tsx
  plugins/spreadsheet-view/src/SpreadsheetView/models/ColumnDataTypes/Text.tsx
  plugins/spreadsheet-view/src/SpreadsheetView/models/ImportWizard.ts
  plugins/spreadsheet-view/src/SpreadsheetView/models/Spreadsheet.ts
  plugins/spreadsheet-view/src/SpreadsheetView/models/SpreadsheetView.ts
  plugins/sv-inspector/src/SvInspectorView/components/SvInspectorView.tsx
  plugins/sv-inspector/src/SvInspectorView/models/SvInspectorView.ts
Labels: enhancement

#3224 More typescripting of plain js files
  packages/core/pluggableElementTypes/models/BaseConnectionModelFactory.ts
  plugins/alignments/src/SNPCoverageRenderer/configSchema.ts
  plugins/circular-view/src/BaseChordDisplay/components/DisplayError.tsx
  plugins/circular-view/src/BaseChordDisplay/components/RpcRenderedSvgGroup.tsx
  plugins/circular-view/src/CircularView/components/CircularView.tsx
  plugins/circular-view/src/CircularView/components/Ruler.js
  plugins/circular-view/src/CircularView/components/Ruler.tsx
  plugins/circular-view/src/CircularView/models/CircularView.ts
  plugins/circular-view/src/CircularView/models/slices.ts
  plugins/circular-view/src/CircularView/models/viewportVisibleRegion.ts
  plugins/data-management/src/AddConnectionWidget/components/AddConnectionWidget.tsx
  plugins/data-management/src/AddConnectionWidget/components/ConfigureConnection.js
  plugins/data-management/src/AddConnectionWidget/components/ConfigureConnection.tsx
  plugins/data-management/src/AddConnectionWidget/components/ConnectionTypeSelect.tsx
  plugins/data-management/src/AddConnectionWidget/index.ts
  plugins/data-management/src/AddConnectionWidget/model.ts
  plugins/data-management/src/AddTrackWidget/index.ts
  plugins/data-management/src/PluginStoreWidget/index.ts
  plugins/grid-bookmark/src/GridBookmarkWidget/index.ts
  plugins/jobs-management/src/JobsListWidget/index.ts
Labels: internal

#3223 Allow adding session tracks to embedded react component along with disableAddTracks option if unwanted
  packages/core/PluginManager.ts
  packages/core/util/types/index.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/Header.tsx
  plugins/linear-genome-view/src/LinearGenomeView/index.tsx
  plugins/wiggle/src/CreateMultiWiggleExtension/index.ts
  plugins/wiggle/src/index.ts
  products/jbrowse-react-linear-genome-view/src/createModel/createModel.ts
  products/jbrowse-react-linear-genome-view/src/createModel/createSessionModel.ts
  products/jbrowse-react-linear-genome-view/src/createViewState.ts
  products/jbrowse-react-linear-genome-view/stories/GettingStarted.stories.mdx
  products/jbrowse-react-linear-genome-view/stories/JBrowseLinearGenomeView.stories.tsx
Labels: enhancement

#3228 Improve TypeScript for queueDialog
  packages/core/util/types/index.ts
  plugins/alignments/src/LinearPileupDisplay/components/SetFeatureHeight.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/ExportSvgDialog.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/SequenceSearchDialog.tsx
  plugins/linear-genome-view/src/LinearGenomeView/index.tsx
  plugins/wiggle/src/CreateMultiWiggleExtension/index.ts
  plugins/wiggle/src/LinearWiggleDisplay/models/model.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/SetColorDialog.tsx
Labels: internal

#3231 Use provided theme in overrides, update TS types
  packages/core/ui/theme.test.ts
  packages/core/ui/theme.ts
Labels: bug

#3229 Allow user to select local assembly to add tracks to for trackhub registry
  plugins/config/src/ConfigurationEditorWidget/components/ConfigurationEditor.tsx
  plugins/data-management/src/AddConnectionWidget/components/AddConnectionWidget.tsx
  plugins/data-management/src/AddConnectionWidget/components/ConfigureConnection.tsx
  plugins/trackhub-registry/src/trackhub-registry/TrackHubRegistrySelect.tsx
Labels: enhancement

#3233 Fix legend being cutoff on multiwiggle tracks with wide window
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/WiggleDisplayComponent.tsx
Labels: bug

#3234 Fix circular embedded view failing to load in v2.1.3 and v2.1.4
  products/jbrowse-react-circular-genome-view/src/JBrowseCircularGenomeView/ViewContainer.tsx
  products/jbrowse-react-circular-genome-view/src/JBrowseCircularGenomeView/__snapshots__/JBrowseCircularGenomeView.test.tsx.snap
Labels: bug

#3200 Use Alert component for track messages
  plugins/linear-genome-view/src/BaseLinearDisplay/components/BlockMsg.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/ServerSideRenderedBlockContent.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/models/BaseLinearDisplayModel.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/models/TooLargeMessage.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.js.snap
  products/jbrowse-web/src/tests/ErrorConditions.test.tsx
  products/jbrowse-web/src/tests/StatsEstimation.test.tsx
Labels: enhancement
