Repository GMOD/jbrowse-components, pull requests merged in 2022-06, with the labels that each got.

#2968 Add FASTA header location to BgzipFastaAdapter and IndexFastaAdapter configuration
  plugins/sequence/src/BgzipFastaAdapter/configSchema.ts
  plugins/sequence/src/IndexedFastaAdapter/IndexedFastaAdapter.ts
  plugins/sequence/src/IndexedFastaAdapter/configSchema.ts
  test_data/config.json
  test_data/wgbs/config.json
  website/docs/config_guide.md
Labels: needs label triage

#2983 Set target=_blank by default in user HTML links
  .github/workflows/push.yml
  packages/core/ui/SanitizedHTML.tsx
  website/package.json
  website/yarn.lock
Labels: enhancement

#2483 Mean query score per alignment for dotplot
  packages/core/pluggableElementTypes/renderers/ComparativeServerSideRendererType.ts
  plugins/comparative-adapters/src/PAFAdapter/PAFAdapter.ts
  plugins/config/src/ConfigurationEditorWidget/components/CodeEditor.js
  plugins/config/src/ConfigurationEditorWidget/components/SlotEditor.js
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.js.snap
  plugins/dotplot-view/src/DotplotRenderer/DotplotRenderer.ts
  plugins/dotplot-view/src/DotplotRenderer/configSchema.ts
Labels: enhancement

#2989 Fix bezierCurveTo ponyfill on firefox
  packages/core/util/offscreenCanvas/Canvas2DContextShim/context.ts
  packages/core/util/offscreenCanvas/Canvas2DContextShim/types.ts
Labels: bug

#2994 Allow choosing filename svg export
  plugins/linear-genome-view/src/LinearGenomeView/components/ExportSvgDialog.tsx
  plugins/linear-genome-view/src/LinearGenomeView/index.tsx
Labels: enhancement

#2991 Use canvas2svg for SVG export, fixes non-rasterized usage of bezier, arcs, and more
  packages/core/package.json
  packages/core/pluggableElementTypes/renderers/ServerSideRendererType.tsx
  packages/core/pluggableElementTypes/renderers/declare.d.ts
  packages/core/util/declare.d.ts
  packages/core/util/offscreenCanvas/Canvas2DContextShim/Canvas2DContextShim.test.ts
  packages/core/util/offscreenCanvas/Canvas2DContextShim/context.ts
  packages/core/util/offscreenCanvas/Canvas2DContextShim/index.tsx
  packages/core/util/offscreenCanvas/Canvas2DContextShim/svg.tsx
  packages/core/util/offscreenCanvas/Canvas2DContextShim/types.ts
  packages/core/util/offscreenCanvas/Canvas2DContextShim/util.ts
  packages/core/util/offscreenCanvas/CanvasShim.ts
  packages/core/util/offscreenCanvas/index.tsx
  packages/core/util/offscreenCanvas/types.ts
  packages/core/util/offscreenCanvasPonyfill.jsx
  packages/core/util/offscreenCanvasPonyfill.tsx
  packages/core/util/offscreenCanvasUtils.tsx
  plugins/alignments/src/PileupRenderer/PileupRenderer.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/models/BaseLinearDisplayModel.tsx
  products/jbrowse-web/src/tests/BasicLinearGenomeView.test.js
  products/jbrowse-web/src/tests/DrawerWidget.test.js
  products/jbrowse-web/src/tests/ExportSvg.test.js
  products/jbrowse-web/src/tests/JBrowse.test.js
  products/jbrowse-web/src/tests/__image_snapshots__/snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/ExportSvg.test.js.snap
  yarn.lock
Labels: enhancement

#3000 Add reference base and correct percentage calculations to tooltip on SNPCoverage display
  plugins/alignments/src/BamAdapter/MismatchParser.ts
  plugins/alignments/src/LinearSNPCoverageDisplay/components/Tooltip.tsx
  plugins/alignments/src/SNPCoverageAdapter/SNPCoverageAdapter.ts
Labels: enhancement

#2999 Generate clickable links to track data in about track dialog
  packages/core/BaseFeatureWidget/BaseFeatureDetail.tsx
  yarn.lock
Labels: enhancement

#3007 Fix read vs ref dotplot view
  packages/core/assemblyManager/assemblyManager.ts
  products/jbrowse-web/src/tests/ReadVsRef.test.js
  products/jbrowse-web/src/tests/__image_snapshots__/read-vs-ref-test-js-launch-read-vs-ref-dotplot-1-snap.png
Labels: bug

#2998 Avoid rendering offscreen contents in pileup renderer
  plugins/alignments/src/PileupRenderer/PileupRenderer.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/ExportSvg.test.js.snap
Labels: enhancement

#3009 Add jsdom to jbrowse-img to fix --noRasterize option
  package.json
  products/jbrowse-img/package.json
  products/jbrowse-img/src/index.js
  products/jbrowse-img/src/index.testmod.js
  products/jbrowse-img/test/svg_configtracks_local.svg
  products/jbrowse-img/test/svg_from_volvox_fasta_and_bam.svg
  products/jbrowse-img/test/svg_from_volvox_fasta_and_bam_norasterize.svg
  yarn.lock
Labels: bug

#3006 Add string array configuration slot UI improvements
  plugins/config/src/ConfigurationEditorWidget/components/SlotEditor.js
  plugins/config/src/ConfigurationEditorWidget/components/StringArrayEditor.tsx
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.js.snap
  plugins/config/src/ConfigurationEditorWidget/index.js
  plugins/data-management/src/AddConnectionWidget/components/AddConnectionWidget.test.js
Labels: enhancement

#3012 Small fix to rankSearchResults logic
  plugins/linear-genome-view/src/LinearGenomeView/index.tsx
Labels: bug

#3016 Allow whitespace separated refname,start,end type locstring
  plugins/linear-genome-view/src/LinearGenomeView/components/HelpDialog.tsx
  plugins/linear-genome-view/src/LinearGenomeView/index.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/index.tsx
Labels: enhancement

#3005 Use cascading menu helper library for track menu to avoid menu going offscreen
  packages/__mocks__/@jbrowse/core/ui/CascadingMenu.js
  packages/core/package.json
  packages/core/ui/CascadingMenu.tsx
  packages/core/ui/Menu.tsx
  packages/core/ui/index.ts
  plugins/linear-genome-view/package.json
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackLabel.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.js.snap
  plugins/wiggle/src/LinearWiggleDisplay/models/model.tsx
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
  products/jbrowse-web/src/tests/AlignmentsFeatures.test.js
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-features-test-js-colors-by-tag-color-by-tag-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-features-test-js-opens-the-track-menu-and-enables-soft-clipping-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-features-test-js-selects-a-color-color-by-strand-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-features-test-js-selects-a-sort-sort-by-strand-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-js-opens-an-alignments-track-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-js-test-snpcoverage-doesnt-count-snpcoverage-2-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/stats-estimation-test-js-test-stats-estimation-pileup-zoom-in-to-see-1-snap.png
  yarn.lock
Labels: enhancement

#3021 Fix mouseover display of read name to alignments track
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/components/BaseLinearDisplay.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/Tooltip.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/models/BaseLinearDisplayModel.tsx
Labels: bug

#3020 Allow choosing trackId when using text-index with --file with --fileId
  products/jbrowse-cli/README.md
  products/jbrowse-cli/src/commands/text-index.ts
Labels: enhancement

#3003 Add ability to run field formatters on the feature details panel
  packages/core/BaseFeatureWidget/BaseFeatureDetail.tsx
  packages/core/BaseFeatureWidget/index.ts
  packages/core/package.json
  packages/core/pluggableElementTypes/models/baseTrackConfig.ts
  packages/core/util/jexl.ts
  plugins/alignments/src/AlignmentsFeatureDetail/index.ts
  plugins/breakpoint-split-view/src/components/Breakends.tsx
  plugins/data-management/src/AddTrackWidget/index.test.jsx
  plugins/linear-genome-view/src/BaseLinearDisplay/models/BaseLinearDisplayModel.tsx
  plugins/variants/src/VariantFeatureWidget/index.js
  plugins/variants/src/VariantFeatureWidget/index.ts
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  test_data/config_demo.json
  test_data/volvox/config.json
  website/docs/config_guide.md
Labels: enhancement

#3023 Add error handling in case of invalid oAuth2 configuration used.
  plugins/authentication/src/OAuthModel/model.tsx
Labels: enhancement

#2990 Updating bp displayed to have units and truncate the digits where relevant and adding an option to hide the "add tracks" button that appears on the empty track when no tracks are visible
  packages/core/util/index.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/Header.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeView.test.js
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeView.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewScaleBar.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/ScaleBar.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.js.snap
  plugins/linear-genome-view/src/LinearGenomeView/index.tsx
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
Labels: enhancement

#2975 Add session spec for synteny views
  plugins/linear-comparative-view/src/LaunchLinearSyntenyView.ts
  plugins/linear-comparative-view/src/LinearComparativeView/model.ts
  plugins/linear-comparative-view/src/index.tsx
  products/jbrowse-react-circular-genome-view/.storybook/main.js
  products/jbrowse-react-circular-genome-view/src/JBrowseCircularGenomeView/ViewContainer.tsx
  products/jbrowse-web/src/SessionLoader.ts
  yarn.lock
Labels: enhancement

#2981 Add spreadsheet spec
  packages/core/util/types/index.ts
  plugins/linear-comparative-view/src/LaunchLinearSyntenyView.ts
  plugins/linear-comparative-view/src/LinearComparativeView/model.ts
  plugins/linear-genome-view/src/index.ts
  plugins/spreadsheet-view/src/index.ts
  plugins/sv-inspector/src/index.ts
  products/jbrowse-web/src/tests/Loader.test.tsx
  test_data/volvox/config_main_thread.json
  yarn.lock
Labels: enhancement

#3025 Add dotplot session spec
  plugins/dotplot-view/src/DotplotView/model.ts
  plugins/dotplot-view/src/LaunchDotplotView.ts
  plugins/dotplot-view/src/index.ts
  plugins/linear-comparative-view/src/LaunchLinearSyntenyView.ts
  products/jbrowse-web/src/tests/Loader.test.tsx
Labels: enhancement

#3022 Add example using embedded components with next.js
  demos/jbrowse-react-linear-genome-view-nextjs/.eslintrc.json
  demos/jbrowse-react-linear-genome-view-nextjs/.gitignore
  demos/jbrowse-react-linear-genome-view-nextjs/README.md
  demos/jbrowse-react-linear-genome-view-nextjs/next-env.d.ts
  demos/jbrowse-react-linear-genome-view-nextjs/next.config.js
  demos/jbrowse-react-linear-genome-view-nextjs/package.json
  demos/jbrowse-react-linear-genome-view-nextjs/pages/index.tsx
  demos/jbrowse-react-linear-genome-view-nextjs/public/favicon.ico
  demos/jbrowse-react-linear-genome-view-nextjs/public/vercel.svg
  demos/jbrowse-react-linear-genome-view-nextjs/tsconfig.json
  demos/jbrowse-react-linear-genome-view-nextjs/utils/assembly.ts
  demos/jbrowse-react-linear-genome-view-nextjs/utils/tracks.ts
  demos/jbrowse-react-linear-genome-view-nextjs/yarn.lock
  website/docs/embedded_components.md
Labels: documentation

#3018 Add desktop specific plugin example
  website/docs/developer_guide.md
Labels: documentation

#3038 Display coordinates when no cytoband available
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewScaleBar.tsx
Labels: enhancement

#2831 Update commands for sorting GFF3 for tabix
  website/docs/quickstart_cli.md
  website/docs/superquickstart_web.md
Labels: documentation

#3049 Fix ability to use callbacks for the linear arc renderer
  plugins/arc/src/ArcRenderer/configSchema.tsx
Labels: bug

#3044 Remove node-canvas from @jbrowse/core dependencies
  package.json
  packages/core/package.json
  packages/core/util/offscreenCanvasPonyfill.tsx
  plugins/wiggle/src/DensityRenderer/DensityRenderer.test.js
  plugins/wiggle/src/XYPlotRenderer/XYPlotRenderer.test.js
  products/jbrowse-img/package.json
  products/jbrowse-img/src/index.js
  products/jbrowse-img/src/index.testmod.js
  products/jbrowse-web/src/tests/Loader.test.tsx
  products/jbrowse-web/src/tests/util.js
  yarn.lock
Labels: enhancement

#3053 Avoid displaying [object Object] on deeply nested data in base feature details
  packages/core/BaseFeatureWidget/BaseFeatureDetail.tsx
Labels: bug

#3057 Fix export SVG crash on some BigWig tracks
  plugins/wiggle/src/XYPlotRenderer/XYPlotRenderer.ts
Labels: bug

#3065 Allow changing between xyplot,line,density for linear wiggle tracks and other small fixes
  plugins/wiggle/src/LinePlotRenderer/configSchema.js
  plugins/wiggle/src/LinePlotRenderer/index.js
  plugins/wiggle/src/LinearWiggleDisplay/models/model.tsx
  plugins/wiggle/src/XYPlotRenderer/index.ts
  plugins/wiggle/src/configSchema.ts
Labels: enhancement

#3066 Add more mui/x-data-grid exports
  packages/core/ReExports/modules.tsx
Labels: needs label triage

#3067 Typescriptify some integration tests
  plugins/linear-genome-view/src/LinearGenomeView/components/TracksContainer.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.js.snap
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
  products/jbrowse-web/src/tests/Alignments.test.tsx
  products/jbrowse-web/src/tests/AlignmentsFeatures.test.tsx
  products/jbrowse-web/src/tests/BasicLinearGenomeView.test.tsx
  products/jbrowse-web/src/tests/BigWig.test.js
  products/jbrowse-web/src/tests/BigWig.test.tsx
  products/jbrowse-web/src/tests/Dotplot.test.tsx
  products/jbrowse-web/src/tests/DrawerWidget.test.tsx
  products/jbrowse-web/src/tests/Hic.test.js
  products/jbrowse-web/src/tests/Hic.test.tsx
  products/jbrowse-web/src/tests/JBrowse.test.tsx
  products/jbrowse-web/src/tests/Reload.test.tsx
  products/jbrowse-web/src/tests/StatsEstimation.test.tsx
  products/jbrowse-web/src/tests/TextSearchingImportForm.test.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-features-test-tsx-color-by-strand-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-features-test-tsx-color-by-tag-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-features-test-tsx-opens-the-track-menu-and-enables-soft-clipping-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-features-test-tsx-selects-a-sort-sort-by-strand-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-tsx-opens-an-alignments-track-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-tsx-opens-an-alignments-track-2-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-tsx-test-snpcoverage-doesnt-count-snpcoverage-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-tsx-test-snpcoverage-doesnt-count-snpcoverage-2-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/big-wig-test-tsx-open-a-bigwig-density-track-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/big-wig-test-tsx-open-a-bigwig-line-track-2-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/big-wig-test-tsx-open-a-bigwig-track-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/dotplot-test-js-open-a-dotplot-view-2-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/dotplot-test-tsx-open-a-dotplot-view-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/dotplot-test-tsx-open-a-dotplot-view-with-import-form-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/hic-test-tsx-hic-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/reload-test-tsx-reloads-alignments-track-bai-404-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/reload-test-tsx-reloads-alignments-track-bam-404-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/reload-test-tsx-reloads-alignments-track-crai-404-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/reload-test-tsx-reloads-alignments-track-cram-404-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/reload-test-tsx-reloads-bigwig-bw-404-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/stats-estimation-test-tsx-test-stats-estimation-pileup-force-load-to-see-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/stats-estimation-test-tsx-test-stats-estimation-pileup-zoom-in-to-see-1-snap.png
  products/jbrowse-web/src/tests/util.tsx
Labels: internal

#3068 Allow HTML in feature tooltips, remove react-simple-code-editor
  plugins/config/package.json
  plugins/config/src/ConfigurationEditorWidget/components/CallbackEditor.tsx
  plugins/config/src/ConfigurationEditorWidget/components/CodeEditor.js
  plugins/config/src/ConfigurationEditorWidget/components/CodeEditor.tsx
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.js.snap
  plugins/linear-genome-view/src/BaseLinearDisplay/components/Tooltip.tsx
  yarn.lock
Labels: enhancement

#3001 Draw SNPs in modifications/methylation views
  plugins/alignments/src/PileupRenderer/PileupRenderer.tsx
Labels: enhancement
