Repository GMOD/jbrowse-components, pull requests merged in 2022-01, with the labels that each got.

#2623 Adjust label width on base feature detail to enforce better alignment
  packages/core/BaseFeatureWidget/BaseFeatureDetail.tsx
  packages/core/BaseFeatureWidget/__snapshots__/index.test.js.snap
  plugins/alignments/src/AlignmentsFeatureDetail/__snapshots__/index.test.js.snap
  plugins/variants/src/VariantFeatureWidget/__snapshots__/VariantFeatureWidget.test.js.snap
Labels: enhancement

#2622 Fix GUI color editor rgba string format
  plugins/config/src/ConfigurationEditorWidget/components/ColorEditor.tsx
Labels: needs label triage

#2626 Fix bad layout resulting in features being unable to be clicked in embedded mode
  packages/core/util/layouts/GranularRectLayout.ts
  products/jbrowse-web/src/tests/__snapshots__/BreakpointSplitView.test.js.snap
Labels: bug

#2601 Allow opening multiple sequences from the desktop start screen
  package.json
  plugins/data-management/src/AssemblyManager/AssemblyManager.tsx
  plugins/data-management/src/AssemblyManager/AssemblyTable.tsx
  products/jbrowse-desktop/src/OpenSequenceDialog.tsx
  products/jbrowse-desktop/src/StartScreen/LauncherPanel.tsx
  website/static/img/alignments_track_arcs2.png
  yarn.lock
Labels: enhancement

#2595 Use some newly available TypeScript types
  package.json
  packages/core/data_adapters/CytobandAdapter.ts
  plugins/breakpoint-split-view/package.json
  plugins/breakpoint-split-view/src/components/Breakends.tsx
  plugins/breakpoint-split-view/src/declare.d.ts
  plugins/config/src/RefNameAliasAdapter/RefNameAliasAdapter.ts
  plugins/dotplot-view/src/PAFAdapter/PAFAdapter.ts
  plugins/dotplot-view/src/declare.d.ts
  plugins/gff3/package.json
  plugins/gff3/src/Gff3Adapter/Gff3Adapter.ts
  plugins/gff3/src/Gff3TabixAdapter/Gff3TabixAdapter.ts
  plugins/gff3/src/declare.d.ts
  plugins/gff3/src/util.ts
  plugins/grid-bookmark/src/GridBookmarkWidget/components/ImportBookmarks.tsx
  plugins/gtf/package.json
  plugins/gtf/src/GtfAdapter/GtfAdapter.ts
  plugins/gtf/src/declare.d.ts
  plugins/legacy-jbrowse/src/JBrowse1Connection/jb1ConfigLoad.ts
  plugins/legacy-jbrowse/src/JBrowse1Connection/jb1ToJb2.ts
  plugins/linear-comparative-view/src/MCScanAnchorsAdapter/MCScanAnchorsAdapter.ts
  plugins/linear-genome-view/src/declare.d.ts
  plugins/sequence/src/ChromSizesAdapter/ChromSizesAdapter.ts
  plugins/sequence/src/IndexedFastaAdapter/IndexedFastaAdapter.ts
  plugins/sequence/src/TwoBitAdapter/TwoBitAdapter.ts
  plugins/sequence/src/declare.d.ts
  plugins/spreadsheet-view/package.json
  plugins/spreadsheet-view/src/SpreadsheetView/models/ImportWizard.ts
  plugins/spreadsheet-view/src/SpreadsheetView/models/declare.d.ts
  plugins/spreadsheet-view/src/declare.d.ts
  plugins/sv-inspector/src/declare.d.ts
  plugins/variants/package.json
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.tsx
  plugins/variants/src/VcfAdapter/VcfAdapter.ts
  plugins/variants/src/VcfTabixAdapter/VcfTabixAdapter.ts
  plugins/variants/src/declare.d.ts
  products/jbrowse-cli/package.json
  products/jbrowse-cli/src/declare.d.ts
  products/jbrowse-web/src/Loader.tsx
  yarn.lock
Labels: internal

#2628 Fix small typo in CGV docs
  products/jbrowse-react-circular-genome-view/stories/GettingStarted.stories.mdx
Labels: needs label triage

#2637 Fix broken @jbrowse/core build in v1.5.5 with fixed typescript babel config
  packages/core/babel.config.js
  packages/core/package.json
Labels: needs label triage

#2629 Add ability to get parent feature in jexl syntax with either parent(feature) or get(feature,'parent')
  packages/core/util/jexl.ts
  packages/core/util/simpleFeature.ts
Labels: enhancement

#2639 Release draft announcement v1.5.6
  website/release_announcement_drafts/v1.5.6.md
Labels: needs label triage

#2632 Add vertical resize handle to dotplot view
  plugins/dotplot-view/src/DotplotView/components/DotplotView.tsx
  plugins/dotplot-view/src/DotplotView/model.ts
Labels: enhancement

#2645 Fix core by not using absolute runtime in babel
  babel.config.js
Labels: bug

#2648 Avoid console.warns in tests due to writing to MST nodes that are not alive
  packages/core/pluggableElementTypes/RpcMethodType.ts
  packages/core/pluggableElementTypes/renderers/ServerSideRendererType.tsx
  packages/core/util/index.ts
  packages/core/util/types/index.ts
  plugins/grid-bookmark/src/GridBookmarkWidget/components/GridBookmarkWidget.tsx
  products/jbrowse-web/src/tests/Alignments.test.js
Labels: housekeeping, internal

#2652 Fix "module" of embedded React views
  products/jbrowse-react-circular-genome-view/package.json
  products/jbrowse-react-linear-genome-view/package.json
Labels: bug

#2655 Add link to PAG 2022 youtube tutorial on demos page and course archive
  website/docs/pag2022_synteny_visualization.md
  website/sidebars.json
  website/src/pages/demos.mdx
Labels: documentation

#2657 Fix hot reload using yarn resolution on react-error-overlay
  package.json
  yarn.lock
Labels: internal

#2659 Draw deletion width
  plugins/alignments/src/PileupRenderer/PileupRenderer.tsx
Labels: enhancement

#2660 custom glyphs should be applied to features without subfeatures
  plugins/svg/src/SvgFeatureRenderer/components/util.ts
Labels: bug

#2654 Add babel config back to core
  packages/core/CorePlugin.ts
  packages/core/babel.config.js
  packages/core/data_adapters/CytobandAdapter.ts
Labels: bug

#2663 Add urlparams docs
  website/docs/faq.md
  website/docs/urlparams.md
  website/sidebars.json
Labels: documentation

#2670 Add mashmap PAF support
  plugins/dotplot-view/src/DotplotView/components/ImportForm.tsx
  plugins/dotplot-view/src/PAFAdapter/PAFAdapter.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportForm.tsx
Labels: enhancement

#2672 Optimize dot plot rendering
  packages/core/util/Base1DViewModel.ts
  packages/core/util/index.ts
  plugins/dotplot-view/src/DotplotRenderer/DotplotRenderer.ts
  plugins/dotplot-view/src/DotplotRenderer/configSchema.ts
  plugins/dotplot-view/src/DotplotView/components/Axes.tsx
  plugins/dotplot-view/src/DotplotView/components/DotplotView.tsx
  plugins/dotplot-view/src/PAFAdapter/PAFAdapter.ts
  plugins/linear-genome-view/src/LinearGenomeView/index.tsx
  products/jbrowse-web/src/tests/Dotplot.test.js
  products/jbrowse-web/src/tests/__image_snapshots__/dotplot-test-js-dotplot-view-open-a-dotplot-view-with-import-form-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/dotplot-test-js-open-a-dotplot-view-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/dotplot-test-js-open-a-dotplot-view-with-import-form-1-snap.png
Labels: enhancement

#2666 Add option to display curved lines and to square the dotplot and synteny views
  packages/core/util/Base1DViewModel.ts
  plugins/breakpoint-split-view/src/components/Header.tsx
  plugins/breakpoint-split-view/src/model.ts
  plugins/dotplot-view/src/DotplotView/components/Controls.tsx
  plugins/dotplot-view/src/DotplotView/components/DotplotView.tsx
  plugins/dotplot-view/src/DotplotView/model.ts
  plugins/linear-comparative-view/src/LinearComparativeView/components/Header.tsx
  plugins/linear-comparative-view/src/LinearComparativeView/components/LinearComparativeView.tsx
  plugins/linear-comparative-view/src/LinearComparativeView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyRenderer/components/LinearSyntenyRendering.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/Icons.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/LinearSyntenyView.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/model.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/Header.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/RefNameAutocomplete.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/SearchBox.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackLabel.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.js.snap
  plugins/linear-genome-view/src/LinearGenomeView/index.tsx
  plugins/linear-genome-view/src/index.ts
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
Labels: enhancement

#2674 Fix flaky test on stats estimation
  products/jbrowse-web/src/tests/BasicLinearGenomeView.test.js
  products/jbrowse-web/src/tests/StatsEstimation.test.js
  products/jbrowse-web/src/tests/__image_snapshots__/stats-estimation-test-js-test-stats-estimation-pileup-zoom-in-to-see-1-snap.png
Labels: needs label triage

#2676 Fix ability to change colors on wiggle track using the config
  plugins/wiggle/src/DensityRenderer/index.ts
  plugins/wiggle/src/LinearWiggleDisplay/components/SetColorDialog.tsx
  plugins/wiggle/src/LinearWiggleDisplay/models/model.tsx
  plugins/wiggle/src/util.ts
Labels: needs label triage

#2677 Save user settings from LGV
  packages/core/rpc/BaseRpcDriver.ts
  plugins/linear-genome-view/src/LinearGenomeView/index.tsx
Labels: enhancement

#2680 Improve error handling on jbrowse desktop open sequence dialog
  products/jbrowse-desktop/src/OpenSequenceDialog.tsx
Labels: enhancement

#2679 Optimizations and usability improvements to synteny view
  packages/core/util/index.ts
  plugins/config/src/RefNameAliasAdapter/RefNameAliasAdapter.ts
  plugins/dotplot-view/src/DotplotView/components/ImportForm.tsx
  plugins/linear-comparative-view/src/LinearComparativeDisplay/index.ts
  plugins/linear-comparative-view/src/LinearComparativeView/components/Header.tsx
  plugins/linear-comparative-view/src/LinearComparativeView/components/LinearComparativeView.tsx
  plugins/linear-comparative-view/src/LinearComparativeView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/index.ts
  plugins/linear-comparative-view/src/LinearSyntenyRenderer/components/LinearSyntenyRendering.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportForm.tsx
  plugins/linear-comparative-view/src/util.ts
Labels: enhancement

#2686 Use path.resolve to fix --load symlink in jbrowse CLI
  products/jbrowse-cli/src/commands/add-assembly.ts
  products/jbrowse-cli/src/commands/add-track.ts
Labels: bug

#2688 Fix adapterType dropdown in add track widget
  packages/core/util/tracks.ts
  plugins/alignments/src/index.ts
  plugins/bed/src/index.ts
  plugins/data-management/src/AddTrackWidget/components/ConfirmTrack.tsx
  plugins/gff3/src/index.ts
  plugins/gtf/src/index.ts
  plugins/hic/src/index.ts
  plugins/sequence/src/index.ts
  plugins/variants/src/index.ts
  plugins/wiggle/src/index.ts
Labels: bug
