Repository GMOD/jbrowse-components, pull requests merged in 2022-02, with the labels that each got.

#2695 Fix disabled state on the linear genome view track labels dropdown menu
  packages/core/rpc/BaseRpcDriver.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackLabel.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.js.snap
  products/jbrowse-web/src/tests/Alignments.test.js
Labels: bug

#2705 Increase admin-server payload limit
  products/jbrowse-cli/README.md
  products/jbrowse-cli/src/commands/admin-server.ts
Labels: enhancement

#2605 Developer guide reorganization and create new API document
  website/docs/api_guide.md
  website/docs/developer_guide.md
  website/sidebars.json
  website/yarn.lock
Labels: documentation

#2707 Fix ability to use authenticated assembly files
  packages/core/util/io/index.ts
  plugins/authentication/src/OAuthModel/model.tsx
Labels: bug

#2716 Update to node12 requirement for @jbrowse/cli
  website/docs/faq.md
  website/docs/quickstart_web.md
  website/docs/superquickstart_web.md
Labels: documentation

#2719 Avoid uninitialized state during stats estimation
  packages/core/data_adapters/BaseAdapter.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/BaseLinearDisplayModel.tsx
Labels: bug

#2715 Change --target to --root for jbrowse CLI admin-server
  products/jbrowse-cli/README.md
  products/jbrowse-cli/src/commands/admin-server.ts
Labels: bug

#2706 Add ID to add-track log message
  products/jbrowse-cli/src/commands/add-track.ts
Labels: needs label triage

#2723 Make jbrowse desktop more robust to errors when reading recent sessions file
  products/jbrowse-desktop/public/electron.ts
Labels: bug

#2664 Use babel config from core in root
  babel.config.js
  packages/core/babel.config.js
  packages/core/package.json
  products/jbrowse-img/.babelrc.json
  products/jbrowse-img/package.json
Labels: internal

#2727 Add engines 16 to @jbrowse/img
  products/jbrowse-img/package.json
Labels: bug

#2726 Handle .bgz file extension for text-index
  products/jbrowse-cli/src/types/gff3Adapter.ts
  products/jbrowse-cli/src/types/gtfAdapter.ts
  products/jbrowse-cli/src/types/vcfAdapter.ts
Labels: bug

#2734 Use node fetch instead of follow-redirects in cli
  products/jbrowse-cli/package.json
  products/jbrowse-cli/src/types/common.ts
  products/jbrowse-cli/src/types/gff3Adapter.ts
  products/jbrowse-cli/src/types/gtfAdapter.ts
  products/jbrowse-cli/src/types/vcfAdapter.ts
  products/jbrowse-cli/src/util.ts
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/public/electron.ts
  products/jbrowse-desktop/public/generateFastaIndex.ts
  yarn.lock
Labels: bug

#2738 Add better catch for XS and TS tag detection from CRAM
  plugins/alignments/src/SNPCoverageAdapter/SNPCoverageAdapter.ts
Labels: bug

#2736 Add better display of error state in dotplot view and load gzipped PAF files
  plugins/dotplot-view/package.json
  plugins/dotplot-view/src/DotplotDisplay/components/DotplotDisplay.tsx
  plugins/dotplot-view/src/DotplotDisplay/index.ts
  plugins/dotplot-view/src/DotplotReadVsRef.ts
  plugins/dotplot-view/src/DotplotRenderer/index.ts
  plugins/dotplot-view/src/DotplotView/components/Axes.tsx
  plugins/dotplot-view/src/DotplotView/index.ts
  plugins/dotplot-view/src/PAFAdapter/PAFAdapter.test.ts
  plugins/dotplot-view/src/PAFAdapter/PAFAdapter.ts
  plugins/dotplot-view/src/PAFAdapter/index.ts
  plugins/dotplot-view/src/ServerSideRenderedBlockContent.tsx
  plugins/dotplot-view/src/index.ts
  plugins/dotplot-view/src/util.ts
  products/jbrowse-web/src/tests/Dotplot.test.js
  products/jbrowse-web/src/tests/Loader.test.tsx
  test_data/config_demo.json
Labels: enhancement

#2724 Pass extraGlyphs prop to all calls of chooseGlyphComponent
  plugins/svg/src/SvgFeatureRenderer/components/ProcessedTranscript.js
  plugins/svg/src/SvgFeatureRenderer/components/Subfeatures.js
  plugins/svg/src/SvgFeatureRenderer/components/SvgFeatureRendering.js
  plugins/svg/src/SvgFeatureRenderer/components/util.ts
Labels: needs label triage

#2750 Add bezierCurveTo to offscreen canvas ponyfill to fix sashimi arcs rendering in alignments track in webkit and firefox
  packages/core/util/offscreenCanvasPonyfill.js
  plugins/alignments/src/PileupRenderer/PileupRenderer.tsx
  yarn.lock
Labels: bug

#2758 Use VariantTrack for plaintext VCF type
  plugins/variants/src/index.ts
Labels: bug

#2749 v1.6.5 release announcement
  website/release_announcement_drafts/v1.6.5.md
Labels: needs label triage

#2766 Add a check for empty content blocks to fix rare empty stats estimation
  plugins/linear-genome-view/src/BaseLinearDisplay/models/BaseLinearDisplayModel.tsx
Labels: bug

#2760 Make a configurable refNameColumn in RefNameAliasAdapter
  plugins/config/src/RefNameAliasAdapter/RefNameAliasAdapter.ts
  plugins/config/src/RefNameAliasAdapter/configSchema.ts
Labels: enhancement

#2761 Add a --clean argument to `jbrowse upgrade` to clean up old files
  package.json
  products/jbrowse-cli/README.md
  products/jbrowse-cli/package.json
  products/jbrowse-cli/src/base.ts
  products/jbrowse-cli/src/commands/upgrade.ts
  yarn.lock
Labels: enhancement

#2762 Add bookmark widget docs to user guide
  website/docs/user_guide.md
  website/static/img/bookmark_widget.png
  website/static/img/bookmark_widget_edit_label.png
  website/static/img/bookmark_widget_import.png
Labels: documentation

#2773 Fix using global stats autoscale on wiggle tracks
  plugins/wiggle/src/WiggleRPC/rpcMethods.ts
Labels: bug

#2767 Wiggle and SNPCoverage look and feel improvements
  packages/core/configuration/index.ts
  packages/core/ui/Tooltip.tsx
  packages/core/util/simpleFeature.ts
  plugins/alignments/package.json
  plugins/alignments/src/BamAdapter/BamSlightlyLazyFeature.ts
  plugins/alignments/src/LinearSNPCoverageDisplay/components/Tooltip.tsx
  plugins/alignments/src/LinearSNPCoverageDisplay/models/configSchema.ts
  plugins/alignments/src/PileupRenderer/PileupRenderer.tsx
  plugins/alignments/src/SNPCoverageAdapter/SNPCoverageAdapter.ts
  plugins/alignments/src/SNPCoverageRenderer/SNPCoverageRenderer.ts
  plugins/alignments/src/SNPCoverageRenderer/configSchema.js
  plugins/linear-genome-view/src/BaseLinearDisplay/components/BaseLinearDisplay.tsx
  plugins/wiggle/package.json
  plugins/wiggle/src/LinearWiggleDisplay/components/Tooltip.tsx
  plugins/wiggle/src/LinearWiggleDisplay/components/WiggleDisplayComponent.tsx
  plugins/wiggle/src/LinearWiggleDisplay/components/YScaleBar.tsx
  plugins/wiggle/src/LinearWiggleDisplay/models/configSchema.ts
  plugins/wiggle/src/LinearWiggleDisplay/models/model.tsx
  plugins/wiggle/src/WiggleBaseRenderer.tsx
  plugins/wiggle/src/XYPlotRenderer/XYPlotRenderer.ts
  plugins/wiggle/src/declare.d.ts
  products/jbrowse-web/src/Loader.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-js-alignments-track-opens-an-alignments-track-2-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-js-alignments-track-test-snpcoverage-doesnt-count-snpcoverage-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-js-alignments-track-test-snpcoverage-doesnt-count-snpcoverage-2-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/authentication-test-js-authentication-open-a-bigwig-track-that-needs-oauth-authentication-and-has-existing-token-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/authentication-test-js-authentication-opens-a-bigwig-track-that-needs-external-token-authentication-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/authentication-test-js-authentication-opens-a-bigwig-track-that-needs-httpbasic-authentication-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/big-wig-test-js-bigwig-open-a-bigwig-density-track-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/big-wig-test-js-bigwig-open-a-bigwig-track-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/reload-test-js-reload-tests-reloads-alignments-track-bai-404-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/reload-test-js-reload-tests-reloads-alignments-track-cram-404-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/reload-test-js-reload-tests-reloads-bigwig-bw-404-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/ExportSvg.test.js.snap
  test_data/config_demo.json
  website/package.json
  website/yarn.lock
  yarn.lock
Labels: enhancement

#2774 Fix overwriting broken symlink with --force in add-track CLI
  products/jbrowse-cli/src/commands/add-track.ts
Labels: bug
