Repository GMOD/jbrowse-components, pull requests merged in 2022-07, with the labels that each got.

#3077 Fix crash opening synteny track selector launched from dotplot view
  plugins/dotplot-view/src/DotplotView/model.ts
Labels: bug

#3081 Add ability to toggle gridlines on the LGV
  plugins/linear-genome-view/src/LinearGenomeView/components/Gridlines.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/TracksContainer.tsx
  plugins/linear-genome-view/src/LinearGenomeView/index.tsx
Labels: enhancement

#3082 Fix negative strand CIGAR renderings on linear synteny view
  plugins/alignments/src/BamAdapter/MismatchParser.ts
  plugins/comparative-adapters/src/PAFAdapter/PAFAdapter.ts
  plugins/linear-comparative-view/src/LinearSyntenyRenderer/components/LinearSyntenyRendering.tsx
Labels: bug

#3085 Fix zoom to behavior being inaccurate with many displayed regions visible
  plugins/linear-genome-view/src/LinearGenomeView/index.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/index.tsx
Labels: bug

#3086 Fix pxToBp and bpToPx calculations when there are many displayed regions
  packages/core/util/Base1DUtils.ts
  packages/core/util/Base1DViewModel.ts
  packages/core/util/index.ts
  plugins/dotplot-view/src/DotplotRenderer/DotplotRenderer.ts
  plugins/dotplot-view/src/DotplotView/components/Axes.tsx
  plugins/linear-comparative-view/src/LinearSyntenyRenderer/components/LinearSyntenyRendering.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewRubberBand.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/RubberBand.tsx
  plugins/linear-genome-view/src/LinearGenomeView/index.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/index.tsx
Labels: bug

#3088 Fix labels being cut-off in SVG features by rendering feature labels on main thread
  plugins/svg/src/SvgFeatureRenderer/components/FeatureGlyph.tsx
  plugins/svg/src/SvgFeatureRenderer/components/FeatureLabel.tsx
  plugins/svg/src/SvgFeatureRenderer/components/SvgFeatureRendering.tsx
Labels: bug

#3089 Clarify error message when adapter has no features
  packages/core/pluggableElementTypes/renderers/FeatureRendererType.ts
  packages/core/rpc/coreRpcMethods.ts
Labels: enhancement

#3092 Fix use of embedded components with vite 3.0 using tsc to compile @jbrowse/core
  demos/jbrowse-react-linear-genome-view-vite/package.json
  demos/jbrowse-react-linear-genome-view-vite/yarn.lock
  packages/core/package.json
  packages/core/pluggableElementTypes/renderers/FeatureRendererType.ts
  packages/core/tsconfig.build.json
  packages/core/tsconfig.json
Labels: bug

#3095 Add MUI exports to re-exports list
  packages/core/ReExports/list.ts
  packages/core/ReExports/modules.tsx
Labels: bug

#3106 Add "emphasis" mode for no fill/scatterplot mode in XYPlot type renderings
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeView.tsx
  plugins/wiggle/src/LinearWiggleDisplay/models/model.tsx
  plugins/wiggle/src/MultiLineRenderer/configSchema.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/WiggleDisplayComponent.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/models/model.tsx
  plugins/wiggle/src/MultiRowLineRenderer/configSchema.ts
  plugins/wiggle/src/MultiRowXYPlotRenderer/configSchema.ts
  plugins/wiggle/src/MultiXYPlotRenderer/configSchema.ts
  plugins/wiggle/src/XYPlotRenderer/configSchema.ts
  plugins/wiggle/src/drawxy.ts
  products/jbrowse-web/src/tests/BasicLinearGenomeView.test.tsx
Labels: enhancement

#3102 Allow creating alternative "add track workflows" from within the "Add track" widget
  packages/core/BaseFeatureWidget/BaseFeatureDetail.tsx
  packages/core/PluginManager.ts
  packages/core/pluggableElementTypes/AddTrackWorkflowType.ts
  packages/core/pluggableElementTypes/index.ts
  packages/core/util/index.ts
  packages/core/util/tracks.ts
  plugins/alignments/src/SNPCoverageRenderer/SNPCoverageRenderer.ts
  plugins/bed/package.json
  plugins/bed/src/BedAdapter/BedAdapter.ts
  plugins/bed/src/BedTabixAdapter/BedTabixAdapter.ts
  plugins/bed/src/BigBedAdapter/BigBedAdapter.ts
  plugins/bed/src/declare.d.ts
  plugins/bed/src/util.ts
  plugins/data-management/src/AddTrackWidget/components/AddTrackWidget.test.tsx
  plugins/data-management/src/AddTrackWidget/components/AddTrackWidget.tsx
  plugins/data-management/src/AddTrackWidget/components/ConfirmTrack.tsx
  plugins/data-management/src/AddTrackWidget/components/DefaultAddTrackWorkflow.tsx
  plugins/data-management/src/AddTrackWidget/components/__snapshots__/AddTrackWidget.test.js.snap
  plugins/data-management/src/index.ts
  plugins/menus/src/AboutWidget/index.ts
  plugins/menus/src/HelpWidget/index.ts
  plugins/menus/src/ImportSessionWidget/components/ImportSessionWidget.tsx
  plugins/menus/src/SessionManager/components/SessionManager.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/SetColorDialog.tsx
  plugins/wiggle/src/MultiWiggleAdapter/MultiWiggleAdapter.ts
  plugins/wiggle/src/MultiWiggleAddTrackWidget/AddTrackWorkflow.tsx
  plugins/wiggle/src/MultiWiggleAddTrackWidget/index.ts
  plugins/wiggle/src/index.ts
  test_data/config_demo.json
  website/yarn.lock
  yarn.lock
Labels: enhancement

#3109 Add __virtual__ to rollup files to process
  plugin-development-tools/src/createRollupConfig.ts
Labels: bug

#3110 Remove TSDX from plugin development tools
  plugin-development-tools/README.md
  plugin-development-tools/package.json
  plugin-development-tools/patches/tsdx+0.14.1.patch
  plugin-development-tools/postinstall.js
  plugin-development-tools/src/createJBrowsePluginTsdxConfig.js
  plugin-development-tools/src/index.ts
  plugin-development-tools/tsconfig.json
  plugin-development-tools/yarn.lock
  plugins/config/src/FromConfigAdapter/FromConfigSequenceAdapter.ts
  plugins/variants/src/VcfTabixAdapter/VcfTabixAdapter.ts
Labels: needs label triage

#3113 Improve SVG performance by avoiding re-render when feature is clicked
  plugins/svg/src/SvgFeatureRenderer/components/FeatureGlyph.tsx
  plugins/svg/src/SvgFeatureRenderer/components/FeatureLabel.tsx
  plugins/svg/src/SvgFeatureRenderer/components/SvgFeatureRendering.test.tsx
  plugins/svg/src/SvgFeatureRenderer/components/SvgFeatureRendering.tsx
  plugins/svg/src/SvgFeatureRenderer/components/SvgOverlay.tsx
  plugins/svg/src/SvgFeatureRenderer/components/__snapshots__/SvgFeatureRendering.test.tsx.snap
Labels: enhancement

#3115 Add warning when dotplot renders outside of it's boundaries
  package.json
  packages/core/BaseFeatureWidget/BaseFeatureDetail.tsx
  packages/core/pluggableElementTypes/renderers/ComparativeServerSideRendererType.ts
  packages/core/util/index.ts
  packages/core/util/offscreenCanvasUtils.tsx
  plugins/comparative-adapters/src/PAFAdapter/PAFAdapter.ts
  plugins/dotplot-view/package.json
  plugins/dotplot-view/src/DotplotDisplay/components/DotplotDisplay.tsx
  plugins/dotplot-view/src/DotplotDisplay/index.ts
  plugins/dotplot-view/src/DotplotDisplay/renderDotplotBlock.ts
  plugins/dotplot-view/src/DotplotDisplay/stateModelFactory.ts
  plugins/dotplot-view/src/DotplotRenderer/ComparativeRenderRpc.ts
  plugins/dotplot-view/src/DotplotRenderer/DotplotRenderer.ts
  plugins/dotplot-view/src/DotplotRenderer/components/DotplotRendering.tsx
  plugins/dotplot-view/src/DotplotRenderer/index.ts
  plugins/dotplot-view/src/DotplotView/components/Controls.tsx
  plugins/dotplot-view/src/DotplotView/components/CursorIcon.tsx
  plugins/dotplot-view/src/DotplotView/components/DotplotView.tsx
  plugins/dotplot-view/src/DotplotView/components/Grid.tsx
  plugins/dotplot-view/src/DotplotView/components/Header.tsx
  plugins/dotplot-view/src/DotplotView/components/WarningDialog.tsx
  plugins/dotplot-view/src/DotplotView/model.ts
  plugins/wiggle/package.json
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/WiggleDisplayComponent.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/models/model.tsx
  plugins/wiggle/src/declare.d.ts
  products/jbrowse-web/craco.config.js
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  test_data/volvox/config.json
  test_data/volvox/volvox_del.fa
  test_data/volvox/volvox_del.fa.fai
  test_data/volvox/volvox_del.paf
  test_data/volvox/volvox_ins.fa
  test_data/volvox/volvox_ins.fa.fai
  test_data/volvox/volvox_ins.paf
  yarn.lock
Labels: enhancement

#3111 Create undo manager in jbrowse-web and jbrowse-desktop
  packages/core/ui/App.tsx
  packages/core/util/TimeTraveller.ts
  products/jbrowse-desktop/src/__snapshots__/rootModel.test.js.snap
  products/jbrowse-desktop/src/rootModel.ts
  products/jbrowse-react-linear-genome-view/src/createModel/createSessionModel.ts
  products/jbrowse-web/src/__snapshots__/rootModel.test.js.snap
  products/jbrowse-web/src/rootModel.ts
  products/jbrowse-web/src/util.ts
Labels: enhancement

#3116 Add docs for multi-wiggle tracks
  plugins/wiggle/package.json
  plugins/wiggle/src/CreateMultiWiggleExtension/ConfirmDialog.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/SetColorDialog.tsx
  website/docs/config_guide.md
  website/docs/user_guide.md
  website/package.json
  website/static/img/multiwig/addtrack.png
  website/static/img/multiwig/multi_colorselect.png
  website/static/img/multiwig/multi_renderer_types.png
  website/static/img/multiwig/trackselector.png
  website/yarn.lock
  yarn.lock
Labels: documentation
