Repository GMOD/jbrowse-components, pull requests merged in 2022-10, with the labels that each got.

#3241 Fix local session failing to load copying between tabs in some cases
  plugins/alignments/src/AlignmentsFeatureDetail/__snapshots__/index.test.js.snap
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.tsx.snap
  plugins/data-management/package.json
  plugins/data-management/src/AddConnectionWidget/components/__snapshots__/AddConnectionWidget.test.js.snap
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/__snapshots__/HierarchicalTrackSelector.test.tsx.snap
  plugins/data-management/src/PluginStoreWidget/components/__snapshots__/PluginStoreWidget.test.js.snap
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.js.snap
  plugins/trackhub-registry/package.json
  plugins/trackhub-registry/src/trackhub-registry/declare.d.ts
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
  products/jbrowse-web/src/SessionLoader.ts
  yarn.lock
Labels: bug

#3242 Fix flaky test in plugins/linear-genome-view
  plugins/data-management/src/AddTrackWidget/components/AddTrackWidget.test.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/HierarchicalTrackSelector.test.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeView.test.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.tsx.snap
  products/jbrowse-web/src/rootModel.ts
  products/jbrowse-web/src/sessionModelFactory.ts
Labels: internal

#3243 Add component test for circular genome view
  .github/workflows/push.yml
  component_tests/cgv/.env
  component_tests/cgv/.gitignore
  component_tests/cgv/README.md
  component_tests/cgv/craco.config.js
  component_tests/cgv/cypress.json
  component_tests/cgv/cypress/integration/basic.spec.ts
  component_tests/cgv/cypress/plugins/index.js
  component_tests/cgv/cypress/support/commands.js
  component_tests/cgv/cypress/support/index.js
  component_tests/cgv/cypress/tsconfig.json
  component_tests/cgv/package.json
  component_tests/cgv/public/GRCh38.aliases.txt
  component_tests/cgv/public/favicon.ico
  component_tests/cgv/public/index.html
  component_tests/cgv/public/logo192.png
  component_tests/cgv/public/logo512.png
  component_tests/cgv/public/manifest.json
  component_tests/cgv/public/robots.txt
  component_tests/cgv/src/App.tsx
  component_tests/cgv/src/assembly.ts
  component_tests/cgv/src/declare.d.ts
  component_tests/cgv/src/index.css
  component_tests/cgv/src/index.tsx
  component_tests/cgv/src/react-app-env.d.ts
  component_tests/cgv/src/setupTests.ts
  component_tests/cgv/src/tracks.ts
  component_tests/cgv/tsconfig.json
  component_tests/lgv/.env
  component_tests/lgv/.gitignore
  component_tests/lgv/README.md
  component_tests/lgv/craco.config.js
  component_tests/lgv/cypress.json
  component_tests/lgv/cypress/integration/basic.spec.ts
  component_tests/lgv/cypress/plugins/index.js
  component_tests/lgv/cypress/support/commands.js
  component_tests/lgv/cypress/support/index.js
  component_tests/lgv/cypress/tsconfig.json
  component_tests/lgv/package.json
  component_tests/lgv/public/GRCh38.aliases.txt
  component_tests/lgv/public/favicon.ico
  component_tests/lgv/public/index.html
  component_tests/lgv/public/logo192.png
  component_tests/lgv/public/logo512.png
  component_tests/lgv/public/manifest.json
  component_tests/lgv/public/robots.txt
  component_tests/lgv/src/App.tsx
  component_tests/lgv/src/assembly.ts
  component_tests/lgv/src/index.css
  component_tests/lgv/src/index.tsx
  component_tests/lgv/src/react-app-env.d.ts
  component_tests/lgv/src/reportWebVitals.ts
  component_tests/lgv/src/setupTests.ts
  component_tests/lgv/src/tracks.ts
  component_tests/lgv/tsconfig.json
  scripts/build.js
  tsconfig.json
Labels: internal

#3253 adding aliases to the worm alias file
  test_data/ce_aliases.txt
Labels: needs label triage

#3254 Use tick labels that correspond to the overview's larger zoom level
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewScaleBar.tsx
Labels: enhancement

#3257 Update use-query-params to 2.0.0
  packages/core/ui/FatalErrorDialog.tsx
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/src/declare.d.ts
  products/jbrowse-desktop/src/index.tsx
  products/jbrowse-web/package.json
  products/jbrowse-web/src/JBrowse.tsx
  products/jbrowse-web/src/Loader.tsx
  products/jbrowse-web/src/rootModel.ts
  products/jbrowse-web/src/tests/Loader.test.tsx
  products/jbrowse-web/src/tests/util.tsx
  yarn.lock
Labels: dependencies

#3252 Fix gene sequence fetching in embedded, and allow fetching genomic sequence for other feature types
  packages/core/BaseFeatureWidget/BaseFeatureDetail.tsx
  packages/core/BaseFeatureWidget/SequenceBox.tsx
  packages/core/BaseFeatureWidget/SequenceFeatureDetails.test.tsx
  packages/core/BaseFeatureWidget/SequenceFeatureDetails.tsx
  packages/core/BaseFeatureWidget/SequencePanel.tsx
  packages/core/BaseFeatureWidget/__snapshots__/index.test.js.snap
  packages/core/BaseFeatureWidget/util.tsx
  packages/core/package.json
  plugins/alignments/src/AlignmentsFeatureDetail/__snapshots__/index.test.js.snap
  plugins/variants/src/VariantFeatureWidget/__snapshots__/VariantFeatureWidget.test.js.snap
  products/jbrowse-desktop/src/jbrowseModel.ts
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/JBrowseLinearGenomeView.tsx
  products/jbrowse-react-linear-genome-view/stories/JBrowseLinearGenomeView.stories.tsx
  products/jbrowse-web/src/jbrowseModel.ts
  products/jbrowse-web/src/tests/Loader.test.tsx
  test_data/volvox/single_exon_gene.sorted.gff.gz
  test_data/volvox/single_exon_gene.sorted.gff.gz.tbi
  test_data/volvox/trix/volvox.ix
  test_data/volvox/trix/volvox_meta.json
  yarn.lock
Labels: enhancement

#3259 Fix issue with breakpoint split view using view before initialized
  plugins/breakpoint-split-view/src/model.ts
Labels: bug

#3250 Handle alternate line endings
  packages/core/BaseFeatureWidget/SequenceFeatureDetails.test.tsx
  packages/core/data_adapters/CytobandAdapter.ts
  plugins/alignments/src/CramAdapter/CramTestAdapters.ts
  plugins/bed/src/BedAdapter/BedAdapter.ts
  plugins/bed/src/BedTabixAdapter/BedTabixAdapter.ts
  plugins/comparative-adapters/src/ChainAdapter/ChainAdapter.ts
  plugins/comparative-adapters/src/DeltaAdapter/DeltaAdapter.ts
  plugins/comparative-adapters/src/MCScanAnchorsAdapter/MCScanAnchorsAdapter.ts
  plugins/comparative-adapters/src/MCScanSimpleAnchorsAdapter/MCScanSimpleAnchorsAdapter.ts
  plugins/comparative-adapters/src/MashMapAdapter/MashMapAdapter.ts
  plugins/comparative-adapters/src/PAFAdapter/PAFAdapter.ts
  plugins/comparative-adapters/src/util.ts
  plugins/config/src/RefNameAliasAdapter/RefNameAliasAdapter.ts
  plugins/gff3/src/Gff3Adapter/Gff3Adapter.ts
  plugins/grid-bookmark/src/GridBookmarkWidget/components/ImportBookmarks.tsx
  plugins/gtf/src/GtfAdapter/GtfAdapter.ts
  plugins/legacy-jbrowse/src/JBrowse1Connection/jb1ConfigParse.ts
  plugins/sequence/src/ChromSizesAdapter/ChromSizesAdapter.ts
  plugins/sequence/src/TwoBitAdapter/TwoBitAdapter.ts
  plugins/spreadsheet-view/src/SpreadsheetView/importAdapters/VcfImport.ts
  plugins/variants/src/VcfAdapter/VcfAdapter.ts
  plugins/wiggle/src/MultiWiggleAddTrackWidget/AddTrackWorkflow.tsx
  scripts/changelog.js
Labels: enhancement

#3261 Fix for flaky test
  packages/core/assemblyManager/assembly.ts
  products/jbrowse-web/src/tests/ErrorConditions.test.tsx
  test_data/wrong_assembly.json
Labels: internal

#3255 Add more docs about color callbacks
  website/docs/config_guide.md
  website/docs/faq.md
Labels: documentation

#3269 Fix ability to rename session in web/desktop
  packages/core/ui/App.tsx
Labels: bug

#3274 Update bbi-js for bugfix on webpack 4
  component_tests/lgv/src/tracks.ts
  demos/jbrowse-react-linear-genome-view-cra5/src/tracks.ts
  demos/jbrowse-react-linear-genome-view/src/tracks.ts
  demos/jbrowse-react-linear-genome-view/yarn.lock
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/__snapshots__/HierarchicalTrackSelector.test.tsx.snap
  yarn.lock
Labels: bug

#3266 Fix relative path loading of plugins
  .eslintignore
  packages/core/PluginLoader.ts
  packages/core/PluginManager.ts
  packages/core/package.json
  packages/core/rpc/RpcManager.ts
  packages/core/rpc/WebWorkerRpcDriver.ts
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/src/StartScreen/util.tsx
  products/jbrowse-desktop/src/rpc.worker.ts
  products/jbrowse-web/package.json
  products/jbrowse-web/public/umd_plugin.js
  products/jbrowse-web/src/SessionLoader.ts
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  products/jbrowse-web/src/rpc.worker.ts
  test_data/volvox/config.json
  test_data/volvox/umd_plugin.js
  website/docs/config_guide.md
  website/docs/tutorials/no_build_plugin_tutorial.md
  website/static/img/no_build_localhost.png
  yarn.lock
Labels: bug

#3276 Allow using web worker RPC on embedded LGV
  packages/core/rpc/configSchema.ts
  packages/text-indexing/tsconfig.build.es5.json
  packages/text-indexing/tsconfig.build.esm.json
  products/jbrowse-desktop/src/StartScreen/util.tsx
  products/jbrowse-react-circular-genome-view/tsconfig.build.es5.json
  products/jbrowse-react-circular-genome-view/tsconfig.build.esm.json
  products/jbrowse-react-linear-genome-view/package.json
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/JBrowseLinearGenomeView.test.tsx
  products/jbrowse-react-linear-genome-view/src/createModel/createModel.ts
  products/jbrowse-react-linear-genome-view/src/createViewState.ts
  products/jbrowse-react-linear-genome-view/src/indexES5.ts
  products/jbrowse-react-linear-genome-view/src/indexESM.ts
  products/jbrowse-react-linear-genome-view/src/makeWorkerInstance.ts
  products/jbrowse-react-linear-genome-view/src/rpcWorker.ts
  products/jbrowse-react-linear-genome-view/src/workerPolyfill.js
  products/jbrowse-react-linear-genome-view/stories/JBrowseLinearGenomeView.stories.tsx
  products/jbrowse-react-linear-genome-view/tsconfig.build.es5.json
  products/jbrowse-react-linear-genome-view/tsconfig.build.esm.json
  products/jbrowse-web/src/Loader.tsx
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  products/jbrowse-web/src/rootModel.ts
  test_data/volvox/config.json
Labels: enhancement

#3275 Add help dialog for sequence panel
  packages/core/BaseFeatureWidget/SequenceFeatureDetails.tsx
  packages/core/BaseFeatureWidget/SequenceHelpDialog.tsx
  packages/core/BaseFeatureWidget/__snapshots__/index.test.js.snap
  plugins/alignments/src/AlignmentsFeatureDetail/__snapshots__/index.test.js.snap
  plugins/variants/src/VariantFeatureWidget/__snapshots__/VariantFeatureWidget.test.js.snap
Labels: enhancement

#3230 Add ability to customize About dialog with callbacks and optionally hide links to data
  packages/core/BaseFeatureWidget/BaseFeatureDetail.tsx
  packages/core/BaseFeatureWidget/index.ts
  packages/core/configuration/configurationSlot.ts
  packages/core/pluggableElementTypes/models/BaseDisplayModel.tsx
  packages/core/pluggableElementTypes/models/BaseTrackModel.ts
  packages/core/pluggableElementTypes/models/baseTrackConfig.ts
  packages/core/ui/AboutDialog.tsx
  packages/core/ui/DrawerWidget.tsx
  packages/core/util/index.ts
  packages/core/util/stats.ts
  packages/core/util/tracks.ts
  plugins/alignments/src/LinearPileupDisplay/components/LinearPileupDisplayBlurb.tsx
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/circular-view/src/BaseChordDisplay/models/BaseChordDisplayModel.ts
  plugins/config/src/ConfigurationEditorWidget/components/SlotEditor.tsx
  plugins/data-management/src/AddConnectionWidget/components/AddConnectionWidget.tsx
  plugins/data-management/src/AddTrackWidget/components/AddTrackWidget.tsx
  plugins/data-management/src/AddTrackWidget/components/ConfirmTrack.tsx
  plugins/data-management/src/AddTrackWidget/components/DefaultAddTrackWorkflow.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/Header.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/__snapshots__/HierarchicalTrackSelector.test.tsx.snap
  plugins/data-management/src/HierarchicalTrackSelectorWidget/model.ts
  plugins/data-management/src/PluginStoreWidget/components/PluginCard.tsx
  plugins/linear-comparative-view/src/LinearComparativeView/components/LinearComparativeView.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/SearchResultsDialog.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackLabel.tsx
  plugins/sequence/src/ReferenceSequenceTrack/configSchema.ts
  plugins/spreadsheet-view/src/SpreadsheetView/models/ImportWizard.ts
  plugins/spreadsheet-view/src/SpreadsheetView/models/Spreadsheet.ts
  plugins/sv-inspector/src/SvInspectorView/models/breakpointSplitViewFromTableRow.js
  plugins/variants/src/LinearVariantDisplay/model.ts
  plugins/variants/src/VariantFeatureWidget/BreakendPanel.tsx
  plugins/wiggle/src/BigWigAdapter/BigWigAdapter.ts
  plugins/wiggle/src/LinearWiggleDisplay/models/model.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/models/model.tsx
  products/jbrowse-desktop/src/rootModel.ts
  products/jbrowse-react-circular-genome-view/src/JBrowseCircularGenomeView/JBrowseCircularGenomeView.tsx
  products/jbrowse-react-circular-genome-view/src/JBrowseCircularGenomeView/ModalWidget.tsx
  products/jbrowse-react-circular-genome-view/src/createModel/createConfigModel.ts
  products/jbrowse-react-circular-genome-view/src/loadPlugins.ts
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/ModalWidget.tsx
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
  products/jbrowse-react-linear-genome-view/src/createModel/createConfigModel.ts
  products/jbrowse-react-linear-genome-view/src/loadPlugins.ts
  products/jbrowse-web/src/ConfigWarningDialog.tsx
  products/jbrowse-web/src/StartScreen.tsx
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  products/jbrowse-web/src/jbrowseModel.ts
  products/jbrowse-web/src/rootModel.ts
  products/jbrowse-web/src/sessionModelFactory.ts
  products/jbrowse-web/src/tests/AlignmentsFeatures.test.tsx
  test_data/volvox/config.json
  test_data/volvox/config_main_thread.json
  test_data/volvox/umd_plugin.js
  website/docs/api_guide.md
  yarn.lock
Labels: enhancement

#3282 Fix for embedded build with webpack 4 failing with v2.1.6
  demos/jbrowse-react-circular-genome-view/package.json
  demos/jbrowse-react-linear-genome-view/package.json
  products/jbrowse-react-linear-genome-view/package.json
  products/jbrowse-react-linear-genome-view/src/indexES5.ts
  products/jbrowse-react-linear-genome-view/src/indexESM.ts
  products/jbrowse-react-linear-genome-view/stories/UsingWebWorker.stories.mdx
Labels: bug

#3279 Remove unnecessary expanded region query and small refactors
  packages/core/pluggableElementTypes/renderers/BoxRendererType.ts
  packages/core/util/layouts/GranularRectLayout.ts
  packages/core/util/layouts/MultiLayout.ts
  plugins/alignments/src/BamAdapter/BamAdapter.ts
  plugins/alignments/src/CramAdapter/CramAdapter.ts
  plugins/alignments/src/HtsgetBamAdapter/HtsgetBamAdapter.ts
  plugins/alignments/src/PileupRenderer/PileupRenderer.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-features-test-tsx-color-by-tag-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/reload-test-tsx-reloads-alignments-track-bam-404-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/reload-test-tsx-reloads-alignments-track-crai-404-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/stats-estimation-test-tsx-test-stats-estimation-pileup-force-load-to-see-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/stats-estimation-test-tsx-test-stats-estimation-pileup-zoom-in-to-see-1-snap.png
  products/jbrowse-web/src/tests/__snapshots__/ExportSvg.test.tsx.snap
Labels: enhancement

#3285 Use typescript version of @gmod/cram
  plugins/alignments/package.json
  plugins/alignments/src/CramAdapter/CramAdapter.ts
  plugins/alignments/src/CramAdapter/CramSlightlyLazyFeature.ts
  plugins/alignments/src/declare.d.ts
  yarn.lock
Labels: enhancement

#3287 Lazy-load assemblies on demand instead of all at app startup
  component_tests/cgv/cypress/integration/basic.spec.ts
  component_tests/lgv/cypress/integration/basic.spec.ts
  package.json
  packages/core/assemblyManager/assembly.ts
  packages/core/assemblyManager/assemblyManager.ts
  packages/core/rpc/MainThreadRpcDriver.ts
  packages/core/rpc/WebWorkerRpcDriver.ts
  packages/core/rpc/coreRpcMethods.ts
  plugins/linear-genome-view/src/LinearGenomeView/index.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/index.tsx
  plugins/spreadsheet-view/src/SpreadsheetView/models/ImportWizard.ts
  products/jbrowse-img/package.json
  products/jbrowse-img/src/renderRegion.js
  products/jbrowse-img/test/svg_from_volvox_fasta_and_bam.svg
  products/jbrowse-img/test/svg_from_volvox_fasta_and_bam_norasterize.svg
  products/jbrowse-react-circular-genome-view/src/createViewState.ts
  products/jbrowse-react-linear-genome-view/src/createViewState.ts
  products/jbrowse-web/src/tests/BasicLinearGenomeView.test.tsx
  products/jbrowse-web/src/tests/BookmarkWidget.test.tsx
Labels: enhancement

#3292 Update and publish authentication plugin
  packages/core/util/io/RemoteFileWithRangeCache.ts
  plugins/authentication/package.json
  plugins/authentication/src/DropboxOAuthModel/model.tsx
  plugins/authentication/src/ExternalTokenModel/model.tsx
  plugins/authentication/src/GoogleDriveOAuthModel/model.tsx
  plugins/authentication/src/HTTPBasicModel/model.tsx
  plugins/authentication/src/OAuthModel/model.tsx
  plugins/authentication/src/index.ts
  products/jbrowse-web/src/rootModel.ts
Labels: needs label triage

#3293 Fix CRAM plotting for data files that encode insertions in uncommon way
  plugins/alignments/src/CramAdapter/CramSlightlyLazyFeature.ts
Labels: bug

#3283 Upgrade deps
  package.json
  packages/core/BaseFeatureWidget/__snapshots__/index.test.js.snap
  plugins/alignments/src/AlignmentsFeatureDetail/__snapshots__/index.test.js.snap
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.tsx.snap
  plugins/data-management/src/AddConnectionWidget/components/__snapshots__/AddConnectionWidget.test.js.snap
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/__snapshots__/HierarchicalTrackSelector.test.tsx.snap
  plugins/data-management/src/PluginStoreWidget/components/__snapshots__/PluginStoreWidget.test.js.snap
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeViewSvg.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.tsx.snap
  plugins/linear-genome-view/src/LinearGenomeView/index.tsx
  plugins/menus/src/AboutWidget/components/__snapshots__/AboutWidget.test.js.snap
  plugins/menus/src/HelpWidget/components/__snapshots__/HelpWidget.test.js.snap
  plugins/menus/src/SessionManager/components/__snapshots__/SessionManager.test.js.snap
  plugins/variants/src/VariantFeatureWidget/__snapshots__/VariantFeatureWidget.test.js.snap
  products/jbrowse-desktop/package.json
  products/jbrowse-img/package.json
  products/jbrowse-img/src/renderRegion.js
  products/jbrowse-img/test/svg_configtracks_local.svg
  products/jbrowse-img/test/svg_from_volvox_fasta_and_bam.svg
  products/jbrowse-img/test/svg_from_volvox_fasta_and_bam_norasterize.svg
  products/jbrowse-react-circular-genome-view/package.json
  products/jbrowse-react-circular-genome-view/src/JBrowseCircularGenomeView/__snapshots__/JBrowseCircularGenomeView.test.tsx.snap
  products/jbrowse-react-linear-genome-view/package.json
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
  products/jbrowse-web/package.json
  products/jbrowse-web/src/tests/__image_snapshots__/snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/ExportSvg.test.tsx.snap
  yarn.lock
Labels: dependencies

#3301 Speed up block calculation under firefox
  component_tests/lgv/cypress/integration/basic.spec.ts
  packages/core/util/__snapshots__/calculateDynamicBlocks.test.ts.snap
  packages/core/util/__snapshots__/calculateStaticBlocks.test.ts.snap
  packages/core/util/calculateDynamicBlocks.ts
  packages/core/util/calculateStaticBlocks.ts
  packages/core/util/index.ts
  products/jbrowse-web/src/tests/Alignments.test.tsx
  products/jbrowse-web/src/tests/AlignmentsFeatures.test.tsx
  products/jbrowse-web/src/tests/Authentication.test.tsx
  products/jbrowse-web/src/tests/BasicLinearGenomeView.test.tsx
  products/jbrowse-web/src/tests/BigWig.test.tsx
  products/jbrowse-web/src/tests/Hic.test.tsx
  products/jbrowse-web/src/tests/ReadVsRef.test.tsx
  products/jbrowse-web/src/tests/Reload.test.tsx
  products/jbrowse-web/src/tests/StatsEstimation.test.tsx
Labels: performance

#3302 Improve rubberband zooming across ellided regions
  packages/core/util/Base1DUtils.ts
  products/jbrowse-web/src/tests/Alignments.test.tsx
Labels: bug

#3299 Add ability to open a synteny track directly from the dotplot/linear synteny view import forms
  packages/core/ui/App.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/HierarchicalTrackSelector.tsx
  plugins/dotplot-view/src/DotplotView/components/Grid.tsx
  plugins/dotplot-view/src/DotplotView/components/Header.tsx
  plugins/dotplot-view/src/DotplotView/components/ImportCustomTrack.tsx
  plugins/dotplot-view/src/DotplotView/components/ImportForm.tsx
  plugins/dotplot-view/src/DotplotView/components/ImportSyntenyTrackSelector.tsx
  plugins/linear-comparative-view/src/LinearComparativeView/components/Header.tsx
  plugins/linear-comparative-view/src/LinearComparativeView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportCustomTrack.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportForm.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportSyntenyTrackSelector.tsx
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  products/jbrowse-web/src/tests/Dotplot.test.tsx
  test_data/volvox/config.json
Labels: enhancement

#3303 update copyright year
  plugins/menus/src/AboutWidget/components/AboutWidget.tsx
  plugins/menus/src/AboutWidget/components/__snapshots__/AboutWidget.test.js.snap
Labels: needs label triage
