Repository GMOD/jbrowse-components, pull requests merged in 2022-05, with the labels that each got.

#2944 Avoid stalling on undefined assemblyName during ref name renaming
  packages/core/assemblyManager/assemblyManager.ts
Labels: internal

#2946 Small doc updates
  demos/jbrowse-react-circular-genome-view-vanillajs/README.md
  demos/jbrowse-react-linear-genome-view-vanillajs/README.md
  products/jbrowse-img/EXAMPLES.md
  products/jbrowse-img/README.md
  products/jbrowse-react-circular-genome-view/README.md
  products/jbrowse-react-linear-genome-view/README.md
  website/package.json
  website/yarn.lock
Labels: documentation

#2947 Optimization for SNPCoverageAdapter and CRAM parsing
  plugins/alignments/package.json
  plugins/alignments/src/CramAdapter/CramSlightlyLazyFeature.ts
  plugins/alignments/src/LinearSNPCoverageDisplay/components/Tooltip.tsx
  plugins/alignments/src/PileupRenderer/PileupRenderer.tsx
  plugins/alignments/src/SNPCoverageAdapter/SNPCoverageAdapter.ts
  yarn.lock
Labels: bug

#2926 Pin to @types/react v17 to fix typescript issues with v18
  component_test/craco.config.js
  demos/jbrowse-react-circular-genome-view-cra5/craco.config.js
  demos/jbrowse-react-linear-genome-view-cra5/craco.config.js
  package.json
  products/jbrowse-desktop/craco.config.js
  products/jbrowse-react-linear-genome-view/.storybook/main.js
  products/jbrowse-web/craco.config.js
  yarn.lock
Labels: dependencies

#2951 Allow getting clip indicator after feature end
  plugins/alignments/src/SNPCoverageAdapter/SNPCoverageAdapter.ts
Labels: bug

#2955 Re-enable eslint autofix for prettier rules
  .eslintrc.json
Labels: internal

#2954 Support in-memory GFF3 and GTF in JBrowse 1 connection
  plugins/legacy-jbrowse/src/JBrowse1Connection/jb1ToJb2.ts
Labels: enhancement

#2952 Fix read vs ref on certain CRAM files
  plugins/alignments/package.json
  plugins/linear-comparative-view/src/ReadVsRef.tsx
  yarn.lock
Labels: bug

#2965 Fix filter functionality on pileup tracks
  plugins/alignments/src/BamAdapter/BamAdapter.ts
  plugins/alignments/src/CramAdapter/CramAdapter.ts
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/LinearSNPCoverageDisplay/models/model.ts
  plugins/alignments/src/PileupRenderer/PileupLayoutSession.ts
Labels: bug

#2964 Fix crash displaying modifications called on softclipped regions of reads
  plugins/alignments/src/BamAdapter/MismatchParser.test.ts
  plugins/alignments/src/BamAdapter/MismatchParser.ts
  plugins/alignments/src/PileupRenderer/PileupRenderer.tsx
  plugins/alignments/src/SNPCoverageAdapter/SNPCoverageAdapter.ts
Labels: bug

#2960 Avoid performing a text index search if input looks like a locstring
  plugins/linear-genome-view/src/LinearGenomeView/components/ImportForm.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/SearchBox.tsx
Labels: enhancement

#2969 Fix link on yeast synteny demo and fix CIGAR rendering on dotplot
  plugins/dotplot-view/src/DotplotRenderer/DotplotRenderer.ts
  test_data/yeast_synteny/config.json
Labels: bug

#2961 Add more visible pileup mismatches when zoomed out
  plugins/alignments/src/PileupRenderer/configSchema.ts
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.js.snap
  products/jbrowse-web/src/tests/__image_snapshots__/stats-estimation-test-js-test-stats-estimation-pileup-force-load-to-see-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/stats-estimation-test-js-test-stats-estimation-pileup-zoom-in-to-see-1-snap.png
Labels: enhancement

#2970 Draw indels in modifications/methylation mode
  plugins/alignments/src/PileupRenderer/PileupRenderer.tsx
  plugins/alignments/src/SNPCoverageAdapter/SNPCoverageAdapter.ts
Labels: enhancement

#2974 Index track by default on add track widget
  plugins/data-management/src/AddTrackWidget/model.ts
Labels: bug

#2980 Remove errors related to test coverage in CI
  jest.config.js
  products/jbrowse-web/src/tests/Authentication.test.js
Labels: internal
