Repository GMOD/jbrowse-components, pull requests merged in 2022-08, with the labels that each got.

#3142 Change arrow in ConfigurationEditor
  plugins/config/src/ConfigurationEditorWidget/components/ConfigurationEditor.tsx
Labels: enhancement

#3137 Make ideogram menu item similar to others
  plugins/linear-genome-view/src/LinearGenomeView/index.tsx
Labels: enhancement

#3120 Fix menu items for changing display type from track menu
  packages/core/pluggableElementTypes/models/BaseTrackModel.ts
Labels: bug

#3131 Use "code" instead of "key" for undo/redo keyboard event
  products/jbrowse-desktop/src/rootModel.ts
  products/jbrowse-web/src/rootModel.ts
  website/docs/user_guide.md
Labels: bug

#3133 In LGV import, update sequence when assembly is changed
  plugins/linear-genome-view/src/LinearGenomeView/components/ImportForm.tsx
Labels: bug

#3132 Extend theme with module augmentation
  packages/core/ui/theme.ts
  plugins/alignments/src/PileupRenderer/PileupRenderer.tsx
  plugins/alignments/src/SNPCoverageRenderer/SNPCoverageRenderer.ts
  plugins/circular-view/src/BaseChordDisplay/components/Loading.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/HierarchicalTrackSelector.test.js
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/Node.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/__snapshots__/HierarchicalTrackSelector.test.js.snap
  plugins/data-management/src/PluginStoreWidget/components/PluginStoreWidget.test.js
  plugins/data-management/src/PluginStoreWidget/components/PluginStoreWidget.tsx
  plugins/data-management/src/PluginStoreWidget/components/__snapshots__/PluginStoreWidget.test.js.snap
  plugins/jobs-management/src/JobsListWidget/components/JobsListWidget.tsx
  plugins/linear-comparative-view/src/LinearComparativeView/components/RubberBand.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewRubberBand.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewScaleBar.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/RubberBand.tsx
Labels: enhancement

#3151 Fix ability to click and drag overview scale bar dragging right to left
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewRubberBand.tsx
Labels: bug

#3156 Fix for mouseover/mouse click on wiggle/multi-wiggle causing errors in embedded mode
  plugins/wiggle/src/WiggleBaseRenderer.tsx
Labels: bug

#3154 Use the union of all the subadapter refNames for the MultiWiggleAdapter getRefNames
  plugins/wiggle/src/MultiWiggleAdapter/MultiWiggleAdapter.ts
Labels: bug

#3157 Support the "name" field on multi-wiggle adapter subadapters instead of source
  plugins/wiggle/src/MultiWiggleAdapter/MultiWiggleAdapter.ts
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  test_data/volvox/config.json
  website/docs/config_guide.md
Labels: bug

#3152 Render CSQ and ANN fields in VCF feature details as data grids
  plugins/variants/src/LinearVariantDisplay/index.ts
  plugins/variants/src/VariantFeatureWidget/AnnotGrid.tsx
  plugins/variants/src/VariantFeatureWidget/BreakendPanel.tsx
  plugins/variants/src/VariantFeatureWidget/VariantAnnPanel.tsx
  plugins/variants/src/VariantFeatureWidget/VariantCsqPanel.tsx
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.tsx
  plugins/variants/src/VariantFeatureWidget/VariantSampleGrid.tsx
  plugins/variants/src/VariantFeatureWidget/__snapshots__/VariantFeatureWidget.test.js.snap
  plugins/variants/src/VariantFeatureWidget/index.ts
  plugins/variants/src/VariantTrack/index.ts
  plugins/variants/src/VcfAdapter/VcfAdapter.ts
  plugins/variants/src/VcfAdapter/index.ts
  plugins/variants/src/VcfTabixAdapter/index.ts
  plugins/variants/src/__snapshots__/index.test.js.snap
  plugins/variants/src/extensionPoints.ts
  plugins/variants/src/index.ts
  products/jbrowse-cli/CHANGELOG.md
  products/jbrowse-cli/out.txt
  products/jbrowse-cli/src/commands/add-track.test.ts
  products/jbrowse-cli/src/commands/add-track.ts
  products/jbrowse-cli/src/commands/text-index.test.ts
  products/jbrowse-cli/trix-docs.md
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  test_data/volvox/config.json
  test_data/volvox/trix/volvox_meta.json
  test_data/volvox/variant_effect_demo_data.vcf
  test_data/volvox/volvox_vcf_jannovar.vcf
Labels: enhancement

#3163 Note for user to wait before re-launching app on desktop update
  products/jbrowse-desktop/public/electron.ts
Labels: enhancement

#3164 Typescript the QuickLRU module in @jbrowse/core
  .eslintignore
  jest.config.js
  packages/core/TextSearch/TextSearchManager.ts
  packages/core/assemblyManager/assembly.ts
  packages/core/rpc/coreRpcMethods.ts
  packages/core/util/QuickLRU.d.ts
  packages/core/util/QuickLRU.js
  packages/core/util/index.ts
  plugins/alignments/src/PileupRPC/rpcMethods.ts
  plugins/alignments/src/declare.d.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/HierarchicalTrackSelector.test.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/__snapshots__/HierarchicalTrackSelector.test.tsx.snap
  plugins/dotplot-view/src/declare.d.ts
  plugins/dotplot-view/src/extensionPoints.ts
  plugins/dotplot-view/src/index.ts
  plugins/linear-comparative-view/src/declare.d.ts
  plugins/sequence/src/BgzipFastaAdapter/BgzipFastaAdapter.ts
  plugins/sequence/src/IndexedFastaAdapter/IndexedFastaAdapter.ts
  plugins/sequence/src/declare.d.ts
  plugins/wiggle/src/WiggleRPC/rpcMethods.ts
  plugins/wiggle/src/declare.d.ts
  yarn.lock
Labels: internal
