Repository GMOD/jbrowse-components, pull requests merged in 2022-11, with the labels that each got.

#3306 Fix the RefNameAutocomplete displaying a stale value for chromosome names
  packages/core/ui/AssemblySelector.tsx
  plugins/dotplot-view/src/DotplotView/model.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/ImportForm.tsx
Labels: bug

#3296 Add option to use OAuth "state" param
  plugins/authentication/src/OAuthModel/configSchema.ts
  plugins/authentication/src/OAuthModel/model.tsx
Labels: enhancement

#3309 Fix animated "Loading..." message keyframes
  packages/core/BaseFeatureWidget/SequenceFeatureDetails.tsx
  packages/core/ui/AboutDialog.tsx
  packages/core/ui/App.tsx
  packages/core/ui/DrawerWidget.tsx
  packages/core/ui/LoadingEllipses.tsx
  packages/core/ui/index.ts
  plugins/circular-view/src/CircularView/components/ImportForm.tsx
  plugins/data-management/src/AddConnectionWidget/components/ConfigureConnection.tsx
  plugins/data-management/src/PluginStoreWidget/components/PluginStoreWidget.tsx
  plugins/dotplot-view/src/DotplotView/components/DotplotView.tsx
  plugins/dotplot-view/src/ServerSideRenderedBlockContent.tsx
  plugins/linear-comparative-view/src/ServerSideRenderedBlockContent.tsx
  plugins/linear-comparative-view/src/ServerSideRenderedContent.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/components/ServerSideRenderedBlockContent.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeView.tsx
  plugins/spreadsheet-view/src/SpreadsheetView/components/Spreadsheet.tsx
  products/jbrowse-desktop/src/StartScreen/QuickstartPanel.tsx
  products/jbrowse-web/src/Loader.tsx
Labels: bug

#3305 v2.2.0 release announce
  website/release_announcement_drafts/v2.2.0.md
Labels: needs label triage

#3316 Add LGV typescripting to @jbrowse/react-linear-genome-view
  component_tests/lgv/package.json
  component_tests/lgv/tsconfig.json
  plugins/linear-genome-view/src/LinearGenomeView/index.tsx
  products/jbrowse-react-linear-genome-view/src/createModel/createSessionModel.ts
Labels: enhancement

#3319 Fix pileup "sort by" setting being lost on zoom level change
  plugins/alignments/src/LinearPileupDisplay/model.ts
  products/jbrowse-web/src/tests/AlignmentsFeatures.test.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-features-test-tsx-color-by-strand-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-features-test-tsx-selects-a-sort-sort-by-base-pair-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-features-test-tsx-selects-a-sort-sort-by-base-pair-2-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-features-test-tsx-selects-a-sort-sort-by-strand-1-snap.png
Labels: bug

#3317 Move ErrorBoundary so that tracks/views that have crashed can be closed more easily
  packages/core/ui/App.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeView.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackContainer.tsx
Labels: enhancement

#3339 Fix force flag for drawing large regions and node-fetch polyfill for node 18 fix in @jbrowse/img
  package.json
  packages/core/util/io/RemoteFileWithRangeCache.ts
  packages/core/util/io/index.ts
  plugins/alignments/src/LinearAlignmentsDisplay/components/AlignmentsDisplay.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/models/model.tsx
  plugins/sequence/src/IndexedFastaAdapter/IndexedFastaAdapter.ts
  products/jbrowse-img/README.md
  products/jbrowse-img/package.json
  products/jbrowse-img/src/index.testmod.js
  products/jbrowse-img/src/index.ts
  products/jbrowse-img/src/parseArgv.js
  products/jbrowse-img/src/parseArgv.testmod.js
  products/jbrowse-img/src/parseArgv.ts
  products/jbrowse-img/src/renderRegion.tsx
  products/jbrowse-img/src/util.js
  products/jbrowse-img/src/util.ts
  products/jbrowse-img/test/human_remote_urls_large_region.svg
  products/jbrowse-img/test/svg_from_volvox_fasta_and_bam.svg
  products/jbrowse-img/test/svg_from_volvox_fasta_and_bam_norasterize.svg
  products/jbrowse-img/test/volvox_remote_region.svg
  products/jbrowse-img/tsconfig.build.es5.json
  products/jbrowse-img/tsconfig.build.esm.json
  products/jbrowse-img/tsconfig.json
  products/jbrowse-react-linear-genome-view/package.json
Labels: bug

#3277 Add track workflow that allows pasting JSON config
  plugins/data-management/src/AddTrackWidget/components/AddTrackWidget.tsx
  plugins/data-management/src/AddTrackWidget/components/PasteConfigWorkflow.tsx
  plugins/data-management/src/AddTrackWidget/model.ts
Labels: enhancement, needs label triage

#3340 Fix linear genome view import form going into infinite loading state changing assemblies with same refnames
  packages/core/ui/AssemblySelector.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/ImportForm.tsx
  plugins/linear-genome-view/src/LinearGenomeView/index.tsx
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  products/jbrowse-web/src/tests/AssemblySelectorImportForm.test.tsx
  products/jbrowse-web/src/tests/BasicLinearGenomeView.test.tsx
  products/jbrowse-web/src/tests/TextSearching.test.tsx
  products/jbrowse-web/src/tests/TextSearchingImportForm.test.tsx
  products/jbrowse-web/src/tests/util.tsx
  test_data/volvox/config.json
  test_data/volvox/misc.fa
  test_data/volvox/misc.fa.fai
Labels: bug

#3344 fix yarn build error in Windows
  packages/text-indexing/package.json
  plugins/alignments/package.json
  plugins/arc/package.json
  plugins/authentication/package.json
  plugins/bed/package.json
  plugins/breakpoint-split-view/package.json
  plugins/circular-view/package.json
  plugins/comparative-adapters/package.json
  plugins/config/package.json
  plugins/data-management/package.json
  plugins/dotplot-view/package.json
  plugins/gccontent/package.json
  plugins/gff3/package.json
  plugins/grid-bookmark/package.json
  plugins/gtf/package.json
  plugins/hic/package.json
  plugins/jobs-management/package.json
  plugins/legacy-jbrowse/package.json
  plugins/linear-comparative-view/package.json
  plugins/linear-genome-view/package.json
  plugins/lollipop/package.json
  plugins/menus/package.json
  plugins/protein/package.json
  plugins/rdf/package.json
  plugins/sequence/package.json
  plugins/spreadsheet-view/package.json
  plugins/sv-inspector/package.json
  plugins/svg/package.json
  plugins/text-indexing/package.json
  plugins/trackhub-registry/package.json
  plugins/trix/package.json
  plugins/variants/package.json
  plugins/wiggle/package.json
  products/jbrowse-react-linear-genome-view/package.json
Labels: internal

#3348 Fix for breakpoint split view and circular view issues with `<TRA>` type entries in v2.2.1
  plugins/breakpoint-split-view/package.json
  plugins/spreadsheet-view/package.json
  plugins/variants/package.json
  yarn.lock
Labels: bug

#3359 Fix typos in codebase using typos-cli
  .github/workflows/pull_request.yml
  .ignore
  packages/core/data_adapters/BaseAdapter.ts
  packages/core/pluggableElementTypes/renderers/ServerSideRendererType.tsx
  packages/core/util/formatFastaStrings.ts
  packages/core/util/tracks.ts
  plugins/alignments/src/PileupRenderer/configSchema.ts
  plugins/circular-view/src/BaseChordDisplay/models/BaseChordDisplayModel.ts
  plugins/comparative-adapters/src/MCScanAnchorsAdapter/MCScanAnchorsAdapter.ts
  plugins/comparative-adapters/src/MCScanSimpleAnchorsAdapter/MCScanSimpleAnchorsAdapter.ts
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.tsx.snap
  plugins/config/src/FromConfigAdapter/FromConfigSequenceAdapter.ts
  plugins/data-management/src/AssemblyManager/AssemblyManager.test.tsx
  plugins/dotplot-view/src/ComparativeRenderer/index.ts
  plugins/dotplot-view/src/DotplotRenderer/ComparativeRenderRpc.ts
  plugins/dotplot-view/src/DotplotView/components/ImportCustomTrack.tsx
  plugins/gccontent/src/GCContentAdapter/GCContentAdapter.ts
  plugins/legacy-jbrowse/src/JBrowse1Connection/jb1ToJb2.ts
  plugins/legacy-jbrowse/src/JBrowse1TextSearchAdapter/HttpMap.test.ts
  plugins/legacy-jbrowse/src/JBrowse1TextSearchAdapter/HttpMap.ts
  plugins/legacy-jbrowse/src/JBrowse1TextSearchAdapter/JBrowse1TextSearchAdapter.test.ts
  plugins/legacy-jbrowse/src/JBrowse1TextSearchAdapter/JBrowse1TextSearchAdapter.ts
  plugins/legacy-jbrowse/src/JBrowse1TextSearchAdapter/configSchema.ts
  plugins/legacy-jbrowse/src/JBrowse1TextSearchAdapter/index.ts
  plugins/legacy-jbrowse/src/NCListAdapter/NCListAdapter.ts
  plugins/legacy-jbrowse/src/index.ts
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/stateModelFactory.ts
  plugins/linear-comparative-view/src/LinearComparativeView/components/RubberBand.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportCustomTrack.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/models/serverSideRenderedBlock.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/ImportForm.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/RefNameAutocomplete.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackContainer.tsx
  plugins/lollipop/src/LollipopRenderer/Layout.ts
  plugins/sequence/src/IndexedFastaAdapter/IndexedFastaAdapter.ts
  plugins/sequence/src/SequenceSearchAdapter/SequenceSearchAdapter.ts
  plugins/sequence/src/TwoBitAdapter/TwoBitAdapter.ts
  plugins/variants/src/LinearVariantDisplay/configSchema.test.js
  plugins/wiggle/src/WiggleRendering.tsx
  products/jbrowse-desktop/public/generateFastaIndex.ts
  products/jbrowse-desktop/src/indexJobsModel.ts
  products/jbrowse-react-linear-genome-view/stories/UsingInternetAccounts.stories.mdx
  products/jbrowse-web/src/tests/CopyAndDelete.test.tsx
  test_data/config_demo.json
  website/blog/2022-01-07-v1.5.5-release.md
  website/docs/archive/bcc2020_plugin_development.md
  website/docs/config/BedpeAdapter.md
  website/docs/config/PileupRenderer.md
  website/docs/introduction.md
  website/docs/models/BaseChordDisplay.md
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
  website/docs/models/LinearBasicDisplay.md
  website/docs/tutorials/config_cli.md
  website/docs/tutorials/no_build_plugin_tutorial.md
  website/docs/tutorials/simple_plugin.md
  website/docs/user_guides/alignments_track.md
Labels: enhancement
