Repository GMOD/jbrowse-components, pull requests merged in 2022-04, with the labels that each got.

#2864 Add jobs list widget
  packages/core/ui/App.tsx
  packages/core/ui/Snackbar.tsx
  packages/core/ui/SnackbarModel.ts
  packages/core/util/types/index.ts
  packages/text-indexing/src/TextIndexing.ts
  packages/text-indexing/src/types/gff3Adapter.ts
  packages/text-indexing/src/types/vcfAdapter.ts
  plugins/data-management/src/AddTrackWidget/components/AddTrackWidget.tsx
  plugins/data-management/src/AddTrackWidget/components/ConfirmTrack.tsx
  plugins/text-indexing/package.json
  plugins/text-indexing/src/JobsListWidget/components/CurrentJobCard.tsx
  plugins/text-indexing/src/JobsListWidget/components/JobCard.tsx
  plugins/text-indexing/src/JobsListWidget/components/JobsListWidget.tsx
  plugins/text-indexing/src/JobsListWidget/index.js
  plugins/text-indexing/src/JobsListWidget/model.ts
  plugins/text-indexing/src/TextIndexRpcMethod/TextIndexRpcMethod.ts
  plugins/text-indexing/src/index.ts
  products/jbrowse-desktop/src/__snapshots__/rootModel.test.js.snap
  products/jbrowse-desktop/src/rootModel.ts
  products/jbrowse-desktop/src/sessionModelFactory.ts
Labels: enhancement

#2877 Fix strand on arrows in reverse mode
  plugins/svg/src/SvgFeatureRenderer/components/Arrow.tsx
  plugins/svg/src/SvgFeatureRenderer/components/ProcessedTranscript.tsx
  plugins/svg/src/SvgFeatureRenderer/components/Segments.tsx
Labels: bug

#2872 Better connection between paired-end alignments in breakpoint split view and optimizations
  plugins/breakpoint-split-view/src/BreakpointSplitView.test.tsx
  plugins/breakpoint-split-view/src/__snapshots__/BreakpointSplitView.test.tsx.snap
  plugins/breakpoint-split-view/src/__snapshots__/model.test.tsx.snap
  plugins/breakpoint-split-view/src/components/AlignmentConnections.tsx
  plugins/breakpoint-split-view/src/components/Breakends.tsx
  plugins/breakpoint-split-view/src/components/Translocations.tsx
  plugins/breakpoint-split-view/src/model.test.tsx
  plugins/breakpoint-split-view/src/model.ts
Labels: enhancement

#2875 Make assembly selector remember your last selected assembly
  packages/core/ui/AssemblySelector.tsx
Labels: enhancement

#2874 Optimizations for rendering long syntenic alignments e.g. CHM13 vs GRCh38
  plugins/dotplot-view/src/DotplotRenderer/DotplotRenderer.ts
  plugins/linear-comparative-view/src/LinearSyntenyRenderer/components/LinearSyntenyRendering.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/LinearSyntenyView.tsx
  test_data/config_demo.json
Labels: enhancement

#2781 Add floating labels to SVG features
  packages/core/util/index.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/BaseLinearDisplayModel.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/models/serverSideRenderedBlock.ts
  plugins/linear-genome-view/src/LinearBasicDisplay/model.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.js.snap
  plugins/svg/src/SvgFeatureRenderer/components/Box.tsx
  plugins/svg/src/SvgFeatureRenderer/components/FeatureGlyph.tsx
  plugins/svg/src/SvgFeatureRenderer/components/FeatureLabel.tsx
  plugins/svg/src/SvgFeatureRenderer/components/Subfeatures.tsx
  plugins/svg/src/SvgFeatureRenderer/components/SvgFeatureRendering.test.js
  plugins/svg/src/SvgFeatureRenderer/components/SvgFeatureRendering.tsx
  plugins/svg/src/SvgFeatureRenderer/components/__snapshots__/SvgFeatureRendering.test.js.snap
  plugins/svg/src/SvgFeatureRenderer/components/util.ts
Labels: enhancement

#2882 Add padding at the bottom of the configuration editor to help color editing popup being cutoff
  plugins/config/src/ConfigurationEditorWidget/components/ConfigurationEditor.js
Labels: bug

#2884 Bump deps
  products/jbrowse-cli/package.json
  yarn.lock
Labels: dependencies

#2887 Optimize filtering on alignments tracks
  plugins/alignments/src/BamAdapter/BamAdapter.ts
  plugins/alignments/src/CramAdapter/CramAdapter.ts
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/LinearSNPCoverageDisplay/models/model.ts
  plugins/alignments/src/SNPCoverageAdapter/SNPCoverageAdapter.ts
  plugins/wiggle/src/LinearWiggleDisplay/models/model.tsx
Labels: performance

#2890 Back to babel for core build
  packages/core/package.json
  packages/core/tsconfig.json
Labels: internal

#2900 Fix the 'Open assembly' menu item in jbrowse desktop
  products/jbrowse-desktop/src/rootModel.ts
Labels: bug

#2891 Callback to import ESM from PluginLoader
  packages/core/PluginLoader.ts
  packages/core/PluginManager.ts
  products/jbrowse-desktop/src/StartScreen/util.tsx
  products/jbrowse-desktop/src/rpc.worker.ts
  products/jbrowse-react-circular-genome-view/src/loadPlugins.ts
  products/jbrowse-react-linear-genome-view/src/loadPlugins.ts
  products/jbrowse-web/src/Loader.tsx
  products/jbrowse-web/src/SessionLoader.ts
  products/jbrowse-web/src/rpc.worker.ts
Labels: internal

#2902 Standardize heights of widgets in LGV import form
  packages/core/ui/AssemblySelector.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/Header.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/ImportForm.tsx
  plugins/linear-genome-view/src/LinearGenomeView/index.tsx
Labels: enhancement

#2905 Use react-use-measure instead of react-use-dimensions
  package.json
  packages/__mocks__/react-use-measure.ts
  packages/core/package.json
  packages/core/ui/App.tsx
  packages/core/ui/ViewContainer.tsx
  plugins/breakpoint-split-view/package.json
  plugins/linear-comparative-view/package.json
  plugins/linear-genome-view/package.json
  products/jbrowse-react-circular-genome-view/package.json
  products/jbrowse-react-circular-genome-view/src/JBrowseCircularGenomeView/ViewContainer.tsx
  products/jbrowse-react-circular-genome-view/src/declare.d.ts
  products/jbrowse-react-linear-genome-view/package.json
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/ViewContainer.tsx
  products/jbrowse-react-linear-genome-view/src/declare.d.ts
  yarn.lock
Labels: internal

#2904 Use a user-supplied fetchCJS callback to import CJS plugins
  packages/core/PluginLoader.ts
  packages/core/package.json
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/src/StartScreen/util.tsx
Labels: internal

#2908 Fix AboutDialog under vite for embedded components
  products/jbrowse-react-circular-genome-view/src/createModel/createSessionModel.ts
  products/jbrowse-react-linear-genome-view/src/createModel/createSessionModel.ts
Labels: bug

#2909 Add --prefixSize flag to @jbrowse/cli text-index
  products/jbrowse-cli/README.md
  products/jbrowse-cli/package.json
  products/jbrowse-cli/src/commands/__snapshots__/text-index.test.ts.snap
  products/jbrowse-cli/src/commands/text-index.ts
  test_data/volvox/trix/volvox.ixx
  test_data/volvox/trix/volvox_meta.json
  yarn.lock
Labels: enhancement

#2914 Manually polyfill fetch in @jbrowse/img
  products/jbrowse-img/package.json
  products/jbrowse-img/src/index.js
Labels: bug

#2903 Add download link for jbrowse web on downloads page
  website/src/pages/download.mdx
Labels: documentation

#2907 Remove unneeded package.json imports
  .github/workflows/pull_request.yml
  babel.config.js
  package.json
  packages/core/package.json
  packages/core/ui/declare.d.ts
  packages/core/ui/emptyIcon.png
  packages/core/ui/linearGenomeViewIcon.png
  packages/core/ui/svInspectorIcon.png
  packages/core/util/io/index.ts
  plugins/alignments/package.json
  plugins/authentication/package.json
  plugins/breakpoint-split-view/package.json
  plugins/config/package.json
  plugins/data-management/package.json
  plugins/dotplot-view/package.json
  plugins/gff3/package.json
  plugins/hic/package.json
  plugins/linear-comparative-view/package.json
  plugins/linear-genome-view/package.json
  plugins/menus/package.json
  plugins/sequence/package.json
  plugins/spreadsheet-view/package.json
  plugins/sv-inspector/package.json
  plugins/wiggle/package.json
  products/jbrowse-cli/package.json
  products/jbrowse-desktop/package.json
  products/jbrowse-web/package.json
  products/jbrowse-web/src/tests/util.js
  yarn.lock
Labels: dependencies

#2925 Fix embedded vanillaJS/script tag usage of embedded components
  .github/workflows/push.yml
  component_test/craco.config.js
  component_test/cypress/integration/basic.spec.ts
  component_test/cypress/plugins/index.js
  component_test/package.json
  component_test/src/App.tsx
  package.json
  yarn.lock
Labels: bug

#2684 Text-indexing in desktop
  package.json
  packages/core/TextSearch/TextSearchManager.ts
  packages/core/rpc/coreRpcMethods.ts
  packages/core/ui/App.tsx
  packages/core/ui/Icons.tsx
  packages/core/ui/Snackbar.tsx
  packages/core/ui/SnackbarModel.ts
  packages/core/util/index.ts
  packages/core/util/types/index.ts
  packages/text-indexing/package.json
  packages/text-indexing/src/TextIndexing.ts
  packages/text-indexing/src/index.ts
  packages/text-indexing/src/types/common.test.ts
  packages/text-indexing/src/types/common.ts
  packages/text-indexing/src/types/gff3Adapter.ts
  packages/text-indexing/src/types/vcfAdapter.ts
  packages/text-indexing/src/util.ts
  packages/text-indexing/tsconfig.json
  plugins/data-management/src/AddTrackWidget/components/AddTrackWidget.tsx
  plugins/data-management/src/AddTrackWidget/components/ConfirmTrack.tsx
  plugins/data-management/src/AddTrackWidget/model.ts
  plugins/jobs-management/.babelrc
  plugins/jobs-management/package.json
  plugins/jobs-management/src/JobsListWidget/components/CurrentJobCard.tsx
  plugins/jobs-management/src/JobsListWidget/components/JobCard.tsx
  plugins/jobs-management/src/JobsListWidget/components/JobsListWidget.tsx
  plugins/jobs-management/src/JobsListWidget/index.js
  plugins/jobs-management/src/JobsListWidget/model.ts
  plugins/jobs-management/src/index.ts
  plugins/jobs-management/tsconfig.json
  plugins/text-indexing/.babelrc
  plugins/text-indexing/package.json
  plugins/text-indexing/src/TextIndexRpcMethod/TextIndexRpcMethod.ts
  plugins/text-indexing/src/index.ts
  plugins/text-indexing/tsconfig.json
  plugins/trix/src/TrixTextSearchAdapter/TrixTextSearchAdapter.test.ts
  products/jbrowse-cli/src/base.ts
  products/jbrowse-cli/src/commands/text-index.ts
  products/jbrowse-cli/src/types/common.ts
  products/jbrowse-cli/src/types/gff3Adapter.ts
  products/jbrowse-cli/src/types/vcfAdapter.ts
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/src/JBrowse.tsx
  products/jbrowse-desktop/src/StartScreen/util.tsx
  products/jbrowse-desktop/src/__snapshots__/rootModel.test.js.snap
  products/jbrowse-desktop/src/corePlugins.ts
  products/jbrowse-desktop/src/indexJobsModel.ts
  products/jbrowse-desktop/src/rootModel.test.js
  products/jbrowse-desktop/src/rootModel.ts
  products/jbrowse-desktop/src/sessionModelFactory.ts
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  products/jbrowse-web/src/tests/TextSearching.test.tsx
  test_data/volvox/config.json
  test_data/volvox/trix/volvox_meta.json
  yarn.lock
Labels: enhancement

#2752 Allow track to not have adapter
  plugins/linear-genome-view/src/BaseLinearDisplay/models/BaseLinearDisplayModel.tsx
Labels: needs label triage

#2928 Add vanillajs/script tag loading embedded components demos
  demos/jbrowse-react-circular-genome-view-vanillajs/assembly.js
  demos/jbrowse-react-circular-genome-view-vanillajs/genomeView.js
  demos/jbrowse-react-circular-genome-view-vanillajs/index.html
  demos/jbrowse-react-circular-genome-view-vanillajs/package.json
  demos/jbrowse-react-circular-genome-view-vanillajs/tracks.js
  demos/jbrowse-react-linear-genome-view-vanillajs/assembly.js
  demos/jbrowse-react-linear-genome-view-vanillajs/genomeView.js
  demos/jbrowse-react-linear-genome-view-vanillajs/index.html
  demos/jbrowse-react-linear-genome-view-vanillajs/package.json
  demos/jbrowse-react-linear-genome-view-vanillajs/tracks.js
  website/docs/embedded_components.md
Labels: enhancement

#2927 Optimize gtf by only parsing lazily per-refName
  plugins/gtf/src/GtfAdapter/GtfAdapter.ts
Labels: enhancement, performance

#2934 Bump @gmod/trix to fix prefix size calculation and searching first word in index
  plugins/bed/package.json
  plugins/trix/package.json
  plugins/wiggle/package.json
  yarn.lock
Labels: bug

#2916 Add vite setup to our embedded component demos
  demos/jbrowse-react-linear-genome-view-vite/.gitignore
  demos/jbrowse-react-linear-genome-view-vite/README.md
  demos/jbrowse-react-linear-genome-view-vite/index.html
  demos/jbrowse-react-linear-genome-view-vite/package.json
  demos/jbrowse-react-linear-genome-view-vite/src/App.css
  demos/jbrowse-react-linear-genome-view-vite/src/App.tsx
  demos/jbrowse-react-linear-genome-view-vite/src/assembly.ts
  demos/jbrowse-react-linear-genome-view-vite/src/favicon.svg
  demos/jbrowse-react-linear-genome-view-vite/src/index.css
  demos/jbrowse-react-linear-genome-view-vite/src/logo.svg
  demos/jbrowse-react-linear-genome-view-vite/src/main.tsx
  demos/jbrowse-react-linear-genome-view-vite/src/tracks.ts
  demos/jbrowse-react-linear-genome-view-vite/src/vite-env.d.ts
  demos/jbrowse-react-linear-genome-view-vite/tsconfig.json
  demos/jbrowse-react-linear-genome-view-vite/vite.config.ts
  demos/jbrowse-react-linear-genome-view-vite/yarn.lock
  website/docs/embedded_components.md
Labels: enhancement

#2863 Render gene with CDS subfeatures properly
  plugins/svg/src/SvgFeatureRenderer/components/Box.tsx
  plugins/svg/src/SvgFeatureRenderer/components/util.ts
Labels: bug

#2935 Use the name "Read Sequence" for the read vs ref view
  plugins/linear-comparative-view/src/ReadVsRef.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackLabel.tsx
  plugins/sequence/src/referenceSeqTrackConfig.ts
Labels: enhancement

#2885 Reduce serialization overhead on alignments tracks and access feature details asynchronously
  packages/core/BaseFeatureWidget/SequenceFeatureDetails.tsx
  packages/core/assemblyManager/assemblyManager.ts
  packages/core/pluggableElementTypes/models/BaseTrackModel.ts
  packages/core/pluggableElementTypes/renderers/BoxRendererType.ts
  packages/core/pluggableElementTypes/renderers/FeatureRendererType.ts
  packages/core/pluggableElementTypes/renderers/ServerSideRendererType.tsx
  packages/core/rpc/BaseRpcDriver.ts
  packages/core/rpc/RpcManager.ts
  packages/core/rpc/coreRpcMethods.ts
  packages/core/util/index.ts
  packages/core/util/layouts/BaseLayout.ts
  packages/core/util/layouts/GranularRectLayout.test.js
  packages/core/util/layouts/GranularRectLayout.ts
  packages/core/util/layouts/MultiLayout.ts
  plugins/alignments/src/LinearPileupDisplay/configSchema.ts
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/PileupRenderer/PileupRenderer.tsx
  plugins/breakpoint-split-view/package.json
  plugins/breakpoint-split-view/src/BreakpointSplitView.test.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView.ts
  plugins/breakpoint-split-view/src/__snapshots__/BreakpointSplitView.test.tsx.snap
  plugins/breakpoint-split-view/src/__snapshots__/model.test.tsx.snap
  plugins/breakpoint-split-view/src/components/AlignmentConnections.tsx
  plugins/breakpoint-split-view/src/components/Breakends.tsx
  plugins/breakpoint-split-view/src/components/BreakpointSplitView.test.js
  plugins/breakpoint-split-view/src/components/BreakpointSplitView.tsx
  plugins/breakpoint-split-view/src/components/Translocations.tsx
  plugins/breakpoint-split-view/src/model.test.tsx
  plugins/breakpoint-split-view/src/model.ts
  plugins/linear-comparative-view/src/ReadVsRef.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/models/BaseLinearDisplayModel.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/models/serverSideRenderedBlock.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/SequenceDialog.tsx
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  test_data/volvox/config.json
  test_data/volvox/config_main_thread.json
  test_data/volvox/volvox_jb1_text_config.json
Labels: enhancement, performance

#2939 Fix loading CRAM, TwoBit, and other modules that use @gmod/binary-parser on jbrowse desktop
  products/jbrowse-desktop/craco.config.js
Labels: bug

#2941 Fix linear read vs ref hanging in v1.7.5
  plugins/linear-comparative-view/src/ReadVsRef.tsx
  products/jbrowse-web/src/tests/ReadVsRef.test.js
  products/jbrowse-web/src/tests/__image_snapshots__/read-vs-ref-test-js-launch-read-vs-ref-panel-1-snap.png
Labels: bug
