Repository GMOD/jbrowse-components, pull requests merged in 2023-04, with the labels that each got.

#3620 Fix potential crashes where alignment SEQ field may be empty
  packages/core/ReExports/modules.tsx
  plugins/alignments/src/LinearPileupDisplay/components/SetMaxHeight.tsx
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/PileupRenderer/PileupRenderer.ts
  plugins/alignments/src/SNPCoverageAdapter/generateCoverageBins.ts
  plugins/linear-comparative-view/src/LinearReadVsRef/LinearReadVsRef.tsx
  plugins/wiggle/src/LinearWiggleDisplay/models/model.tsx
  yarn.lock
Labels: bug

#3625 Ucsc trackhub assembly aliases matching
  plugins/data-management/src/ucsc-trackhub/model.ts
Labels: needs label triage

#3630 Fix flakyness of connection test
  .eslintrc.json
  config/jest/createRange.js
  jest.config.js
  package.json
  packages/__mocks__/@jbrowse/core/ui/SanitizedHTML.tsx
  packages/core/PluginManager.ts
  packages/core/ui/SanitizedHTML.tsx
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.tsx.snap
  plugins/data-management/src/AddConnectionWidget/components/AddConnectionWidget.test.tsx
  plugins/data-management/src/AddConnectionWidget/components/AddConnectionWidget.tsx
  plugins/data-management/src/AddConnectionWidget/components/ConfigureConnection.tsx
  plugins/data-management/src/AddConnectionWidget/components/ConnectionTypeSelect.tsx
  plugins/data-management/src/AddConnectionWidget/components/__snapshots__/AddConnectionWidget.test.tsx.snap
  plugins/data-management/src/ucsc-trackhub/model.ts
  plugins/legacy-jbrowse/src/JBrowse1TextSearchAdapter/HttpMap.test.ts
  plugins/legacy-jbrowse/src/JBrowse1TextSearchAdapter/JBrowse1TextSearchAdapter.test.ts
  plugins/rdf/src/SPARQLAdapter/SPARQLAdapter.test.ts
  products/jbrowse-web/src/tests/Connection.test.tsx
  products/jbrowse-web/src/tests/Loader.test.tsx
  products/jbrowse-web/src/tests/Synteny.test.tsx
  yarn.lock
Labels: bug, housekeeping

#3621 Update plugin rollup polyfill package
  packages/core/ReExports/list.ts
  packages/core/ReExports/modules.tsx
  plugin-development-tools/package.json
  plugin-development-tools/src/createRollupConfig.ts
  plugin-development-tools/yarn.lock
Labels: bug, housekeeping

#3632 Fix mouse click-and-drag behavior in the alternative "cursor mode" for the dotplot view
  package.json
  plugins/dotplot-view/src/DotplotView/components/DotplotView.tsx
  plugins/dotplot-view/src/DotplotView/model.ts
  yarn.lock
Labels: bug

#3626 Update to mui x-data-grid 6
  package.json
  packages/core/BaseFeatureWidget/BaseFeatureDetail.tsx
  packages/core/package.json
  plugins/data-management/package.json
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/faceted/FacetedSelector.tsx
  plugins/dotplot-view/package.json
  plugins/dotplot-view/src/DotplotView/components/WarningDialog.tsx
  plugins/grid-bookmark/package.json
  plugins/grid-bookmark/src/GridBookmarkWidget/components/GridBookmarkWidget.tsx
  plugins/variants/package.json
  plugins/variants/src/VariantFeatureWidget/VariantSampleGrid.tsx
  plugins/wiggle/package.json
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/SetColorDialog.tsx
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/src/StartScreen/RecentSessionList.tsx
  products/jbrowse-web/package.json
  yarn.lock
Labels: enhancement

#3618 Clarify adapter APIs for stats fetching endpoints
  packages/core/TextSearch/TextSearchManager.ts
  packages/core/assemblyManager/assembly.ts
  packages/core/data_adapters/BaseAdapter.ts
  packages/core/data_adapters/BaseAdapter/BaseAdapter.ts
  packages/core/data_adapters/BaseAdapter/BaseFeatureDataAdapter.ts
  packages/core/data_adapters/BaseAdapter/BaseOptions.ts
  packages/core/data_adapters/BaseAdapter/BaseRefNameAliasAdapter.ts
  packages/core/data_adapters/BaseAdapter/BaseSequenceAdapter.ts
  packages/core/data_adapters/BaseAdapter/BaseTextSearchAdapter.ts
  packages/core/data_adapters/BaseAdapter/RegionsAdapter.ts
  packages/core/data_adapters/BaseAdapter/index.ts
  packages/core/data_adapters/BaseAdapter/types.ts
  packages/core/data_adapters/BaseAdapter/util.ts
  packages/core/rpc/coreRpcMethods.ts
  packages/core/rpc/methods/CoreGetFeatureDensityStats.ts
  packages/core/util/stats.test.ts
  packages/core/util/stats.ts
  plugins/alignments/src/BamAdapter/BamAdapter.ts
  plugins/alignments/src/CramAdapter/CramAdapter.ts
  plugins/alignments/src/LinearAlignmentsDisplay/models/model.tsx
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/LinearSNPCoverageDisplay/models/model.ts
  plugins/alignments/src/SNPCoverageAdapter/SNPCoverageAdapter.ts
  plugins/hic/src/HicAdapter/HicAdapter.ts
  plugins/legacy-jbrowse/src/JBrowse1TextSearchAdapter/JBrowse1TextSearchAdapter.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/components/TooLargeMessage.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/models/BaseLinearDisplayModel.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/models/util.ts
  plugins/trix/src/TrixTextSearchAdapter/TrixTextSearchAdapter.ts
  plugins/wiggle/src/BigWigAdapter/BigWigAdapter.test.ts
  plugins/wiggle/src/BigWigAdapter/BigWigAdapter.ts
  plugins/wiggle/src/LinearWiggleDisplay/models/model.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/models/model.tsx
  plugins/wiggle/src/MultiWiggleAdapter/MultiWiggleAdapter.ts
  plugins/wiggle/src/WiggleRPC/MultiWiggleGetSources.ts
  plugins/wiggle/src/WiggleRPC/WiggleGetGlobalQuantitativeStats.ts
  plugins/wiggle/src/WiggleRPC/WiggleGetMultiRegionQuantitativeStats.ts
  plugins/wiggle/src/WiggleRPC/rpcMethods.ts
  plugins/wiggle/src/index.ts
  plugins/wiggle/src/util.ts
  products/jbrowse-img/src/renderRegion.tsx
  website/docs/developer_guides/pluggable_elements.md
  website/docs/models/BaseLinearDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
  website/docs/models/LinearBasicDisplay.md
  website/docs/models/LinearWiggleDisplay.md
Labels: internal

#3637 Fix renderDelay not being applied to dynamicBlocks
  plugins/linear-genome-view/src/BaseLinearDisplay/models/serverSideRenderedBlock.ts
Labels: enhancement

#3642 Fix error handling of feature detail formatter jexl callbacks
  packages/core/BaseFeatureWidget/BaseFeatureDetail.tsx
  packages/core/BaseFeatureWidget/index.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/serverSideRenderedBlock.ts
  products/jbrowse-web/src/tests/util.tsx
  yarn.lock
Labels: bug

#3629 typescript checking for config slot names
  packages/core/Plugin.ts
  packages/core/assemblyManager/assembly.ts
  packages/core/configuration/configurationSchema.test.ts
  packages/core/configuration/configurationSchema.ts
  packages/core/configuration/index.ts
  packages/core/configuration/types.ts
  packages/core/configuration/util.ts
  packages/core/data_adapters/BaseAdapter/BaseAdapter.ts
  packages/core/pluggableElementTypes/AdapterType.ts
  packages/core/pluggableElementTypes/ConnectionType.ts
  packages/core/pluggableElementTypes/DisplayType.ts
  packages/core/pluggableElementTypes/InternetAccountType.ts
  packages/core/pluggableElementTypes/TextSearchAdapterType.ts
  packages/core/pluggableElementTypes/models/BaseTrackModel.ts
  packages/core/pluggableElementTypes/models/InternetAccountModel.ts
  packages/core/pluggableElementTypes/renderers/FeatureRendererType.ts
  packages/core/pluggableElementTypes/renderers/RendererType.ts
  packages/core/pluggableElementTypes/renderers/ServerSideRendererType.tsx
  packages/core/util/types/index.ts
  plugins/alignments/src/CramAdapter/CramTestAdapters.ts
  plugins/alignments/src/LinearReadCloudDisplay/drawFeats.ts
  plugins/alignments/src/PileupRenderer/PileupLayoutSession.ts
  plugins/arc/src/LinearArcDisplay/model.ts
  plugins/circular-view/src/BaseChordDisplay/models/model.tsx
  plugins/config/src/ConfigurationEditorWidget/components/SlotEditor.tsx
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.tsx.snap
  plugins/data-management/src/AddTrackWidget/components/DefaultAddTrackWorkflow.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/dialogs/DeleteConnectionDialog.tsx
  plugins/data-management/src/ucsc-trackhub/model.ts
  plugins/hic/src/HicRenderer/HicRenderer.tsx
  plugins/hic/src/LinearHicDisplay/model.ts
  plugins/linear-comparative-view/src/LinearComparativeView/components/LinearComparativeView.tsx
  plugins/linear-comparative-view/src/LinearReadVsRef/LinearReadVsRef.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/models/BaseLinearDisplayModel.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/models/configSchema.ts
  plugins/linear-genome-view/src/LinearBareDisplay/model.ts
  plugins/linear-genome-view/src/LinearBasicDisplay/configSchema.ts
  plugins/lollipop/src/LinearLollipopDisplay/model.ts
  plugins/lollipop/src/LollipopRenderer/Layout.ts
  plugins/sequence/src/TwoBitAdapter/TwoBitAdapter.ts
  plugins/wiggle/src/util.ts
  products/jbrowse-desktop/src/jbrowseModel.ts
  products/jbrowse-desktop/src/sessionModelFactory.ts
  products/jbrowse-react-circular-genome-view/src/createModel/createConfigModel.ts
  products/jbrowse-react-circular-genome-view/src/createViewState.ts
  products/jbrowse-web/src/SessionLoader.ts
Labels: internal

#3647 Refactoring navToMultiple and related
  packages/core/assemblyManager/assembly.ts
  plugins/data-management/src/AddTrackWidget/components/TextIndexingConfig.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/ImportForm.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeView.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/SearchResultsDialog.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/SearchResultsTable.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.tsx.snap
  plugins/linear-genome-view/src/LinearGenomeView/components/util.ts
  plugins/linear-genome-view/src/LinearGenomeView/index.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  plugins/linear-genome-view/src/LinearGenomeView/util.ts
  products/jbrowse-img/src/index.test.ts
  products/jbrowse-img/src/renderRegion.tsx
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
  products/jbrowse-web/src/tests/TextSearching.test.tsx
  products/jbrowse-web/src/tests/TextSearchingImportForm.test.tsx
  yarn.lock
Labels: internal

#3660 Bump x-data-grid dependency, refactors for BaseFeatureDetails, add GridToolbar
  config/jest/resizeObserver.js
  jest.config.js
  package.json
  packages/core/BaseFeatureWidget/BaseFeatureDetail/ArrayValue.tsx
  packages/core/BaseFeatureWidget/BaseFeatureDetail/Attributes.tsx
  packages/core/BaseFeatureWidget/BaseFeatureDetail/BasicField.tsx
  packages/core/BaseFeatureWidget/BaseFeatureDetail/BasicValue.tsx
  packages/core/BaseFeatureWidget/BaseFeatureDetail/DataGrid.tsx
  packages/core/BaseFeatureWidget/BaseFeatureDetail/FieldName.tsx
  packages/core/BaseFeatureWidget/BaseFeatureDetail/UriField.tsx
  packages/core/BaseFeatureWidget/BaseFeatureDetail/UriLink.tsx
  packages/core/BaseFeatureWidget/BaseFeatureDetail/index.tsx
  packages/core/BaseFeatureWidget/BaseFeatureDetail/util.ts
  packages/core/ReExports/modules.tsx
  packages/core/ui/ResizeBar.tsx
  plugins/alignments/src/AlignmentsFeatureDetail/AlignmentsFeatureDetail.tsx
  plugins/alignments/src/AlignmentsFeatureDetail/__snapshots__/index.test.tsx.snap
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/faceted/FacetedHeader.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/faceted/FacetedSelector.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/GridBookmarkWidget.test.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/GridBookmarkWidget.tsx
  plugins/variants/src/VariantFeatureWidget/AnnotGrid.tsx
  plugins/variants/src/VariantFeatureWidget/BreakendOptionDialog.tsx
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.tsx
  plugins/variants/src/VariantFeatureWidget/VariantSampleGrid.tsx
  plugins/variants/src/VariantFeatureWidget/__snapshots__/VariantFeatureWidget.test.tsx.snap
  products/jbrowse-desktop/src/index.css
  products/jbrowse-desktop/src/index.tsx
  products/jbrowse-web/craco.config.js
  products/jbrowse-web/src/index.css
  products/jbrowse-web/src/index.tsx
  products/jbrowse-web/src/tests/ConfigurationEditor.test.tsx
  yarn.lock
Labels: enhancement

#3671 Fix website documentation sidebar on browsers with prefers-reduced-motion
  plugins/data-management/src/PluginStoreWidget/components/PluginStoreWidget.tsx
  products/jbrowse-desktop/src/jbrowseConfig.ts
  products/jbrowse-web/src/jbrowseConfig.ts
  website/blog/2021-11-04-v1.5.1-release.md
  website/docs/config/JBrowseDesktopConfiguration.md
  website/docs/config/JBrowseWebConfiguration.md
  website/docs/models/LinearGenomeView.md
  website/docs/models/LinearWiggleDisplay.md
  website/package.json
  website/yarn.lock
Labels: documentation
