Repository GMOD/jbrowse-components, pull requests merged in 2023-03, with the labels that each got.

#3556 Fix infinite loading state when no synteny features are visible in synteny view
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.tsx.snap
  plugins/data-management/src/AddConnectionWidget/components/__snapshots__/AddConnectionWidget.test.tsx.snap
  plugins/linear-comparative-view/src/LinearComparativeDisplay/stateModelFactory.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.tsx.snap
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
  yarn.lock
Labels: bug

#3558 Fix visual effect from using the overview scalebar click and dragging backwards
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewRubberband.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewScalebar.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/RubberbandSpan.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.tsx.snap
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
Labels: bug

#3561 Dotplot UI improvements
  packages/core/util/Base1DViewModel.ts
  plugins/dotplot-view/src/DotplotView/1dview.ts
  plugins/dotplot-view/src/DotplotView/components/DotplotView.tsx
  plugins/dotplot-view/src/DotplotView/components/DotplotWarnings.tsx
  plugins/dotplot-view/src/DotplotView/components/Header.tsx
  plugins/dotplot-view/src/DotplotView/components/PanButtons.tsx
  plugins/dotplot-view/src/DotplotView/components/WarningDialog.tsx
  plugins/dotplot-view/src/DotplotView/model.ts
  plugins/linear-genome-view/src/LinearGenomeView/index.ts
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
Labels: enhancement

#3564 Double click zoom
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.tsx.snap
  plugins/data-management/src/AddConnectionWidget/components/__snapshots__/AddConnectionWidget.test.tsx.snap
  plugins/linear-genome-view/src/LinearGenomeView/components/TracksContainer.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.tsx.snap
  plugins/linear-genome-view/src/LinearGenomeView/components/hooks.ts
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
  yarn.lock
Labels: enhancement

#3566 Fix use of "show all regions with data" feature in SV inspector with TRA entries (fetch CHR2 from INFO)
  plugins/linear-genome-view/src/LinearGenomeView/index.test.ts
  plugins/sv-inspector/src/SvInspectorView/index.ts
  plugins/sv-inspector/src/SvInspectorView/models/SvInspectorView.ts
  plugins/sv-inspector/src/SvInspectorView/models/breakpointSplitViewFromTableRow.js
  website/docs/models/Base1DView.md
  website/docs/models/BaseLinearDisplay.md
  website/docs/models/Dotplot1DView.md
  website/docs/models/DotplotView.md
  website/docs/models/JBrowseDesktopSessionModel.md
  website/docs/models/JBrowseReactCGVSessionModel.md
  website/docs/models/JBrowseReactLGVSessionModel.md
  website/docs/models/JBrowseWebSessionModel.md
  website/docs/models/LinearGenomeView.md
  website/docs/models/SvInspectorView.md
Labels: bug

#3567 Update github actions workflows to newer versions
  .github/workflows/desktop_build_linux.yml
  .github/workflows/desktop_build_mac.yml
  .github/workflows/desktop_build_win.yml
  .github/workflows/jbrowse-web.yml
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
  .github/workflows/website.yml
Labels: internal

#3571 Fixing link to PAG 2023 tutorial
  website/docs/archive/pag2023_workshop.md
Labels: documentation, needs label triage

#3574 Add ability to load all built-in synteny data sources from @jbrowse/cli
  products/jbrowse-cli/README.md
  products/jbrowse-cli/src/commands/add-track.test.ts
  products/jbrowse-cli/src/commands/add-track.ts
  products/jbrowse-cli/test/data/grape.bed
  products/jbrowse-cli/test/data/peach.bed
  products/jbrowse-cli/test/data/volvox_inv_indels.anchors
  products/jbrowse-cli/test/data/volvox_inv_indels.anchors.simple
  products/jbrowse-cli/test/data/volvox_inv_indels.chain
  products/jbrowse-cli/test/data/volvox_inv_indels.delta
  products/jbrowse-cli/test/data/volvox_inv_indels.out
  products/jbrowse-cli/test/data/volvox_inv_indels.paf
  products/jbrowse-cli/test/data/volvox_inv_indels.paf.gz
  yarn.lock
Labels: enhancement

#3578 Fix selected synteny feature getting unselected after scroll
  plugins/data-management/src/PluginStoreWidget/components/__snapshots__/PluginStoreWidget.test.tsx.snap
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/components/LinearSyntenyRendering.tsx
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/drawSynteny.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/model.ts
  plugins/menus/src/AboutWidget/components/__snapshots__/AboutWidget.test.tsx.snap
  plugins/menus/src/HelpWidget/components/__snapshots__/HelpWidget.test.js.snap
  yarn.lock
Labels: bug

#3534 Improve visibility of SNPs on alignments track
  packages/core/ui/theme.ts
  plugins/alignments/src/PileupRenderer/PileupRenderer.ts
  plugins/alignments/src/PileupRenderer/configSchema.ts
  plugins/alignments/src/SNPCoverageRenderer/SNPCoverageRenderer.ts
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.tsx.snap
  plugins/sequence/src/DivSequenceRenderer/components/DivSequenceRendering.tsx
  plugins/sequence/src/DivSequenceRenderer/components/__snapshots__/DivSequenceRendering.test.tsx.snap
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-features-test-tsx-color-by-tag-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-features-test-tsx-opens-the-track-menu-and-enables-soft-clipping-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-features-test-tsx-selects-a-sort-sort-by-base-pair-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-features-test-tsx-selects-a-sort-sort-by-base-pair-2-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-tsx-opens-an-alignments-track-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-tsx-opens-an-alignments-track-2-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-tsx-test-snpcoverage-doesnt-count-snpcoverage-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-tsx-test-snpcoverage-doesnt-count-snpcoverage-2-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/breakpoint_split_view_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/lgv_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/reload-bam-test-tsx-reloads-alignments-track-bai-404-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/reload-bam-test-tsx-reloads-alignments-track-bam-404-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/reload-cram-test-tsx-reloads-alignments-track-crai-404-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/reload-cram-test-tsx-reloads-alignments-track-cram-404-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/stats-estimation-test-tsx-test-stats-estimation-pileup-force-load-to-see-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/stats-estimation-test-tsx-test-stats-estimation-pileup-zoom-in-to-see-1-snap.png
  products/jbrowse-web/src/tests/__snapshots__/ExportSvg.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgBreakpointSplitView.test.tsx.snap
Labels: enhancement

#3592 Fix shading on synteny features after mouseout
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/model.ts
Labels: bug

#3593 Fix gene without subfeatures not being displayed in sequence feature details
  packages/core/BaseFeatureWidget/SequenceFeatureDetails.tsx
  plugins/arc/src/LinearArcDisplay/index.ts
  plugins/linear-genome-view/src/LinearBareDisplay/index.ts
  plugins/linear-genome-view/src/LinearBasicDisplay/components/SetMaxHeight.tsx
  plugins/linear-genome-view/src/LinearBasicDisplay/index.ts
  plugins/linear-genome-view/src/LinearBasicDisplay/model.ts
Labels: bug

#3600 Fix using the force load button after a stats timeout
  plugins/alignments/src/LinearAlignmentsDisplay/models/model.tsx
  plugins/alignments/src/SNPCoverageRenderer/SNPCoverageRenderer.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/components/TooLargeMessage.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/models/BaseLinearDisplayModel.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/models/util.ts
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/JBrowseLinearGenomeView.test.tsx
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
  products/jbrowse-web/src/tests/__image_snapshots__/lgv_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/ExportSvg.test.tsx.snap
Labels: bug

#3604 Alignments tags description in feature details on mouseover
  packages/core/util/index.ts
  plugins/alignments/src/AlignmentsFeatureDetail/AlignmentsFeatureDetail.tsx
  plugins/alignments/src/AlignmentsFeatureDetail/__snapshots__/index.test.tsx.snap
  yarn.lock
Labels: enhancement

#3607 Avoid "ResizeObserver" loop warning during development
  packages/__mocks__/@jbrowse/core/util/useMeasure.ts
  packages/core/package.json
  packages/core/ui/ViewContainer.tsx
  packages/core/util/index.ts
  packages/core/util/useMeasure.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportForm.tsx
  products/jbrowse-react-circular-genome-view/package.json
  products/jbrowse-react-circular-genome-view/src/JBrowseCircularGenomeView/ViewContainer.tsx
  products/jbrowse-react-linear-genome-view/package.json
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/ViewContainer.tsx
  yarn.lock
Labels: bug

#3608 Fix subfeature detail formatter not being applied
  packages/__mocks__/@jbrowse/core/util/useMeasure.ts
  packages/__mocks__/react-use-measure.ts
  packages/core/BaseFeatureWidget/index.ts
  packages/core/pluggableElementTypes/models/baseTrackConfig.ts
  packages/core/ui/ViewContainer.tsx
  packages/core/ui/ViewContainerTitle.tsx
  packages/core/util/index.ts
  packages/core/util/useMeasure.ts
  products/jbrowse-react-circular-genome-view/src/JBrowseCircularGenomeView/__snapshots__/JBrowseCircularGenomeView.test.tsx.snap
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  products/jbrowse-web/src/tests/Alignments.test.tsx
  products/jbrowse-web/src/tests/AlignmentsFeatures.test.tsx
  products/jbrowse-web/src/tests/Authentication.test.tsx
  products/jbrowse-web/src/tests/BasicLinearGenomeView.test.tsx
  products/jbrowse-web/src/tests/BigWig.test.tsx
  products/jbrowse-web/src/tests/BookmarkWidget.test.tsx
  products/jbrowse-web/src/tests/BreakpointSplitView.test.tsx
  products/jbrowse-web/src/tests/CircularView.test.tsx
  products/jbrowse-web/src/tests/ConfigurationEditor.test.tsx
  products/jbrowse-web/src/tests/Connection.test.tsx
  products/jbrowse-web/src/tests/CopyAndDelete.test.tsx
  products/jbrowse-web/src/tests/Dotplot.test.tsx
  products/jbrowse-web/src/tests/DrawerWidget.test.tsx
  products/jbrowse-web/src/tests/ErrorConditions.test.tsx
  products/jbrowse-web/src/tests/ExportSvg.test.tsx
  products/jbrowse-web/src/tests/ExportSvgBreakpointSplitView.test.tsx
  products/jbrowse-web/src/tests/Hic.test.tsx
  products/jbrowse-web/src/tests/JBrowse.test.tsx
  products/jbrowse-web/src/tests/MultiBigWig.test.tsx
  products/jbrowse-web/src/tests/ReadVsRef.test.tsx
  products/jbrowse-web/src/tests/ReloadBam.test.tsx
  products/jbrowse-web/src/tests/ReloadBigWig.test.tsx
  products/jbrowse-web/src/tests/ReloadCram.test.tsx
  products/jbrowse-web/src/tests/ReloadVcf.test.tsx
  products/jbrowse-web/src/tests/SVInspector.test.tsx
  products/jbrowse-web/src/tests/Spreadsheet.test.tsx
  products/jbrowse-web/src/tests/StatsEstimation.test.tsx
  products/jbrowse-web/src/tests/TextSearching.test.tsx
  products/jbrowse-web/src/tests/util.tsx
  test_data/volvox/config.json
Labels: bug

#3610 Avoid cutting off import form of spreadsheet view, fix overflowed text in table header
  plugins/spreadsheet-view/src/SpreadsheetView/components/ColumnMenu.tsx
  plugins/spreadsheet-view/src/SpreadsheetView/components/DataRow.tsx
  plugins/spreadsheet-view/src/SpreadsheetView/components/DataTable.tsx
  plugins/spreadsheet-view/src/SpreadsheetView/components/DataTableHeader.tsx
  plugins/spreadsheet-view/src/SpreadsheetView/components/GlobalFilterControls.tsx
  plugins/spreadsheet-view/src/SpreadsheetView/components/ImportWizard.tsx
  plugins/spreadsheet-view/src/SpreadsheetView/components/NumberEditor.tsx
  plugins/spreadsheet-view/src/SpreadsheetView/components/SpreadsheetView.tsx
Labels: bug

#3611 Use local data instead of remote data for LGV component test
  component_tests/cgv/src/App.tsx
  component_tests/lgv/cypress/integration/basic.spec.ts
  component_tests/lgv/public/volvox-sorted.cram
  component_tests/lgv/public/volvox-sorted.cram.crai
  component_tests/lgv/public/volvox.2bit
  component_tests/lgv/src/App.tsx
  component_tests/lgv/src/assembly.ts
  component_tests/lgv/src/tracks.ts
Labels: housekeeping, internal
