Repository GMOD/jbrowse-components, pull requests merged in 2023-07, with the labels that each got.

#3782 Fix crash on color picker component using debounce on color property
  packages/core/ui/ColorPicker.tsx
  products/jbrowse-desktop/src/components/StartScreen/util.tsx
  products/jbrowse-desktop/src/rootModel/index.test.ts
  products/jbrowse-react-app/src/rootModel/index.test.ts
  products/jbrowse-react-circular-genome-view/src/createViewState.ts
  products/jbrowse-web/src/rootModel/index.test.ts
  products/jbrowse-web/src/rootModel/test_util.ts
  products/jbrowse-web/src/tests/JBrowse.test.tsx
  products/jbrowse-web/src/tests/util.tsx
Labels: bug

#3783 Add ability for track selector button in synteny view to select individual views
  plugins/linear-comparative-view/src/LinearComparativeView/components/Header.tsx
Labels: enhancement

#3784 Fix synteny rubberband tooltips when views are exactly the same
  packages/core/util/index.ts
  plugins/linear-comparative-view/src/LinearComparativeView/components/Rubberband.tsx
  plugins/linear-comparative-view/src/LinearComparativeView/components/VerticalGuide.tsx
Labels: bug

#3781 Separate out PileupDisplay functionality shared with SyntenyDisplay into a Mixin
  plugins/alignments/src/LinearPileupDisplay/SharedLinearPileupDisplayMixin.ts
  plugins/alignments/src/LinearPileupDisplay/components/ColorByCustom.tsx
  plugins/alignments/src/LinearPileupDisplay/index.ts
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/PileupRenderer/PileupRenderer.ts
  plugins/alignments/src/PileupRenderer/colorBy.ts
  plugins/alignments/src/PileupRenderer/getAlignmentShapeColor.ts
  plugins/alignments/src/index.ts
  plugins/alignments/src/shared/color.ts
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/model.ts
Labels: needs label triage

#3786 Centralize rpcWorker in product-core
  embedded_demos/jbrowse-react-linear-genome-view-vite/package.json
  embedded_demos/jbrowse-react-linear-genome-view-vite/yarn.lock
  packages/core/rpc/WebWorkerRpcDriver.ts
  packages/product-core/package.json
  packages/product-core/src/index.ts
  packages/product-core/src/rpcWorker.ts
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.tsx.snap
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/src/components/StartScreen/util.tsx
  products/jbrowse-desktop/src/rootModel/index.ts
  products/jbrowse-desktop/src/rpcWorker.ts
  products/jbrowse-desktop/src/sessionModel/TrackMenu.ts
  products/jbrowse-desktop/src/util.tsx
  products/jbrowse-react-app/package.json
  products/jbrowse-react-app/src/rpcWorker.ts
  products/jbrowse-react-linear-genome-view/package.json
  products/jbrowse-react-linear-genome-view/src/rpcWorker.ts
  products/jbrowse-web/package.json
  products/jbrowse-web/src/rpcWorker.ts
  yarn.lock
Labels: internal

#3796 Allow workers to load CJS plugins
  products/jbrowse-desktop/src/rpcWorker.ts
  products/jbrowse-desktop/src/util.tsx
Labels: enhancement

#3798 Fix VCF feature starting at 1-based 1
  plugins/variants/src/VcfFeature/index.ts
Labels: bug

#3804 Fix version missing from about menu in @jbrowse/react-app
  products/jbrowse-react-app/src/rootModel/index.ts
  yarn.lock
Labels: needs label triage

#3806 Fix a bug on the BookmarkWidget mui data grid where labels were not saving
  plugins/grid-bookmark/src/GridBookmarkWidget/components/GridBookmarkWidget.tsx
Labels: bug

#3808 Fix track ordering of hierarchical track selector to more closely match the config.json
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/HierarchicalTrackSelector.test.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/__snapshots__/HierarchicalTrackSelector.test.tsx.snap
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/TrackLabel.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/model.ts
  test_data/test_order/config.json
  test_data/test_order/volvox.2bit
  yarn.lock
Labels: bug

#3809 Add missing @jbrowse/plugin-linear-genome-view dependency to @jbrowse/react-circular-genome-view
  products/jbrowse-react-circular-genome-view/package.json
Labels: dependencies

#3811 Add ability to show/hide all tracks in category
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/TrackCategory.tsx
Labels: enhancement

#3814 Add suspense fallback to track container for lazy loaded display components
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackRenderingContainer.tsx
  plugins/wiggle/src/LinearWiggleDisplay/components/WiggleDisplayComponent.tsx
Labels: bug

#3827 Add check for document.activeElement == INPUT before undo/redo
  packages/app-core/src/HistoryManagement/index.ts
Labels: enhancement

#3810 Add sorting and collapsing options to the hierarchical track selector
  packages/app-core/src/JBrowseConfig/index.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/HierarchicalTrackSelector.test.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/HierarchicalTrackSelector.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/__snapshots__/HierarchicalTrackSelector.test.tsx.snap
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/faceted/FacetedSelector.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/HamburgerMenu.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/HierarchicalHeader.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/HierarchicalTree.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/util.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/filterTracks.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/generateHierarchy.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/model.test.js
  plugins/data-management/src/HierarchicalTrackSelectorWidget/model.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/util.ts
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  test_data/test_alpha_sort/config.json
  test_data/test_alpha_sort/test.sh
  test_data/test_alpha_sort/volvox.2bit
  test_data/test_order/config.json
  test_data/volvox/config.json
  yarn.lock
Labels: enhancement

#3825 Fix SVG export compatibility by removing rgba strings
  plugins/breakpoint-split-view/package.json
  plugins/breakpoint-split-view/src/BreakpointSplitView/svgcomponents/SVGBackground.tsx
  plugins/circular-view/package.json
  plugins/circular-view/src/CircularView/svgcomponents/SVGBackground.tsx
  plugins/dotplot-view/package.json
  plugins/dotplot-view/src/DotplotView/svgcomponents/SVGBackground.tsx
  plugins/linear-comparative-view/package.json
  plugins/linear-comparative-view/src/LinearSyntenyView/svgcomponents/SVGBackground.tsx
  plugins/linear-genome-view/package.json
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/SVGBackground.tsx
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/SVGHeader.tsx
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/SVGRuler.tsx
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/SVGScalebar.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/breakpoint_split_view_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/circular_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/dotplot_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/lgv_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/synteny_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/ExportSvg.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgBreakpointSplitView.test.tsx.snap
  website/yarn.lock
Labels: bug

#3830 Refactors LGV synteny and pileup with shared mixins
  plugins/alignments/src/LinearPileupDisplay/SharedLinearPileupDisplayMixin.ts
  plugins/alignments/src/LinearPileupDisplay/index.ts
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/index.ts
  plugins/alignments/src/shared/color.ts
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/model.ts
  yarn.lock
Labels: enhancement
