Repository GMOD/jbrowse-components, pull requests merged in 2023-02, with the labels that each got.

#3493 Fix possible flaky issue with embedded cgv test
  component_tests/cgv/cypress/integration/basic.spec.ts
  component_tests/cgv/package.json
  component_tests/cgv/public/test_data
  component_tests/cgv/src/App.tsx
  component_tests/cgv/src/assembly.ts
  component_tests/cgv/src/tracks.ts
Labels: housekeeping

#3494 Use transitionDuration 0 as defaultProp in theme for both popovers and menus
  packages/core/ui/DropDownMenu.tsx
  packages/core/ui/Menu.tsx
  packages/core/ui/theme.ts
Labels: enhancement

#3507 Fix mygene.info demo track
  test_data/config_demo.json
Labels: documentation

#3504 Ensure tests are network isolated
  products/jbrowse-cli/src/commands/admin-server.test.ts
  products/jbrowse-cli/src/commands/text-index.test.ts
  yarn.lock
Labels: housekeeping

#3510 Config display height
  plugins/alignments/src/LinearAlignmentsDisplay/models/configSchema.ts
  plugins/alignments/src/LinearAlignmentsDisplay/models/model.tsx
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.tsx.snap
  plugins/linear-genome-view/src/BaseLinearDisplay/models/BaseLinearDisplayModel.tsx
  plugins/linear-genome-view/src/BaseLinearDisplay/models/configSchema.ts
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  test_data/volvox/config.json
Labels: enhancement

#3516 Export SVG from dotplot view
  .eslintignore
  packages/core/package.json
  packages/core/pluggableElementTypes/RpcMethodType.ts
  packages/core/util/map-obj.d.ts
  packages/core/util/map-obj.js
  plugins/dotplot-view/package.json
  plugins/dotplot-view/src/DotplotDisplay/stateModelFactory.tsx
  plugins/dotplot-view/src/DotplotRenderer/DotplotRenderer.ts
  plugins/dotplot-view/src/DotplotView/1dview.ts
  plugins/dotplot-view/src/DotplotView/components/Axes.tsx
  plugins/dotplot-view/src/DotplotView/components/ExportSvgDialog.tsx
  plugins/dotplot-view/src/DotplotView/components/Grid.tsx
  plugins/dotplot-view/src/DotplotView/model.ts
  plugins/dotplot-view/src/DotplotView/svgcomponents/SVGDotplotView.tsx
  yarn.lock
Labels: needs label triage

#3513 Add ability to specify refNameAliases and cytobands in "Open sequence" start screen for desktop
  packages/core/.gitignore
  packages/core/CorePlugin.ts
  packages/core/data_adapters/CytobandAdapter.ts
  packages/core/data_adapters/CytobandAdapter/CytobandAdapter.ts
  packages/core/data_adapters/CytobandAdapter/configSchema.ts
  packages/core/data_adapters/CytobandAdapter/index.ts
  packages/core/package.json
  packages/core/ui/theme.ts
  plugins/config/src/RefNameAliasAdapter/RefNameAliasAdapter.ts
  products/jbrowse-desktop/src/AdapterInput.tsx
  products/jbrowse-desktop/src/OpenSequenceDialog.tsx
  products/jbrowse-desktop/src/StartScreen/LauncherPanel.tsx
  website/docs/config/BaseChordDisplay.md
  website/docs/config/BaseLinearDisplay.md
  website/docs/config/CytobandAdapter.md
  website/docs/config/LinearAlignmentsDisplay.md
  website/docs/config/MultiLinearWiggleDisplay.md
  website/docs/config/SvgFeatureRenderer.md
  website/docs/models/BaseChordDisplay.md
  website/docs/models/BaseLinearDisplay.md
  website/docs/models/CircularView.md
  website/docs/models/Dotplot1DView.md
  website/docs/models/DotplotDisplay.md
  website/docs/models/DotplotView.md
  website/docs/models/LGVSyntenyDisplay.md
  website/docs/models/LinearAlignmentsDisplay.md
  website/docs/models/LinearSyntenyDisplay.md
  website/docs/models/LinearWiggleDisplay.md
Labels: enhancement

#3517 Change gitter link to use new element gitter app
  website/docs/faq.md
  website/docs/tutorials/simple_plugin.md
  website/docusaurus.config.json
  website/src/pages/contact.md
Labels: needs label triage

#3524 Fix loading session shares that have a plus sign in the sessionId
  products/jbrowse-aws-lambda-functions/saved-sessions/read-session-jbrowse.js
  products/jbrowse-web/src/sessionSharing.ts
Labels: bug

#3525 Fix missing grid ticks in dotplot
  plugins/dotplot-view/src/DotplotView/components/util.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewScalebar.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.tsx.snap
  plugins/linear-genome-view/src/LinearGenomeView/util.test.ts
  plugins/linear-genome-view/src/LinearGenomeView/util.ts
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
  products/jbrowse-web/src/tests/__image_snapshots__/dotplot_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/lgv_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/synteny_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/ExportSvg.test.tsx.snap
Labels: bug

#3527 Breakpoint split view SVG export
  plugins/breakpoint-split-view/package.json
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/AlignmentConnections.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/Breakends.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/BreakpointSplitView.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/ExportSvgDialog.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/Overlay.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/Translocations.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/model.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/svgcomponents/SVGBackground.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/svgcomponents/SVGBreakpointSplitView.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/util.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/BaseLinearDisplayModel.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.tsx.snap
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/SVGTracks.tsx
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
  products/jbrowse-web/src/tests/BreakpointSplitView.test.tsx
  products/jbrowse-web/src/tests/ExportSvgBreakpointSplitView.test.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/breakpoint_split_view_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/lgv_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/synteny_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/BreakpointSplitView.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ExportSvg.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgBreakpointSplitView.test.tsx.snap
  yarn.lock
Labels: enhancement

#3532 Check website links in CI
  .github/workflows/push.yml
  website/blog/2021-03-29-v1.1.0-release.md
  website/blog/2022-07-28-v2.1.0-release.md
  website/docs/archive/bcc2020_plugin_development.md
  website/docs/config_guides/alignments_track.md
  website/docs/config_guides/assemblies.md
  website/docs/config_guides/synteny_track.md
  website/docs/developer_guides/creating_widget.md
  website/docs/developer_guides/modifying_menus.md
  website/docs/developer_guides/pluggable_elements.md
  website/docs/introduction.md
  website/docs/tutorials/config_cli.md
  website/docs/tutorials/config_gui.md
  website/docs/tutorials/desktop_spec_plugin_tutorial.md
  website/docs/tutorials/develop_web_and_desktop_tutorial.md
  website/docs/tutorials/embed_linear_genome_view/01_introduction.md
  website/docs/tutorials/embed_linear_genome_view/04_tracks.md
  website/docs/tutorials/simple_plugin.md
  website/docs/urlparams.md
  website/docs/user_guides/basic_usage.md
  website/package.json
  website/sidebars.json
  website/src/pages/features.md
  website/yarn.lock
Labels: documentation

#3533 Fix issue with vite dev mode
  embedded_demos/jbrowse-react-linear-genome-view-vite/package.json
  embedded_demos/jbrowse-react-linear-genome-view-vite/src/main.tsx
  embedded_demos/jbrowse-react-linear-genome-view-vite/vite.config.ts
  embedded_demos/jbrowse-react-linear-genome-view-vite/yarn.lock
Labels: dependencies

#3526 v2.4.0 release announcement
  website/release_announcement_drafts/v2.4.0.md
Labels: needs label triage

#3545 Fix issue where clearing search box on LGV import form turns search box into loading bar
  plugins/linear-genome-view/src/LinearGenomeView/components/ImportForm.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/RefNameAutocomplete.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/SearchBox.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.tsx.snap
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
Labels: bug

#3548 Fix upper case querying of jbrowse 1 text search store
  plugins/legacy-jbrowse/src/JBrowse1TextSearchAdapter/JBrowse1TextSearchAdapter.test.ts
  plugins/legacy-jbrowse/src/JBrowse1TextSearchAdapter/JBrowse1TextSearchAdapter.ts
Labels: bug

#3551 Fix bad layout on tabix tracks that have Unicode characters
  component_tests/cgv/cypress/integration/basic.spec.ts
  plugins/bed/package.json
  plugins/bed/src/BedTabixAdapter/__snapshots__/BedTabixAdapter.test.ts.snap
  plugins/gff3/package.json
  plugins/gff3/src/Gff3TabixAdapter/__snapshots__/Gff3TabixAdapter.test.ts.snap
  plugins/variants/package.json
  plugins/variants/src/VcfTabixAdapter/__snapshots__/VcfTabixAdapter.test.ts.snap
  products/jbrowse-web/src/tests/BigWig.test.tsx
  products/jbrowse-web/src/tests/CircularView.test.tsx
  products/jbrowse-web/src/tests/ConfigurationEditor.test.tsx
  products/jbrowse-web/src/tests/CopyAndDelete.test.tsx
  products/jbrowse-web/src/tests/DrawerWidget.test.tsx
  products/jbrowse-web/src/tests/JBrowse.test.tsx
  products/jbrowse-web/src/tests/ReloadVcf.test.tsx
  products/jbrowse-web/src/tests/StatsEstimation.test.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/breakpoint_split_view_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/circular_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/ExportSvg.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgBreakpointSplitView.test.tsx.snap
  yarn.lock
Labels: bug
