Repository GMOD/jbrowse-components, pull requests merged in 2023-09, with the labels that each got.

#3889 Use eslinrc.js instead of eslintrc.json for better linter support
  .eslintignore
  .eslintrc.js
  .eslintrc.json
Labels: needs label triage

#3888 Make adapter optional when checking indexing
  packages/core/util/index.ts
  packages/text-indexing/src/TextIndexing.ts
  packages/text-indexing/src/types/common.test.ts
  packages/text-indexing/src/util.ts
  plugins/data-management/src/AddTrackWidget/components/ConfirmTrack.tsx
  plugins/data-management/src/AddTrackWidget/components/DefaultAddTrackWorkflow.tsx
  products/jbrowse-desktop/src/sessionModel/TrackMenu.ts
Labels: needs label triage

#3887 Add forwardRef to wrapped re-exported lazy components
  packages/core/ReExports/modules.tsx
Labels: bug

#3840 Adds custom filtering option to alignments tracks
  plugins/alignments/src/BamAdapter/BamAdapter.ts
  plugins/alignments/src/CramAdapter/CramAdapter.ts
  plugins/alignments/src/LinearPileupDisplay/SharedLinearPileupDisplayMixin.ts
  plugins/alignments/src/LinearPileupDisplay/configSchema.test.js
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/LinearReadArcsDisplay/model.tsx
  plugins/alignments/src/LinearReadCloudDisplay/model.tsx
  plugins/alignments/src/LinearSNPCoverageDisplay/models/configSchema.test.js
  plugins/alignments/src/LinearSNPCoverageDisplay/models/model.ts
  plugins/alignments/src/shared/FilterByTag.tsx
  plugins/alignments/src/shared/index.ts
  products/jbrowse-web/src/tests/AlignmentsFilters.test.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-filters-test-tsx-set-jexl-filters-on-bam-pileup-display-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-filters-test-tsx-set-jexl-filters-on-snp-cov-display-1-snap.png
Labels: enhancement

#3902 Add ability to use plaintext bed in add-track CLI
  products/jbrowse-cli/src/commands/add-track.test.ts
  products/jbrowse-cli/src/commands/add-track.ts
  products/jbrowse-cli/test/data/volvox.bed
Labels: enhancement

#3901 Use shortened VCF feature description for some types of insertions and deletions
  plugins/spreadsheet-view/src/SpreadsheetView/importAdapters/__snapshots__/VcfImport.test.ts.snap
  plugins/variants/src/VcfFeature/util.ts
Labels: enhancement

#3905 Fix alignments track infinite loading when applying same "Color by" or "Sort by" setting twice
  plugins/alignments/src/LinearPileupDisplay/SharedLinearPileupDisplayMixin.ts
  plugins/alignments/src/LinearPileupDisplay/model.ts
Labels: bug

#3910 Fix feature label offsets in SVG exports with main thread RPC
  plugins/svg/src/SvgFeatureRenderer/components/FeatureLabel.tsx
  test_data/volvox/config_main_thread.json
Labels: bug

#3913 this color scheme for ClinVar seems pretty common
  test_data/config_demo.json
Labels: enhancement

#3914 Swap out NPM `color` library for `colord` library
  package.json
  packages/core/package.json
  packages/core/ui/ColorPicker.tsx
  packages/core/ui/SanitizedHTML.test.tsx
  packages/core/util/colord.ts
  packages/core/util/index.ts
  plugins/alignments/package.json
  plugins/alignments/src/PileupRenderer/PileupRenderer.ts
  plugins/alignments/src/PileupRenderer/makeImageData.ts
  plugins/alignments/src/PileupRenderer/renderMethylation.ts
  plugins/alignments/src/PileupRenderer/renderMismatches.ts
  plugins/alignments/src/PileupRenderer/renderModifications.ts
  plugins/breakpoint-split-view/package.json
  plugins/circular-view/package.json
  plugins/data-management/package.json
  plugins/dotplot-view/package.json
  plugins/hic/package.json
  plugins/hic/src/HicRenderer/HicRenderer.tsx
  plugins/hic/src/index.ts
  plugins/linear-comparative-view/package.json
  plugins/linear-genome-view/package.json
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/SVGHeader.tsx
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/SVGRuler.tsx
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/SVGScalebar.tsx
  plugins/svg/src/SvgFeatureRenderer/components/SvgFeatureRendering.test.tsx
  plugins/wiggle/package.json
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/declare.d.ts
  plugins/wiggle/src/MultiRowXYPlotRenderer/MultiRowXYPlotRenderer.ts
  plugins/wiggle/src/MultiXYPlotRenderer/MultiXYPlotRenderer.ts
  plugins/wiggle/src/XYPlotRenderer/XYPlotRenderer.ts
  plugins/wiggle/src/drawxy.ts
  products/jbrowse-desktop/package.json
  products/jbrowse-web/package.json
  products/jbrowse-web/src/tests/AlignmentsFilters.test.tsx
  products/jbrowse-web/src/tests/BreakpointSplitView.test.tsx
  products/jbrowse-web/src/tests/CircularView.test.tsx
  products/jbrowse-web/src/tests/ConfigurationEditor.test.tsx
  products/jbrowse-web/src/tests/DrawerWidget.test.tsx
  products/jbrowse-web/src/tests/JBrowse.test.tsx
  products/jbrowse-web/src/tests/SVInspector.test.tsx
  products/jbrowse-web/src/tests/Spreadsheet.test.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/breakpoint_split_view_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/circular_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/dotplot_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/lgv_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/multi-big-wig-test-tsx-open-a-multibigwig-track-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/synteny_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/ExportSvg.test.tsx.snap
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgBreakpointSplitView.test.tsx.snap
  products/jbrowse-web/src/tests/util.tsx
  yarn.lock
Labels: enhancement, dependencies

#3912 Avoid undefined getConf on assembly.configuration safeReference
  packages/core/assemblyManager/assembly.ts
Labels: bug

#3916 Use theme.secondary.main instead of theme.secondary.light on focusedView
  packages/app-core/package.json
  packages/app-core/src/ui/App/DrawerHeader.tsx
  packages/app-core/src/ui/App/ViewContainer.tsx
Labels: enhancement

#3919 Reduced babel config
  babel.config.js
  package.json
  packages/core/util/__snapshots__/calculateDynamicBlocks.test.ts.snap
  packages/core/util/__snapshots__/calculateStaticBlocks.test.ts.snap
  packages/core/util/calculateDynamicBlocks.ts
  packages/core/util/calculateStaticBlocks.ts
  products/jbrowse-web/src/tests/util.tsx
  yarn.lock
Labels: dependencies, needs label triage

#3920 Remove some unused "renameReference" code in static blocks/dynamic blocks
  packages/core/util/blockTypes.ts
  plugins/dotplot-view/src/DotplotView/blockTypes.ts
Labels: internal

#3921 Fix hydration warning by only rendering the SvgFeature "selected feature" and "mouseover" client side
  config/jest/console.js
  plugins/svg/src/SvgFeatureRenderer/components/SvgFeatureRendering.tsx
  plugins/svg/src/SvgFeatureRenderer/components/SvgOverlay.tsx
Labels: bug

#3924 Fix incorrect tick mark label on dotplot axes happening in some cases
  plugins/dotplot-view/src/DotplotView/components/Axes.tsx
  plugins/dotplot-view/src/DotplotView/components/DotplotView.tsx
  plugins/dotplot-view/src/DotplotView/components/Header.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/dotplot_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/ExportSvg.test.tsx.snap
  yarn.lock
Labels: bug

#3907 Update config.json missing screen with "It worked!" message
  package.json
  products/jbrowse-web/src/components/NoConfigMessage.tsx
  products/jbrowse-web/src/components/StartScreenErrorMessage.tsx
  yarn.lock
Labels: enhancement

#3896 Upgrade oclif
  config/jest/fileTransform.js
  jest.config.js
  package.json
  products/jbrowse-cli/README.md
  products/jbrowse-cli/bin/dev
  products/jbrowse-cli/bin/dev.cmd
  products/jbrowse-cli/bin/run
  products/jbrowse-cli/package.json
  products/jbrowse-cli/src/base.ts
  products/jbrowse-cli/src/commands/add-assembly.test.ts
  products/jbrowse-cli/src/commands/add-assembly.ts
  products/jbrowse-cli/src/commands/add-connection.test.ts
  products/jbrowse-cli/src/commands/add-connection.ts
  products/jbrowse-cli/src/commands/add-track-json.ts
  products/jbrowse-cli/src/commands/add-track.test.ts
  products/jbrowse-cli/src/commands/add-track.ts
  products/jbrowse-cli/src/commands/admin-server.test.ts
  products/jbrowse-cli/src/commands/admin-server.ts
  products/jbrowse-cli/src/commands/create.test.ts
  products/jbrowse-cli/src/commands/create.ts
  products/jbrowse-cli/src/commands/remove-track.test.ts
  products/jbrowse-cli/src/commands/remove-track.ts
  products/jbrowse-cli/src/commands/set-default-session.test.ts
  products/jbrowse-cli/src/commands/set-default-session.ts
  products/jbrowse-cli/src/commands/text-index.test.ts
  products/jbrowse-cli/src/commands/text-index.ts
  products/jbrowse-cli/src/commands/upgrade.test.ts
  products/jbrowse-cli/src/commands/upgrade.ts
  products/jbrowse-cli/src/index.ts
  products/jbrowse-cli/src/testUtil.test.ts
  products/jbrowse-cli/src/testUtil.ts
  products/jbrowse-cli/tsconfig.json
  products/jbrowse-desktop/src/react-app-env.d.ts
  products/jbrowse-web/src/components/NewSessionCards.tsx
  products/jbrowse-web/src/components/img/emptyIcon.png
  products/jbrowse-web/src/components/img/index.ts
  products/jbrowse-web/src/components/img/linearGenomeViewIcon.png
  products/jbrowse-web/src/components/img/svInspectorIcon.png
  products/jbrowse-web/src/react-app-env.d.ts
  yarn.lock
Labels: needs label triage

#3929 Fix mouse getting out of sync while dragging resize handle
  packages/core/ui/ResizeBar.tsx
  packages/core/ui/ResizeHandle.tsx
Labels: bug

#3900 Update bookmark widget with fresh UI and persistent and sharable bookmarks
  plugins/grid-bookmark/package.json
  plugins/grid-bookmark/src/GridBookmarkWidget/components/AssemblySelector.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/BookmarkGrid.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/ClearBookmarks.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/DeleteBookmark.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/DeleteBookmarks.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/DownloadBookmarks.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/ExportBookmarks.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/GridBookmarkWidget.test.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/GridBookmarkWidget.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/ImportBookmarks.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/ShareBookmarks.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/model.ts
  plugins/grid-bookmark/src/GridBookmarkWidget/sessionSharing.ts
  plugins/grid-bookmark/src/GridBookmarkWidget/utils.ts
  plugins/grid-bookmark/src/index.ts
  products/jbrowse-web/src/tests/BookmarkWidget.test.tsx
Labels: enhancement

#3936 Fixes crash upon deleting bookmarks and inability to filter by assembly
  plugins/grid-bookmark/src/GridBookmarkWidget/components/AssemblySelector.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/BookmarkGrid.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/DeleteBookmarks.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/model.ts
  products/jbrowse-web/src/tests/BookmarkWidget.test.tsx
Labels: bug

#3937 Fix setState error from one component updating while another is rendering
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewScalebar.tsx
Labels: bug

#3938 Adds code improvements to GridBookmarkWidget
  packages/core/assemblyManager/assemblyManager.ts
  plugins/grid-bookmark/src/GridBookmarkWidget/components/AssemblySelector.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/BookmarkGrid.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/DeleteBookmarks.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/DeleteBookmarksDialog.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/EditBookmarkLabelDialog.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/ExportBookmarks.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/ExportBookmarksDialog.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/GridBookmarkWidget.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/ImportBookmarks.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/ImportBookmarksDialog.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/ShareBookmarks.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/ShareBookmarksDialog.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/model.ts
  plugins/grid-bookmark/src/GridBookmarkWidget/utils.ts
  plugins/grid-bookmark/src/index.ts
Labels: enhancement

#3945 Add code improvements to GridBookmarkWidget pt 2
  plugins/grid-bookmark/src/GridBookmarkWidget/components/AssemblySelector.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/BookmarkGrid.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/EditBookmarkLabelDialog.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/ShareBookmarksDialog.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/model.ts
  plugins/grid-bookmark/src/index.ts
  products/jbrowse-web/src/tests/BookmarkWidget.test.tsx
  yarn.lock
Labels: internal

#3946 Fix setting multiple hierarchical defaultCollapsed config options at initialization
  plugins/data-management/src/HierarchicalTrackSelectorWidget/model.ts
Labels: bug
