Repository GMOD/jbrowse-components, pull requests merged in 2023-06, with the labels that each got.

#3739 Fix specifying the assemblyNames config slot on add-connection CLI
  products/jbrowse-cli/README.md
  products/jbrowse-cli/src/commands/add-connection.test.ts
  products/jbrowse-cli/src/commands/add-connection.ts
Labels: bug

#3738 Don't throw on UCSC connection containing assemblies not matching connection->assemblyNames config
  packages/product-core/src/Session/Connections.ts
  packages/web-core/src/BaseWebSession/index.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/dialogs/ToggleConnectionsDialog.tsx
  plugins/data-management/src/ucsc-trackhub/model.ts
  plugins/legacy-jbrowse/src/JBrowse1Connection/model.tsx
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  products/jbrowse-cli/README.md
  products/jbrowse-cli/src/base.ts
  products/jbrowse-cli/src/commands/add-connection.test.ts
  products/jbrowse-cli/src/commands/add-connection.ts
Labels: bug

#3741 Distinguish between SessionWithConnections and SessionWithConnectionEditing
  packages/core/util/types/index.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/dialogs/CloseConnectionDialog.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/HamburgerMenu.tsx
Labels: internal

#3747 Fix blank lines in GFF crashing text-index
  products/jbrowse-cli/src/types/gff3Adapter.ts
  website/docs/config/JBrowseRootConfig.md
  website/docs/models/DesktopSessionTrackMenuMixin.md
  yarn.lock
Labels: bug

#3742 Add OAuth and HTTP BasicAuth servers for local testing
  package.json
  packages/core/pluggableElementTypes/RpcMethodType.test.ts
  packages/core/pluggableElementTypes/RpcMethodType.ts
  packages/core/pluggableElementTypes/models/InternetAccountModel.ts
  plugins/authentication/src/DropboxOAuthModel/model.tsx
  plugins/authentication/src/DropboxOAuthModel/util.ts
  plugins/authentication/src/ExternalTokenModel/ExternalTokenEntryForm.tsx
  plugins/authentication/src/GoogleDriveOAuthModel/GoogleDriveFilehandle.ts
  plugins/authentication/src/GoogleDriveOAuthModel/model.tsx
  plugins/authentication/src/GoogleDriveOAuthModel/util.ts
  plugins/authentication/src/HTTPBasicModel/HTTPBasicLoginForm.tsx
  plugins/authentication/src/HTTPBasicModel/model.tsx
  plugins/authentication/src/OAuthModel/model.tsx
  plugins/authentication/src/OAuthModel/util.ts
  plugins/authentication/src/util.ts
  products/jbrowse-web/package.json
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  products/jbrowse-web/src/components/NoConfigMessage.tsx
  products/jbrowse-web/src/tests/Authentication.test.tsx
  products/jbrowse-web/src/tests/AuthenticationHTTPBasic.test.tsx
  products/jbrowse-web/src/tests/HTTPBasicAuthServer/app.ts
  products/jbrowse-web/src/tests/HTTPBasicAuthServer/index.ts
  products/jbrowse-web/src/tests/OAuthServer/app.ts
  products/jbrowse-web/src/tests/OAuthServer/index.ts
  products/jbrowse-web/src/tests/OAuthServer/oauth/model.ts
  products/jbrowse-web/src/tests/OAuthServer/oauth/server.ts
  products/jbrowse-web/src/tests/OAuthServer/public/oauthAuthenticate.html
  products/jbrowse-web/src/tests/OAuthServer/routes/auth.ts
  products/jbrowse-web/src/tests/__image_snapshots__/authentication-http-basic-test-tsx-opens-a-bigwig-track-that-needs-httpbasic-authentication-1-snap.png
  products/jbrowse-web/src/tests/util.tsx
  test_data/volvox/config.json
  test_data/volvox/config_auth.json
  test_data/volvox/config_auth_main.json
  yarn.lock
Labels: bug

#3572 Add OAuth and HTTP BasicAuth servers for local testing, fix some OAuth flows
  .eslintrc.json
  package.json
  packages/core/pluggableElementTypes/RpcMethodType.test.ts
  packages/core/pluggableElementTypes/RpcMethodType.ts
  packages/core/pluggableElementTypes/models/InternetAccountModel.ts
  plugins/authentication/package.json
  plugins/authentication/src/DropboxOAuthModel/model.tsx
  plugins/authentication/src/DropboxOAuthModel/util.ts
  plugins/authentication/src/ExternalTokenModel/ExternalTokenEntryForm.tsx
  plugins/authentication/src/GoogleDriveOAuthModel/GoogleDriveFilehandle.ts
  plugins/authentication/src/GoogleDriveOAuthModel/model.tsx
  plugins/authentication/src/GoogleDriveOAuthModel/util.ts
  plugins/authentication/src/HTTPBasicModel/HTTPBasicLoginForm.tsx
  plugins/authentication/src/HTTPBasicModel/model.tsx
  plugins/authentication/src/OAuthModel/model.tsx
  plugins/authentication/src/OAuthModel/util.ts
  plugins/authentication/src/util.ts
  products/jbrowse-web/package.json
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  products/jbrowse-web/src/components/NoConfigMessage.tsx
  products/jbrowse-web/src/tests/Authentication.test.tsx
  products/jbrowse-web/src/tests/AuthenticationHTTPBasic.test.tsx
  products/jbrowse-web/src/tests/HTTPBasicAuthServer/app.ts
  products/jbrowse-web/src/tests/HTTPBasicAuthServer/index.ts
  products/jbrowse-web/src/tests/OAuthServer/app.ts
  products/jbrowse-web/src/tests/OAuthServer/index.ts
  products/jbrowse-web/src/tests/OAuthServer/oauth/model.ts
  products/jbrowse-web/src/tests/OAuthServer/oauth/server.ts
  products/jbrowse-web/src/tests/OAuthServer/public/oauthAuthenticate.html
  products/jbrowse-web/src/tests/OAuthServer/routes/auth.ts
  products/jbrowse-web/src/tests/__image_snapshots__/authentication-http-basic-test-tsx-opens-a-bigwig-track-that-needs-httpbasic-authentication-1-snap.png
  products/jbrowse-web/src/tests/util.tsx
  products/jbrowse-web/tsconfig.oauth.json
  test_data/volvox/config.json
  test_data/volvox/config_auth.json
  test_data/volvox/config_auth_main.json
  yarn.lock
Labels: bug

#3750 Use validateToken to exchange refresh token in OAuth getFetcher
  plugins/authentication/src/HTTPBasicModel/HTTPBasicLoginForm.tsx
  plugins/authentication/src/OAuthModel/model.tsx
Labels: needs label triage

#3749 Avoid re-prompting a user login when refresh token is processed
  package.json
  packages/core/pluggableElementTypes/models/InternetAccountModel.ts
  plugins/authentication/src/DropboxOAuthModel/configSchema.ts
  plugins/authentication/src/DropboxOAuthModel/model.tsx
  plugins/authentication/src/HTTPBasicModel/HTTPBasicLoginForm.tsx
  plugins/authentication/src/OAuthModel/configSchema.ts
  plugins/authentication/src/OAuthModel/model.tsx
  plugins/authentication/src/OAuthModel/util.ts
  products/jbrowse-desktop/package.json
  yarn.lock
Labels: bug

#3751 Upgrade to @gmod/bam v2.0.0
  plugins/alignments/package.json
  plugins/alignments/src/BamAdapter/BamAdapter.ts
  plugins/alignments/src/CramAdapter/CramAdapter.ts
  yarn.lock
Labels: dependencies

#3752 Add storybook example for fetching features currently in view
  products/jbrowse-react-linear-genome-view/stories/JBrowseLinearGenomeView.stories.tsx
  products/jbrowse-react-linear-genome-view/stories/JBrowseLinearGenomeView.stories.tsx.orig
  products/jbrowse-react-linear-genome-view/stories/examples/WithObserveVisibleFeatures.tsx
  products/jbrowse-react-linear-genome-view/stories/examples/index.ts
Labels: documentation

#3696 v2.6.0 release announcement
  .ignore
  plugins/linear-genome-view/src/LinearGenomeView/components/TracksContainer.tsx
  products/jbrowse-react-linear-genome-view/stories/DefaultSessions.mdx
  website/release_announcement_drafts/v2.6.0.md
Labels: needs label triage

#3766 Add nextjs circular genome view demo
  embedded_demos/jbrowse-react-circular-genome-view-nextjs/.eslintrc.json
  embedded_demos/jbrowse-react-circular-genome-view-nextjs/.gitignore
  embedded_demos/jbrowse-react-circular-genome-view-nextjs/README.md
  embedded_demos/jbrowse-react-circular-genome-view-nextjs/next-env.d.ts
  embedded_demos/jbrowse-react-circular-genome-view-nextjs/next.config.js
  embedded_demos/jbrowse-react-circular-genome-view-nextjs/package.json
  embedded_demos/jbrowse-react-circular-genome-view-nextjs/pages/index.tsx
  embedded_demos/jbrowse-react-circular-genome-view-nextjs/public/favicon.ico
  embedded_demos/jbrowse-react-circular-genome-view-nextjs/public/vercel.svg
  embedded_demos/jbrowse-react-circular-genome-view-nextjs/styles/Home.module.css
  embedded_demos/jbrowse-react-circular-genome-view-nextjs/styles/globals.css
  embedded_demos/jbrowse-react-circular-genome-view-nextjs/tsconfig.json
  embedded_demos/jbrowse-react-circular-genome-view-nextjs/utils/assembly.ts
  embedded_demos/jbrowse-react-circular-genome-view-nextjs/utils/defaultSession.ts
  embedded_demos/jbrowse-react-circular-genome-view-nextjs/utils/tracks.ts
  embedded_demos/jbrowse-react-circular-genome-view-nextjs/yarn.lock
  products/jbrowse-react-circular-genome-view/tsconfig.build.es5.json
Labels: enhancement

#3767 Check session tracks for text search adapters
  packages/core/TextSearch/TextSearchManager.ts
Labels: bug

#3770 Fix potential issue with display searchFeatureByID being undefined
  plugins/alignments/src/LinearAlignmentsDisplay/models/model.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/model.ts
Labels: bug

#3758 Adds safety checks on AlignmentsDisplay properties to avoid undefined rendering
  plugins/alignments/src/LinearAlignmentsDisplay/components/AlignmentsDisplay.tsx
  plugins/alignments/src/LinearAlignmentsDisplay/models/model.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackLabel.tsx
Labels: bug

#3773 Bump http-range-fetcher and other deps
  .github/workflows/desktop_build_mac.yml
  .github/workflows/desktop_build_win.yml
  .github/workflows/jbrowse-web.yml
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
  .github/workflows/website.yml
  config/jest/crypto.js
  jest.config.js
  package.json
  packages/core/package.json
  products/jbrowse-desktop/package.json
  yarn.lock
Labels: dependencies

#3452 Use notarytool for macOS desktop signing
  .github/workflows/desktop_build_mac.yml
  .github/workflows/desktop_build_win.yml
  .github/workflows/jbrowse-web.yml
  .github/workflows/pull_request.yml
  .github/workflows/push.yml
  .github/workflows/website.yml
  package.json
  products/jbrowse-desktop/scripts/notarize.js
  yarn.lock
Labels: enhancement

#3775 Fix stranded RNA-seq rendering and rename option Color by -> "First-of-pair strand"
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/PileupRenderer/colorBy.ts
  plugins/alignments/src/PileupRenderer/renderAlignmentShape.ts
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  products/jbrowse-web/src/tests/AlignmentsColorBy.test.tsx
  products/jbrowse-web/src/tests/AlignmentsFeatures.test.tsx
  products/jbrowse-web/src/tests/AlignmentsFilters.test.tsx
  products/jbrowse-web/src/tests/AlignmentsSoftClip.test.tsx
  products/jbrowse-web/src/tests/AlignmentsSort.test.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-arcs-test-tsx-toggle-long-read-arc-display-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-arcs-test-tsx-toggle-short-read-arc-display-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-arcs-test-tsx-toggle-short-read-arc-display-use-out-of-view-pairing-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-arcs-test-tsx-toggle-short-read-cloud-display-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-color-by-test-tsx-color-by-stranded-rna-seq-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-color-by-test-tsx-color-by-tag-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-filters-test-tsx-filter-by-hp-tag-bam-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-filters-test-tsx-filter-by-hp-tag-cram-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-soft-clip-test-tsx-opens-the-track-menu-and-enables-soft-clipping-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-sort-test-tsx-selects-a-sort-sort-by-base-pair-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-sort-test-tsx-selects-a-sort-sort-by-base-pair-2-snap.png
  test_data/config_demo.json
  test_data/volvox/config.json
  test_data/volvox/paired_end_stranded_rnaseq.bam
  test_data/volvox/paired_end_stranded_rnaseq.bam.bai
Labels: bug
