Repository GMOD/jbrowse-components, pull requests merged in 2023-05, with the labels that each got.

#3670 Only double-click zoom if not clicking on feature
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackContainer.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/TracksContainer.tsx
Labels: bug

#3676 Refactor storybook
  package.json
  products/jbrowse-react-circular-genome-view/.storybook/main.js
  products/jbrowse-react-circular-genome-view/stories/GettingStarted.mdx
  products/jbrowse-react-circular-genome-view/stories/JBrowseCircularGenomeView.stories.tsx
  products/jbrowse-react-circular-genome-view/stories/examples/Human.tsx
  products/jbrowse-react-circular-genome-view/stories/examples/ShowTrack.tsx
  products/jbrowse-react-circular-genome-view/stories/examples/Volvox.tsx
  products/jbrowse-react-circular-genome-view/stories/examples/index.ts
  products/jbrowse-react-linear-genome-view/.storybook/main.js
  products/jbrowse-react-linear-genome-view/stories/DefaultSessions.mdx
  products/jbrowse-react-linear-genome-view/stories/GettingStarted.mdx
  products/jbrowse-react-linear-genome-view/stories/NextJsUsage.mdx
  products/jbrowse-react-linear-genome-view/stories/NextstrainDemo.mdx
  products/jbrowse-react-linear-genome-view/stories/TextSearching.mdx
  products/jbrowse-react-linear-genome-view/stories/Theming.mdx
  products/jbrowse-react-linear-genome-view/stories/UsingInternetAccounts.mdx
  products/jbrowse-react-linear-genome-view/stories/UsingPlugins.mdx
  products/jbrowse-react-linear-genome-view/stories/UsingWebWorker.mdx
  yarn.lock
Labels: documentation

#3677 Smaller fontSize in global theme by default
  packages/core/ui/theme.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/__snapshots__/HierarchicalTrackSelector.test.tsx.snap
  plugins/data-management/src/PluginStoreWidget/components/__snapshots__/PluginStoreWidget.test.tsx.snap
  plugins/linear-genome-view/src/LinearGenomeView/components/RefNameAutocomplete.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.tsx.snap
  products/jbrowse-react-circular-genome-view/src/JBrowseCircularGenomeView/__snapshots__/JBrowseCircularGenomeView.test.tsx.snap
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
  products/jbrowse-web/src/tests/ReloadCram.test.tsx
  yarn.lock
Labels: enhancement

#3675 Use react-popper for tooltips in DotplotView
  plugins/dotplot-view/package.json
  plugins/dotplot-view/src/DotplotView/components/DotplotTooltip.tsx
  plugins/dotplot-view/src/DotplotView/components/DotplotView.tsx
Labels: enhancement

#3681 Guard against undefined in CoreGetFeatureDetails
  packages/core/rpc/methods/CoreGetFeatureDetails.ts
  plugins/alignments/src/LinearPileupDisplay/model.ts
Labels: bug

#3686 Fix CLI unzipping having intermittent failure
  package.json
  products/jbrowse-cli/package.json
  products/jbrowse-cli/src/commands/create.ts
  products/jbrowse-cli/src/commands/upgrade.ts
  yarn.lock
Labels: bug

#3691 Fix breakpoint split view alignment connections not pointing at right position in v2.5.0
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackContainer.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackLabelContainer.tsx
Labels: bug

#3694 Fix ability to filter certain fields in BAM/CRAM files
  plugins/alignments/src/BamAdapter/BamAdapter.ts
  plugins/alignments/src/CramAdapter/CramAdapter.ts
Labels: bug, needs label triage

#3695 Reduce re-drawing on alignments track paired read arcs/cloud display types
  plugins/alignments/src/LinearReadArcsDisplay/components/ReactComponent.tsx
  plugins/alignments/src/LinearReadArcsDisplay/drawFeats.ts
  plugins/alignments/src/LinearReadArcsDisplay/model.tsx
  plugins/alignments/src/LinearReadArcsDisplay/renderSvg.tsx
  plugins/alignments/src/LinearReadCloudDisplay/components/ReactComponent.tsx
  plugins/alignments/src/LinearReadCloudDisplay/drawFeats.ts
  plugins/alignments/src/LinearReadCloudDisplay/model.tsx
  plugins/alignments/src/LinearReadCloudDisplay/renderSvg.tsx
  plugins/alignments/src/util.ts
Labels: enhancement

#3693 Remove package table from release blogposts
  scripts/changelog.js
  scripts/release.sh
  website/blog/2020-11-25-v1.0.1-release.md
  website/blog/2020-12-02-v1.0.2-release.md
  website/blog/2021-01-11-v1.0.3-release.md
  website/blog/2021-03-08-v1.0.4-release.md
  website/blog/2021-03-29-v1.1.0-release.md
  website/blog/2021-05-03-v1.2.0-release.md
  website/blog/2021-05-24-v1.3.0-release.md
  website/blog/2021-07-06-v1.3.1-release.md
  website/blog/2021-07-06-v1.3.2-release.md
  website/blog/2021-08-02-v1.3.3.md
  website/blog/2021-08-23-v1.3.4.md
  website/blog/2021-09-14-v1.4.4-release.md
  website/blog/2021-10-18-v1.5.0-release.md
  website/blog/2021-11-04-v1.5.1-release.md
  website/blog/2021-12-20-v1.5.2-release.md
  website/blog/2021-12-21-v1.5.3-release.md
  website/blog/2022-01-07-v1.5.5-release.md
  website/blog/2022-01-13-v1.5.8-release.md
  website/blog/2022-01-13-v1.5.9-release.md
  website/blog/2022-01-29-v1.6.4-release.md
  website/blog/2022-02-18-v1.6.5-release.md
  website/blog/2022-03-15-v1.6.6-release.md
  website/blog/2022-03-16-v1.6.7-release.md
  website/blog/2022-03-25-v1.6.8-release.md
  website/blog/2022-03-25-v1.6.9-release.md
  website/blog/2022-04-14-v1.7.0-release.md
  website/blog/2022-04-15-v1.7.3-release.md
  website/blog/2022-04-19-v1.7.4-release.md
  website/blog/2022-04-26-v1.7.5-release.md
  website/blog/2022-04-26-v1.7.6-release.md
  website/blog/2022-05-04-v1.7.7-release.md
  website/blog/2022-05-20-v1.7.8-release.md
  website/blog/2022-06-02-v1.7.9-release.md
  website/blog/2022-06-13-v1.7.10-release.md
  website/blog/2022-06-22-v1.7.11-release.md
  website/blog/2022-07-07-v2.0.0-release.md
  website/blog/2022-07-13-v2.0.1-release.md
  website/blog/2022-07-28-v2.1.0-release.md
  website/blog/2022-08-25-v2.1.2-release.md
  website/blog/2022-09-15-v2.1.3-release.md
  website/blog/2022-09-16-v2.1.4-release.md
  website/blog/2022-10-03-v2.1.5-release.md
  website/blog/2022-10-20-v2.1.7-release.md
  website/blog/2022-11-04-v2.2.0-release.md
  website/blog/2022-11-21-v2.2.1-release.md
  website/blog/2022-12-06-v2.2.2-release.md
  website/blog/2022-12-15-v2.3.1-release.md
  website/blog/2022-12-20-v2.3.2-release.md
  website/blog/2023-01-11-v2.3.3-release.md
  website/blog/2023-02-01-v2.3.4-release.md
  website/blog/2023-02-24-v2.4.0-release.md
  website/blog/2023-03-14-v2.4.1-release.md
  website/blog/2023-03-27-v2.4.2-release.md
  website/blog/2023-05-04-v2.5.0-release.md
Labels: documentation

#3698 Add column resizers to the variant ANN/CSQ panels
  packages/core/BaseFeatureWidget/BaseFeatureDetail/index.tsx
  plugins/variants/src/VariantFeatureWidget/AnnotGrid.tsx
  plugins/variants/src/VariantFeatureWidget/VariantAnnotationTable.tsx
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.tsx
  plugins/variants/src/VariantFeatureWidget/VariantSampleGrid.tsx
Labels: enhancement

#3697 Re-introduce the render delay for alignments track arc displays
  plugins/alignments/src/LinearReadArcsDisplay/drawFeats.ts
  plugins/alignments/src/LinearReadArcsDisplay/model.tsx
  plugins/alignments/src/LinearReadCloudDisplay/drawFeats.ts
  plugins/alignments/src/LinearReadCloudDisplay/model.tsx
  plugins/alignments/src/shared/BaseDisplayComponent.tsx
  plugins/variants/src/VariantFeatureWidget/VariantAnnPanel.tsx
  plugins/variants/src/VariantFeatureWidget/VariantCsqPanel.tsx
  plugins/variants/src/VariantFeatureWidget/VariantFeatureWidget.tsx
Labels: enhancement

#3700 Render alignment track arcs instantly after bpPerPx change
  plugins/alignments/src/LinearReadArcsDisplay/components/ReactComponent.tsx
  plugins/alignments/src/LinearReadArcsDisplay/drawFeats.ts
  plugins/alignments/src/LinearReadArcsDisplay/model.tsx
  plugins/alignments/src/LinearReadCloudDisplay/drawFeats.ts
  plugins/alignments/src/LinearReadCloudDisplay/model.tsx
  plugins/alignments/src/shared/BaseDisplayComponent.tsx
  plugins/alignments/src/shared/dynamicTrackAfterAttach.tsx
  plugins/alignments/src/shared/renderSvg.tsx
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  products/jbrowse-web/src/tests/AlignmentArcs.test.tsx
  yarn.lock
Labels: enhancement

#3703 Fix rendering error in alignments tracks when filtering by tag in CRAM file
  plugins/alignments/src/CramAdapter/CramAdapter.ts
Labels: bug

#3706 Miscellaneous alignments arc/cloud fixes
  packages/core/ui/FileSelector/UrlChooser.tsx
  packages/core/util/index.ts
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/LinearReadArcsDisplay/components/ReactComponent.tsx
  plugins/alignments/src/LinearReadArcsDisplay/drawFeats.ts
  plugins/alignments/src/LinearReadArcsDisplay/util.ts
  plugins/alignments/src/LinearReadCloudDisplay/components/ReactComponent.tsx
  plugins/alignments/src/LinearReadCloudDisplay/drawFeats.ts
  plugins/alignments/src/LinearReadCloudDisplay/model.tsx
  plugins/alignments/src/LinearReadCloudDisplay/util.ts
  plugins/alignments/src/PileupRPC/methods/GetReducedFeatures.ts
  plugins/alignments/src/shared/color.ts
  plugins/wiggle/src/MultiDensityRenderer/MultiDensityRenderer.ts
  plugins/wiggle/src/MultiLineRenderer/MultiLineRenderer.ts
  plugins/wiggle/src/MultiRowLineRenderer/MultiRowLineRenderer.ts
  plugins/wiggle/src/MultiRowXYPlotRenderer/MultiRowXYPlotRenderer.ts
  plugins/wiggle/src/MultiXYPlotRenderer/MultiXYPlotRenderer.ts
  plugins/wiggle/src/util.ts
  products/jbrowse-web/src/tests/BreakpointSplitView.test.tsx
  products/jbrowse-web/src/tests/ReloadBigWig.test.tsx
  products/jbrowse-web/src/tests/Spreadsheet.test.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-arcs-test-tsx-toggle-long-read-cloud-display-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-arcs-test-tsx-toggle-short-read-cloud-display-1-snap.png
  yarn.lock
Labels: enhancement

#3707 Improved read cloud display for long reads with inversions
  packages/__mocks__/@testing-library/react.tsx
  plugins/alignments/src/LinearReadArcsDisplay/drawFeats.ts
  plugins/alignments/src/LinearReadCloudDisplay/drawFeats.ts
  plugins/alignments/src/LinearReadCloudDisplay/drawLongReadChains.ts
  plugins/alignments/src/LinearReadCloudDisplay/drawPairChains.ts
  plugins/alignments/src/PileupRenderer/PileupRenderer.ts
  plugins/alignments/src/shared/color.ts
  plugins/alignments/src/shared/util.ts
  plugins/alignments/src/util.ts
  plugins/lollipop/src/LollipopRenderer/components/Lollipop.js
  plugins/lollipop/src/LollipopRenderer/components/Lollipop.tsx
  plugins/lollipop/src/LollipopRenderer/components/LollipopRendering.js
  plugins/lollipop/src/LollipopRenderer/components/LollipopRendering.tsx
  plugins/lollipop/src/LollipopRenderer/components/ScoreText.tsx
  plugins/lollipop/src/LollipopRenderer/components/Stick.tsx
  plugins/lollipop/src/LollipopRenderer/components/__snapshots__/LollipopRendering.test.js.snap
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  products/jbrowse-web/src/tests/AlignmentArcs.test.tsx
  products/jbrowse-web/src/tests/Alignments.test.tsx
  products/jbrowse-web/src/tests/__image_snapshots__/alignment-arcs-test-tsx-toggle-long-read-cloud-display-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-tsx-opens-an-alignments-track-and-clicks-feature-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/alignments-test-tsx-opens-an-alignments-track-and-clicks-feature-2-snap.png
  test_data/volvox/config.json
  test_data/volvox/volvox-inv-pbsim.cram
  test_data/volvox/volvox-inv-pbsim.cram.crai
  yarn.lock
Labels: enhancement

#3708 Add removable-media to jbrowse desktop snap
  packages/core/data_adapters/BaseAdapter/index.ts
  products/jbrowse-desktop/package.json
Labels: bug

#3667 Horizontal Flip Functionality for Hi-C Display
  plugins/hic/src/HicRenderer/HicRenderer.tsx
Labels: needs label triage

#3709 Silence console warn in CopyAndDelete test
  packages/product-core/src/Session/SessionTracks.ts
  products/jbrowse-web/src/tests/CopyAndDelete.test.tsx
Labels: internal

#3631 Adds miscellaneous fixes to Add Track workflow
  plugins/bed/src/BedpeAdapter/BedpeAdapter.ts
  plugins/bed/src/index.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/HamburgerMenu.tsx
Labels: needs label triage

#3653 Evaluate extension point on track config pre-process snapshot
  packages/core/pluggableElementTypes/models/baseTrackConfig.ts
  website/docs/developer_guides/extension_points.md
Labels: enhancement

#3639 Add button to bookmark in jbrowse-web share dialog
  products/jbrowse-web/src/components/ShareButton.tsx
  products/jbrowse-web/src/components/ShareDialog.tsx
  products/jbrowse-web/src/components/ShareInfoDialog.tsx
  products/jbrowse-web/src/components/ShareSettingsDialog.tsx
Labels: enhancement

#3711 Allow synteny data adapters to open files larger than 512Mb
  plugins/comparative-adapters/src/ChainAdapter/ChainAdapter.ts
  plugins/comparative-adapters/src/ChainAdapter/util.ts
  plugins/comparative-adapters/src/DeltaAdapter/DeltaAdapter.ts
  plugins/comparative-adapters/src/DeltaAdapter/util.ts
  plugins/comparative-adapters/src/MashMapAdapter/MashMapAdapter.ts
  plugins/comparative-adapters/src/PAFAdapter/PAFAdapter.ts
  plugins/comparative-adapters/src/PAFAdapter/util.ts
  plugins/comparative-adapters/src/util.ts
Labels: enhancement

#3713 Fix centering of the ImportForm on SV inspector
  packages/app-core/src/ui/ViewContainer.tsx
  plugins/breakpoint-split-view/src/BreakpointSplitView/BreakpointSplitView.ts
  plugins/spreadsheet-view/src/SpreadsheetView/components/ImportWizard.tsx
  plugins/spreadsheet-view/src/SpreadsheetView/components/RowCountMessage.tsx
  plugins/spreadsheet-view/src/SpreadsheetView/components/SpreadsheetView.tsx
  plugins/spreadsheet-view/src/SpreadsheetView/components/StatusBar.tsx
  plugins/spreadsheet-view/src/SpreadsheetView/models/SpreadsheetView.ts
  plugins/sv-inspector/src/SvInspectorView/components/CircularViewOptions.tsx
  plugins/sv-inspector/src/SvInspectorView/components/SvInspectorView.tsx
  plugins/sv-inspector/src/SvInspectorView/models/SvInspectorView.ts
  products/jbrowse-web/src/tests/SVInspector.test.tsx
  yarn.lock
Labels: bug

#3715 Fix lazy loading regression after app-core/embedded-core PR
  packages/app-core/src/ui/App.tsx
  packages/app-core/src/ui/AppFab.tsx
  packages/app-core/src/ui/DialogQueue.tsx
  packages/embedded-core/src/ui/ViewTitle.tsx
  packages/product-core/package.json
  plugins/breakpoint-split-view/src/BreakpointSplitView/model.ts
  plugins/circular-view/src/CircularView/models/CircularView.ts
  plugins/dotplot-view/src/DotplotView/model.ts
  plugins/linear-comparative-view/src/LinearComparativeView/model.ts
  plugins/linear-comparative-view/src/LinearSyntenyView/model.ts
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  yarn.lock
Labels: enhancement

#3724 Include sessionAssemblies in session->"get assemblies()" and session->"get assemblyNames"
  packages/core/ui/AssemblySelector.tsx
  packages/web-core/src/BaseWebSession/index.ts
  products/jbrowse-desktop/src/sessionModel/index.ts
  yarn.lock
Labels: needs label triage

#3733 Sonarjs eslint fixes
  packages/core/pluggableElementTypes/renderers/BoxRendererType.ts
  packages/core/rpc/BaseRpcDriver.ts
  packages/core/util/io/index.ts
  packages/core/util/mst-reflection.ts
  packages/product-core/src/Session/DrawerWidgets.ts
  packages/text-indexing/src/util.ts
  plugins/alignments/src/LinearPileupDisplay/model.ts
  plugins/alignments/src/PileupRenderer/sortUtil.ts
  plugins/bed/src/util.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/BreakpointSplitView.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/components/util.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/HierarchicalTrackSelector.tsx
  plugins/grid-bookmark/src/index.ts
  plugins/legacy-jbrowse/src/NCListAdapter/NCListFeature.ts
  plugins/sv-inspector/src/SvInspectorView/components/SvInspectorView.tsx
  plugins/svg/src/SvgFeatureRenderer/components/util.ts
  products/jbrowse-desktop/src/indexJobsModel.ts
Labels: internal

#3734 PileupRenderer refactor
  plugins/alignments/src/PileupRenderer/PileupRenderer.ts
  plugins/alignments/src/PileupRenderer/colorBy.ts
  plugins/alignments/src/PileupRenderer/getAlignmentShapeColor.ts
  plugins/alignments/src/PileupRenderer/layoutFeature.ts
  plugins/alignments/src/PileupRenderer/layoutFeatures.ts
  plugins/alignments/src/PileupRenderer/makeImageData.ts
  plugins/alignments/src/PileupRenderer/renderAlignment.ts
  plugins/alignments/src/PileupRenderer/renderAlignmentShape.ts
  plugins/alignments/src/PileupRenderer/renderMethylation.ts
  plugins/alignments/src/PileupRenderer/renderMismatches.ts
  plugins/alignments/src/PileupRenderer/renderModifications.ts
  plugins/alignments/src/PileupRenderer/renderPerBaseLettering.ts
  plugins/alignments/src/PileupRenderer/renderPerBaseQuality.ts
  plugins/alignments/src/PileupRenderer/renderSoftClipping.ts
  plugins/alignments/src/PileupRenderer/util.ts
Labels: internal
