Repository GMOD/jbrowse-components, pull requests merged in 2023-11, with the labels that each got.

#4024 Updates view in focus styling to be more emphasized and ensures a view is always in focus if one is open
  packages/app-core/src/ui/App/ViewHeader.tsx
  products/jbrowse-web/src/tests/ExportSvg.test.tsx
Labels: enhancement

#4032 Add `jbrowse sort-gff` subcommand
  package.json
  products/jbrowse-cli/README.md
  products/jbrowse-cli/package.json
  products/jbrowse-cli/src/commands/sort-gff.ts
  yarn.lock
Labels: enhancement

#4035 Prompt to horizontally flip view when launching linear synteny view on inverted feature
  packages/core/BaseFeatureWidget/BaseFeatureDetail/index.tsx
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/components/LaunchSyntenyViewDialog.tsx
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/components/util.ts
  plugins/linear-comparative-view/src/LGVSyntenyDisplay/model.ts
  products/jbrowse-web/src/tests/BookmarkWidget.test.tsx
  products/jbrowse-web/src/tests/Spreadsheet.test.tsx
Labels: enhancement

#4040 Strip baseUri in 'About track' copy config
  packages/product-core/src/ui/AboutDialogContents.tsx
Labels: enhancement

#4027 Schedule meeting link on the website
  README.md
  website/blog/2023-11-03-office-hours.md
  website/package.json
  website/src/pages/contact.mdx
  website/src/pages/demos.mdx
  website/src/pages/index.tsx
  website/src/pages/util.tsx
  website/yarn.lock
Labels: documentation

#4044 Speed up "multi-region" navigation in search box
  plugins/linear-genome-view/src/LinearGenomeView/components/SearchBox.tsx
Labels: enhancement

#4043 Fix crash in "Open session" widget for sessions that have 'track-less views'
  plugins/menus/src/SessionManager/components/AutosavedSessionsList.tsx
  plugins/menus/src/SessionManager/components/DeleteSavedSessionDialog.tsx
  plugins/menus/src/SessionManager/components/RegularSavedSessionsList.tsx
  plugins/menus/src/SessionManager/components/SessionListItem.tsx
  plugins/menus/src/SessionManager/components/SessionManager.tsx
  plugins/menus/src/SessionManager/components/util.ts
  plugins/variants/src/StructuralVariantChordRenderer/Chord.tsx
  plugins/variants/src/StructuralVariantChordRenderer/ReactComponent.tsx
  products/jbrowse-web/src/components/SessionWarningDialog.tsx
  website/src/pages/contact.mdx
Labels: bug

#4050 Allow specifying alternative config.json path via global variable
  products/jbrowse-web/src/SessionLoader.ts
Labels: enhancement

#4052 Fix browser back button behavior in jbrowse-web
  products/jbrowse-web/src/components/JBrowse.tsx
  products/jbrowse-web/src/components/Loader.tsx
  products/jbrowse-web/src/components/ShareDialog.tsx
  products/jbrowse-web/src/tests/BreakpointSplitView.test.tsx
Labels: bug

#4053 Add fixes for BEDPE
  plugins/arc/src/LinearPairedArcDisplay/components/Arcs.tsx
  plugins/arc/src/index.ts
  plugins/bed/src/BedpeAdapter/BedpeAdapter.ts
  plugins/variants/src/VariantFeatureWidget/VariantSampleGrid.tsx
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  test_data/config_demo.json
  test_data/volvox/config.json
  test_data/volvox/volvox.bedpe
Labels: needs label triage

#4049 v2.8.0 release announcement
  plugins/bed/src/BedpeAdapter/BedpeAdapter.ts
  website/docs/quickstart_web.md
  website/release_announcement_drafts/v2.8.0.md
Labels: needs label triage

#4062 Fix duplicate key error in hierarchical track selector
  plugins/data-management/src/HierarchicalTrackSelectorWidget/model.ts
Labels: bug

#4059 Fixes missing icons on cascading menus
  packages/core/ui/CascadingMenu.tsx
Labels: bug

#4067 Add arc plugin to lgv product
  products/jbrowse-react-linear-genome-view/package.json
  products/jbrowse-react-linear-genome-view/src/corePlugins.ts
Labels: enhancement

#4039 Adds "Favorite Tracks" and "Recently Used" categories to the track selector
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/__snapshots__/HierarchicalTrackSelector.test.tsx.snap
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/HamburgerMenu.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/HierarchicalTree.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/TrackCategory.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/TrackLabel.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/util.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/generateHierarchy.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/model.ts
  products/jbrowse-web/src/tests/BookmarkWidget.test.tsx
  products/jbrowse-web/src/tests/CircularView.test.tsx
  products/jbrowse-web/src/tests/ConfigurationEditor.test.tsx
  products/jbrowse-web/src/tests/CopyAndDelete.test.tsx
  products/jbrowse-web/src/tests/DrawerWidget.test.tsx
  products/jbrowse-web/src/tests/StatsEstimation.test.tsx
  products/jbrowse-web/src/tests/util.tsx
Labels: enhancement

#4071 Fix zip build for mac auto-update
  products/jbrowse-desktop/package.json
Labels: bug

#3948 Make the default setting for the dotplot/synteny views use 'Existing tracks' by default
  plugins/dotplot-view/src/DotplotView/components/ImportForm/index.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportForm/index.tsx
Labels: enhancement

#4086 Fix issue where --load inPlace and --force can sometimes remove file unexpectedly
  packages/core/BaseFeatureWidget/BaseFeatureDetail/util.ts
  packages/core/PluginLoader.ts
  packages/core/configuration/types.ts
  packages/core/ui/react-colorful.js
  packages/core/util/simpleFeature.ts
  plugins/dotplot-view/src/DotplotRenderer/DotplotRenderer.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewScalebar.tsx
  plugins/sequence/src/DivSequenceRenderer/components/DivSequenceRendering.tsx
  plugins/svg/src/SvgFeatureRenderer/components/Arrow.tsx
  plugins/wiggle/src/drawXY.ts
  products/jbrowse-cli/README.md
  products/jbrowse-cli/src/commands/add-track.ts
  yarn.lock
Labels: bug

#4095 Fix faceted metadata header names colliding with non-metadata header names
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/faceted/FacetedSelector.tsx
  test_data/volvox/config.json
Labels: bug

#4094 Refactor faceted track selector to use more MST state
  packages/core/ui/CascadingMenu.tsx
  packages/core/ui/SanitizedHTML.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/faceted/FacetFilter.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/faceted/FacetFilters.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/faceted/FacetedHeader.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/faceted/FacetedSelector.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/TrackLabel.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/TrackLabelMenu.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/facetedModel.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/model.ts
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  products/jbrowse-web/src/tests/JBrowse.test.tsx
  yarn.lock
Labels: bug

#4068 Allow searching the text-index by gene name from the URL bar
  plugins/linear-genome-view/src/LaunchLinearGenomeView/index.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/SearchBox.tsx
  plugins/linear-genome-view/src/index.ts
  plugins/linear-genome-view/src/searchUtils.ts
Labels: enhancement

#4091 Allow hiding subfeatures in the feature details panel
  packages/core/BaseFeatureWidget/BaseFeatureDetail/index.tsx
  packages/core/BaseFeatureWidget/index.ts
  packages/core/pluggableElementTypes/models/baseTrackConfig.ts
  packages/product-core/src/RootModel/FormatDetails.ts
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  test_data/volvox/config.json
Labels: enhancement

#4087 Remove babel-preset-react-app
  config/jest/textEncoder.js
  package.json
  products/jbrowse-desktop/package.json
  products/jbrowse-img/package.json
  products/jbrowse-web/package.json
  webpack/config/webpack.config.js
  yarn.lock
Labels: dependencies

#4096 Allow searching by gene name using linear synteny view
  plugins/linear-comparative-view/src/LaunchLinearSyntenyView.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/ImportForm.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/ImportFormRefNameAutocomplete.tsx
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  plugins/linear-genome-view/src/searchUtils.ts
  products/jbrowse-web/src/tests/JBrowse.test.tsx
Labels: enhancement

#4089 Change recently used and favorite tracks to dropdown menus
  packages/core/ui/CascadingMenu.tsx
  packages/core/ui/CascadingMenuButton.tsx
  packages/core/ui/Menu.tsx
  packages/core/ui/MenuButton.tsx
  plugins/circular-view/src/CircularView/models/CircularView.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/__snapshots__/HierarchicalTrackSelector.test.tsx.snap
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/faceted/FacetedSelector.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/DropdownTrackSelector.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/FavoriteTracks.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/HamburgerMenu.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/HierarchicalHeader.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/HierarchicalTree.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/RecentlyUsedTracks.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/TrackLabel.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/TrackLabelMenu.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/model.ts
  plugins/dotplot-view/src/DotplotView/model.ts
  plugins/linear-comparative-view/src/LinearComparativeView/model.ts
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
Labels: needs label triage

#4070 Add support for single file hubs
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.tsx.snap
  plugins/data-management/package.json
  plugins/data-management/src/AddConnectionWidget/components/__snapshots__/AddConnectionWidget.test.tsx.snap
  plugins/data-management/src/AddTrackWidget/model.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/__snapshots__/HierarchicalTrackSelector.test.tsx.snap
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/faceted/util.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/facetedModel.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/facetedUtil.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/model.ts
  plugins/data-management/src/PluginStoreWidget/components/__snapshots__/PluginStoreWidget.test.tsx.snap
  plugins/data-management/src/ucsc-trackhub/doConnect.ts
  plugins/data-management/src/ucsc-trackhub/model.ts
  plugins/data-management/src/ucsc-trackhub/ucscTrackHub.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.tsx.snap
  test_data/volvoxhub/bbi/volvox-sorted.bam.coverage.bw
  test_data/volvoxhub/bbi/volvox.bb
  test_data/volvoxhub/config.json
  test_data/volvoxhub/html/volvox.description.html
  test_data/volvoxhub/singlefile.volvox.hub.txt
  yarn.lock
Labels: enhancement
