Repository GMOD/jbrowse-components, pull requests merged in 2023-08, with the labels that each got.

#3837 Fix text layout in dotplots with long coordinate strings
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.tsx.snap
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/__snapshots__/HierarchicalTrackSelector.test.tsx.snap
  plugins/data-management/src/PluginStoreWidget/components/__snapshots__/PluginStoreWidget.test.tsx.snap
  plugins/dotplot-view/src/DotplotView/model.ts
  plugins/menus/src/AboutWidget/components/__snapshots__/AboutWidget.test.tsx.snap
  plugins/menus/src/HelpWidget/components/__snapshots__/HelpWidget.test.js.snap
  products/jbrowse-web/src/tests/__image_snapshots__/dotplot-test-tsx-inverted-dotplot-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/dotplot-test-tsx-inverted-dotplot-flip-axes-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/dotplot-test-tsx-open-a-dotplot-view-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/dotplot-test-tsx-open-a-dotplot-view-with-import-form-1-snap.png
  products/jbrowse-web/src/tests/__image_snapshots__/dotplot_snapshot.svg
  products/jbrowse-web/src/tests/__image_snapshots__/read-vs-ref-test-tsx-launch-read-vs-ref-dotplot-1-snap.png
  products/jbrowse-web/src/tests/__snapshots__/ExportSvg.test.tsx.snap
  website/release_announcement_drafts/v2.6.2.md
  yarn.lock
Labels: bug

#3839 Fix bug where multi-quantitative tracks plotted incorrectly for some bigwigs with empty regions
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.tsx.snap
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/__snapshots__/HierarchicalTrackSelector.test.tsx.snap
  plugins/data-management/src/PluginStoreWidget/components/__snapshots__/PluginStoreWidget.test.tsx.snap
  plugins/menus/src/AboutWidget/components/__snapshots__/AboutWidget.test.tsx.snap
  plugins/menus/src/HelpWidget/components/__snapshots__/HelpWidget.test.js.snap
  plugins/wiggle/src/MultiDensityRenderer/MultiDensityRenderer.ts
  plugins/wiggle/src/MultiRowLineRenderer/MultiRowLineRenderer.ts
  plugins/wiggle/src/MultiRowXYPlotRenderer/MultiRowXYPlotRenderer.ts
  yarn.lock
Labels: bug

#3831 Adds session model reference to view in focus
  packages/app-core/src/AppFocus/index.ts
  packages/app-core/src/index.ts
  packages/app-core/src/ui/App/App.tsx
  packages/app-core/src/ui/App/Drawer.tsx
  packages/app-core/src/ui/App/DrawerHeader.tsx
  packages/app-core/src/ui/App/DrawerWidget.tsx
  packages/app-core/src/ui/App/ViewContainer.tsx
  packages/core/util/types/index.ts
  packages/web-core/src/BaseWebSession/index.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeView.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/MiniControls.tsx
  products/jbrowse-desktop/src/rootModel/index.ts
  products/jbrowse-desktop/src/sessionModel/index.ts
  products/jbrowse-web/src/rootModel/rootModel.ts
  products/jbrowse-web/src/sessionModel/__snapshots__/sessionModelFactory.test.ts.snap
  products/jbrowse-web/src/sessionModel/index.ts
Labels: enhancement

#3855 Replace shortid with vendored nanoid
  .eslintignore
  package.json
  packages/app-core/package.json
  packages/core/package.json
  packages/core/rpc/WebWorkerRpcDriver.ts
  packages/core/util/nanoid.d.ts
  packages/core/util/nanoid.js
  packages/core/util/types/mst.ts
  packages/embedded-core/package.json
  packages/product-core/package.json
  packages/product-core/src/Session/BaseSession.ts
  packages/web-core/package.json
  products/jbrowse-react-app/package.json
  products/jbrowse-web/package.json
  products/jbrowse-web/src/SessionLoader.ts
  products/jbrowse-web/src/components/ConfigWarningDialog.tsx
  products/jbrowse-web/src/components/SessionWarningDialog.tsx
  yarn.lock
Labels: internal

#3865 Strip alpha from colors for improved SVG export compatibility
  packages/core/util/index.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/svgcomponents/SVGBackground.tsx
  plugins/circular-view/src/CircularView/svgcomponents/SVGBackground.tsx
  plugins/dotplot-view/src/DotplotView/svgcomponents/SVGBackground.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/svgcomponents/SVGBackground.tsx
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/SVGBackground.tsx
  plugins/svg/src/SvgFeatureRenderer/components/Arrow.tsx
  plugins/svg/src/SvgFeatureRenderer/components/FeatureLabel.tsx
  plugins/svg/src/SvgFeatureRenderer/components/Segments.tsx
  plugins/svg/src/SvgFeatureRenderer/components/__snapshots__/SvgFeatureRendering.test.tsx.snap
  products/jbrowse-web/src/tests/__image_snapshots__/breakpoint_split_view_snapshot.svg
  products/jbrowse-web/src/tests/__snapshots__/ExportSvgBreakpointSplitView.test.tsx.snap
Labels: bug

#3866 Fix calculation of width of "view container title"
  packages/core/ui/EditableTypography.tsx
Labels: bug

#3832 Adds keyboard shortcuts for panning and zooming on a focused view
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
Labels: enhancement

#3882 Minor refactors and typescripting improvements
  plugins/authentication/src/DropboxOAuthModel/model.tsx
  plugins/authentication/src/OAuthModel/model.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/Cytobands.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/Gridlines.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/Scalebar.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/util.ts
  products/jbrowse-web/src/tests/BreakpointSplitView.test.tsx
  products/jbrowse-web/src/tests/ExportSvgBreakpointSplitView.test.tsx
  yarn.lock
Labels: internal
