Repository GMOD/jbrowse-components, pull requests merged in 2023-12, with the labels that each got.

#4107 Refactors and bundle size improvements
  plugins/alignments/src/PileupRenderer/PileupRenderer.ts
  plugins/jobs-management/src/JobsListWidget/index.ts
  plugins/jobs-management/src/JobsListWidget/jobModel.ts
  plugins/jobs-management/src/JobsListWidget/model.ts
  plugins/jobs-management/src/index.ts
  plugins/linear-comparative-view/src/LinearReadVsRef/index.ts
  plugins/lollipop/src/LinearLollipopDisplay/configSchema.ts
  plugins/lollipop/src/LinearLollipopDisplay/index.ts
  plugins/lollipop/src/LinearLollipopDisplay/model.ts
  plugins/lollipop/src/LollipopRenderer/index.ts
  plugins/lollipop/src/index.ts
  plugins/wiggle/src/LinearWiggleDisplay/models/model.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/models/model.ts
  plugins/wiggle/src/MultiWiggleAddTrackWidget/index.ts
Labels: enhancement

#4108 Convert to floating-ui for tooltips for small speedup
  plugins/dotplot-view/package.json
  plugins/dotplot-view/src/DotplotView/components/DotplotTooltip.tsx
  plugins/dotplot-view/src/DotplotView/components/DotplotView.tsx
  plugins/linear-comparative-view/package.json
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/components/LinearSyntenyRendering.tsx
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/components/SyntenyTooltip.tsx
  plugins/linear-genome-view/package.json
  plugins/linear-genome-view/src/BaseLinearDisplay/components/Tooltip.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.tsx.snap
  plugins/wiggle/package.json
  plugins/wiggle/src/Tooltip.tsx
  yarn.lock
Labels: enhancement

#4110 Scroll both panels of the linear synteny view when side scrolling the middle panel
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/components/LinearSyntenyRendering.tsx
Labels: enhancement

#4121 Fix view menu checkboxes not responding in some cases
  packages/app-core/src/ui/App/ViewMenu.tsx
  packages/embedded-core/src/ui/ViewMenu.tsx
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/components/LinearSyntenyRendering.tsx
  products/jbrowse-react-circular-genome-view/src/JBrowseCircularGenomeView/__snapshots__/JBrowseCircularGenomeView.test.tsx.snap
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
  products/jbrowse-web/src/tests/BasicLinearGenomeView.test.tsx
  yarn.lock
Labels: bug

#3859 Pairwise indexed PAF adapter proposal
  .github/workflows/push.yml
  .github/workflows/website.yml
  plugins/bed/src/BedTabixAdapter/BedTabixAdapter.ts
  plugins/comparative-adapters/package.json
  plugins/comparative-adapters/src/PAFAdapter/PAFAdapter.ts
  plugins/comparative-adapters/src/PAFAdapter/util.ts
  plugins/comparative-adapters/src/PairwiseIndexedPAFAdapter/PairwiseIndexedPAFAdapter.ts
  plugins/comparative-adapters/src/PairwiseIndexedPAFAdapter/configSchema.ts
  plugins/comparative-adapters/src/PairwiseIndexedPAFAdapter/index.ts
  plugins/comparative-adapters/src/SyntenyFeature/index.ts
  plugins/comparative-adapters/src/index.ts
  plugins/comparative-adapters/src/util.test.ts
  plugins/comparative-adapters/src/util.ts
  plugins/linear-comparative-view/src/LinearSyntenyDisplay/components/LinearSyntenyRendering.tsx
  plugins/wiggle/src/BigWigAdapter/BigWigAdapter.ts
  products/jbrowse-cli/README.md
  products/jbrowse-cli/out.paf
  products/jbrowse-cli/out.pif.gz
  products/jbrowse-cli/out.pif.gz.tbi
  products/jbrowse-cli/src/commands/__snapshots__/make-pif.test.ts.snap
  products/jbrowse-cli/src/commands/add-track.ts
  products/jbrowse-cli/src/commands/make-pif.test.ts
  products/jbrowse-cli/src/commands/make-pif.ts
  products/jbrowse-cli/src/commands/sort-gff.ts
  products/jbrowse-web/src/components/NoConfigMessage.tsx
  test_data/hs1_vs_mm39/config.json
Labels: enhancement

#4123 Remove session.notify after using the Add track workflow
  plugins/data-management/src/AddTrackWidget/components/DefaultAddTrackWorkflow.tsx
Labels: enhancement

#4003 Adds the ability to highlight regions using the bookmarks widget
  plugins/grid-bookmark/src/GridBookmarkWidget/components/BookmarkGrid.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/DeleteBookmarks.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/ExportBookmarks.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/GridBookmarkWidget.test.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/GridBookmarkWidget.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/Highlight/Highlight.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/Highlight/index.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/ImportBookmarks.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/ShareBookmarks.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/dialogs/DeleteBookmarksDialog.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/dialogs/EditBookmarkLabelDialog.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/dialogs/EditHighlightColorDialog.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/dialogs/ExportBookmarksDialog.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/dialogs/HighlightSettingsDialog.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/dialogs/ImportBookmarksDialog.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/dialogs/ShareBookmarksDialog.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/index.ts
  plugins/grid-bookmark/src/GridBookmarkWidget/model.ts
  plugins/grid-bookmark/src/index.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/TracksContainer.tsx
  products/jbrowse-web/src/tests/BookmarkWidget.test.tsx
  products/jbrowse-web/src/tests/__snapshots__/BookmarkWidget.test.tsx.snap
Labels: enhancement

#4155 Remove react-svg-tooltip library
  packages/core/BaseFeatureWidget/__snapshots__/index.test.tsx.snap
  plugins/alignments/src/AlignmentsFeatureDetail/__snapshots__/index.test.tsx.snap
  plugins/arc/package.json
  plugins/arc/src/ArcRenderer/ArcRendering.tsx
  plugins/arc/src/ArcRenderer/__snapshots__/ArcRendering.test.tsx.snap
  plugins/arc/src/ArcTooltip.tsx
  plugins/arc/src/LinearPairedArcDisplay/components/Arcs.tsx
  plugins/arc/src/LinearPairedArcDisplay/components/util.ts
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.tsx.snap
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/__snapshots__/HierarchicalTrackSelector.test.tsx.snap
  plugins/data-management/src/PluginStoreWidget/components/__snapshots__/PluginStoreWidget.test.tsx.snap
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.tsx.snap
  plugins/variants/src/VariantFeatureWidget/__snapshots__/VariantFeatureWidget.test.tsx.snap
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
  yarn.lock
Labels: enhancement, housekeeping

#4154 Fix metadata facet filters being blank
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/faceted/FacetFilter.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/faceted/FacetFilters.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/faceted/FacetedSelector.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/faceted/util.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/facetedModel.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/model.ts
Labels: bug
