Repository GMOD/jbrowse-components, pull requests merged in 2023-10, with the labels that each got.

#3952 Stop drawing the letters of soft clipping bases in collapsed drawing mode
  plugins/alignments/src/PileupRenderer/renderSoftClipping.ts
  website/blog/2022-06-22-v1.7.11-release.md
Labels: needs label triage

#3951 Adds the jobs widget to web
  plugins/data-management/src/PluginStoreWidget/components/__snapshots__/PluginStoreWidget.test.tsx.snap
  plugins/jobs-management/src/JobsListWidget/components/CurrentJobCard.tsx
  plugins/jobs-management/src/JobsListWidget/components/JobCard.tsx
  plugins/jobs-management/src/JobsListWidget/components/JobsListWidget.tsx
  plugins/jobs-management/src/JobsListWidget/model.ts
  plugins/jobs-management/src/index.ts
  products/jbrowse-web/src/corePlugins.ts
Labels: enhancement

#3954 Add column resizing for jbrowse-desktop start screen recent sessions panel
  packages/core/BaseFeatureWidget/BaseFeatureDetail/DataGridDetails.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/faceted/FacetedSelector.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/BookmarkGrid.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/SetColorDialog.tsx
  products/jbrowse-desktop/src/components/StartScreen/RecentSessionList.tsx
Labels: enhancement

#3953 Report JSON parse error when failing to load JSON file on desktop
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/public/electron.ts
  yarn.lock
Labels: enhancement

#3956 Make faceted track selector facet filters responsive to adjacent filter selections
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/faceted/FacetFilter.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/faceted/FacetFilters.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/faceted/FacetedHeader.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/faceted/FacetedSelector.tsx
Labels: enhancement

#3957 Add error handler example for embedded components
  products/jbrowse-react-linear-genome-view/stories/ErrorHandling.mdx
  products/jbrowse-react-linear-genome-view/stories/JBrowseLinearGenomeView.stories.tsx
  products/jbrowse-react-linear-genome-view/stories/examples/WithErrorHandler.tsx
  products/jbrowse-react-linear-genome-view/stories/examples/index.ts
Labels: documentation

#3961 Remove session.focusedView, only use session.focusedViewId
  packages/app-core/src/AppFocus/index.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/MiniControls.tsx
Labels: internal

#3962 Adds tooltips to share bookmarks workflow
  plugins/grid-bookmark/src/GridBookmarkWidget/components/ImportBookmarksDialog.tsx
  plugins/grid-bookmark/src/GridBookmarkWidget/components/ShareBookmarksDialog.tsx
Labels: enhancement

#3964 Misc refactoring to "Set default session" admin-server workflow
  plugins/data-management/src/SetDefaultSession/SetDefaultSession.test.tsx
  plugins/data-management/src/SetDefaultSession/index.ts
  plugins/data-management/src/index.ts
  products/jbrowse-react-app/src/rootModel/index.ts
  products/jbrowse-web/src/components/AdminComponent.tsx
  products/jbrowse-web/src/components/JBrowse.tsx
  products/jbrowse-web/src/components/SetDefaultSession.tsx
  products/jbrowse-web/src/rootModel/rootModel.ts
Labels: needs label triage

#3971 Fix rendering multi-quantitative tracks when blank data is present
  packages/core/util/index.ts
  plugins/wiggle/src/DensityRenderer/DensityRenderer.ts
  plugins/wiggle/src/LinePlotRenderer/LinePlotRenderer.ts
  plugins/wiggle/src/MultiDensityRenderer/MultiDensityRenderer.ts
  plugins/wiggle/src/MultiLineRenderer/MultiLineRenderer.ts
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/SetColorDialog.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/SourcesGrid.tsx
  plugins/wiggle/src/MultiRowLineRenderer/MultiRowLineRenderer.ts
  plugins/wiggle/src/MultiRowXYPlotRenderer/MultiRowXYPlotRenderer.ts
  plugins/wiggle/src/MultiXYPlotRenderer/MultiXYPlotRenderer.ts
  plugins/wiggle/src/WiggleRendering.test.tsx
  plugins/wiggle/src/XYPlotRenderer/XYPlotRenderer.ts
  plugins/wiggle/src/__snapshots__/WiggleRendering.test.tsx.snap
  plugins/wiggle/src/drawDensity.ts
  plugins/wiggle/src/drawLine.ts
  plugins/wiggle/src/drawXY.ts
  plugins/wiggle/src/util.ts
Labels: bug

#3976 Remove unused deps
  jest.config.js
  package.json
  plugins/config/src/ConfigurationEditorWidget/components/__snapshots__/ConfigurationEditor.test.tsx.snap
  plugins/data-management/src/AddConnectionWidget/components/AddConnectionWidget.test.tsx
  plugins/data-management/src/AddConnectionWidget/components/__snapshots__/AddConnectionWidget.test.tsx.snap
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.tsx.snap
  products/jbrowse-desktop/package.json
  products/jbrowse-web/src/tests/DrawerWidget.test.tsx
  webpack/config/webpack.config.js
  yarn.lock
Labels: dependencies

#3980 Downgrade electron 26->25 to fix screen blanking
  package.json
  plugins/data-management/src/HierarchicalTrackSelectorWidget/generateHierarchy.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/model.ts
  products/jbrowse-desktop/package.json
  products/jbrowse-desktop/public/electron.ts
  yarn.lock
Labels: bug

#3981 Auto-create HTML links for URLs, and strip HTML tags where they can't be rendered
  packages/__mocks__/@jbrowse/core/ui/CascadingMenuButton.js
  packages/core/BaseFeatureWidget/BaseFeatureDetail/DataGridDetails.tsx
  packages/core/BaseFeatureWidget/BaseFeatureDetail/UriLink.tsx
  packages/core/ui/MenuButton.tsx
  packages/core/ui/SanitizedHTML.tsx
  packages/core/util/blobToDataURL.ts
  packages/core/util/index.ts
  packages/core/util/offscreenCanvasUtils.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/__snapshots__/HierarchicalTrackSelector.test.tsx.snap
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/faceted/FacetFilter.tsx
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/tree/TrackLabel.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackLabel.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackLabelDragHandle.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.tsx.snap
  plugins/linear-genome-view/src/LinearGenomeView/index.ts
  plugins/linear-genome-view/src/LinearGenomeView/svgcomponents/SVGTrackLabel.tsx
  plugins/wiggle/src/MultiLinearWiggleDisplay/components/SourcesGrid.tsx
  products/jbrowse-react-circular-genome-view/src/JBrowseCircularGenomeView/__snapshots__/JBrowseCircularGenomeView.test.tsx.snap
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
  products/jbrowse-web/src/tests/ErrorConditions.test.tsx
Labels: enhancement

#3982 Allow rendering semi-circles in the arc renderer
  packages/core/pluggableElementTypes/renderers/RendererType.ts
  plugins/arc/src/ArcRenderer/ArcRendering.test.tsx
  plugins/arc/src/ArcRenderer/ArcRendering.tsx
  plugins/arc/src/ArcRenderer/__snapshots__/ArcRendering.test.tsx.snap
  plugins/arc/src/ArcRenderer/configSchema.ts
  plugins/arc/src/LinearArcDisplay/model.ts
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  test_data/volvox/arc_test.bed
  test_data/volvox/config.json
  yarn.lock
Labels: enhancement

#3986 Allow editing step size and window size of GC content adapter
  plugin-development-tools/yarn.lock
  plugins/gccontent/src/GCContentAdapter/GCContentAdapter.ts
  plugins/gccontent/src/GCContentAdapter/configSchema.ts
  plugins/gccontent/src/LinearGCContentDisplay/components/EditGCContentParams.tsx
  plugins/gccontent/src/LinearGCContentDisplay/config.ts
  plugins/gccontent/src/LinearGCContentDisplay/stateModel.ts
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  test_data/volvox/config.json
  website/yarn.lock
  yarn.lock
Labels: enhancement

#3991 Remove some non-functioning options from top level menu in @jbrowse/react-app
  products/jbrowse-react-app/src/rootModel/__snapshots__/index.test.ts.snap
  products/jbrowse-react-app/src/rootModel/index.ts
Labels: bug

#4007 Update cram-js for bzip2 fix
  yarn.lock
Labels: bug

#3994 Misc refactors for view container
  packages/app-core/src/ui/App/ViewContainer.tsx
  packages/app-core/src/ui/App/ViewHeader.tsx
  packages/core/pluggableElementTypes/models/baseTrackConfig.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeView.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/OverviewRubberband.tsx
  plugins/linear-genome-view/src/LinearGenomeView/components/__snapshots__/LinearGenomeView.test.tsx.snap
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
  yarn.lock
Labels: enhancement

#4005 Refactors and typescript improvements for jbrowse-web loader
  packages/core/PluginLoader.ts
  products/jbrowse-web/src/SessionLoader.ts
  products/jbrowse-web/src/components/ConfigWarningDialog.tsx
  products/jbrowse-web/src/components/Loader.tsx
  products/jbrowse-web/src/components/SessionWarningDialog.tsx
  products/jbrowse-web/src/createPluginManager.ts
  products/jbrowse-web/src/tests/AssemblySelectorImportForm.test.tsx
  products/jbrowse-web/src/tests/Loader.test.tsx
  products/jbrowse-web/src/util.ts
Labels: internal

#4016 Fix mouseover tooltip getting stuck after selection action in dotplot
  plugins/dotplot-view/src/DotplotView/components/DotplotView.tsx
Labels: bug

#4015 Create MacOS universal build of jbrowse-desktop to help M1 macs
  package.json
  products/jbrowse-desktop/package.json
  yarn.lock
Labels: enhancement

#3999 Example of using customElement + ShadowDOM for @jbrowse/react-linear-genome-view
  plugins/linear-genome-view/src/BaseLinearDisplay/components/Tooltip.tsx
  products/jbrowse-react-linear-genome-view/package.json
  products/jbrowse-react-linear-genome-view/stories/JBrowseLinearGenomeView.stories.tsx
  products/jbrowse-react-linear-genome-view/stories/ShadowDOM.mdx
  products/jbrowse-react-linear-genome-view/stories/examples/ShadowDOMOneLinearGenomeView.tsx
  products/jbrowse-react-linear-genome-view/stories/examples/index.ts
  yarn.lock
Labels: enhancement

#4010 Bump deps
  packages/core/util/types/index.ts
  plugins/data-management/src/HierarchicalTrackSelectorWidget/components/__snapshots__/HierarchicalTrackSelector.test.tsx.snap
  plugins/data-management/src/HierarchicalTrackSelectorWidget/generateHierarchy.ts
  plugins/linear-genome-view/src/BaseLinearDisplay/models/BaseLinearDisplayModel.tsx
  yarn.lock
Labels: enhancement

#4018 Remove node-polyfill-webpack-plugin
  component_tests/cgv/craco.config.js
  component_tests/cgv/package.json
  component_tests/lgv/craco.config.js
  component_tests/lgv/package.json
  component_tests/react-app/craco.config.js
  component_tests/react-app/package.json
  package.json
  packages/core/util/index.ts
  packages/core/util/layouts/SceneGraph.ts
  plugins/breakpoint-split-view/src/BreakpointSplitView/model.ts
  plugins/dotplot-view/src/DotplotView/components/ImportForm/ImportCustomTrack.tsx
  plugins/dotplot-view/src/DotplotView/components/ImportForm/ImportSyntenyTrackSelector.tsx
  plugins/dotplot-view/src/DotplotView/components/ImportForm/index.tsx
  plugins/dotplot-view/src/DotplotView/components/ImportForm/util.ts
  plugins/gtf/package.json
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportForm/ImportCustomTrack.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportForm/ImportSyntenyTrackSelector.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportForm/index.tsx
  plugins/linear-comparative-view/src/LinearSyntenyView/components/ImportForm/util.ts
  products/jbrowse-desktop/scripts/config.js
  products/jbrowse-react-app/.storybook/main.js
  products/jbrowse-react-app/package.json
  products/jbrowse-react-app/webpack.config.js
  products/jbrowse-react-circular-genome-view/.storybook/main.js
  products/jbrowse-react-circular-genome-view/webpack.config.js
  products/jbrowse-react-linear-genome-view/.storybook/main.js
  products/jbrowse-react-linear-genome-view/webpack.config.js
  products/jbrowse-web/scripts/config.js
  products/jbrowse-web/src/components/StartScreenErrorMessage.tsx
  yarn.lock
Labels: dependencies

#4013 Create concept of global hovered state
  packages/core/util/types/index.ts
  packages/product-core/src/Session/BaseSession.ts
  plugins/linear-genome-view/src/LinearGenomeView/components/LinearGenomeView.tsx
  plugins/svg/src/SvgFeatureRenderer/configSchema.ts
Labels: enhancement

#4020 Allow configuring LGV trackLabels setting via config
  plugins/linear-genome-view/src/LinearGenomeView/components/TrackLabelContainer.tsx
  plugins/linear-genome-view/src/LinearGenomeView/model.ts
  plugins/linear-genome-view/src/index.ts
  products/jbrowse-react-linear-genome-view/src/JBrowseLinearGenomeView/__snapshots__/JBrowseLinearGenomeView.test.tsx.snap
  products/jbrowse-web/src/__snapshots__/jbrowseModel.test.ts.snap
  test_data/volvox/config.json
  website/docs/config/LinearGenomeViewConfigSchema.md
Labels: enhancement

#3923 Proposal: Add "extendWorker" extension point
  packages/core/rpc/BaseRpcDriver.ts
Labels: enhancement
